﻿@model UPCourt.Web.Models.CaseMvcModel
@using UPCourt.Web.Service.BusinessService;
@{
    ViewBag.Title = "CaseView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header"> 
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Case View</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action(" Index", "Home" )">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(" Index", "Case" )">Case</a></li>
                    <li class="breadcrumb-item active">View</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case View
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Basic Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            @*@foreach (var Case in Model)
                                            {*@
                                            <div class="col-sm-12 d-flex align-items-stretch flex-column">
                                                @foreach (var Pitem in Model.Notice.Petitioners)
                                                {
                                                <div class="card   d-flex flex-fill">

                                                    <div class="card-body pt-0">
                                                        <div class="row">

                                                            <div class="col-12">

                                                                <h4 class=" my-3"><strong> @Pitem.Name</strong></h4>
                                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                    <li class="large mb-2">
                                                                        <span class="fa-li"><i class="fas fa-building"></i></span> @Pitem.Address
                                                                        <span class="mx-3">|</span> <i class="fas fa-map-marker-alt mr-1"></i> @Pitem.District
                                                                    </li>
                                                                    <li class="large mb-2">
                                                                        <span class="fa-li"><i class="fas fa-envelope mr-1"></i></span>  @Pitem.Email
                                                                        <span class="mx-2">|</span> <i class="fas fa-phone mr-1"></i>  @Pitem.ContactNo
                                                                        <span class="mx-2">|</span> <i class="fas fa-address-book mr-1"></i> @Pitem.IDProofNumber
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                
                                                    @foreach (var councelor in Model.Notice.NoticeCounselors)
                                                    {
                                                        <div class="card-footer">
                                                            <h6 class=" mb-2 border-bottom pb-2"><strong>Counselor Details</strong></h6>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @councelor.Name
                                                                            <b class="d-block">Name</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @councelor.Email
                                                                            <b class="d-block">Email</b>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @councelor.ContactNo
                                                                            <b class="d-block">Contact No.</b>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @councelor.EnrollmentNo
                                                                            <b class="d-block">Enrollment No.</b>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @councelor.RollNo
                                                                            <b class="d-block">Roll No.</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    </div>
                                                }
                                            </div>
                                                
                                            @*}*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Case Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 d-flex align-items-stretch flex-column">
                                                <div class="card   d-flex flex-fill">
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h4 class=" my-3">
                                                                    <strong>@Model.Notice.NoticeNo</strong>
                                                                    <span class="text-sm text-muted float-right"><i class="fas fa-calendar-check"></i> @Model.Notice.NoticeDate.Value.ToString("MM/dd/yyyy")</span>
                                                                </h4>
                                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                    <li class="large mb-2">
                                                                        <span class="fa-li"><i class="fas fa-file-alt mr-1"></i></span> <b>Notice Type :</b> @Model.Notice.NoticeType
                                                                        <span class="mx-3">|</span> <span class="fa-li"></span><i class="fas fa-file-alt mr-1"></i> <b>Subject :</b>  @Model.Notice.Subject
                                                                        <span class="mx-3">|</span> <span class="fa-li"></span><i class="fas fa-file-alt mr-1"></i> <b>Is Context Order :</b> @Model.Notice.IsContextOrder
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        @foreach (var Respondent in Model.Notice.NoticeRespondents)
                                                        {
                                                        <h6 class=" mb-2 border-bottom pb-2"><strong>Respondent Details</strong></h6>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.PartyAndRespondentId
                                                                        <b class="d-block text-sm">Party & Respondent Id</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.NoticePartyId
                                                                        <b class="d-block text-sm">Notice Party Id</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.NoticeRespondentId
                                                                        <b class="d-block text-sm">Notice Respondent Id</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.CasePartyId
                                                                        <b class="d-block text-sm">Case Party Id</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.CaseRespondentId
                                                                        <b class="d-block text-sm">Case Respondent Id</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.NoticeOrCaseType
                                                                        <b class="d-block text-sm">Notice Or Case Type</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.PartyAndRespondentType
                                                                        <b class="d-block text-sm">Party & Respondent Type</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.PartyType
                                                                        <b class="d-block text-sm">Party Type</b>
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.PartyName
                                                                        <b class="d-block text-sm">Name</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.Email
                                                                        <b class="d-block text-sm">Email</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="text-muted">
                                                                    <p class="text-md mb-2">
                                                                        @Respondent.ContactNo
                                                                        <b class="d-block text-sm">Contact No.</b>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Basic Index <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    @{
                                    var SrNo = 0;
                                    }
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Particulars</th>                                                 
                                                    <th>View</th>
                                                </tr>
                                            </thead>
                                            @if (Model.Notice.NoticeBasicIndexs.Count > 0)
                                            {
                                            <tbody>

                                                @foreach (var BasicIndex in Model.BasicIndexs)
                                                {
                                                SrNo = SrNo + 1;
                                                <tr>
                                                    <td>@SrNo</td>
                                                    <td>@BasicIndex.Particulars</td>
                                                    <td>
                                                        @if (BasicIndex.Documents.Count >= 0)
                                                        {
                                                            <a id="fileLink" href="~/Document/Notice/@BasicIndex.Documents[0].DocumentUrl"
                                                               class="btn btn-primary btn-sm" target="_blank">View</a>
                                                        }
                                                        else
                                                        {
                                                            <span>No document found</span>
                                                        }
                                                    </td>
                                                </tr>

                                                }
                                            </tbody>
                                            }
                                            else
                                            {
                                            <tbody>
                                                <tr>
                                                    <td colspan="5"><label class="text-danger text-center">Sorry..!!! No data found</label></td>
                                                </tr>
                                            </tbody>
                                            }
                                        </table>


                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#Hearing" aria-expanded="false" aria-controls="collapseThree">
                                            Existing Hearing Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="Hearing" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped" id="hea">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Hearing Date</th>
                                                    <th>Next Hearing Date</th>
                                                    <th>Comments</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @if (Model.CaseHearings.Count > 0)
                                            {
                                            <tbody>

                                                @foreach (var item in Model.CaseHearings)
                                                {

                                                SrNo = SrNo + 1;
                                                <tr>
                                                    <td>@SrNo</td>
                                                    <td>@item.HearingDate.Value.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.NextHearingDate.Value.ToString("MM/dd/yyyy")</td>
                                                    <td>
                                                        <a class="btn btn-primary btn-sm" onclick="ViewComment('@item.CaseHearingId');">
                                                            <i class="fa fa-file-pdf mr-2"></i>  View
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary btn-sm" onclick="Addmodal('@item.CaseHearingId');">
                                                            <i class="fa fa-file-pdf mr-2"></i>  View
                                                        </a>
                                                    </td>
                                                </tr>

                                                }
                                            </tbody>
                                            }
                                            else
                                            {
                                            <tbody>
                                                <tr>
                                                    <td colspan="5"><label class="text-danger text-center">Sorry..!!! No data found</label></td>
                                                </tr>
                                            </tbody>
                                            }
                                        </table>


                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                                            Hearning Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    @using (Html.BeginForm("CaseView", "Case", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data" }))
                                    {
                                    @Html.HiddenFor(model => Model.CaseId);
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="exampleInputEmail1">Date <span class="text-danger">*</span></label>
                                                @Html.EditorFor(model => model.NewCaseHearing.Hearing.HearingDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy", @type = "Date", @required = "true" } })
                                                @Html.ValidationMessageFor(model => model.NewCaseHearing.Hearing.HearingDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="exampleInputEmail1">Next Hearning Date <span class="text-danger">*</span></label>
                                                @Html.EditorFor(model => model.NewCaseHearing.Hearing.NextHearingDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy", @type = "Date", @required = "true" } })
                                                @Html.ValidationMessageFor(model => model.NewCaseHearing.Hearing.NextHearingDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label for="exampleInputEmail1">Comments</label>
                                                @*@Html.EditorFor(model => model.NewCaseHearing.Hearing.Comments, new { htmlAttributes = new {  @class = "form-control", @placeholder = "Comments", @type = "textarea", } })*@
                                                <textarea id="NewCaseHearing_Hearing_Comments" name="NewCaseHearing.Hearing.Comments" class="form-control" type="textarea"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0" style="font-size:15px; font-weight:bold">Upload Document</h5>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body table-responsive p-0">
                                                        <table id="tbldoc" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Name</th>
                                                                    <th>Document Upload</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                @foreach (var uploadDoc in Model.NewCaseHearing.DocumentMvcModel)
                                                                {
                                                                SrNo = 0;
                                                                SrNo = SrNo + 1;
                                                                <tr>
                                                                    <td>@SrNo</td>
                                                                    <td>
                                                                        @Html.HiddenFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].DocumentId)
                                                                        @Html.TextBoxFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].Name, new { @class = "form-control txtFileName", @placeholder = "Document Name", @type = "text", @required = "true" })
                                                                        @Html.ValidationMessageFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].Name, "", new { @class = "text-danger" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.TextBoxFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].UploadFile, "", new { @type = "file", @class = "form-control File", @required = "true" })
                                                                        @Html.ValidationMessageFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].UploadFile, "", new { @class = "text-danger" })
                                                                    </td>
                                                                    <td>
                                                                        <a id="addfile" class="text-primary" onclick="AddFiles();"><i class="fa fa-plus-square"></i></a>
                                                                    </td>
                                                                </tr>

                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-default">

                    @{

                    var TimelineDates = Model.Timelines.AsEnumerable().OrderByDescending(x => x.TimeOfEvent).GroupBy(x => x.TimeOfEvent.ToShortDateString());
                    }
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-calendar-alt"></i>
                            Activity
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-bod p-2">
                        <div class="timeline">

                            @foreach (var date in TimelineDates)
                            {
                            <!-- timeline time label -->
                            <div class="time-label">
                                <span class="bg-red">@TimelineBusinessService.TimeLineDate(Convert.ToDateTime(date.Key))</span>
                            </div>
                            <!-- /.timeline-label -->
                            foreach (var timeline in Model.Timelines.Where(x => x.TimeOfEvent.ToShortDateString() == date.Key).OrderByDescending(x => x.TimeOfEvent))
                            {
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-envelope bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time">
                                        <i class="fas fa-clock"></i>
                                        @(TimelineBusinessService.TimeLineTime(timeline.TimeOfEvent))
                                    </span>
                                    <h3 class="timeline-header">
                                        <a href="#">@timeline.EventTypeNameDisplay</a>
                                    </h3>
                                    <div class="timeline-body">
                                        @timeline.Description
                                    </div>
                                    <div class="timeline-footer">
                                        Done By:- <a class="text-info" href="#">@timeline.User.Name</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            }
                            }

                            <div>
                                <i class="fas fa-clock bg-gray"></i>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <input id="HhfCount" type="hidden" value="1" />
</div>

<div class="modal" id="divViewDoc" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divViewDocSubModalBody">

            </div>
            <div class="modal-footer justify-content-between">
                @* <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $("[type='textarea']").summernote();
    });
    //$(document).ready(function () {
    //    // Summernote
    //   $("[type='htmleditor']").summernote();
    //});

</script>
<script>

    function AddFiles() {
        // debugger;
        // alert($(this).attr("id"))
        var mytable = $("#tbldoc tr:last")
        var rowCount = parseInt($("#HhfCount").val());
        var SLNo = rowCount + 1;
        var Newrow = "<tr>" +
            "<td> " + SLNo + "</td>" +
            "<td>" +
            "<input data-val='true' data-val-required='The DocumentId field is required.' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__DocumentId' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].DocumentId' type='hidden' value='rowCount'>" +
            "   <input data-val='true' data-val-required='The Upload Document Name field is required.' htmlattributes='{ class = form-control txtFileName, placeholder = DocumentName, type = Date, required = true }' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__Name' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].Name' type='text' value=''>" +
            "</td>" +
            "   <td>" +
            "      <input class='form-control File' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__UploadFile' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].UploadFile' required='true' type='file' value=''>" +
            "         <span class='field-validation-valid text-danger' data-valmsg-for='NewCaseHearing.DocumentMvcModel[" + rowCount + "].UploadFile' data-valmsg-replace='true'></span>" +
            "                                                </td>" +
            "   <td>" +
            "      <a id='addfile' class='text-primary' onclick='AddFiles(this);'><i class='fa fa-plus-square'></i></a> " +
            " <a id='myRowRemove' class='text-danger'  onclick='RemoveRow()'><i class='fa fa-trash'></i></a> " +
            " </td>" +
            "    </tr > ";
        mytable.after(Newrow);
        rowCount = rowCount + 1;
        $("#HhfCount").val(rowCount);
    }

    function RemoveRow(id) {
        var r = confirm("Are your sure? Do you want to remove?");
        if (r == true) {
            $(this).parent().parent().hide();
        }
    }
</script>
<script>

    function Addmodal(CaseHearing_Id) {
        debugger;
        $("#divViewDocSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/Case/CaseHearingDOC/",
            data: { "CaseHearID": CaseHearing_Id },
            success: function (response) {
                $("#example1ModalLabel").text("Documents");
                $("#divViewDocSubModalBody").append(response);
                $("#divViewDoc").modal("show");
            },
            error: function (errorData) { alert(errorData.status); }
        });
    }
</script>

<script>

    function ViewComment(CaseHearing_Id) {
        debugger;
        $("#divViewDocSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/Case/CaseHearingComment/",
            data: { "CaseHearID": CaseHearing_Id },
            success: function (response) {

                $("#example1ModalLabel").text("Case Comment");
                $("#divViewDocSubModalBody").append(response);
                $("#divViewDoc").modal("show");
            },
            error: function (errorData) { alert(errorData.status); }
        });
    }
</script>