﻿@model UPCourt.Web.Models.NoticeMvcModel
@Html.ValidationSummary(true)
@{
    ViewBag.Title = "Creat Notice";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Case Notice Entry </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index", "NoticeCreate")">Case Notice Entry</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    @using (Html.BeginForm("Index", "NoticeCreate", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.NoticeId)
                        @Html.AntiForgeryToken()

                        <div class="card-body p-0">
                            <div class="bs-stepper">
                                <div class="bs-stepper-header" role="tablist">
                                    <!-- your steps here -->

                                    <div class="step" data-target="#case-details">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">CASE DETAILS</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#basic-details">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">BASIC DETAILS</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#basic-index">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                            <span class="bs-stepper-circle">3</span>
                                            <span class="bs-stepper-label">BASIC INDEX</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <!-- your steps content here -->

                                    <div id="case-details" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Notice Details</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "NOC******", @type = "text", @required = "true" } })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeDate, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.CaseNoticeTypeId, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CaseNoticeTypeId, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.CaseNoticeTypeId, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Subject", @type = "text", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.IsContextOrder, new { @class = "custom-control-input" })
                                                            @Html.LabelFor(c => c.IsContextOrder, new { @class = "custom-control-label control-label" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @Onchange = "GetDepartmentDetail(this)", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Respondent Details</h3>
                                                <a class="float-right" id="AddRespondent" onclick="AddRespondent();"><i class="fa fa-plus-square"></i> Add</a>

                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div id="DivRespondent">
                                                    @for (int i = 0; i < Model.NoticeRespondents.Count; i++)
                                                    {
                                                        <div class="RespondentRow" id="RespondentEliment_@i" style=" margin-bottom: 15px ">
                                                            @Html.HiddenFor(model => model.NoticeRespondents[i].bActive, new { @Value = "true" })
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <div class="">
                                                                        @Html.CheckBoxFor(model => model.NoticeRespondents[i].IsPartyDepartment, new { onclick = "chked(this);" })
                                                                        @Html.LabelFor(model => model.NoticeRespondents[i].IsPartyDepartment, new { @class = "control-label" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-12  IsFirstRow">
                                                                    <div class="">
                                                                        @Html.LabelFor(model => model.NoticeRespondents[i].IsFirst, new { @class = "control-label" })
                                                                    </div>
                                                                </div>


                                                                <div class="form-group col-md-3" style="display:none;" id="DepartmentEliment_@i">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[i].GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @Onchange = "GetDepartmentDetail(this)", @required = "true" })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].GovernmentDepartmentId, "", new { @class = "text-danger" })

                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].PartyName, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].PartyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party Name", @type = "text", @required = "true" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].PartyName, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].ContactNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party Contact No.", @type = "text", @required = "true" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].ContactNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].Email, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party Email", @type = "email", @required = "true" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].Email, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>

                                    <div id="basic-details" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Petitioner Details</h3>
                                                <a class="float-right" id="AddPetitioner" onclick="AddPetitioner();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body" id="DivPetitioner">
                                                @for (int i = 0; i < Model.Petitioners.Count; i++)
                                                {
                                                    <div id="PetitionerEliment_@i" class="PetitionerRow" style=" margin-bottom: 15px ">

                                                        @Html.HiddenFor(model => model.Petitioners[i].bActive, new { @Value = "true" })
                                                        <div class="row">
                                                            <div class="form-group col-md-12 IsFirstRow" id="IsFirstRow_@i">
                                                                @Html.LabelFor(model => model.Petitioners[i].IsFirst, new { @class = "control-label" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].Name, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].Email, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].Email, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].ContactNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact No.", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].ContactNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                @Html.LabelFor(model => model.Petitioners[i].Address, htmlAttributes: new { @class = "control-label", @for = "Address" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].Address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].District, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter District", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].District, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].IDProof, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                                @Html.EnumDropDownListFor(m => m.Petitioners[i].IDProof, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].IDProof, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].IDProofNumber, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].IDProofNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ID Proof Number.", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].IDProofNumber, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <h3 class="counselor-add">Counselor Details</h3>
                                                        <div class="row">
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].NoticeCounselor.Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].NoticeCounselor.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Name", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].NoticeCounselor.Name, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].NoticeCounselor.Email, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].NoticeCounselor.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Email", @type = "email", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].NoticeCounselor.Email, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].NoticeCounselor.ContactNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].NoticeCounselor.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Contact No.", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].NoticeCounselor.ContactNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                @Html.LabelFor(model => model.Petitioners[i].NoticeCounselor.EnrollmentNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].NoticeCounselor.EnrollmentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Enrollment No.", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].NoticeCounselor.EnrollmentNo, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                @Html.LabelFor(model => model.Petitioners[i].NoticeCounselor.RollNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].NoticeCounselor.RollNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Roll No.", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].NoticeCounselor.RollNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                    </div>

                                    <div id="basic-index" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Basic Index</h3>
                                                <a class="float-right" id="AddBasicIndex" onclick="AddBasicIndex();"><i class="fa fa-plus-square"></i> Add</a>

                                            </div>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Particular<span class="text-danger">*</span></th>
                                                        <th>Annexure<span class="text-danger">*</span></th>
                                                        <th>IndexDate<span class="text-danger">*</span></th>
                                                        <th>File input<span class="text-danger">*</span></th>
                                                    </tr>
                                                </thead>

                                                <!-- /.card-header -->
                                                <tbody id="DivBasicIndex">
                                                    @for (int i = 0; i < Model.NoticeBasicIndexs.Count; i++)
                                                    {
                                                        <tr class="BasicIndexRow" id="BasicIndexEliment_@i">

                                                            @Html.HiddenFor(model => model.NoticeBasicIndexs[i].bActive, new { @Value = "true" })
                                                            <td>
                                                                @Html.EditorFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Particulars", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].Particulars, "", new { @class = "text-danger" })

                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.NoticeBasicIndexs[i].Annexure, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Annexure", @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].Annexure, "", new { @class = "text-danger" })

                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.NoticeBasicIndexs[i].IndexDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].IndexDate, "", new { @class = "text-danger" })

                                                            </td>
                                                            <td>
                                                                <div class="custom-file">
                                                                    @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File", @required = "true" })
                                                                    @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" })
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <!-- /.card-body -->
                                            <div class="card-footer d-flex justify-content-center align-items-center">
                                                <button type="submit" name="action:Create" class="btn btn-primary">Submit</button><br />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    }
                    <!-- /.card-body -->
                    <div id="btnGroup" class="card-footer">
                        <button class="btn btn-outline-secondary ml-2" id="previousBtn" onclick="stepper.previous()">Previous</button>
                        <button class="btn btn-primary" id="NextBtn" onclick="stepper.next()">Next</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
<!-- BS-Stepper -->
<script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })

    $(function () {
        //Department hide
        $(".Department").hide();
        //first time previous button show
        var cardFooter = document.querySelector("#btnGroup");
        var objCardFooter = jQuery(cardFooter);
        //get Previous button
        var FirstChild = objCardFooter.context.firstElementChild;
        //get Next Button
        var LastChild = objCardFooter.context.lastElementChild;

        var objFirstchild = jQuery(FirstChild);
        var objLastchild = jQuery(LastChild);
        //hide previous button when pageload
        objFirstchild.hide();
        $("#NextBtn").click(function () {
            alert('next');
            objFirstchild.show();
            var basicIndexpage = document.querySelector("[data-target ='#basic-index']");
            var objbasicIndexpage = jQuery(basicIndexpage);
            console.log(objbasicIndexpage);
            if (objbasicIndexpage.context.className == "step active") {
                //Next button hide in first page
                objLastchild.hide();
            }
        })
        $("#previousBtn").click(function () {
            alert('Previous');
            objLastchild.show();
            //get basic details button div
            var loginpage = document.querySelector("[data-target ='#basic-details']");
            //get basic index button div

            // conver jquery object
            var objloginpage = jQuery(loginpage);


            if (objloginpage.context.className == "step active") {
                //previous button hide in first page
                objFirstchild.hide();
            }
            // console.log(jQuery(loginpage));
        })

    });

    var max = 5;

    function AddPetitioner() {

        var rowCount = $('.PetitionerRow').length;
        var LastRowCount = rowCount - 1;
        if (LastRowCount <= max) {
            var newPetitionerRow = $('#PetitionerEliment_' + LastRowCount).clone();

            newPetitionerRow.find("select, textarea, input, span, label").each(function () {
                if ($(this).attr("id") != undefined)
                    $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                if ($(this).attr("name") != undefined)
                    $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                if ($(this).attr("data-valmsg-for") != undefined)
                    $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                if ($(this).attr("for") != undefined)
                    $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
            });
            newPetitionerRow.find(".IsFirstRow").css("display", "none");

            $('#DivPetitioner').append("<div id='PetitionerEliment_" + rowCount + "' class='PetitionerRow' style='border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;'>" + newPetitionerRow.html() + "</div>");
        }
    }



    function AddRespondent() {
        var rowCount = $('.RespondentRow').length;
        var LastRowCount = rowCount - 1;
        if (LastRowCount <= max) {
            var newRespondentRow = $('#RespondentEliment_' + LastRowCount).clone();
            newRespondentRow.find("select, textarea, input, span, label").each(function () {
                if ($(this).attr("id") != undefined)
                    $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                if ($(this).attr("name") != undefined)
                    $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                if ($(this).attr("data-valmsg-for") != undefined)
                    $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                if ($(this).attr("for") != undefined)
                    $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
                $(this).removeAttr("readonly", "");
            });
            newRespondentRow.find(".IsFirstRow").css("display", "none");

            newRespondentRow.find("#DepartmentEliment_" + LastRowCount).attr("id", "DepartmentEliment_" + rowCount).css("display", "none");

            $('#DivRespondent').append("<div id='RespondentEliment_" + rowCount + "' class='RespondentRow' style='border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;'>" + newRespondentRow.html() + "</div>");
        }
    }

    function chked(radio) {

        var DepartmentDiv = $('#' + $(radio).attr("id").replace("NoticeRespondents", "DepartmentEliment").replace("__IsPartyDepartment", ""));
        var DepartmentDDL = $('#' + $(radio).attr("id").replace("IsPartyDepartment", "GovernmentDepartmentId"));
        var PartyName = $('#' + $(radio).attr("id").replace("IsPartyDepartment", "PartyName"));
        var ContactNo = $('#' + $(radio).attr("id").replace("IsPartyDepartment", "ContactNo"));
        var Email = $('#' + $(radio).attr("id").replace("IsPartyDepartment", "Email"));
        var Checked = $(radio).is(':checked');
        if (Checked) {
            DepartmentDiv.show();
            PartyName.attr("readonly", "readonly");
            ContactNo.attr("readonly", "readonly");
            Email.attr("readonly", "readonly");
            DepartmentDDL.val('');
            PartyName.val('');
            ContactNo.val('');
            Email.val('');
        } else {
            DepartmentDiv.hide();
            DepartmentDDL.val('');
            PartyName.val('');
            ContactNo.val('');
            Email.val('');
            PartyName.removeAttr("readonly", "");
            ContactNo.removeAttr("readonly", "");
            Email.removeAttr("readonly", "");
        }
    }

    function GetDepartmentDetail(GovDept) {

        var DepartmentId = $(GovDept).val();
        var PartyName = $('#' + $(GovDept).attr("id").replace("GovernmentDepartmentId", "PartyName"));
        var ContactNo = $('#' + $(GovDept).attr("id").replace("GovernmentDepartmentId", "ContactNo"));
        var Email = $('#' + $(GovDept).attr("id").replace("GovernmentDepartmentId", "Email"));
        $.ajax({
            type: "Get",
            url: "/NoticeCreate/GetDepartment/",
            data: { "GovtDepartmentId": DepartmentId },
            success: function (response) {
                var depdate = JSON.parse(response);
                PartyName.val(depdate.POCName);
                Email.val(depdate.Email);
                ContactNo.val(depdate.POCContact);
            }
        });
    }


    function AddBasicIndex() {

        var rowCount = $('.BasicIndexRow').length;
        var LastRowCount = rowCount - 1;
        if (LastRowCount <= max) {
            debugger;
            var newBasicIndexRow = $('#BasicIndexEliment_' + LastRowCount).clone();
            newBasicIndexRow.find("select, textarea, input, span, label").each(function () {
                if ($(this).attr("id") != undefined)
                    $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                if ($(this).attr("name") != undefined)
                    $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                if ($(this).attr("data-valmsg-for") != undefined)
                    $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                if ($(this).attr("for") != undefined)
                    $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
            });
            $('#DivBasicIndex').append("<tr id='BasicIndexEliment_" + rowCount + "' class='BasicIndexRow' >" + newBasicIndexRow.html() + "</tr>");
        }
    }
</script>




