﻿@model UPCourt.Web.Models.NoticeCaseIndexMvcModel
@using UPCourt.Entity;
@using UPCourt.Web.Models;
@{
    UserSystemRole UserSystemRoleId = ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId;
    ViewBag.Title = "Notice awaiting for case";
    var sno = 0;
}
<script src="~/Scripts/Court/NoticeCase.js#@Guid.NewGuid()"></script>
<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Notice awaiting for case</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Awating Notice</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
@using (Html.BeginForm("Index", "NoticeCase", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Search Notice</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notice No" } })
                </div>
                <div class="col-3">
                    @Html.LabelFor(model => model.NoticeFromDate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group date" id="fromdate" data-target-input="nearest">
                        @Html.TextBoxFor(model => model.NoticeFromDate, new { @class = "form-control", @type = "date" })

                    </div>
                </div>
                <div class="col-3">
                    @Html.LabelFor(model => model.NoticeToDate, htmlAttributes: new { @class = "control-label" })
                    @*<div class="input-group date" id="todate" data-target-input="nearest">*@
                    @Html.TextBoxFor(model => model.NoticeToDate, new { @class = "form-control", @type = "date" })
                    @*</div>*@
                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.GovermentDepartmentId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(x => Model.GovermentDepartmentId, ViewBag.Department as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.ParentNoticeType, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(m => m.ParentNoticeType, "--Select--", new { @class = "form-control select2 required", @style = "width: 100%", @Onchange = "showParentNoticeTypeDetails(this)" })

                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.NoticeTypeId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(x => Model.NoticeTypeId, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                </div>

                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.Petitioner, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(x => Model.Petitioner, new { htmlAttributes = new { @class = "form-control", @placeholder = "Petitioner Name" } })
                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.Counselor, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(x => Model.Counselor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Counselor Name" } })
                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.Respondent, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(x => Model.Respondent, new { htmlAttributes = new { @class = "form-control", @placeholder = "Respondent Name" } })
                </div>

                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.CrimeNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(x => Model.CrimeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crime No" } })
                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(model => model.FIRNO, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(x => Model.FIRNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fir No" } })
                </div>
                @if (UserSystemRoleId == UserSystemRole.Admin || UserSystemRoleId == UserSystemRole.AGAdmin)
                {
                    <div class="col-md-3 ">
                        @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(x => Model.CreatedBy, ViewBag.User as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                    </div>
                }
                @if (UserSystemRoleId == UserSystemRole.Admin || UserSystemRoleId == UserSystemRole.AGAdmin)
                {
                    <div class="col-md-3 ">
                        @Html.LabelFor(model => model.NoticeFrom, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(m => m.NoticeFrom, "--Select--", new { @class = "form-control select2 required", @style = "width: 100%" })

                    </div>
                }
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fas fa-search-plus"></i> Search
                    </button>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <a class="btn btn-block btn-danger" href="@Url.Action("Index")">
                        <i class="fas"></i> &#x21ba; Reset
                    </a>
                    @*onclick="ResetControl();"*@
                </div>
                @if (UserSystemRoleId == UserSystemRole.Admin || UserSystemRoleId == UserSystemRole.AGAdmin)
                {
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <a class="btn btn-block btn-danger" href="@Url.Action("SyncNotices")">
                            <i class="fas fa-sync"></i> Sync
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- /.card-body -->
    </div>
}
<!-- /.card -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:40px;">SNo</th>
                            <th>Notice No</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Petitioner Vs Respondent</th>
                            <th style="width:150px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Notice in Model.Notices)
                        {
                            sno += 1;
                            <tr class="tr-class-2">

                                <td style="width:40px;">@sno</td>
                                <td>@Notice.NoticeNo</td>
                                <td>@(Notice.NoticeDate.HasValue ? Notice.NoticeDate.Value.ToString("dd-MM-yyyy") : string.Empty)</td>
                                <td>@Notice.NoticeType.ToString()</td>
                                <td>
                                    @(Notice.Petitioners.FirstOrDefault()?.Name)
                                    Vs

                                    @if (Notice.NoticeRespondents.FirstOrDefault()?.GovernmentDepartmentId != null)
                                    {
                                        <span>
                                            @(Notice.NoticeRespondents.FirstOrDefault()?.GovermentDepartment.POCName)
                                            (@(Notice.NoticeRespondents.FirstOrDefault()?.GovermentDepartment.Name))
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @(Notice.NoticeRespondents.FirstOrDefault()?.PartyName)
                                        </span>
                                    }

                                </td>
                                <td style="width:150px">
                                    <a title="Create Case" href="#" onclick="$('#NoticeId').val($(this).attr('notice')); $('#CaseNo').val('');"
                                       notice="@(Notice.NoticeId.ToString())" data-toggle="modal" data-target="#modal-Case" action="addcase">
                                        <i class="fas fa-file-alt text-primary fa-iconsize mr-2 "></i>
                                    </a>
                                    <a title="View Notice" href="@Url.Action("View","NoticeCase",new { id = Notice.NoticeId })">
                                        <i class="fa fa-eye text-warning fa-iconsize mr-2 "></i>
                                    </a>
                                    <a title="Edit" href="@Url.Action("Edit","NoticeCreate",new { id = Notice.NoticeId })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    <a title="Delete" href="#" onclick="ConfirmDelete('@Notice.NoticeNo','@Notice.NoticeId')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>

                                    @if (Notice.NoticeBasicIndexs.Count > 0 && Notice.NoticeBasicIndexs[0] != null && Notice.NoticeBasicIndexs[0].Documents[0] != null && !string.IsNullOrEmpty(Notice.NoticeBasicIndexs[0].Documents[0].DocumentUrl))
                                    {
                                        <a class="" target="_blank"
                                           href="@(Request.Url.GetLeftPart(UriPartial.Authority) + "/Document/Notice/" + Notice.NoticeBasicIndexs[0].Documents[0].DocumentUrl)" title="View Document">
                                            <i class="fas fa-paperclip text-success fa-iconsize mr-2 "></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@using (Html.BeginForm("CreateCase", "NoticeCase", FormMethod.Post))
{
    @Html.HiddenFor(model => model.NoticeId)
    @Html.AntiForgeryToken()
    <div class="modal fade" id="modal-Case">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <h4 class="modal-title">Provide Case No</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @Html.LabelFor(model => model.CaseNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CaseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Case No", @required = "true", onfocusout = "CheckCaseNo(this)" } })
                    </div>
                    <div class="row mb-2" style="display:none;"></div>
                    <div class="row" style="display:none;">
                        @Html.LabelFor(model => model.CaseStatusId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.CaseStatusId, Model.CaseStatuses, new { @class = "form-control select", @required = "true" })
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        <i class="fas fa-times-circle"></i> Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Save Case No
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {


    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/CommonNotice.js"></script>

    <script src="~/Scripts/Court/noticedelete.js"></script>

}

<script>
    $(function () {
        $("#example1").DataTable({
            "searching": false, "responsive": true, "lengthChange": false, "iDisplayLength": 20, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example2").DataTable({
            "searching": false, "responsive": true, "lengthChange": false, "iDisplayLength": 20, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example3").DataTable({
            "searching": false, "responsive": true, "lengthChange": false, "iDisplayLength": 20, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
</script>


