﻿@model UPCourt.Web.Models.NoticeMvcModel
@using UPCourt.Entity
@{
    ViewBag.Title = "View Notice";

    var Ri = 0;
    var Pi = 0;
    var Ci = 0;
    var IPCi = 0;
    var Data = "";
    var  ACTItem = "";
}


<!-- Main content -->
<div class="content case-viewdetail">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-body p-0">
                        <!-- your steps content here -->

                        <div id="case-details">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Notice Details</h3>
                                    <div class="toogleSwitch text-right">
                                        <label class="switch mr-2">
                                            <input type="checkbox" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            <span class="slider round"></span>
                                        </label> View Detail
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample">

                                    <div class="card-body">
                                        <h5 class="text-center"><strong>@Model.NoticeType MISC. WRIT PETITION NO. <u>@Model.NoticeNo</u> OF @String.Format("{0:yyyy}", @Model.NoticeDate)   </strong></h5>
                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h6 class="text-center text-muted">(Under 226 of the Constitution of India)</h6>
                                                <h6 class="text-right mb-4"><strong>(District: @Model.Petitioners[0].District)</strong></h6>
                                                <h6 class="mb-2">@Model.Petitioners.Where(x => x.IsFirst = true).FirstOrDefault().Name @(Model.Petitioners.Count>1 ? "and " + (Model.Petitioners.Count-1) + " others" : "") </h6>
                                                <h6 class="mb-2 text-right">----------<strong>Petitioner</strong></h6>
                                                <p class="mb-3 text-center"><strong>Versus</strong></p>
                                                <h6 class="mb-2">
                                                    @if (Model.NoticeRespondents.Where(x => x.IsFirst = true).FirstOrDefault().GovernmentDepartmentId != null)
                                                    {
                                                        <span>
                                                            @Model.NoticeRespondents.Where(x => x.IsFirst = true).FirstOrDefault().GovermentDepartment.Name
                                                            &nbsp;
                                                            &nbsp;
                                                            @Model.NoticeRespondents.Where(x => x.IsFirst = true).FirstOrDefault().GovermentDepartment.POCName
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        @Model.NoticeRespondents.Where(x => x.IsFirst = true).FirstOrDefault().PartyName
                                                    }

                                                    @(Model.NoticeRespondents.Count > 1 ? "and " + (Model.NoticeRespondents.Count-1) + " others" : "")
                                                </h6>
                                                <h6 class="mb-4 text-right">----------<strong>Respondents</strong></h6>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Sl. No.</th>
                                                    <th>Particulars</th>
                                                    <th>File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.NoticeBasicIndexs.Count; i++)
                                                {
                                                    <tr id="BasicIndexEliment_@i">
                                                        <td>@(i + 1).</td>
                                                        <td>
                                                            @Html.DisplayFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Particulars", @type = "text", @readonly = "readonly" } })

                                                        </td>
                                                        <td>
                                                            @{
                                                                if (!string.IsNullOrEmpty(Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl))
                                                                {
                                                                    
                                                                    <a href="@(Request.Url.GetLeftPart(UriPartial.Authority) + "/Document/Notice/" + @Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl)" class="btn btn-primary btn-sm" target="_blank">View</a>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "NOC******", @type = "text", @readonly = "readonly" } })
                                        </div>
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.NoticeDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.NoticeDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.NoticeType, htmlAttributes: new { @class = "" }) <br />

                                            @Html.EditorFor(m => m.NoticeType, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.NoticeType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Group.GroupName, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Group.GroupName, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="custom-control custom-checkbox">
                                                @Html.CheckBoxFor(model => model.IsContextOrder, new { @class = "custom-control-input", @readonly = "readonly" })
                                                @Html.LabelFor(c => c.IsContextOrder, new { @class = "custom-control-label control-label" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Respondent Details</h3>

                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div id="DivRespondent">

                                        @foreach (var Respondent in Model.NoticeRespondents.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                        {

                                            var ShowDept = "";
                                            var ShowNormal = "";
                                            if (Respondent.GovernmentDepartmentId == null) { ShowDept = "display:none;"; } else { ShowNormal = "display:none;"; }
                                            var ShowIsFirst = "";
                                            if (Ri != 0) { ShowIsFirst = "display:none;"; }
                                            <div class="RespondentRow" style="margin-bottom: 15px; @ShowDept" id="RespondentEliment_@Ri">
                                                <div class="row">
                                                    <div class="form-group col-md-12" style="@ShowIsFirst">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => Respondent.IsFirst, new { @class = "custom-control-input", @readonly = "readonly" })
                                                            @Html.LabelFor(c => c.NoticeRespondents[Ri].IsFirst, new { @class = "custom-control-label control-label" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => Respondent.IsPartyDepartment, new { @class = "control-label" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })
                                                        <input type="text" value="@(Respondent.GovermentDepartment?.Name)" class="form-control" readonly="readonly" />
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.PartyName, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => Respondent.GovermentDepartment.POCName, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.ContactNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => Respondent.GovermentDepartment.POCContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.Email, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => Respondent.GovermentDepartment.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "email", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="RespondentRow" style="margin-bottom: 15px; @ShowNormal" id="RespondentEliment_@Ri">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => Respondent.IsFirst, new { @class = "custom-control-input", @readonly = "readonly" })
                                                            @Html.LabelFor(c => c.NoticeRespondents[Ri].IsFirst, new { @class = "custom-control-label control-label" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.PartyName, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => Respondent.PartyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.ContactNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => Respondent.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => Respondent.Email, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => Respondent.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "email", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                            Ri++;
                                        }
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                        <div id="basic-details">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Petitioner Details</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" id="DivPetitioner">
                                    @foreach (var Petitioner in Model.Petitioners.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                    {
                                        var ShowIsFirst = "";
                                        if (Pi != 0) { ShowIsFirst = "display:none;"; }
                                        <div id="PetitionerEliment_@Pi" class="PetitionerRow" style=" margin-bottom: 15px ">

                                            <div class="row">
                                                <div class="form-group col-md-12 " style="@ShowIsFirst">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(model => Petitioner.IsFirst, new { @class = "custom-control-input", @readonly = "readonly" })
                                                        @Html.LabelFor(c => c.Petitioners[Pi].IsFirst, new { @class = "custom-control-label control-label" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Petitioner.Name, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Petitioner.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Petitioner.Name, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Petitioner.Email, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Petitioner.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "email", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Petitioner.Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Petitioner.ContactNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Petitioner.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Petitioner.ContactNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(model => Petitioner.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                                                    @Html.EditorFor(model => Petitioner.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Petitioner.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Petitioner.District, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Petitioner.District, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter District", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Petitioner.District, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Petitioner.IDProof, htmlAttributes: new { @class = "" }) <br />
                                                    @Html.EnumDropDownListFor(m => m.Petitioners[Pi].IDProof, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => Petitioner.IDProof, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Petitioner.IDProofNumber, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Petitioner.IDProofNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Petitioner.IDProofNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        Pi += 1;
                                    }
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                        <div id="basic-details">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Counselor Details</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" id="DivCounselor">
                                    @foreach (var Counselor in Model.NoticeCounselors.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                    {
                                        <div id="CounselorEliment_@Ci" class="CounselorRow" style=" margin-bottom: 15px ">

                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Counselor.Name, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Counselor.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Counselor.Name, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Counselor.Email, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Counselor.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "email", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Counselor.Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => Counselor.ContactNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Counselor.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Counselor.ContactNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => Counselor.EnrollmentNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Counselor.EnrollmentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Counselor.EnrollmentNo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => Counselor.RollNo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => Counselor.RollNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => Counselor.RollNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        Ci += 1;
                                    }
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                        
                        @if (Model.CaseNoticeType.ParentNoticeType == ParentNoticeType.Criminal)
                        {
                            <div class="card card-primary" id="dvCrimeDetails" style="display: block">
                                <div class="card-header">
                                    <h3 class="card-title">Crime Details</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.CrimeDetail.CrimeNo, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.CrimeDetail.CrimeNo, new { htmlAttributes = new { @class = "form-control required", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })

                                        </div>
                                        <div class="form-group col-md-2">
                                            @Html.LabelFor(model => model.CrimeDetail.CrimeYear, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.CrimeDetail.CrimeYear, new { htmlAttributes = new { @class = "form-control required", @placeholder = "N/A", @readonly = "readonly" } })

                                        </div>
                                        <div class="form-group col-md-3">
                                            @Html.LabelFor(model => model.CrimeDetail.FIRNO, htmlAttributes: new { @class = "" }) <br />
                                            @Html.EditorFor(m => m.CrimeDetail.FIRNO, new { htmlAttributes = new { @class = "form-control required", @placeholder = "N/A", @readonly = "readonly" } })

                                        </div>
                                        <div class="form-group col-md-3">
                                            @Html.LabelFor(model => model.CrimeDetail.FIRDate, htmlAttributes: new { @class = "" }) <br />
                                            @Html.EditorFor(m => m.CrimeDetail.FIRDate, new { htmlAttributes = new { @class = "form-control required", @placeholder = "N/A", @readonly = "readonly" } })

                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.CrimeDetail.IPCSectionIdS, htmlAttributes: new { @class = "control-label" }) <br />
                                            @foreach (var IPCitem in Model.NoticeIPCs.OrderBy(x => x.SNo))
                                            {
                                                Data = Data +", "+IPCitem.IPCSection.SectionName;
                                            }
                                            @if(1==1 && Data.Length>0)
                                            {
                                                Data=Data.Remove(0, 1);
                                            }
                                            <input class="form-control required text-box single-line" name="IPCSection" readonly="readonly" type="text" value="@Data" placeholder="N/A">
                                            
                                            

                                        </div>

                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.CrimeDetail.ActtypeIDS, htmlAttributes: new { @class = "control-label" })<br />
                                            @foreach (var Actitem in Model.NoticeActTypes.OrderBy(x => x.SNo))
                                            {
                                               // ACTItem = ACTItem+", "+string.Join(",", Actitem.ActTypes.ActBelongName);
                                            }
                                            @if (1 == 1 && ACTItem.Length>0)
                                            {
                                                ACTItem = ACTItem.Remove(0, 1);
                                            }                                            
                                            <input class="form-control required text-box single-line" name="ACTItem" readonly="readonly" type="text" value="@ACTItem" placeholder="N/A">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CrimeDetail.District, htmlAttributes: new { @class = "" })<br />
                                            @Html.EditorFor(m => m.CrimeDetail.District, new { htmlAttributes = new { @class = "form-control required",  @readonly = "readonly", @placeholder = "N/A" } })

                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CrimeDetail.PoliceStationID, htmlAttributes: new { @class = "" })<br />
                                            @Html.EditorFor(m => m.CrimeDetail.PoliceStation.Locality, new { htmlAttributes = new { @class = "form-control required", @placeholder = "N/A", @readonly = "readonly" } })

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CrimeDetail.CaseNo, htmlAttributes: new { @class = "" }) <br />
                                            @Html.EditorFor(m => m.CrimeDetail.CaseNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = "N/A", @readonly = "readonly" } })
                                            @*@Html.ValidationMessageFor(model => model.CrimeDetail.CaseNo, "", new { @class = "text-danger" })*@
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CrimeDetail.CaseNo_Court, htmlAttributes: new { @class = "" }) <br />
                                            @Html.EditorFor(m => m.CrimeDetail.CaseNo_Court, new { htmlAttributes = new { @class = "form-control ", @placeholder = "N/A", @readonly = "readonly" } })
                                            @*@Html.ValidationMessageFor(model => model.CrimeDetail.CaseNo_Court, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CrimeDetail.TrailNo, htmlAttributes: new { @class = "" }) <br />
                                            @Html.EditorFor(m => m.CrimeDetail.TrailNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = "N/A", @readonly = "readonly" } })
                                            @*@Html.ValidationMessageFor(model => model.CrimeDetail.TrailNo, "", new { @class = "text-danger" })*@
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.CrimeDetail.TrailNo_Court, htmlAttributes: new { @class = "" }) <br />
                                            @Html.EditorFor(m => m.CrimeDetail.TrailNo_Court, new { htmlAttributes = new { @class = "form-control ", @placeholder = "N/A", @readonly = "readonly" } })
                                            @*@Html.ValidationMessageFor(model => model.CrimeDetail.TrailNo_Court, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div id="basic-index">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Basic Index</h3>
                                </div>
                                <div class="card-body">
                                    <div class=" ">

                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th><label class="control-label">Sl. No.  </label></th>
                                                    <th>@Html.LabelFor(model => model.NoticeBasicIndexs[0].Particulars, htmlAttributes: new { @class = "control-label" })</th>
                                                    <th>@Html.LabelFor(model => model.NoticeBasicIndexs[0].BasicIndexFile, htmlAttributes: new { @class = "control-label" })</th>
                                                </tr>
                                            </thead>

                                            <tbody id="DivBasicIndex">
                                                @for (int i = 0; i < Model.NoticeBasicIndexs.Count; i++)
                                                {
                                                    <tr id="BasicIndexEliment_@i">
                                                        <td>@(i + 1).</td>
                                                        <td>
                                                            @Html.DisplayFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control", @placeholder = "N/A", @type = "text", @readonly = "readonly" } })
                                                        </td>
                                                        <td>
                                                            @if (Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Trim().Length > 0)
                                                            {
                                                                <a id="fileLink" href="~/Document/Notice/@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl"
                                                                  class="btn btn-primary btn-sm"  target="_blank">View</a>

                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

