﻿@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}



<div class="container">
    <div class="breadcrumbnew">
        <a href="@Url.Action("Index", "Home")" class="active">Home</a> <i class="fa fa-angle-right"></i><a class="active" href="@Url.Action("Index", "Efiling")">e-Notice</a><i class="fa fa-angle-right"></i> <a href="#">Instructions for Acquiring Digital Signature</a>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">Instructions for Acquiring Digital Signature</h3>
                </div>
                <div class="card-body">


                    <div class="accordion mb-5 leftnewaccord" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#Domestic" aria-expanded="true" aria-controls="collapseOne">
                                    How to acquire Digital Signature ?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>

                            <div id="Domestic" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>1. To acquire your digital signature, you can contact authorized dealers, firms, Chartered Accountants, and other agencies as such.</p>
                                    <p>2. This signature can be acquired for Individual use and can come under the ‘Class 2’ category for signing of documents.</p>
                                    <p>3. The validity on these signatures can be renewed after the expiration of their general validity period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



