﻿@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

@*<marquee direction="left" onMouseOver="this.stop()" onMouseOut="this.start()">
        <ul class="marqueenews">
            <li><span></span> <a href="@Url.Action("Create", "GovermentDepartmentDC")" class="text-white fw-bold"> Click Here </a> to update Government Department</li>
        </ul>
    </marquee>*@

<div class="position-relative">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/FrontEnd/front/images/slider01.jpg" />
            </div>

            <div class="carousel-item">
                <img src="~/FrontEnd/front/images/banner01.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/FrontEnd/front/images/banner2.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/FrontEnd/front/images/slider.jpg" />
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="capbg">
                                    <p>Lucknow High Court</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/FrontEnd/front/images/ahighcourt.jpg" />
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="capbg">
                                    <p>Allahabad High Court</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="carousel-item">
                <img src="~/FrontEnd/front/images/agoffice.jpg" />
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="capbg">
                                    <p>Advocate General Office, Allahabad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="carousel-caption loginSectionHome">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <div class="login-box">
                        <div class="text-center">
                            <img src="~/FrontEnd/Otherimages/logo.png" width="80" />
                            <p class="f-13 fw-bold text-center mt-3">Welcome to<br>Advocate General, Uttar Pradesh</p>
                        </div>
                        <div class="login-select-dep newloginOptionbtn">
                            <div class="login-selec">
                                <input type="radio" class="with-gap" name="groupType" id="depart" checked>
                                <label for="depart">Dept/Ag office Login</label>
                            </div>
                            <div class="login-selec">
                                <input type="radio" class="with-gap" name="groupType" id="public">
                                <label for="public">e-Notice Login</label>
                            </div>
                            
                            <div class="text-center mt-2">
                                <a id="login" class="btn btn-secondary login-btn">Login</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="imporhead">Important Links</h2>
            <div class="d-sm-flex d-block justify-content-between">
                <div class="impBoxcaed">
                    <a target="_blank" href="http://www.allahabadhighcourt.in/service/">
                        <img src="~/FrontEnd/front/images/judge.png" />
                        <p>Judges</p>
                    </a>
                </div>
                <div class="impBoxcaed">
                    <a target="_blank" href="http://www.allahabadhighcourt.in/causelist/">
                        <img src="~/FrontEnd/front/images/cause.png" />
                        <p>Cause List</p>
                    </a>
                </div>
                <div class="impBoxcaed">
                    <a target="_blank" href="http://www.allahabadhighcourt.in/case_status.html">
                        <img src="~/FrontEnd/front/images/status.png" />
                        <p>
                            Status Report
                        </p>
                    </a>
                </div>
                <div class="impBoxcaed">
                    <a target="_blank" href="http://www.allahabadhighcourt.in/jo.htm">
                        <img src="~/FrontEnd/front/images/order.png" />
                        <p>Judgments/Orders</p>
                    </a>
                </div>
                <div class="impBoxcaed">
                    <a target="_blank" href="http://www.allahabadhighcourt.in/ILR/#gsc.tab=0">
                        <img src="~/FrontEnd/front/images/report.png" />
                        <p>Indian Law Reports</p>
                    </a>
                </div>
                <div class="impBoxcaed">
                    <a target="_blank" href="http://www.allahabadhighcourt.in/disclaimer.html">
                        <img src="~/FrontEnd/front/images/disclaimer.png" />
                        <p>Disclaimer</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="bg-white my-2 my-sm-5 pt-4 pt-sm-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="imporhead"><img src="~/FrontEnd/front/images/search1.png" width="30" class="mr-2" /> Search Case Status</h2>
                <ul class="searchlisthome">
                    <li><a href="#">Case No. Wise</a></li>
                    <li><a href="#">Crime No. Wise</a></li>
                    <li><a href="#">Notice No. Wise</a></li>
                    <li><a href="#">Notice Date</a></li>
                    <li><a href="#">CA/ RA Date</a></li>
                    <li><a href="#">Listing Date</a></li>
                    <li><a href="#">Disposed Date</a></li>
                    <li><a href="#">Party Name</a></li>
                    <li><a href="#">Advocate Name</a></li>
                </ul>


             

            </div>

        </div>
    </div>
</div>






<div class="bg-adminis">
    <div class="container">
        <div class="row">
            <div class="col-md-7 bg-blackadmin">
                <div class="admintxt"><img src="~/FrontEnd/front/images/admin.png" width="50" class="mr-2" /> Administration</div>

                <div class="tab-content mb-5 mt-2 mt-sm-4">
                    <div class="tab-pane active show" id="alla">
                        <div class="row">
                            <div class="col-sm-3 text-center text-sm-left">
                                <img src="~/FrontEnd/front/images/advocate.png" class="advocate-img" />
                            </div>
                            <div class="col-sm-9">
                                <h4 class="text-uppercase verdana f-12 fw-bold text-white mb-2 text-center text-sm-left">ADVOCATE GENERAL - Administration of AGO Allahabad</h4>
                                <div class="row admininfo-mobview">
                                    <div class="col-2 f-12 verdana mb-1 text-white">Name:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGName"].ToString() </div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Contact:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">
                                        @System.Configuration.ConfigurationManager.AppSettings["AGContact1"].ToString()
                                        <br />
                                        @System.Configuration.ConfigurationManager.AppSettings["AGContact2"].ToString()
                                    </div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Email:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGEmail"].ToString()</div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Address:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGAddress"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="high">
                        <div class="row">
                            <div class="col-sm-3 text-center text-sm-left">
                                <img src="~/FrontEnd/front/images/advocate.png" class="advocate-img" />
                            </div>
                            <div class="col-sm-9">
                                <h4 class="text-uppercase verdana f-12 fw-bold text-white mb-2 text-center text-sm-left">ADVOCATE GENERAL - Administration of AGO Allahabad</h4>
                                <div class="row admininfo-mobview">
                                    <div class="col-2 f-12 verdana mb-1 text-white">Name:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGName"].ToString() </div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Contact:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">
                                        @System.Configuration.ConfigurationManager.AppSettings["AGContact1"].ToString()
                                        <br />
                                        @System.Configuration.ConfigurationManager.AppSettings["AGContact2"].ToString()
                                    </div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Email:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGEmail"].ToString()</div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Address:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGAddress"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="sup">
                        <div class="row">
                            <div class="col-sm-3 text-center text-sm-left">
                                <img src="~/FrontEnd/front/images/advocate.png" class="advocate-img" />
                            </div>
                            <div class="col-sm-9">
                                <h4 class="text-uppercase verdana f-12 fw-bold text-white mb-2 text-center text-sm-left">ADVOCATE GENERAL - Administration of AGO Allahabad</h4>
                                <div class="row admininfo-mobview">
                                    <div class="col-2 f-12 verdana mb-1 text-white">Name:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGName"].ToString() </div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Contact:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">
                                        @System.Configuration.ConfigurationManager.AppSettings["AGContact1"].ToString()
                                        <br />
                                        @System.Configuration.ConfigurationManager.AppSettings["AGContact2"].ToString()
                                    </div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Email:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGEmail"].ToString()</div>
                                    <div class="col-2 f-12 verdana mb-1 text-white">Address:</div>
                                    <div class="col-10 f-12 verdana mb-1 text-white">@System.Configuration.ConfigurationManager.AppSettings["AGAddress"].ToString()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('body').addClass('homePageNewUI');
    });


    $(window).scroll(function () {
        if ($(this).scrollTop() > 10) {
            $('.homefixedHeader').addClass('headerFixedHome');
        } else {
            $('.homefixedHeader').removeClass('headerFixedHome');
        }
    });

</script>
