﻿@model UPCourt.Web.Models.CaseStatusMvcModel

@{
    ViewBag.Title = "Edit Case Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "CaseStatus", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.CaseStatusId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Case Status</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })     <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtCase", @maxlength = "75", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.HexColorCode, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group my-colorpicker2">
                            @Html.EditorFor(model => model.HexColorCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-square"></i></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.HexColorCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}


<script>

    function validateData() {
       
        if ($("#txtCase").val() != "") {
            var txtvalue = $("#txtCase").val();
            if (isValid(txtvalue)) {
                return true;
            }
            else {
                ToastError("Special character are not allowed .");
                return false;
            }
        }
    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);
    }
</script>