﻿@model UPCourt.Web.Models.CaseNoticeTypeMvcModel

@{
    ViewBag.Title = "Case Notice Type Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Case Notice Type Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Notice Type Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Case Notice Type</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @readonly = "readonly" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.ParentCaseNoticeTypeId, "Parent Status", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.ParentCaseNoticeTypeId, ViewBag.ParentCaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true", @disabled="disabled" })
                    @Html.ValidationMessageFor(model => model.ParentCaseNoticeTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.IsParent, htmlAttributes: new { @class = "" }) <br />
                    @Html.CheckBoxFor(m => m.IsParent, new { @class = "form-control checkbox", @disabled= "disabled"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" }) <br />
                    @Html.CheckBoxFor(m => (m.IsActive), new { @class = "form-control checkbox", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "CaseNoticeType")" class="btn btn-primary">
                Back
            </a>
        </div>
</form>
</div>
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}