﻿@model UPCourt.Web.Models.CaseNoticeTypeMvcModel

@{
    ViewBag.Title = "Edit Case Notice Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "NoticeType", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.CaseNoticeTypeId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Case Notice Type</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @maxlength = "100", @id = "txtName", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ParentNoticeType, "Parent Notice Type", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EnumDropDownListFor(m => m.ParentNoticeType, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%", @id = "ddlParentNotice" })
                        @Html.ValidationMessageFor(model => model.ParentNoticeType, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4" style="text-align:left;">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" }) <br />
                        @Html.CheckBoxFor(m => (m.IsActive), new { @class = "form-control checkbox" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "NoticeType")" class="btn btn-primary">
                    Back
                </a>

                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

<script>
    function validateData() {

        var val = $('#ddlParentNotice').val();
        if (val == "0") {

            ToastError("Please select Parent Notice Type !!!.");
            return false;


        }
        if ($("#txtName").val() != "") {
            var txtvalue = $("#txtName").val();
            if (isValid(txtvalue)) {
                return true;
            }
            else {
                ToastError("Special character are not allowed !!!.");
                return false;

            }
        }
        function isValid(str) {
            return /^[a-zA-Z0-9- ]*$/.test(str);

        }

    }
</script>