﻿@model UPCourt.Web.Models.CauseListFilterMVCModel

@{
    ViewBag.Title = "Cause List";
    int clcnt = 0;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Cause List</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Cause List
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CauseListDate)
                                    @Html.EditorFor(model => model.CauseListDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Select Date", @type="date" } })
                                </div>
                              
                                <div class="col-md-1 form-group">
                                    <label for="exampleInputEmail1">&nbsp;</label>
                                    <div class="pull-right">
                                        <button id="btnDipCases" type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>


                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cause List Id</th>
                                        <th>For Bench Id</th>
                                        <th>Petitioner</th>
                                        <th>Respondent</th>
                                        <th>Case No</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cl in Model.CauseLists)
                                    {
                                        clcnt++;
                                    <tr class="color-palette disabled" style="background-color: #fff;">
                                        <td>@clcnt</td>
                                        <td>@cl.CauseList_Id</td>
                                        <td>@cl.for_bench_id</td>

                                        <td> @cl.PetName</td>
                                        <td>
                                            @cl.ResName
                                        </td>
                                        <td>
                                            @cl.Case_no
                                        </td>
                                        <td>
                                            <span class="badge badge-warning">
                                                @cl.CauseListStatus
                                            </span>
                                        </td>
                                        <td>
                                            <a class="" title="View" href="@Url.Action("Case/CauseList",  new { id = cl.CauseListId })">
                                                <i class="fa fa-eye text-info fa-iconsize mr-2 "></i>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

