﻿@model UPCourt.Web.Models.UserMvcModelExternal

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Advocate General</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/FrontEnd/front/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/material.css">
    <link rel="stylesheet" href="~/FrontEnd/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontEnd/front/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/responsive.css">

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/Scripts/Court/ToastMessage.js"></script>

    @section Scripts {

        <script>
        var Msg = '@ViewBag.Msg';

        if (Msg != undefined && Msg != null && Msg != "") {
            alert(Msg);
        }
        </script>

    }

</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>


        <div class="wrapper">
            <header>
                <div class="tophead bg-theme py-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <ul>
                                    <li>
                                        <select class=" lansel">
                                            <option>English</option>
                                        </select>
                                    </li>
                                    <li><img src="~/FrontEnd/Otherimages/small.png" width="16px" class="mr-2" /> <img src="~/FrontEnd/Otherimages/plus.png" width="16px" /></li>
                                    <li><a href="#" class="f-10 fw-bold text-white text-uppercase">Skip to main content</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control top-search" placeholder="Search" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white menu-cont">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 col-6">
                                <img src="~/FrontEnd/Otherimages/logo.jpeg" width="77" class="mt-2 mb-2" />
                            </div>

                            <div class="col-sm-8 col-6">
                                <nav class="navbar navbar-expand-md">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarCollapse">
                                        <ul class="top-menu">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Search Case Status</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">E- filing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Administration</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Lawgoup</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Contact us</a>
                                            </li>

                                        </ul>
                                    </div>
                                </nav>
                            </div>

                        </div>


                    </div>

                </div>

            </header>



            <div class="container">

                <div class="breadcrumbnew">
                    <a href="#" class="active">Home</a> <i class="fa fa-angle-right"></i> <a href="#" class="active">e-Filing</a> <i class="fa fa-angle-right"></i> <a href="#">Register</a>
                </div>

                <div class="row justify-content-center">

                    <div class="col-md-7">
                        <div class="card my-4">
                            <div class="card-header no-bg">
                                <h3 class="f-24 my-1">Register</h3>
                            </div>
                            <div class="card-body py-0">

                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-12 tabforminner mb-3">
                                                <label>Login as</label>
                                                <div class="row login-select-dep">
                                                    <div class="col-md-6 login-selec">
                                                        @Html.RadioButtonFor(model => model.LoginAs, UPCourt.Web.Models.LoginAS.AOR, new { @checked = "true", @class = "with-gap", @name = "groupType1", @id = "AOR" })

                                                        <label for="AOR">AOR</label>
                                                    </div>
                                                    <div class="col-md-6 login-selec">
                                                        @Html.RadioButtonFor(model => model.LoginAs, UPCourt.Web.Models.LoginAS.InPerson, new { @class = "with-gap", @name = "groupType1", @id = "InPerson" })

                                                        <label for="InPerson">In Person</label>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group tabforminner">
                                                    <label>Full Name*</label>
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="col-md-12 tabforminner mb-3">
                                                <label>Gender</label>
                                                <div class="row login-select-dep">
                                                    <div class="col-md-4 login-selec">
                                                        @Html.RadioButtonFor(model => model.Gender, UPCourt.Entity.UserGender.Male, new { @checked = "true", @class = "with-gap", @name = "groupType3", @id = "Male" })
                                                        <label for="Male">Male</label>
                                                    </div>
                                                    <div class="col-md-4 login-selec">
                                                        @Html.RadioButtonFor(model => model.Gender, UPCourt.Entity.UserGender.Female, new { @class = "with-gap", @name = "groupType3", @id = "Female" })
                                                        <label for="Female">Female</label>
                                                    </div>

                                                    <div class="col-md-4 login-selec">
                                                        @Html.RadioButtonFor(model => model.Gender, UPCourt.Entity.UserGender.Others, new { @class = "with-gap", @name = "groupType3", @id = "Other" })
                                                        <label for="Other">Other</label>
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    <label>Email*</label>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email-ID", @type = "text", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    <label>Mobile*</label>
                                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", @type = "text", @required = "true", @minLength = "10", @maxLength = "10" } })
                                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    <label>Aadhar No.*</label>
                                                    @Html.EditorFor(model => model.Aadhar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Aadhar No", @type = "text", @required = "true", @minLength = "12", @maxLength = "16" } })
                                                    @Html.ValidationMessageFor(model => model.Aadhar, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    <label>Username*</label>
                                                    @Html.EditorFor(model => model.LoginId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Username", @type = "email", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    <label>Password*</label>
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @type = "password", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    <label>Confirm Password*</label>
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Confirm Password", @type = "password", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                            <div class="g-recaptcha" data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["recaptchaSiteKey"].ToString())"></div>


                                            <div class="col-md-12 my-4">
                                                <button type="submit"
                                                        data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["recaptchaSiteKey"].ToString())"
                                                        data-callback='onSubmit' data-action='submit' class="btn btn-warning displaybtn mt-4">
                                                    Submit
                                                </button>
                                            </div>

                                            <div class="col-md-12 mb-3">
                                                <div class="border-bottom"></div>
                                            </div>


                                            <div class="col-md-12 text-center">
                                                <a href="@Url.Action("PublicLogin", "Login")" class="text-muted verdana f-12 mb-4 d-block">Already a member? Click here to Login</a>
                                            </div>





                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>





                    </div>





                </div>







            </div>







            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="footerlogo">
                                <li><img src="~/FrontEnd/Otherimages/f1.png" /></li>
                                <li><img src="~/FrontEnd/Otherimages/f2.png" /></li>
                                <li><img src="~/FrontEnd/Otherimages/f3.png" /></li>
                                <li><img src="~/FrontEnd/Otherimages/f4.png" /></li>
                                <li><img src="~/FrontEnd/Otherimages/f5.png" /></li>
                                <li><img src="~/FrontEnd/Otherimages/f6.png" /></li>
                            </ul>

                        </div>

                        <div class="col-md-12">
                            <ul class="footerlink">
                                <li><a href="#">Administration</a></li>
                                <li><a href="#">UP AIDS Control Society</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </footer>














        </div>

        <!-- /.content -->
        <script src="~/FrontEnd/front/js/jquery-3.3.1.min.js"></script>
        <script src="~/FrontEnd/front/js/jquery-ui.min.js"></script>
        <script src="~/FrontEnd/front/js/popper.min.js"></script>
        <script src="~/FrontEnd/front/js/bootstrap.min.js"></script>
        <script src="~/FrontEnd/front/js/owl.carousel.min.js"></script>
        <script src="~/FrontEnd/front/js/main.js"></script>

        <script>
            $('.carousel').carousel()
        </script>

    </body>
}
</html>