﻿@model IEnumerable<UPCourt.Web.Models.CaseStageMvcModel>

@{
    ViewBag.Title = "Case Stage List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Case Stage</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Stage</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th >Name</th>
                            <th>Active</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-class-2">
                                <td >@item.Name</td>
                                <td>@item.IsActive</td>
                                <td class="project-actions">
                                    <a class="" title="View" href="@Url.Action("Details", "CaseStage", new { id = item.CaseStageId })">
                                        <i class="fa fa-eye text-warning fa-iconsize"></i>
                                    </a>
                                    &nbsp;
                                    <a class="" title="Edit" href="@Url.Action("Edit", "CaseStage", new { id = item.CaseStageId })">
                                        <i class="fa fa-edit text-info fa-iconsize"></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" onclick="ConfirmDelete('@item.CaseStageId','@item.Name','CaseStage')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}
