﻿@model  UPCourt.Web.Models.UserMvcModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Add Advocate";
}


<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Advocate</h3>
    </div>

    @using (Html.BeginForm("Create", "Advocate", FormMethod.Post, new { @class = "col-md-12" }))
    {
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.RegionId)
        @Html.AntiForgeryToken()

        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @maxlength = "75", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EnrollmentNo, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.EnrollmentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enrollment No", @maxlength = "12", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.EnrollmentNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "txtEmail", @placeholder = "Enter Email", @maxlength = "75", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @id = "txtPhone", @placeholder = "Enter Phone No", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text", maxlength = 200 } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.UserRoleId, htmlAttributes: new { @class = "control-label" }) <span class="text-danger">*</span>
                    @Html.DropDownListFor(model => model.UserRoleId, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @required = "true", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label", @for = "password" })  <span class="text-danger">*</span>
                    <label class="float-right control-label">
                        <input type="checkbox" id="showPass"> &nbsp; Show Password
                    </label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @id = "txtPassword", maxlength = 10, @type = "password", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "Advocate")" class="btn btn-primary">
                Back
            </a>
            &nbsp;
            <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
</div>


<script>
    function validateData() {

        if ($("#txtEmail").val() != "") {
            var email = document.getElementById("txtEmail").value;
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                ToastError("Invalid email address.");
                return false;
            }
        }
        if ($("#txtPhone").val() != "") {
            if ($("#txtPhone").val().length != 10) {
                ToastError("Please enter 10 digit mobile no.");
                return false;
            }
            var a = document.getElementById("txtPhone").value;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                return true;
            }
            else {
                ToastError("Please enter correct phone no.");
                return false;
            }
        }
    }
</script>



