﻿@model UPCourt.Web.Models.UserMvcModel

@{
    ViewBag.Title = "Edit Advocate";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Advocate</h3>
    </div>
    @using (Html.BeginForm("Edit", "Advocate", FormMethod.Post, new { @class = "col-md-12" }))
    {
        @Html.HiddenFor(model => model.UserId)
        //@Html.HiddenFor(model => model.RegionId)
        @Html.AntiForgeryToken()


        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })       <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EnrollmentNo, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.EnrollmentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enrollment No", @maxlength = "12", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.EnrollmentNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })     <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone No", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text", maxlength = 200 } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.UserRoleId, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                    @Html.DropDownListFor(model => model.UserRoleId, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @required = "true", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label", @for = "password" })
                    <label class="float-right control-label">
                        <input type="checkbox" id="showPass"> &nbsp; Show Password
                    </label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "txtPassword", @placeholder = "Enter Password", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <span class="text-danger"> If Password not changed then remaines Same.</span>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row" style="display:none;">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "Advocate")" class="btn btn-primary">
                Back
            </a>
            &nbsp;
            <button type="submit" class="btn btn-primary">Submit</button>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
</div>



