﻿@model IEnumerable<UPCourt.Web.Models.UserMvcModel>
@{
    ViewBag.Title = "Advocate List";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-left">
                    <a href="~/Files/advocates1.xls" target="_blank">Download template for bulk Import</a>
                </h3>
                <h3 class="card-title float-right">
                    <form name="frmAdvocatesFile" id="frmAdvocatesFile" action="/Advocate/UsersFile" method="post" enctype="multipart/form-data">
                        <input type="file" id="postedFile" name="postedFile" style="display: none;" onchange="submitFile(this);" />
                        <a class="btn btn-primary" href="javascript:uploadFile();">Bulk Create from File</a>
                    </form>
                    &nbsp;&nbsp;
                </h3>
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                    &nbsp;&nbsp;
                </h3>
                &nbsp;&nbsp;
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Phone No</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.UserRole.Name</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Status</td>
                                <td class="project-actions text-right noExport">
                                    <a class="" title="View" href="@Url.Action("Details", "Advocate", new { id = item.UserId })">
                                        <i class="fa fa-eye text-warning fa-iconsize"></i>
                                    </a>
                                    &nbsp;
                                    <a class="" title="Edit" href="@Url.Action("Edit", "Advocate", new { id = item.UserId })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" onclick="ConfirmDelete('@item.UserId','@item.Name','Advocate')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    <script type="text/javascript">
        function uploadFile() {
            $('#postedFile').click();
        }
        function submitFile(obj) {
            if ($(obj).val()) {
                $('#frmAdvocatesFile').submit();
            }
        }
    </script>
}

