﻿@model UPCourt.Web.Models.HolidayMvcModel
@using UPCourt.Entity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        @Html.LabelFor(model => model.HolidayName, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> *</span>
        @Html.DropDownListFor(m => m.HolidayName, ViewBag.HolidayList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control f-14 select2", @style = "width: 100%", @onchange = "checkSelected(this);", @required = "true" })
        @Html.ValidationMessageFor(model => model.HolidayName, "", new { @class = "text-danger" })
    </div>

    <button type="submit"
            data-callback='onSubmit' data-action='submit' class="btn btn-warning displaybtn mt-4" onclick="confirmrregister()">
        Submit
    </button>
</body>
</html>
