﻿@model UPCourt.Web.Models.GovOICMvcModel

@{
    ViewBag.Title = "Edit Government OIC";
}


@using (Html.BeginForm("Edit", "GovOIC", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.GovernmentdepartmentOICID)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Government OIC</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.OICName, htmlAttributes: new { @class = "control-label" })     <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.OICName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @id = "txtName", @maxlength = "75", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                        @Html.ValidationMessageFor(model => model.OICName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })     <span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;", @Onchange = "GetDepartmentDetail(this)" })
                        @Html.ValidationMessageFor(model => model.GovernmentDepartmentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GovernmentDesignationId, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.GovernmentDesignationId, ViewBag.GovermentDesignations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.GovernmentDesignationId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POCName, htmlAttributes: new { @class = "control-label" })       <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.POCName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Name", @id = "txtPOC", @maxlength = "75", @type = "text", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                        @Html.ValidationMessageFor(model => model.POCName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POCContact, htmlAttributes: new { @class = "control-label" })     <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.POCContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)", @id = "txtPhone" } })
                        @Html.ValidationMessageFor(model => model.POCContact, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POCFaxNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.POCFaxNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Fax", @type = "text", @maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.POCFaxNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POCMobileNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.POCMobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Mobile", @id = "txtMobileNo", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                        @Html.ValidationMessageFor(model => model.POCMobileNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POCEmail, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.POCEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Email", @readonly = "readonly", @id = "txtEmail", @maxlength = "75" } })
                        @Html.ValidationMessageFor(model => model.POCEmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.POCPassword, htmlAttributes: new { @class = "control-label" })
                        <label class="float-right control-label">
                            <input type="checkbox" id="showPass"> &nbsp; Show Password
                        </label>
                        @Html.EditorFor(model => model.POCPassword, new { htmlAttributes = new { @class = "form-control", @id = "txtPassword", @placeholder = "Password", @maxlength = "10" } })
                        @Html.ValidationMessageFor(model => model.POCPassword, "", new { @class = "text-danger" })
                        <span class="text-danger"> If Password not changed then remaines Same.</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "GovOIC")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
}
<script>
    function GetDepartmentDetail(GovDept) {
        var DepartmentId = $(GovDept).val();
        var GovDegignationDDL = $('#GovernmentDesignationId');
        $.ajax({
            type: "Get",
            async: false,
            url: "/NoticeCreate/GetDepartmentDesignation/",
            data: { "GovtDepartmentId": DepartmentId },
            success: function (response) {
                var Degignation = JSON.parse(response);
                GovDegignationDDL.empty();
                GovDegignationDDL.append('<option value>--Select--</option>');
                Degignation.forEach(function (obj, idx) {
                    GovDegignationDDL.append($("<option></option>").val(obj.GovernmentDesignationId).html(obj.DesignationName));
                });
            }
        });
    }
    function validateData() {

        if ($("#txtEmail").val() != "") {
            var email = document.getElementById("txtEmail").value;

            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                ToastError("Invalid email address.");
                return false;
            }

        }

        if ($("#txtPhone").val() != "") {

            if ($("#txtPhone").val().length != 10) {
                ToastError("Please enter 10 digit contact no.");
                return false;
            }
            var a = document.getElementById("txtPhone").value;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                // return true;
            }
            else {
                ToastError("Please enter correct contact no.");
                return false;
            }
        }



        if ($("#txtMobileNo").val() != "") {

            if ($("#txtMobileNo").val().length != 10) {
                ToastError("Please enter 10 digit mobile no.");
                return false;
            }
            var a = document.getElementById("txtMobileNo").value;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                // return true;
            }
            else {
                ToastError("Please enter correct mobile no.");
                return false;
            }
        }



        if ($("#txtName").val() != "") {
            var txtvalue = $("#txtName").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("IOC Name  - Special character are not allowed.");
                return false;
            }
        }

        if ($("#txtPOC").val() != "") {
            var txtvalue = $("#txtPOC").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("POC Name - Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }


    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);
    }
</script>
