﻿@model IEnumerable<UPCourt.Web.Models.GovOICMvcModel>
@{
    ViewBag.Title = "Government OIC";
    int i = 0;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Government OIC</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Government OIC</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>SNo</th>
                            <th>Department Name</th>
                            <th>Designation Name</th>
                            <th>OIC Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i += 1;
                            <tr class="tr-class-2">
                                <td>@i</td>
                                <td>@(item.GovermentDepartment.Name)</td>
                                <td>@(item.GovermentDesignation.DesignationName)</td>
                                <td>@item.OICName</td>
                                <td>@item.POCEmail</td>
                                <td>@item.Status</td>
                                <td class="noExport">
                                    <a title="Edit" href="@Url.Action("Edit", "GovOIC", new { id = item.GovernmentdepartmentOICID })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" onclick="ConfirmDelete('@item.GovernmentdepartmentOICID','@item.OICName','GovOIC')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    @Scripts.Render("~/FrontEnd/plugins/datatables/js")
}