﻿@model UPCourt.Web.Models.SpecialCategoryMvcModel

@{
    ViewBag.Title = "Edit Special Category";
}


@using (Html.BeginForm("Edit", "SpecialCategory", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.SpecialCategoryId)
    @Html.AntiForgeryToken()

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Salutation</h3>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })            <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true", @id = "txtName", @maxlength = "75" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "SpecialCategory")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}


<script>
    function validateData() {
        if ($("#txtName").val() != "") {
            var txtvalue = $("#txtName").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("Name  - Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }
    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);
    }
</script>