﻿@model UPCourt.Web.Models.CourtMvcModel

@{
    ViewBag.Title = "Add Court";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Court Create</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Court Create</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
@using (Html.BeginForm("Create", "Court", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.CourtId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Court</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @maxlength = "75", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @id = "txtPhone", @placeholder = "Enter Number", @type = "Number" } })
                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.BenchTypeID, htmlAttributes: new { @class = "" }) <br />
                        <select id="BenchTypeID" name="BenchTypeID" class="form-control">
                            <option value="0" data-judgeCount="0">--Select--</option>
                            @foreach (var item in ViewBag.Bench as IEnumerable<UPCourt.Web.Models.BenchDetails>)
                            {
                                <option value="@item.BenchTypeID" data-judgeCount="@item.NumberOfJudge">@item.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.BenchTypeID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Judge, htmlAttributes: new { @class = "" }) <br />
                        @Html.ListBoxFor(x => Model.SelectedJudgeIds, ViewBag.Judge as IEnumerable<SelectListItem>, new { @class = "listbox form-control" })
                        @Html.ValidationMessageFor(model => model.Judge, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(model => model.IsClose, new { @class = "custom-control-input", @id = "chkClose" })
                            @Html.LabelFor(c => c.IsClose, new { @class = "custom-control-label control-label" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CloseFromDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CloseFromDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.CloseFromDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CloseToDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CloseToDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.CloseToDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "Court")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" id="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#SelectedJudgeIds').multiselect({
            includeSelectAllOption: true
        });
    });
    $(document).ready(function () {
        $("#submit").click(function () {
            var benchTag = $("#BenchTypeID");
            var benchCount = $(benchTag).find('option:selected').attr("data-judgeCount");
            var judgeList = $('#SelectedJudgeIds');
            var judgeSelectcount = $(judgeList).find('option:selected').length;
            if (judgeSelectcount == benchCount)
                return true;
            else {
                alert('Judge count not match with Bench count!');
                return false;
            }
        });
    });
</script>
<style type="text/css">
    .form-check-input {
        position: relative !important;
        padding-right: 10px !important;
    }

    .btn-group, .btn-group-vertical {
        display: flex !important;
    }

    .dropdown-item {
        display: inline-block !important;
    }

    .form-check {
        padding: 0 !important;
    }

    .form-check-label {
        padding: 0px 0px 0px 7px !important;
    }
</style>
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

<script>

    $(document).ready(function () {
        $("#CloseToDate").change(function () {
            var startDate = $("#CloseFromDate").val();
            var endDate = $("#CloseToDate").val();
            var startYear = new Date($("#CloseFromDate").val()).getFullYear()
            var endYear = new Date($("#CloseToDate").val()).getFullYear()
            if (startYear > 2000 && endYear > 2000 && Date.parse(endDate) < Date.parse(startDate)) {
                ToastError("End date should not be less than Start date");
                $("#CloseToDate").val('');
            }
        });
    });

    function validateData() {

        if ($("#txtPhone").val() != "") {
            if ($("#txtPhone").val().length != 10) {
                ToastError("Please enter 10 digit mobile no.");
                return false;
            }
            var a = document.getElementById("txtPhone").value;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                return true;
            }
            else {
                ToastError("Please enter correct phone no.");
                return false;
            }
        }
    }
</script>