﻿@model UPCourt.Web.Models.CourtMvcModel

@{
    ViewBag.Title = "Court Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Court Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Court Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Court</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @readonly = "readonly" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Number", @type = "text", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.BenchTypeID, htmlAttributes: new { @class = "" }) <br />
                    <select id="BenchTypeID" name="BenchTypeID" class="form-control" disabled>
                        <option value="0" data-judgeCount="0">--Select--</option>
                        @foreach (var item in ViewBag.Bench as IEnumerable<UPCourt.Web.Models.BenchDetails>)
                        {
                            if (!string.IsNullOrEmpty(item.selectedValue))
                            {
                                <option value="@item.BenchTypeID" data-judgeCount="@item.NumberOfJudge" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.BenchTypeID" data-judgeCount="@item.NumberOfJudge">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Judge, htmlAttributes: new { @class = "" }) <br />
                    @Html.ListBoxFor(x => Model.SelectedJudgeIds, ViewBag.Judge as IEnumerable<SelectListItem>, new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Judge, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(model => model.IsClose, new { @class = "custom-control-input", @disabled = "disabled" })
                        @Html.LabelFor(c => c.IsClose, new { @class = "custom-control-label control-label" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CloseFromDate, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CloseFromDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @disabled = "disabled" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CloseToDate, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CloseToDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @disabled = "disabled" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "Court")" class="btn btn-primary">
                Back
            </a>
        </div>
    </form>
</div>
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}