﻿@model UPCourt.Web.Models.NoticeBasicIndexMvcModel
@using core.koushikiSofatware.Helper

<div class="NoticeBasicIndex">
    @Html.HiddenFor(model => model.NoticeBasicIndexId)
    @Html.HiddenFor(model => model.NoticeId)

    <div class="row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Particulars, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Particulars, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Particulars", @type = "text" } })
            @Html.ValidationMessageFor(model => model.Particulars, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Annexure, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Annexure, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Annexure", @type = "text" } })
            @Html.ValidationMessageFor(model => model.Annexure, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.IndexDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.IndexDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.IndexDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <label for="exampleInputFile">File input</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 mt-4 p-3">
            <input type="button" id="btnUpload" value="Upload Files" />
        </div>
    </div>
</div>
