﻿@model UPCourt.Web.Models.NoticeRespondentMvcModel
@using core.koushikiSofatware.Helper

<div class="Respondent">
    @Html.HiddenFor(x => x.DeleteRespondentParty, new { @class = "mark-for-delete" })
    @Html.HiddenFor(model => model.PartyAndRespondentId)
    @Html.HiddenFor(model => model.NoticeRespondentId)
    <div class="row">
        <div class="form-group col-md-12">
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(model => model.IsPartyDepartment, new { @class = "", id = "chk", onclick = "chked(this);" })
                @Html.LabelFor(c => c.IsPartyDepartment, new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div id="Individual">
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.PartyName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PartyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party Name", @type = "text" } })
                @Html.ValidationMessageFor(model => model.PartyName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party Contact No.", @type = "text" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party Email", @type = "email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="text-center mt-3 pt-4">
                @Html.RemoveLink("Remove", "div.Respondent", "input.mark-for-delete")
            </div>
        </div>
    </div>
    <div class="Department">
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.GovernmentDepartmentId, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PartyAndRespondentId)
                @Html.HiddenFor(model => model.NoticeRespondentId)
            </div>
            <div class="text-center mt-3 pt-4">
                @Html.RemoveLink("Remove", "div.Respondent", "input.mark-for-delete")
            </div>
        </div>
    </div>
</div>