﻿@model UPCourt.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = "Index";
}
<style>
    .error {
        font-size: 12px;
        color: red;
    }
</style>

<form id="inputform">
    <div class="col-md-3 form-group">
        @Html.LabelFor(m => m.LoginName, new { @class = "lable small" })
        @Html.DropDownListFor(m => m.LoginName, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "error" })

    </div>
    <div class="col-md-3 form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "lable small" })
        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Enter New Password" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error" })
    </div>
    <div class="col-md-3 form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "lable small" })
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
    </div>

    <div class="col-md-3 form-group">
        <button type="button" id="btnsubmit" onclick="ChangePassword();" class="btn btn-sm btn-primary">Change</button>
    </div>
</form>
@section Scripts {
    <script src="~/FrontEnd/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#LoginName').select2();
        binduser();

    });

        function binduser() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("BindUser")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (r) {
                    BindDropdown(r.users, 'LoginName','UserId','LoginId','Select');
                },
                error: function () {
                    alert("error");
                }
            });
        }

        function BindDropdown(data, Dropdown_Id, Value, text, ZeroIndex) {
            const DataCount = data.length;
            var html = '';
            if (data != undefined && DataCount > 0) {
                if (ZeroIndex != '0')
                    html = '<option value="0">---' + ZeroIndex + '---</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i][Value] + '">' + data[i][text] + '</option>';
                }
            }
            else {
                html = '<option value="0">---' + ZeroIndex + '---</option>'
            }
            $('#' + Dropdown_Id).html(html);
        }

        function ChangePassword()
        {

            if (!$('#inputform').valid())
                return false;


            if ($('#LoginName').val()=='0') {
                alert('please select user');
                return false;
            }

            data = {};
            data.LoginName = $('#LoginName').val();
            data.NewPassword = $('#NewPassword').val();
            data.ConfirmPassword = $('#ConfirmPassword').val();
            data.username = $('#LoginName option:selected').text();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangePwd")',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (r) {
                    console.log(r);
                    if (r.code=='201') {
                        alert(r.message);

                        $('#NewPassword').val('');
                        $('#ConfirmPassword').val('');
                    }
                    else {
                        alert('error');
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
    </script>
}

