﻿@model UPCourt.Web.Models.NoticeRespondentMvcModel
@using core.koushikiSofatware.Helper
@{
    Layout = null;
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attorney General | Notice</title>

    <!--Google Font: Source Sans Pro-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/bs-stepper/css/bs-stepper.min.css">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="@Url.Action("Add", "Notice")" class="navbar-brand">
                    <img src="~/FrontEnd/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Attorney General</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Create", "Notice")" class="nav-link">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"> Case Notice Entry </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active"><a href="@Url.Action("Create", "Notice")">Case Notice Entry</a></li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-default">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "col-md-12" }))
                                {
                                    @*@Html.HiddenFor(model => model.NoticeId)*@
                                    @Html.AntiForgeryToken()
                                    <from>
                                        <div class="card-body p-0">
                                            <div class="bs-stepper">
                                                <div class="bs-stepper-header" role="tablist">
                                                    <!-- your steps here -->
                                                    <div class="step" data-target="#basic-details">
                                                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                                            <span class="bs-stepper-circle">1</span>
                                                            <span class="bs-stepper-label">BASIC DETAILS</span>
                                                        </button>
                                                    </div>
                                                    <div class="line"></div>
                                                    <div class="step" data-target="#case-details">
                                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                                            <span class="bs-stepper-circle">2</span>
                                                            <span class="bs-stepper-label">CASE DETAILS</span>
                                                        </button>
                                                    </div>
                                                    <div class="line"></div>
                                                    <div class="step" data-target="#basic-index">
                                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                                            <span class="bs-stepper-circle">3</span>
                                                            <span class="bs-stepper-label">BASIC INDEX</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="bs-stepper-content">
                                                    <!-- your steps content here -->
                                                    <div id="basic-details" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Petitioner Details</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        <table class="table table-light" id="maintable">
                                                                            <tbody>
                                                                                <tr class="data-petitioner">
                                                                                    <td>
                                                                                        <table class="table table-light">
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input type="text" id="txtName" name="Name" class="form-control Name" placeholder="Name" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" id="txtEmail" name="Email" class="form-control Email" placeholder="Email" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" id="txtContactNo" name="ContactNo" class="form-control ContactNo" placeholder="ContactNo" />
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3"><input type="text" id="txtAddress" name="Address" class="form-control Address" placeholder="Address" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input type="text" id="txtDistrict" name="District" class="form-control District" placeholder="District" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <select name="IDProof" class="form-control select2 IDProof">
                                                                                                        <option value="0">AadharID</option>
                                                                                                        <option value="1">VoterID</option>
                                                                                                        <option value="2">PANID</option>
                                                                                                        <option value="3">DrivingLicense</option>
                                                                                                    </select>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" id="txtIDProofNumber" name="IDProofNumber" class="form-control IDProofNumber" placeholder="IDProofNumber" />
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="text-align:right"><button type="button" id="btnAdd" class="btn btn-xs btn-link classAdd"><i class="fa fa-plus">Add</i></button></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <button type="button" id="btnSubmit" class="btn btn-outline-success btn-md pull-right btn-sm">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Counselor Details</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        <table class="table table-light" id="counselorTable">
                                                                            <tbody>
                                                                                <tr class="data-counselor">
                                                                                    <td>
                                                                                        <table class="table table-light">
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input type="text" id="txtName" name="Name" class="form-control Name" placeholder="Name" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" id="txtEmail" name="Email" class="form-control Email" placeholder="Email" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" id="txtContactNo" name="ContactNo" class="form-control ContactNo" placeholder="ContactNo" />
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="text" id="txtEnrollmentNo" name="EnrollmentNo" class="form-control EnrollmentNo" placeholder="EnrollmentNo" /></td>
                                                                                                <td><input type="text" id="txtRollNo" name="RollNo" class="form-control RollNo" placeholder="RollNo" /></td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="text-align:right"><button type="button" id="btnAddCounselor" class="btn btn-xs btn-link classAddCounselor"><i class="fa fa-plus">Add</i></button></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                    </div>
                                                    <div id="case-details" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Notice Details</h3>
                                                            </div>
                                                            <div class="card-body noticedetails">
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        <table id="tblNoticeDetails" class="table table-light">
                                                                            <tr class="data-noticedetails">
                                                                                <td>
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input name="NoticeNo" class="form-control NoticeNo" placeholder="NOC******" readonly="readonly" type="text" />
                                                                                            </td>
                                                                                            <td>
                                                                                                <input name="NoticeDate" class="form-control NoticeDate" type="date" />
                                                                                            </td>
                                                                                            <td>
                                                                                                <select name="NoticeType" class="form-control NoticeType">
                                                                                                    <option value="0">Criminal</option>
                                                                                                    <option value="1">Civil</option>
                                                                                                </select>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td colspan="2">
                                                                                                <input name="Subject" class="form-control Subject" placeholder="Subject" type="text" />
                                                                                            </td>
                                                                                            <td>
                                                                                                <label for="IsContextOrder"> Is Context Order</label>
                                                                                                <input type="checkbox" id="IsContextOrder" name="IsContextOrder" value="0">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- /.card-body -->
                                                        </div>

                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Respondent Details</h3>
                                                            </div>
                                                            <div class="card-body Respondent">
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        <table id="tblRespondent" class="table table-light">
                                                                            <tr class="data-respondent">
                                                                                <td>
                                                                                    <table class="table table-light">
                                                                                        <tr>
                                                                                            <td>
                                                                                                <input name="PartyName" class="form-control PartyName" placeholder="Enter Name" type="text" />
                                                                                            </td>
                                                                                            <td>
                                                                                                <input name="ContactNo" class="form-control ContactNo" type="number" placeholder="Contact No" />
                                                                                            </td>
                                                                                            <td>
                                                                                                <input name="Email" class="form-control Email" placeholder="Subject" type="text" />
                                                                                            </td>
                                                                                            <td>
                                                                                                <label for="IsPartyDepartment">If Party Department</label>
                                                                                                <input type="checkbox" name="IsPartyDepartment" class="IsPartyDepartment" onchange="valueChangedFirst()" />

                                                                                                <div id="ddlGovtDept" class="ddlGovtDept" style="display:none">@Html.DropDownList("GovernmentDepartmentId", ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 GovernmentDepartmentId", @style = "width: 100%;" })</div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td colspan="4" style="text-align:right">
                                                                                                <button type="button" id="btnAddRespondent" class="btn btn-xs btn-link classAddRespondent"><i class="fa fa-plus">Add</i></button>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="basic-index" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Basic Index</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <!-- /.card-body -->
                                                            <div class="card-footer d-flex justify-content-center align-items-center">
                                                                <button type="submit" name="action:Create" class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </from>
                                }
                                <!-- /.card-body -->
                                <div id="btnGroup" class="card-footer">
                                    <button class="btn btn-primary" id="previousBtn" onclick="stepper.previous()">Previous</button>
                                    <button class="btn btn-primary" id="NextBtn" onclick="stepper.next()">Next</button>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script>
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })
        $(document).ready(function () {
            $('#a').hide();
            $("#btnhide").click(function () {
                $("#a").hide();
            });
            $("#btnshow").click(function () {
                $("#b").show();
            });
        });
    </script>

    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        var jsViewModel = {
            Documents: []
        };

        $("body").on("click", "#btnAdd", function () {
            //Reference the Name and Country TextBoxes.
            var txtName = $("#txtName");
            var txtCountry = $("#txtCountry");

            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblCustomers > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            //Add Name cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtName.val());

            //Add Country cell.
            cell = $(row.insertCell(-1));
            cell.html(txtCountry.val());

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            txtName.val("");
            txtCountry.val("");
        });

        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblCustomers")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };


        function addNestedForm(container, counter, ticks, content,element) {
        var nextIndex = $(counter).length;
        var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
            console.log($(element.parentElement.previousElementSibling.lastChild.lastElementChild));
            var department = $(element.parentElement.previousElementSibling.lastChild.lastElementChild);
           department.hide();

    }

        function basicIndex(item) {
            //console.log("BasicIndex", item);
            this.Model.Petitioner.Name = document.getElementById("Name");
            console.log("Step1");
            debugger;
            axios.post("/BasicIndex/addbasicindex", this.Model)
                .then(res => {
                    console.log("Step2");
                    if (!res.data.Data) {
                        return;
                    }
                    console.log("type", res.data.Data);
                })
                .catch(error => {
                    console.log(error.response)
                });
        }


        $(function () {
            var values = eval('@Html.Raw(ViewBag.Values)');
            if (values != null) {
                $("#TextBoxContainer").html("");
                $(values).each(function () {
                    $("#TextBoxContainer").append(GetDynamicTextBox(this));
                });
            }
        });

            function removeNestedForm(element, container, deleteElement) {
                $container = $(element).parents(container);
                $container.find(deleteElement).val('True');
                $container.hide();
            }

        $(document).ready(function () {
            //Department hide
            $(".Department").hide();
            //first time previous button show
            var cardFooter = document.querySelector("#btnGroup");
            var objCardFooter = jQuery(cardFooter);
           //get Previous button
            var FirstChild = objCardFooter.context.firstElementChild;
            //get Next Button
            var LastChild = objCardFooter.context.lastElementChild;

            var objFirstchild = jQuery(FirstChild);
            var objLastchild = jQuery(LastChild);
            //hide previous button when pageload
            objFirstchild.hide();
            $("#NextBtn").click(function () {

                objFirstchild.show();
                var basicIndexpage = document.querySelector("[data-target ='#basic-index']");
                var objbasicIndexpage = jQuery(basicIndexpage);
                console.log(objbasicIndexpage);
                if (objbasicIndexpage.context.className == "step active") {
                    //Next button hide in first page
                    objLastchild.hide();
                }
            })
            $("#previousBtn").click(function () {
                objLastchild.show();
                //get basic details button div
                var loginpage = document.querySelector("[data-target ='#basic-details']");
                //get basic index button div

                // conver jquery object
                var objloginpage = jQuery(loginpage);


                if (objloginpage.context.className == "step active") {
                  //previous button hide in first page
                    objFirstchild.hide();
                }
               // console.log(jQuery(loginpage));
            })
           @* console.log(objlastchild);
            console.log(lastchild);*@

           @* $("#chk").click(function () {
                if (!this.checked) {
                    $(".Department").hide();
                    $("#Individual").show();
                } else {
                    $("#Individual").hide();
                    $("#Department").show();
                }
            })*@
        });
      @*  $("#chk").click(function () {
            if (!this.checked) {
                $("#Department").hide();
                $("#Individual").show();
            } else {
                $("#Individual").hide();
                $("#Department").show();
            }
        });*@
        function chked(radio) {
            var Department = $(radio.parentNode.parentNode.parentNode.parentNode.children[5]);
            var Individual = $(radio.parentNode.parentNode.parentNode.parentNode.children[4]);
            var Checked = $(radio).attr('checked');

            if (Checked == "checked") {
               // console.log("Succesful");
                Department.show();
                Individual.hide();
            } else {
               // console.log("error");
                Department.hide();
                Individual.show();
                }
        }
        $(document).ready(function () {
            $('#btnUpload').click(function () {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#exampleInputFile").get(0);
                    var files = fileUpload.files;
                    console.log("File", files);
                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('model', this);
                    console.log(fileData);
                    $.ajax({
                        url: '/BasicIndex/UploadFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            RebuildGrid(result);
                        },
                        error: function (err) {
                            //alert("Error", err.statusText);
                            console.log("Error", err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });

        function RebuildGrid(documentResposnse) {

            if (!documentResposnse.IsSuccess) {
                alert(documentResposnse.Message);
                return;
            }

            for (var i = 0; i < documentResposnse.Data.length; i++) {
                var currentDoc = documentResposnse.Data[i];
                var modelCount = jsViewModel.Documents.length;
                var FirstPageNumber = 0;
                var lastPageNumber = 0;
                if (modelCount == 0) {
                    FirstPageNumber = 1;
                    lastPageNumber = currentDoc.PageCount;
                }
                if (modelCount != 0) {
                    var lastPageNumberDetails = jsViewModel.Documents[modelCount - 1]["Page No"].split("-");
                    console.log(lastPageNumberDetails);
                    FirstPageNumber = parseInt(lastPageNumberDetails[lastPageNumberDetails.length - 1]) + 1;
                    lastPageNumber = parseInt(lastPageNumberDetails[lastPageNumberDetails.length - 1]) + currentDoc.PageCount;
                }

                //lastPageNumber = modelCount == 0 ? currentDoc.PageCount : jsViewModel.Documents[modelCount - 1]["Page Number"] + currentDoc.PageCount;
                var viewModelElement = {
                    "Serial No": jsViewModel.Documents.length + 1,
                    "Page No": FirstPageNumber + '-' + lastPageNumber,
                    "Upload File": currentDoc.DocumentUrl
                }

                jsViewModel.Documents.push(viewModelElement);
            }



            buildHtmlTable("#example1",jsViewModel.Documents);
        }

        function buildHtmlTable(selector, myList) {
            $(selector).empty();
            var columns = addAllColumnHeaders(myList, selector);

            for (var i = 0; i < myList.length; i++) {
                var row$ = $('<tr class="tr-class-2"/>');
                for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                    var cellValue = myList[i][columns[colIndex]];
                    if (cellValue == null) cellValue = "";
                    //console.log(myList[i][columns[2]]);
                    let url = myList[i][columns[2]];
                    if (colIndex === 2) {
                        cellValue = '<a href="' + url + '" target="_blank">' + 'Open' + '</a>';
                    }
                    row$.append($('<td/>').html(cellValue));
                }
                $(selector).append(row$);
            }
        }

        // Adds a header row to the table and returns the set of columns.
        // Need to do union of keys from all records as some records may not contain
        // all records.
        function addAllColumnHeaders(myList, selector) {
            var columnSet = [];

            var headerTr$ = $('<tr/>');

            for (var i = 0; i < myList.length; i++) {
                var rowHash = myList[i];
                for (var key in rowHash) {
                    if ($.inArray(key, columnSet) == -1) {
                        columnSet.push(key);
                        headerTr$.append($('<th/>').html(key));
                    }
                }
            }
            $(selector).append(headerTr$);

            return columnSet;
        }

    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            var max = 5;
            $(document).on("click", ".classAdd", function () { //
                var rowCount = $('.data-petitioner').length + 1;
                if (rowCount <= max) {
                    var contactdiv = '<tr class="data-petitioner"><td><table class="table table-light"><tr>' +
                        '<td><input type="text" id="txtName" name="Name' + rowCount + '" class="form-control Name" placeholder="Name" /></td>' +
                        '<td><input type="text" id="txtEmail" name="Email' + rowCount + '" class="form-control Email" placeholder="Email" /></td>' +
                        '<td><input type="text" id="txtContactNo" name="ContactNo' + rowCount + '" class="form-control ContactNo" placeholder="ContactNo" /></td>' +
                        '<tr>' +
                        '<td colspan="3"><input type="text" id="txtAddress" name="Address' + rowCount + '" class="form-control Address" placeholder="Address" /></td>' +
                        '</tr><tr><td>' +
                        '<input type="text" id="txtDistrict" name="District' + rowCount + '" class="form-control District" placeholder="District" />' +
                        '</td><td>' +
                        '<select name="IDProof' + rowCount + '" class="form-control select2 IDProof"><option value="0">AadharID</option><option value="1">VoterID</option><option value="2">PANID</option><option value="3">DrivingLicense</option></select>' +
                        '</td><td>' +
                        '<input type="text" id="txtIDProofNumber" name="IDProofNumber' + rowCount + '" class="form-control IDProofNumber" placeholder="IDProofNumber" />' +
                        '</td></tr><tr>' +
                        '<td colspan="3" style="text-align:right"><button type="button" id="btnAdd" class="btn btn-xs btn-link classAdd"><i class="fa fa-plus">Add</i></button>' +
                        '<button type="button" id="btnDelete" class="deleteContact btn btn-link btn-xs" style="color:#f00"><i class="fa fa-trash"></i></button></td></td>' +
                        '</tr>' +
                        '' +
                        '</tr></table></td></tr>';
                    $('#maintable').append(contactdiv); // Adding these controls to Main table class
                }
            });
        });

        $(document).on("click", ".deleteContact", function () {
            $(this).closest(".data-petitioner").remove(); // closest used to remove the respective 'tr' in which I have my controls
        });


        $(document).ready(function () {
            var max = 5;
            $(document).on("click", ".classAddCounselor", function () { //
                var rowCount = $('.data-counselor').length + 1;
                if (rowCount <= max) {
                    var counselordiv = '<tr class="data-counselor"><td><table class="table table-light"><tr>' +
                        '<td><input type="text" id="txtName" name="Name' + rowCount + '" class="form-control Name" placeholder="Name" /></td>' +
                        '<td><input type="text" id="txtEmail" name="Email' + rowCount + '" class="form-control Email" placeholder="Email" /></td>' +
                        '<td><input type="text" id="txtContactNo" name="ContactNo' + rowCount + '" class="form-control ContactNo" placeholder="ContactNo" /></td>' +
                        '<tr><td>' +
                        '<input type="text" id="txtEnrollmentNo" name="EnrollmentNo" class="form-control EnrollmentNo" placeholder="EnrollmentNo" />' +
                        '</td><td>' +
                        '<input type="text" id="txtRollNo" name="RollNo" class="form-control RollNo" placeholder="RollNo" />' +
                        '</td><td>' +
                        ' ' +
                        '</td></tr><tr>' +
                        '<td colspan="3" style="text-align:right"><button type="button" id="btnAddCounselor" class="btn btn-xs btn-link classAddCounselor"><i class="fa fa-plus">Add</i></button>' +
                        '<button type="button" id="btnDelete" class="deleteCounselor btn btn-link btn-xs" style="color:#f00"><i class="fa fa-trash"></i></button></td></td>' +
                        '</tr>' +
                        '' +
                        '</tr></table></td></tr>';
                    $('#counselorTable').append(counselordiv); // Adding these controls to Main table class
                }
            });
        });

        $(document).on("click", ".deleteCounselor", function () {
            $(this).closest(".data-counselor").remove(); // closest used to remove the respective 'tr' in which I have my controls
        });



        $(document).ready(function () {
            var max = 5;
            $(document).on("click", ".classAddRespondent", function () { //
                var rowCount = $('.data-respondent').length + 1;
                if (rowCount <= max) {

                    var counselordiv = '<tr class="data-respondent"><td><table class="table table-light"><tr>' +
                        '<td><input type="text" id="PartyName' + rowCount + '" name="PartyName' + rowCount + '" class="form-control PartyName" placeholder="PartyName" /></td>' +
                        '<td><input type="text" id="ContactNo' + rowCount + '" name="ContactNo' + rowCount + '" class="form-control ContactNo" placeholder="ContactNo" /></td>' +
                        '<td><input type="text" id="Email' + rowCount + '" name="Email' + rowCount + '" class="form-control Email" placeholder="Email" /></td>' +
                        '<td><label for="IsPartyDepartment' + rowCount + '">If Party Department</label> <input type="checkbox" name="IsPartyDepartment' + rowCount + '" id="IsPartyDepartment' + rowCount + '" class="IsPartyDepartment" style="width: 15%;" value="0" onchange="valueChanged(' + rowCount + ')" /> ' +
                        '<select name="ddlGovt' + rowCount + '" id="GovernmentDepartmentId' + rowCount + '" class="form-control GovernmentDepartmentId" style="display:none"></select>' +
                        '</td></tr><tr>' +
                        '<td colspan="4" style="text-align:right"><button type="button" id="btnAddRespondent" class="btn btn-xs btn-link classAddRespondent"><i class="fa fa-plus">Add</i></button>' +
                        '<button type="button" id="btnDeleterespondent" class="deleterespondent btn btn-link btn-xs" style="color:#f00"><i class="fa fa-trash"></i></button></td></td>' +
                        '</tr>' +
                        '</table></td></tr>';
                    $('#tblRespondent').append(counselordiv); // Adding these controls to Main table class
                }
            });
        });

        $(document).on("click", ".deleterespondent", function () {
            $(this).closest(".data-respondent").remove(); // closest used to remove the respective 'tr' in which I have my controls
        });
    </script>

    <script>
        function getPetitionerData() {
            var data = [];
            $('tr.data-petitioner').each(function () {
                var Name = $(this).find('.Name').val();//Bind to the first name with class f-name01
                var Email = $(this).find('.Email').val();
                var ContactNo = $(this).find('.ContactNo').val();
                var Address = $(this).find('.Address').val();

                var District = $(this).find('.District').val();
                var IDProof = $('.IDProof').find(":selected").val();//$(this).find('.IDProof').attr('selected', 'selected');;
                var IDProofNumber = $(this).find('.IDProofNumber').val();


                var alldata = {
                    'Name': Name,
                    'Email': Email,
                    'ContactNo': ContactNo,
                    'Address': Address,
                    'District': District,
                    'IDProof': IDProof,
                    'IDProofNumber': IDProofNumber

                }
                data.push(alldata);
            });

            return data;
        }


        function getCounselorData() {
            var data = [];
            $('tr.data-counselor').each(function () {
                var Name = $(this).find('.Name').val();//Bind to the first name with class f-name01
                var Email = $(this).find('.Email').val();
                var ContactNo = $(this).find('.ContactNo').val();
                var EnrollmentNo = $(this).find('.EnrollmentNo').val();
                var RollNo = $(this).find('.RollNo').val();


                var alldata = {
                    'Name': Name,
                    'Email': Email,
                    'ContactNo': ContactNo,
                    'EnrollmentNo': EnrollmentNo,
                    'RollNo': RollNo
                }
                data.push(alldata);
            });

            return data;
        }



        function getNoticeDetailsData() {
            var data = [];
            $('tr.data-noticedetails').each(function () {
                var NoticeNo = $(this).find('.NoticeNo').val();//Bind to the first name with class f-name01
                var NoticeDate = $(this).find('.NoticeDate').val();
                var NoticeType = $('.NoticeType').find(":selected").val();
                var Subject = $(this).find('.Subject').val();
                var IsContextOrder = $(this).find('#IsContextOrder').is(':checked');


                var alldata = {
                    'NoticeNo': NoticeNo,
                    'NoticeDate': NoticeDate,
                    'NoticeType': NoticeType,
                    'Subject': Subject,
                    'IsContextOrder': IsContextOrder
                }
                data.push(alldata);
            });

            return data;
        }

        function getRespondentData() {
            var data = [];
            $('tr.data-respondent').each(function () {
                var PartyName = $(this).find('.PartyName').val();//Bind to the first name with class f-name01   GovernmentDepartmentId find(":selected").val()
                var ContactNo = $(this).find('.ContactNo').val();
                var Email = $(this).find('.Email').val();
                var GovernmentDepartmentId = $('.GovernmentDepartmentId').find(":selected").text();
                var IsPartyDepartment = $(this).find('.IsPartyDepartment').is(':checked');

                var alldata = {
                    'PartyName': PartyName,
                    'ContactNo': ContactNo,
                    'Email': Email,
                    'GovernmentDepartmentId': GovernmentDepartmentId,
                    'IsPartyDepartment': IsPartyDepartment
                }
                data.push(alldata);
            });

            return data;
        }



        $("#btnSubmit").click(function () {
            var data = JSON.stringify(getPetitionerData());
            var counselorData = JSON.stringify(getCounselorData());
            var NoticeDetailsData = JSON.stringify(getNoticeDetailsData());
            var RespondentData = JSON.stringify(getRespondentData());

            var txtbox2 = $(this).find('.Name').val();
            var txtbox = $('.data-petitioner').find('.Name').val();

            console.log(data);
            console.log(counselorData);
            console.log(NoticeDetailsData);
            console.log(RespondentData);

            if ($.trim(txtbox) === " ") {
                alert("Something wrong.Please try again.");
            }

            else {
                $.ajax({
                    url: '/Notice/AddNotice',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ 'petitioner': data, 'counselor': counselorData, 'notice': NoticeDetailsData, 'respondent': RespondentData }),
                    success: function () {
                        alert("Data Added Successfully");
                        window.location.href = "/Notice/Add";
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
            }
        });
    </script>

    <script type="text/javascript">

        function valueChanged(i) {
            console.log(i);
            if ($('#IsPartyDepartment' + i).is(":checked")) {

                $.get("/Notice/GovtDept", function (data) {
                    $("#GovernmentDepartmentId" + i).empty();

                    $.each(data, function (index, row) {
                        $("#GovernmentDepartmentId" + i).append("<option value='" + row.Name + "'>" + row.Name + "</option>")
                    });
                });

                $("#GovernmentDepartmentId" + i).attr('style', 'display:initial');
                $("#PartyName" + i).attr('style', 'display:none');
                $("#ContactNo" + i).attr('style', 'display:none');
                $("#Email" + i).attr('style', 'display:none');

                console.log('Checked');
            }
            else {
                $("#GovernmentDepartmentId" + i).empty();

                $("#GovernmentDepartmentId" + i).attr('style', 'display:none');
                $("#PartyName" + i).attr('style', 'display:initial');
                $("#ContactNo" + i).attr('style', 'display:initial');
                $("#Email" + i).attr('style', 'display:initial');

                console.log('UnChecked');
            }
        }
    </script>

    <script type="text/javascript">
        function valueChangedFirst() {
            if ($('.IsPartyDepartment').is(":checked")) {
                $(".ddlGovtDept").attr('style', 'display:contents');
                $(".PartyName").attr('style', 'display:none');
                $(".ContactNo").attr('style', 'display:none');
                $(".Email").attr('style', 'display:none');
            }
            else {
                $(".ddlGovtDept").attr('style', 'display:none');
                $(".PartyName").attr('style', 'display:initial');
                $(".ContactNo").attr('style', 'display:initial');
                $(".Email").attr('style', 'display:initial');
            }
        }
    </script>


</body>
</html>