﻿@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="container">
    <div class="breadcrumbnew">
        <a href="@Url.Action("Index", "Home")" class="active">Home</a><i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "Efiling")" class="active">e-Notice</a><i class="fa fa-angle-right"></i> <a href="#">FAQS</a>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">FAQS</h3>
                </div>
                <div class="card-body">


                    <div class="accordion mb-5 leftnewaccord" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#Domestic" aria-expanded="true" aria-controls="collapseOne">
                                    Can I E-file for my case?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>

                            <div id="Domestic" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>Yes, every person can E-file for their cases. To E-file you need to click on ‘advocategeneralup.in’ and Click on the e-filing section on the home page to proceed with Registration and Login.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial" aria-expanded="false" aria-controls="collapseTwo">
                                    Is Registration mandatory for e-filing?	<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>Yes, Registration is mandatory for e-filing.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Domestic3" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I modify my E-file once submitted?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Domestic3" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>The E-file will have the option of ‘Save as Draft’; you can make changes to the existing file as long as you have saved the file as draft. But once the E-file has been submitted by clicking on the ‘Submit’ button, the file will be moved to the AG office and cannot be modified any further.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial4" aria-expanded="false" aria-controls="collapseTwo">
                                    Is mobile number and E-mail ID mandatory?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial4" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p> Yes, for filing mobile number and E-mail ID is mandatory.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial5" aria-expanded="false" aria-controls="collapseTwo">
                                    How will I receive my Notice number?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial5" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p> When the E-file is submitted, the Notice number is automatically generated and will be visible on the dashboard.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingsix">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial6" aria-expanded="false" aria-controls="collapseTwo">
                                    When will I get my Case Number?	<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial6" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p> Once the notice is accepted by Hon’ble High Court then the Case number will be assigned to your E-file and visible on the dashboard.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingseven">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial7" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I file with multiple petitions?	<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial7" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>Yes, you can file a petition with multiple petitioners.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial8" aria-expanded="false" aria-controls="collapseTwo">
                                    Can Multiple Counsellors be assigned to my E-file?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial8" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>Yes, Multiple counsellors can be assigned to one E-file.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Commercial9" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I attach multiple attachments to one E-file?<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div id="Commercial9" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                <div class="card-body px-3 pt-0 megamnewmwnu">
                                    <p>Yes, multiple attachments (Files, annexures etc.) can be attached to a single E-file.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


