﻿@model UPCourt.Web.Models.IPCSectionMvcModel

@{
    ViewBag.Title = "IPC Section Details";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">IPC Section Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">IPC Section Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- general form elements  -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">IPC Section</h3>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Section Name", @type = "text", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new
               {
                   @class = "form-control select2",
                   @required = "true",
                   @style = "width: 100%",
                   @readonly = "readonly"
               })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "IPCSection")" class="btn btn-primary">
                Back
            </a>
        </div>

    </form>
</div>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

