﻿@model UPCourt.Web.Models.IPCSectionMvcModel

@{
    ViewBag.Title = "IPC Section Edit";
}

@using (Html.BeginForm("Edit", "IPCSection", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.IPCSectionId)
    @Html.AntiForgeryToken()

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">IPC Section</h3>
        </div>

        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Section Name", @maxlength = "100", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })  <span class="text-danger">*</span>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @maxlength = "300", @required = "true", @style = "margin-top: 0px; margin-bottom: 0px; height: 38px;" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
}
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

