﻿@model UPCourt.Web.Models.NoticeMvcModel
@using UPCourt.Web.Core;

@{ ViewBag.Title = "Fresh Cases";


    var ResSno = 0;
    var NBISno = 0;
    var PetSno = 0;
    var Ri = 0;
    var Pi = 0;
    var Ci = 0;
    var Ef = 0;
    var ECFeeSno = 0;
    string caseLink = "", petLink = "", responLink = "", uploadLink = "", crimeDetailsLink = "", i_stLink = "", ecourtfeeLink = "";
    string caseTab = "", petTab = "", responTab = "", uploadTab = "", crimeDetailsTab = "", i_stTab = "", ecourtfeeTab = "";
    string disableTabs = "";

    if (TempData["NewCase"] == "1") { disableTabs = "disabled"; } else { disableTabs = "false"; }
    if (TempData["CurrentTab"] == "case") { caseLink = "active"; caseTab = "show active"; }
    if (TempData["CurrentTab"] == "pet") { petLink = "active"; petTab = "show active"; }
    if (TempData["CurrentTab"] == "respon") { responLink = "active"; responTab = "show active"; }
    if (TempData["CurrentTab"] == "upload") { uploadLink = "active"; uploadTab = "show active"; }
    if (TempData["CurrentTab"] == "crimeDetails") { crimeDetailsLink = "active"; crimeDetailsTab = "show active"; }
    if (TempData["CurrentTab"] == "det") { i_stLink = "active"; i_stTab = "show active"; }
    if (TempData["CurrentTab"] == "e-court") { ecourtfeeLink = "active"; ecourtfeeTab = "show active"; } }

@section Scripts {
    <link href="~/FrontEnd/tokenize/tokenize2.css" rel="stylesheet" />
    <script src="~/FrontEnd/tokenize/tokenize2.js"></script>

    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/NoticeCreate.js#@Guid.NewGuid()"></script>

}

<script>
    function ConfirmDeleteFile(obj, c){
        $(obj).closest('td').find('#NoticeBasicIndexs_' + c + '__BasicIndexFile').show();
        $(obj).closest('td').find('.new-file').val(1);
        $(obj).hide();
        $('#fileLink_' + c).hide();
    }

    function setValues() {
            var petCount = @(Model.Petitioners.Count);
        var viewModelPetitioner = @Html.Raw(Json.Encode(Model.Petitioners.OrderBy(x=>x.SNo)));
        if (petCount && petCount > 0) {

            $.each(viewModelPetitioner, function (i, item) {
               $("#Petitioners_" + i + "__District").val(item.District);
            });
        }

             var respCounts = @(Model.NoticeRespondents.Count);
        var viewModelRespondent = @Html.Raw(Json.Encode(Model.NoticeRespondents.OrderBy(x=>x.SNo)));
        if (respCounts && respCounts > 0) {
            $.each(viewModelRespondent, function (i, item) {
                if (item.PartyType == 1 && item.GovernmentDepartmentId != undefined && item.GovernmentDepartmentId != null) {
                    $("#NoticeRespondents_" + i + "__IsPartyDepartment").prop("checked", true);
                    setTimeout(chked($("#NoticeRespondents_" + i + "__IsPartyDepartment")), 1000);
                    setTimeout('setGovdeptWithChange("' + i + '","' + item.GovernmentDepartmentId + '","' + item.GovernmentDesignationId + '","' + item.District + '","' + item.Address + '")', 1000);
                }
            });
        }

        var IpcsCount = @(Model.NoticeIPCs.Count);
        var viewModelIpc = @Html.Raw(Json.Encode(Model.NoticeIPCs.OrderBy(x => x.SNo)));
        if (IpcsCount && IpcsCount > 0) {
            $.each(viewModelIpc, function (i, item) {
                if (item.IPCSectionId != '00000000-0000-0000-0000-000000000000') {
                    $('.IPCSectionIdS').trigger('tokenize:tokens:add', [item.IPCSectionId, item.IPCSection.SectionName, true]);
                }
            });
        }
      }

    function setVal(id, val) {
        $(id).val(val);
    }

    function setGovdeptWithChange(i, value, Desig, District, Address) {
        $("#NoticeRespondents_" + i + "__GovernmentDepartmentId").val(value).trigger('change');
        setTimeout('setVal("#NoticeRespondents_' + i + '__GovernmentDesignationId", "' + Desig + '")', 1000);
        setTimeout('setVal("#NoticeRespondents_' + i + '__District", "' + District + '")', 1000);
        setTimeout('setVal("#NoticeRespondents_' + i + '__Address", "' + Address + '")', 1000);
    }
    $(document).ready(function () {
        setValues();
    });
</script>

<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }
</style>

<!-- /.content-header -->
<!-- Main content -->

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link @caseLink" data-toggle="tab" href="#case">New Case Dtails</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @petLink" data-toggle="tab" href="#pet">Petitioner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @responLink" data-toggle="tab" href="#respon">Respondent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#act">Act Details</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#order">Impunged Order Details</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#e-court">E-Court Free</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @uploadLink" data-toggle="tab" href="#upload">Upload Document</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @crimeDetailsLink" data-toggle="tab" href="#crime">Crime Details</a>
                    </li>

                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#st-detail">St Details</a>
                        </li>*@
                </ul>
            </div>
            @using (Html.BeginForm("Edit", "Freshcases", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data", @ID = "EditFreshCasesFoam" }))
            {
                <div class="tab-content">

                    <div class="tab-pane fade @caseTab" id="case" role="tabpanel">
                        <div class="card-body">

                            @Html.HiddenFor(model => model.NoticeId)
                            @Html.AntiForgeryToken()
                            <div class="row justify-content-center">
                                <div class="col-md-9">

                                    <div class="row">

                                        <div class="col-md-12 my-3">
                                            <div class="bg-light p-2">Case Details</div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @foreach (UPCourt.Entity.ParentNoticeType value in Enum.GetValues(Model.ParentNoticeType.GetType()))
                                                {
                                                    <span class="custom-control custom-radio d-inline-block mr-3">
                                                        @Html.RadioButtonFor(m => m.ParentNoticeType, Convert.ToInt32(value), new { @id = "rdoParentNoticeType_" + value, @onclick = "showParentNoticeTypeDetails(this)", @class = "required", @checked = (Model.ParentNoticeType == value ? "true" : "false") })
                                                        @Html.Label(value.ToString(), new { @for = "rdoParentNoticeType_" + value })
                                                    </span>}
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CaseNoticeTypeId, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                @Html.DropDownListFor(m => m.CaseNoticeTypeId, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true" })
                                                @Html.ValidationMessageFor(model => model.CaseNoticeTypeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                @Html.DropDownListFor(model => model.District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control  required select2bs4", @required = "true" })
                                                @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-12 my-3">
                                            <div class="bg-light p-2">Special Category(first Pitition only)</div>
                                        </div>


                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-md-3 mt-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade @petTab" id="pet" role="tabpanel">
                        <div class="card-body">

                            <div class="row justify-content-center">


                                <div class="row">

                                    <div class="col-md-12 my-3">
                                        <div class="bg-light p-2">Pititioner  form-check-label </div>
                                    </div>

                                    <div class="card-body" id="DivPetitioner">
                                        @foreach (var Petitioner in Model.Petitioners.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                        {
                                            var ShowIsFirst = "";
                                            var ShowNotFirst = "";
                                            var NotFirst = "";
                                            if (Pi != 0)
                                            {
                                                ShowIsFirst = "display:none;";
                                                NotFirst = "border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;";
                                            }
                                            else
                                            {
                                                ShowNotFirst = "display:none;";
                                            }

                                            <div id="PetitionerEliment_@Pi" class="PetitionerRow" style=" margin-bottom: 15px @NotFirst ">

                                                @Html.HiddenFor(model => model.Petitioners[Pi].bActive, new { @Value = "true" })
                                                @Html.HiddenFor(model => model.Petitioners[Pi].PetitionerId, new { @class = "NewId" })
                                                <div class="row">

                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12 IsFirstRow" style="@ShowIsFirst" id="IsFirstRow_@Pi">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.Petitioners[Pi].IsFirst, new { @disabled = "disabled" })
                                                            @Html.LabelFor(model => model.Petitioners[Pi].IsFirst, new { @class = "control-label" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12 ">
                                                        <a title="Delete" id="RemovePetitionerEliment_@Pi" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Petitioners[Pi].Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.Petitioners[Pi].Name, new { htmlAttributes = new { @class = "form-control NameWithSpace required", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].Name, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Petitioners[Pi].Email, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.Petitioners[Pi].Email, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Email", @type = "email" } })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].Email, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Petitioners[Pi].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.Petitioners[Pi].ContactNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Contact No.", @type = "text" } })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].ContactNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.Petitioners[Pi].Address, htmlAttributes: new { @class = "control-label", @for = "Address" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.Petitioners[Pi].Address, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Address", @type = "text", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <input type="hidden" id="pet_dist_@Pi" value="@Model.Petitioners[Pi].District" />
                                                        @Html.LabelFor(model => model.Petitioners[Pi].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.Petitioners[Pi].District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control  required select2bs4", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].District, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Petitioners[Pi].IDProof, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EnumDropDownListFor(m => m.Petitioners[Pi].IDProof, "--Select--", new { @class = "form-control select2 ", @style = "width: 100%" })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].IDProof, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Petitioners[Pi].IDProofNumber, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.Petitioners[Pi].IDProofNumber, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter ID Proof Number.", @type = "text" } })
                                                        @Html.ValidationMessageFor(model => model.Petitioners[Pi].IDProofNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control required", @placeholder = "NOC******", @type = "text", @required = "true", onfocusout = "CheckNoticeNo(this)" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeDate, "{0:dd-MMM-yyyy}", new { htmlAttributes = new { @class = "form-control required", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>Pi += 1;
                                        }
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-3 mt-4">

                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">

                                <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Name</th>
                                            <th>Email-Id</th>
                                            <th>Address</th>
                                            <th>Mob No.</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Petitioners.Count() > 0)
                                        {
                                            foreach (var Petitioner in Model.Petitioners.Where(x => x.Name != null))
                                            {
                                                PetSno++;
                                                <tr>
                                                    <td>@PetSno</td>
                                                    <td>@Petitioner.Name</td>
                                                    <td>@Petitioner.Email</td>
                                                    <td>@Petitioner.Address  @Petitioner.City</td>
                                                    <td>@Petitioner.ContactNo , @Petitioner.MobileNo</td>
                                                    <td>
                                                        <a title="Delete" href="@Url.Action("Edit", "FreshCases", new { id = Petitioner.PetitionerId, NoticeId = Model.NoticeId })">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    </td>
                                                </tr>
}
                                        }




                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade @responTab" id="respon" role="tabpanel">
                        <div class="card-body">

                            <div class="row justify-content-center">


                                <div class="row">
                                    <div class="col-md-12 my-3">
                                        <div class="bg-light p-2">Respondent</div>
                                    </div>

                                    <div id="DivRespondent">
                                        @foreach (var Petitioner in Model.NoticeRespondents.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                        {
                                            var ShowNotFirst = "";
                                            var NotFirst = "";
                                            if (Ri != 0)
                                            {
                                                NotFirst = "border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;";
                                            }
                                            else
                                            {
                                                ShowNotFirst = "display:none;";
                                            }

                                            <div class="RespondentRow" id="RespondentEliment_@Ri" style=" margin-bottom: 15px  @NotFirst ">
                                                @Html.HiddenFor(model => model.NoticeRespondents[Ri].bActive, new { @Value = "true" })
                                                @Html.HiddenFor(model => model.NoticeRespondents[Ri].PartyAndRespondentId, new { @class = "NewId" })
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <div class="">
                                                            @Html.CheckBoxFor(model => model.NoticeRespondents[Ri].IsPartyDepartment, new { onclick = "chked(this);" })
                                                            @Html.LabelFor(model => model.NoticeRespondents[Ri].IsPartyDepartment, new { @class = "control-label" })
                                                        </div>
                                                        <a title="Delete" id="RemoveRespondentEliment_@Ri" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    </div>
                                                    <div class="form-group col-md-12  IsFirstRow">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.NoticeRespondents[Ri].IsFirst, new { @disabled = "disabled" })
                                                            @Html.LabelFor(model => model.NoticeRespondents[Ri].IsFirst, new { @class = "control-label" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="GovernmentDepartmentEliment_@Ri">
                                                        <input type="hidden" id="nresp_govdept_id_@Ri" value="@Model.NoticeRespondents[Ri].GovernmentDepartmentId" />
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.NoticeRespondents[Ri].GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control DDLGovDept select2bs4", @Onchange = "GetDepartmentDetail(this)" })
                                                        @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].GovernmentDepartmentId, "", new { @class = "text-danger" })

                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].PartyName, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeRespondents[Ri].PartyName, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Party Name", @type = "text", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].PartyName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.NoticeRespondents[Ri].ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Contact No.", @type = "text" } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].Email, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.NoticeRespondents[Ri].Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Email", @type = "email" } })
                                                    </div>


                                                    <input type="hidden" id="nresp_govdeg_id_@Ri" value="@Model.NoticeRespondents[Ri].GovernmentDesignationId" />
                                                    <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="MobileNoEliment_@Ri">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].MobileNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.NoticeRespondents[Ri].MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].MobileNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="FaxNoEliment_@Ri">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].FaxNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.NoticeRespondents[Ri].FaxNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].FaxNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="GovernmentDesignationEliment_@Ri">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].GovernmentDesignationId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.NoticeRespondents[Ri].GovernmentDesignationId, ViewBag.GovDesignations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 " })
                                                        @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].GovernmentDesignationId, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.NoticeRespondents[Ri].District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required" })
                                                        @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].District, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].Address, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.NoticeRespondents[Ri].Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Address", @type = "text" } })
                                                    </div>
                                                </div>
                                            </div>Ri += 1;
                                        }
                                    </div>


                                </div>



                                <div class="row justify-content-center">
                                    <div class="col-md-3 mt-4">
                                    </div>

                                </div>
                            </div>

                            <div class="table-responsive">

                                <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Name</th>
                                            <th>Email Id</th>
                                            <th>Address</th>
                                            <th>Mobile No.</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.NoticeRespondents.Count() > 0)
                                        {
                                            foreach (var Respondent in Model.NoticeRespondents.Where(x => x.PartyName != null))
                                            {
                                                ResSno++;
                                                <tr>
                                                    <td>@ResSno</td>
                                                    <td>@Respondent.PartyName</td>
                                                    <td>@Respondent.Email</td>
                                                    <td>@Respondent.Address  @Respondent.City</td>
                                                    <td>@Respondent.ContactNo , @Respondent.MobileNo</td>
                                                    <td>
                                                        <a title="Delete" href="@Url.Action("Edit", "FreshCases", new { id = Respondent.PartyAndRespondentId, NoticeId = Model.NoticeId })">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    </td>
                                                </tr>
}
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="act" role="tabpanel">
                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-md-9">

                                    <div class="row">

                                        <div class="col-md-12 my-3">
                                            <div class="bg-light p-2">Act Details</div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="mr-2">Belongs To: </label>
                                                <span class="custom-control custom-radio d-inline-block mr-3">
                                                    <input class="custom-control-input" type="radio" id="Central" name="customRadio1" checked="">
                                                    <label for="Central" class="custom-control-label">Central</label>
                                                </span>
                                                <span class="custom-control custom-radio d-inline-block">
                                                    <input class="custom-control-input" type="radio" id="State" name="customRadio1" checked="">
                                                    <label for="State" class="custom-control-label">State</label>
                                                </span>
                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-check-label">Card Act (Title)</label>
                                                <select class="form-control">
                                                    <option>Select Card Act (Title)</option>
                                                    <option>option 2</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-check-label">Central Rule Title</label>
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-check-label">Section</label>
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-check-label">Rule No(s)</label>
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                        </div>


                                    </div>



                                    <div class="row justify-content-center">
                                        <div class="col-md-3 mt-4">
                                            @*<button type="button" class="btn-block btn btn-secondary">Add Act Details</button>*@
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="table-responsive">

                                <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Act Belongs To</th>
                                            <th>Act (Title)</th>
                                            <th>Section</th>
                                            <th>Rule (Title)</th>
                                            <th>Rule Number</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>
                                                <a href="#"><i class="fa fa-edit text-primary mr-2"></i></a>
                                                <a href="#"><i class="fa fa-trash-alt text-danger"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>
                                                <a href="#"><i class="fa fa-edit text-primary mr-2"></i></a>
                                                <a href="#"><i class="fa fa-trash-alt text-danger"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>3</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>Dummy Text</td>
                                            <td>
                                                <a href="#"><i class="fa fa-edit text-primary mr-2"></i></a>
                                                <a href="#"><i class="fa fa-trash-alt text-danger"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>




                        </div>

                    </div>

                    <div class="tab-pane fade" id="order" role="tabpanel">
                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-md-9">

                                    <div class="row">

                                        <div class="col-md-12 my-3">
                                            <div class="bg-light p-2">Impunged Order Details</div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="mr-2">Belongs To: </label>
                                                <span class="custom-control custom-radio d-inline-block mr-3">
                                                    <input class="custom-control-input" type="radio" id="Lower" name="customRadio2" checked="">
                                                    <label for="Lower" class="custom-control-label">Lower Court</label>
                                                </span>
                                                <span class="custom-control custom-radio d-inline-block">
                                                    <input class="custom-control-input" type="radio" id="High" name="customRadio2" checked="">
                                                    <label for="High" class="custom-control-label">High Court</label>
                                                </span>
                                            </div>

                                        </div>


                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">District <span class="text-danger">*</span></label>
                                            <select class="form-control">
                                                <option>Select District</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">Subordinate Court Name <span class="text-danger">*</span></label>
                                            <select class="form-control">
                                                <option></option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>


                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">Case Type <span class="text-danger">*</span></label>
                                            <select class="form-control">
                                                <option>Select Case Type</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">Case No.  <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">Year <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">Judge Name  <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">CNR No. <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-check-label">Date <span class="text-danger">*</span></label>
                                            <input type="date" class="form-control">
                                        </div>


                                    </div>



                                    <div class="row justify-content-center">
                                        <div class="col-md-3 mt-4">
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="table-responsive">




                            </div>




                        </div>

                    </div>

                    <div class="tab-pane fade @ecourtfeeTab" id="e-court" role="tabpanel">

                        <div class="card-body">


                            @foreach (var EcourtFee in Model.ECourtFees.Where(x => x.bActive = true))
                            {
                                var ShowNotFirst = "";
                                var NotFirst = "";
                                if (Ef != 0)
                                {
                                    NotFirst = "border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;";
                                }
                                else
                                {
                                    ShowNotFirst = "display:none;";
                                }
                                <div id="EcourtFeeEliment_@Ef" class="ECourtRow" style=" margin-bottom: 15px @NotFirst ">

                                    @Html.HiddenFor(model => model.ECourtFees[Ef].bActive, new { @Value = "true" })
                                    @Html.HiddenFor(model => model.ECourtFees[Ef].eCourtFeeID, new { @class = "NewId" })

                                    <div class="row justify-content-center">

                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-4 form-group">
                                                    @Html.LabelFor(model => model.ECourtFees[Ef].ReceiptNo, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                    @Html.EditorFor(model => model.ECourtFees[Ef].ReceiptNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Receipt No.", @type = "text" } })

                                                </div>
                                                <div class="col-md-4 form-group">
                                                    @Html.LabelFor(model => model.ECourtFees[Ef].Amount, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                    @Html.EditorFor(model => model.ECourtFees[Ef].Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount", @type = "text" } })

                                                </div>
                                                <div class="col-md-4 form-group">
                                                    @Html.LabelFor(model => model.ECourtFees[Ef].EDate, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                    @Html.EditorFor(model => model.ECourtFees[Ef].EDate, "{0:dd-MMM-yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>Ef += 1;
                            }

                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Receipt No.</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ECourtFees.Count() > 0)
                                    {
                                        foreach (var ECourtFee in Model.ECourtFees.Where(x => x.ReceiptNo != null))
                                        {
                                            ECFeeSno++;
                                            <tr>
                                                <td>@ECFeeSno</td>
                                                <td>@ECourtFee.ReceiptNo</td>
                                                <td>@ECourtFee.Amount</td>
                                                <td>@ECourtFee.EDate</td>
                                                <td>
                                                    <a title="Delete" href="@Url.Action("DeleteECourtFee","FreshCases",new { id=ECourtFee.eCourtFeeID ,NoticeId=Model.NoticeId})">
                                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade @uploadTab" id="upload" role="tabpanel">
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table table-bordered">
                                    <!-- /.card-header -->
                                    <tbody id="DivBasicIndex">
                                        @for (int i = 0; i < Model.NoticeBasicIndexs.Count; i++)
                                        {
                                            var ShowNotFirst = "";
                                            if (i == 0)
                                            {
                                                ShowNotFirst = "display:none;";
                                            }
                                            <tr class="BasicIndexRow" id="BasicIndexEliment_@i">

                                                @Html.HiddenFor(model => model.NoticeBasicIndexs[i].bActive, new { @Value = "true" })
                                                @Html.HiddenFor(model => model.NoticeBasicIndexs[i].NoticeBasicIndexId, new { @class = "NewId" })
                                                <td>
                                                    @Html.LabelFor(model => model.NoticeBasicIndexs[i].Particulars, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Particulars", @type = "text" } })
                                                    @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].Particulars, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @if (Model.NoticeBasicIndexs[i].Documents != null && Model.NoticeBasicIndexs[i].Documents.Count > 0)
                                                    {
                                                        @Html.HiddenFor(model => model.NoticeBasicIndexs[i].Documents[0].DocumentId)
                                                        @Html.LabelFor(model => model.NoticeBasicIndexs[i].BasicIndexFile, htmlAttributes: new { @class = "control-label" }) <br /> if (Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Trim().Length > 0)
                                                        {
                                                            <a id="fileLink_@i" href="~/Document/Notice/@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl" target="_blank">@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Substring(0, 10)###@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Substring(@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.LastIndexOf('.'))</a> <a title="Delete" onclick="ConfirmDeleteFile(this, @i)"><i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i></a>
                                                            @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", @style = "display: none;", onchange = "return ValidateUpdFile(this.id);" }) }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", onchange = "return ValidateUpdFile(this.id);" }) }
                                                        @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" }) }
                                                    else
                                                    {
                                                        @Html.LabelFor(model => model.NoticeBasicIndexs[i].BasicIndexFile, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", onchange = "return ValidateUpdFile(this.id);" })
                                                        @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" })}
                                                </td>
                                                <td style="width:20px">
                                                    <a title="Delete" id="RemoveBasicIndexEliment_@i" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                            </div>




                        </div>

                    </div>

                    <div class="tab-pane fade @crimeDetailsTab" id="crime" role="tabpanel">
                        <div class="card-body">

                            <div class="row justify-content-center">

                                <div class="col-md-9">

                                    <div class="row">

                                        <div class="col-md-12 my-3">
                                            <div class="bg-light p-2">Crime Details</div>
                                        </div>

                                        @Html.HiddenFor(model => model.CrimeDetail.CrimeDetailID)
                                        <div class="col-md-4 form-group">
                                            <input type="hidden" id="cd_dis" value="@Model.CrimeDetail.District" />
                                            @Html.LabelFor(model => model.CrimeDetail.District, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                            @Html.DropDownListFor(m => m.CrimeDetail.District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required", @onchange = "getPoliceStations(this);" })
                                            @Html.ValidationMessageFor(model => model.CrimeDetail.District, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 form-group">
                                            @Html.LabelFor(model => model.CrimeDetail.PoliceStationID, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                            @Html.DropDownListFor(m => m.CrimeDetail.PoliceStationID, ViewBag.PoliceStations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.CrimeDetail.PoliceStationID, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-4 form-group">
                                            @Html.LabelFor(model => model.CrimeDetail.CrimeNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                            @Html.TextBoxFor(x => Model.CrimeDetail.CrimeNo, "", new { @class = "form-control text required", @required = "true" })
                                            @Html.ValidationMessageFor(x => Model.CrimeDetail.CrimeNo, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-4 form-group">
                                            @Html.LabelFor(model => model.CrimeDetail.CrimeYear, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                            @Html.EditorFor(model => model.CrimeDetail.CrimeYear, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.CrimeDetail.CrimeYear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="row justify-content-center">
                                        <div class="col-md-3 mt-4">


                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="table-responsive">
                                <button type="submit" class="btn btn-primary NextBtn" id="FinalSubmit">Update As Draft</button>


                            </div>




                        </div>

                    </div>





                </div>
            }


        </div>


    </div>

</div>
