﻿@model UPCourt.Web.Models.NoticeCaseIndexMvcModel
@using UPCourt.Web.Core;
@using UPCourt.Entity;

@{
    int noticeCounter = 0;
    ViewBag.Title = "e-Notice";
}


<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }
</style>

<!-- /.content-header -->
<!-- Main content -->
<div class="content">


    <section class="content-fluid">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-file-alt"></i>
                                Notice List
                                <h3 class="card-title float-right">
                                    @Html.ActionLink("Create", "Index", "Freshcases", null, htmlAttributes: new { @class = "btn btn-primary" })
                                </h3>
                            </h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">



                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Draft No.</th>
                                        <th>Diary No.</th>
                                        <th>Registered Date</th>
                                        <th>First Petitioner</th>
                                        <th>First Respondent</th>
                                        <th>Case Type</th>
                                        <th>Case Status</th>
                                        <th width="110">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var Notice in Model.Notices)
                                    {
                                        noticeCounter++;
                                        <tr class="tr-class-2">
                                            <td>@noticeCounter</td>
                                            <td>@Notice.NoticeNo</td>
                                            <td></td>
                                            <td>@(Notice.NoticeDate.HasValue ? Notice.NoticeDate.Value.ToString("dd-MMM-yyyy") : string.Empty)</td>
                                            <td>@(Notice.Petitioners.Count > 0 ? Notice.Petitioners[0].Name : string.Empty)</td>
                                            <td>@(Notice.NoticeRespondents.Count > 0 ? Notice.NoticeRespondents[0].PartyName : string.Empty)</td>
                                            <td>@Notice.CaseNoticeType.Name</td>
                                            <td>@Notice.Status</td>
                                            <td>
                                                @if (Notice.FinalSubmit == NoticeFinalStatus.Pending)
                                                {
                                                    if (Notice.Status.ToString() == "Pending")
                                                    {
                                                        <a title="Edit" href="@Url.Action("Index", "FreshCases", new { id = Notice.NoticeId })">
                                                            <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                                        </a>
                                                        <a title="Confirm" onclick="ConfirmSumit('@Notice.NoticeId')">
                                                            <i class="fa fa-notes-medical text-info mr-2 "></i>
                                                        </a>
                                                        <a title="Delete" onclick="ConfirmDelete('@Notice.NoticeNo','@Notice.NoticeId')">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

</div>
<!-- /.content -->


@section Scripts {


    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/CommonNotice.js"></script>

}
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });

    function ConfirmDelete(NoticeNo, NoticeId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to delete Notice No '" + NoticeNo + "' !",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.replace("/FreshCases/Delete/" + NoticeId);
            }
        });
    }

    function ConfirmSumit(NoticeId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Are Sure You Want To Submit! Once you submit the application you will not able  to make any changes to the application",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Submit it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.replace("/FreshCases/ConfirmFinalSubmit/" + NoticeId);
            }
        });
    }
</script>