﻿@model UPCourt.Web.Models.NoticeMvcModel
@using UPCourt.Web.Core;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Edit Notice";
    var Ri = 0;
    var Pi = 0;
    var Ci = 0;
}

@section Scripts {
    <link href="~/FrontEnd/tokenize/tokenize2.css" rel="stylesheet" />
    <script src="~/FrontEnd/tokenize/tokenize2.js"></script>

    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/NoticeCreate.js#@Guid.NewGuid()"></script>

}

<script>
    function ConfirmDeleteFile(obj, c){
        $(obj).closest('td').find('#NoticeBasicIndexs_' + c + '__BasicIndexFile').show();
        $(obj).closest('td').find('.new-file').val(1);
        $(obj).hide();
        $('#fileLink_' + c).hide();
    }

    function setValues() {



        debugger;
        var petCount = @(Model.Petitioners.Count);
        var viewModelPetitioner = @Html.Raw(Json.Encode(Model.Petitioners.OrderBy(x=>x.SNo)));
        if (petCount && petCount > 0) {

            $.each(viewModelPetitioner, function (i, item) {
               $("#Petitioners_" + i + "__District").val(item.District);
            });

            $.each(viewModelPetitioner, function (i, item) {
                $("#Petitioners_" + i + "__CaseDistrict").val(item.CaseDistrict);
            });
        }




        var respCounts = @(Model.NoticeRespondents.Count);
        var viewModelRespondent = @Html.Raw(Json.Encode(Model.NoticeRespondents.OrderBy(x=>x.SNo)));
        if (respCounts && respCounts > 0) {
            $.each(viewModelRespondent, function (i, item) {
                if (item.PartyType == 1 && item.GovernmentDepartmentId != undefined && item.GovernmentDepartmentId != null) {
                    $("#NoticeRespondents_" + i + "__IsPartyDepartment").prop("checked", true);
                    setTimeout(chked($("#NoticeRespondents_" + i + "__IsPartyDepartment")), 1000);
                    setTimeout('setGovdeptWithChange("' + i + '","' + item.GovernmentDepartmentId + '","' + item.GovernmentDesignationId + '","' + item.District + '","' + item.Address + '")', 1000);
                }
            });
        }

        var IpcsCount = @(Model.NoticeIPCs.Count);
        var viewModelIpc = @Html.Raw(Json.Encode(Model.NoticeIPCs.OrderBy(x => x.SNo)));
        if (IpcsCount && IpcsCount > 0) {
            $.each(viewModelIpc, function (i, item) {
                if (item.IPCSectionId != '00000000-0000-0000-0000-000000000000') {
                    $('.IPCSectionIdS').trigger('tokenize:tokens:add', [item.IPCSectionId, item.IPCSection.SectionName, true]);
                }
            });
        }

    }

    function setVal(id, val) {
        $(id).val(val);
    }

    function setGovdeptWithChange(i, value, Desig, District, Address) {
        $("#NoticeRespondents_" + i + "__GovernmentDepartmentId").val(value).trigger('change');
        setTimeout('setVal("#NoticeRespondents_' + i + '__GovernmentDesignationId", "' + Desig + '")', 1000);
        setTimeout('setVal("#NoticeRespondents_' + i + '__District", "' + District + '")', 1000);
        setTimeout('setVal("#NoticeRespondents_' + i + '__Address", "' + Address + '")', 1000);
    }
    $(document).ready(function () {
        setValues();
    });
</script>

<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Edit Notice </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index", "NoticeCreate")">Edit Notice</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    @using (Html.BeginForm("Edit", "NoticeCreate", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data", @ID = "EditNoticeForm" }))
                    {
                        @Html.HiddenFor(model => model.NoticeId)
                        @Html.AntiForgeryToken()

                        <div class="card-body p-0">
                            <div class="bs-stepper">
                                <div class="bs-stepper-header" role="tablist">
                                    <!-- your steps here -->
                                    <div class="step" data-target="#basic-details">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">BASIC DETAILS</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#case-details">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">CASE DETAILS</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <!-- your steps content here -->

                                    <div id="basic-details" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Petitioner Details</h3>
                                                <a class="float-right" id="AddPetitioner" onclick="AddPetitioner();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body" id="DivPetitioner">
                                                @foreach (var Petitioner in Model.Petitioners.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                                {
                                                    var ShowIsFirst = "";
                                                    var ShowNotFirst = "";
                                                    var NotFirst = "";
                                                    if (Pi != 0)
                                                    {
                                                        ShowIsFirst = "display:none;";
                                                        NotFirst = "border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;";
                                                    }
                                                    else
                                                    {
                                                        ShowNotFirst = "display:none;";
                                                    }

                                                    <div id="PetitionerEliment_@Pi" class="PetitionerRow" style=" margin-bottom: 15px @NotFirst ">

                                                        @Html.HiddenFor(model => model.Petitioners[Pi].bActive, new { @Value = "true" })
                                                        @Html.HiddenFor(model => model.Petitioners[Pi].PetitionerId, new { @class = "NewId" })
                                                        <div class="row">

                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 IsFirstRow" style="@ShowIsFirst" id="IsFirstRow_@Pi">
                                                                <div class="custom-control custom-checkbox">
                                                                    @Html.CheckBoxFor(model => model.Petitioners[Pi].IsFirst, new { @disabled = "disabled" })
                                                                    @Html.LabelFor(model => model.Petitioners[Pi].IsFirst, new { @class = "control-label" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-12 ">
                                                                <a title="Delete" id="RemovePetitionerEliment_@Pi" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[Pi].Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[Pi].Name, new { htmlAttributes = new { @class = "form-control NameWithSpace required", @placeholder = "Enter Name", @type = "text", @required = "true", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].Name, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[Pi].Email, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Petitioners[Pi].Email, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Email", @type = "email" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].Email, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[Pi].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Petitioners[Pi].ContactNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Contact No.", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].ContactNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                @Html.LabelFor(model => model.Petitioners[Pi].Address, htmlAttributes: new { @class = "control-label", @for = "Address" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[Pi].Address, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Address", @type = "text", @required = "true", maxlength = 200 } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].Address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-3">
                                                                <input type="hidden" id="pet_dist_@Pi" value="@Model.Petitioners[Pi].District" />
                                                                @Html.LabelFor(model => model.Petitioners[Pi].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.DropDownListFor(model => model.Petitioners[Pi].District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control  required ", @required = "true" })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].District, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <input type="hidden" id="pet_dist_@Pi" value="@Model.Petitioners[Pi].CaseDistrict" />
                                                                @Html.LabelFor(model => model.Petitioners[Pi].CaseDistrict, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.DropDownListFor(model => model.Petitioners[Pi].CaseDistrict, ViewBag.CaseDistricts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control  required ", @required = "true" })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].CaseDistrict, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                @Html.LabelFor(model => model.Petitioners[Pi].IDProof, htmlAttributes: new { @class = "" }) <br />
                                                                @Html.EnumDropDownListFor(m => m.Petitioners[Pi].IDProof, "--Select--", new { @class = "form-control select2 ", @style = "width: 100%" })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].IDProof, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                @Html.LabelFor(model => model.Petitioners[Pi].IDProofNumber, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Petitioners[Pi].IDProofNumber, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter ID Proof Number.", @type = "text" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[Pi].IDProofNumber, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    Pi += 1;
                                                }
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Counselor Details</h3>
                                                <a class="float-right" id="AddCounselor" onclick="AddCounselor();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body" id="DivCounselor">
                                                @foreach (var Petitioner in Model.NoticeCounselors.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                                {
                                                    var ShowNotFirst = "";
                                                    var NotFirst = "";
                                                    if (Ci != 0)
                                                    {
                                                        NotFirst = "border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;";
                                                    }
                                                    else
                                                    {
                                                        ShowNotFirst = "display:none;";
                                                    }
                                                    <div id="CounselorEliment_@Ci" class="CounselorRow" style=" margin-bottom: 15px @NotFirst ">

                                                        @Html.HiddenFor(model => model.NoticeCounselors[Ci].bActive, new { @Value = "true" })
                                                        @Html.HiddenFor(model => model.NoticeCounselors[Ci].NoticeCounselorId, new { @class = "NewId" })

                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <a title="Delete" id="RemoveCounselorEliment_@Ci" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.NoticeCounselors[Ci].Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.NoticeCounselors[Ci].Name, new { htmlAttributes = new { @class = "form-control NameWithSpace required", @placeholder = "Enter Counselor Name", @type = "text", @required = "true", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeCounselors[Ci].Name, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.NoticeCounselors[Ci].Email, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[Ci].Email, new { htmlAttributes = new { @class = "form-control EmailAddress", @placeholder = "Enter Counselor Email", @type = "email" } })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.NoticeCounselors[Ci].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[Ci].ContactNo, new { htmlAttributes = new { @class = "form-control PhoneNumber", @placeholder = "Enter Counselor Contact No.", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                @Html.LabelFor(model => model.NoticeCounselors[Ci].EnrollmentNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[Ci].EnrollmentNo, new { htmlAttributes = new { @class = "form-control ", @maxlength = "20", @placeholder = "Enter Counselor Enrollment No.", @type = "text" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeCounselors[Ci].EnrollmentNo, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                @Html.LabelFor(model => model.NoticeCounselors[Ci].RollNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[Ci].RollNo, new { htmlAttributes = new { @class = "form-control ", @maxlength = "20", @placeholder = "Enter Counselor Roll No.", @type = "text" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeCounselors[Ci].RollNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    Ci += 1;
                                                }
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                        <!-- /.card-body -->
                                        <div id="btnGroup" class="card-footer">
                                            <input type="button" class="btn btn-primary NextBtn" id="NextBtn1" value="Next" />
                                        </div>

                                    </div>

                                    <div id="case-details" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Notice Details</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2bs4", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeYear, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeYear, new { htmlAttributes = new { @class = "form-control PhoneNumber required", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeYear, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control required", @placeholder = "NOC******", @type = "text", @required = "true", onfocusout = "CheckNoticeNo(this)" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.ReferenceCaseNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ReferenceCaseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Referenced Case No", @maxlength = "75", @type = "text" } })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeDate, "{0:dd-MMM-yyyy}", new { htmlAttributes = new { @class = "form-control required", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeDate, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.ParentNoticeType, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.EnumDropDownListFor(m => m.ParentNoticeType, "--Select--", new { @class = "form-control select2 required", @style = "width: 100%", @required = "true", @Onchange = "showParentNoticeTypeDetails(this)" })
                                                        @Html.ValidationMessageFor(model => model.ParentNoticeType, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.CaseNoticeTypeId, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CaseNoticeTypeId, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true", @onchange = "getSubjects(this)" })
                                                        @Html.ValidationMessageFor(model => model.CaseNoticeTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <input type="hidden" value="@Model.Subject" id="not_sub" />
                                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(m => m.Subject, ViewBag.Subjects as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.GroupID, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(m => m.GroupID, ViewBag.Groups as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>&nbsp;&nbsp;</label>
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.IsContextOrder, new { @class = "custom-control-input" })
                                                            @Html.LabelFor(c => c.IsContextOrder, new { @class = "custom-control-label control-label" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <div class="card card-primary" id="dvCrimeDetails" style="@(Model.NoticeType == UPCourt.Entity.ParentNoticeType.Civil ? "display: none" : "display: block;")">
                                            <div class="card-header">
                                                <h3 class="card-title">Crime Details</h3>
                                            </div>
                                            @Html.HiddenFor(model => model.CrimeDetail.CrimeDetailID)
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.CrimeDetail.CrimeNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.CrimeDetail.CrimeNo, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.CrimeNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        @Html.LabelFor(model => model.CrimeDetail.CrimeYear, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.CrimeDetail.CrimeYear, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.CrimeYear, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.CrimeDetail.FIRNO, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.FIRNO, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.FIRNO, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.CrimeDetail.FIRDate, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.FIRDate, new { htmlAttributes = new { @class = "form-control ", @type = "date" } })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.FIRDate, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        @Html.DropDownListFor(model => model.CrimeDetail.IPCSectionIds_Selected, ViewBag.IPCSections_Selected as IEnumerable<SelectListItem>, new { @class = "IPCSectionIdS_selected", @style = "display: none;", @multiple = "multiple", @id = "crime_ipcs" })
                                                        @Html.LabelFor(model => model.CrimeDetail.IPCSectionIdS, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.CrimeDetail.IPCSectionIdS, ViewBag.IPCSections as IEnumerable<SelectListItem>, new { @class = "form-control IPCSectionIdS select2", @style = "width: 100%;", @multiple = "multiple" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.IPCSectionIdS, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.CrimeDetail.SectionOrAct, htmlAttributes: new { @class = "control-label" })
                                                        @Html.TextAreaFor(model => model.CrimeDetail.SectionOrAct, new { @class = "form-control", @placeholder = "Enter Section Or Act", @type = "text" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.SectionOrAct, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <input type="hidden" id="cd_dis" value="@Model.CrimeDetail.District" />
                                                        @Html.LabelFor(model => model.CrimeDetail.District, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CrimeDetail.District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required", @onchange = "getPoliceStations(this);" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.District, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="hidden" id="cd_ps" value="@Model.CrimeDetail.PoliceStationID" />
                                                        @Html.LabelFor(model => model.CrimeDetail.PoliceStationID, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CrimeDetail.PoliceStationID, ViewBag.PoliceStations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.PoliceStationID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.CaseNo, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.CaseNo, new { htmlAttributes = new { @class = "form-control " } })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.CaseNo_Court, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.CaseNo_Court, new { htmlAttributes = new { @class = "form-control " } })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.TrailNo, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.TrailNo, new { htmlAttributes = new { @class = "form-control " } })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.TrailNo_Court, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.TrailNo_Court, new { htmlAttributes = new { @class = "form-control " } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Respondent Details</h3>
                                                <a class="float-right" id="AddRespondent" onclick="AddRespondent()"><i class="fa fa-plus-square"></i> Add</a>
                                                <a class="float-right" id="ReBindDepartment" onclick="RefreshDeparment()"><i class="fa fa-sync"></i> Refresh Gov dept</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div id="DivRespondent">
                                                    @foreach (var Petitioner in Model.NoticeRespondents.Where(x => x.bActive = true).OrderBy(x => x.SNo))
                                                    {
                                                        var ShowNotFirst = "";
                                                        var NotFirst = "";
                                                        if (Ri != 0)
                                                        {
                                                            NotFirst = "border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;";
                                                        }
                                                        else
                                                        {
                                                            ShowNotFirst = "display:none;";
                                                        }

                                                        <div class="RespondentRow" id="RespondentEliment_@Ri" style=" margin-bottom: 15px  @NotFirst ">
                                                            @Html.HiddenFor(model => model.NoticeRespondents[Ri].bActive, new { @Value = "true" })
                                                            @Html.HiddenFor(model => model.NoticeRespondents[Ri].PartyAndRespondentId, new { @class = "NewId" })
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <div class="">
                                                                        @Html.CheckBoxFor(model => model.NoticeRespondents[Ri].IsPartyDepartment, new { onclick = "chked(this);" })
                                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].IsPartyDepartment, new { @class = "control-label" })
                                                                    </div>
                                                                    <a title="Delete" id="RemoveRespondentEliment_@Ri" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                    </a>
                                                                </div>
                                                                <div class="form-group col-md-12  IsFirstRow">
                                                                    <div class="custom-control custom-checkbox">
                                                                        @Html.CheckBoxFor(model => model.NoticeRespondents[Ri].IsFirst, new { @disabled = "disabled" })
                                                                        @Html.LabelFor(model => model.NoticeRespondents[Ri].IsFirst, new { @class = "control-label" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="GovernmentDepartmentEliment_@Ri">
                                                                    <input type="hidden" id="nresp_govdept_id_@Ri" value="@Model.NoticeRespondents[Ri].GovernmentDepartmentId" />
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[Ri].GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control DDLGovDept select2bs4", @Onchange = "GetDepartmentDetail(this)" })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].GovernmentDepartmentId, "", new { @class = "text-danger" })

                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].PartyName, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.EditorFor(model => model.NoticeRespondents[Ri].PartyName, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Party Name", @type = "text", @required = "true", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].PartyName, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[Ri].ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Contact No.", @type = "text" } })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].Email, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[Ri].Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Email", @type = "email" } })
                                                                </div>


                                                                <input type="hidden" id="nresp_govdeg_id_@Ri" value="@Model.NoticeRespondents[Ri].GovernmentDesignationId" />
                                                                <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="MobileNoEliment_@Ri">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].MobileNo, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[Ri].MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].MobileNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="FaxNoEliment_@Ri">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].FaxNo, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[Ri].FaxNo, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].FaxNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3" style="@(Model.NoticeRespondents[Ri].IsPartyDepartment ? "" : "display:none;")" id="GovernmentDesignationEliment_@Ri">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].GovernmentDesignationId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[Ri].GovernmentDesignationId, ViewBag.GovDesignations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 " })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].GovernmentDesignationId, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[Ri].District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required", @required = "true" })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[Ri].District, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[Ri].Address, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[Ri].Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Address", @type = "text", maxlength = 200 } })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        Ri += 1;
                                                    }
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Basic Index</h3>
                                                <a class="float-right" id="AddBasicIndex" onclick="AddBasicIndex();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <table class="table table-bordered">

                                                <!-- /.card-header -->
                                                <tbody id="DivBasicIndex">
                                                    @for (int i = 0; i < Model.NoticeBasicIndexs.Count; i++)
                                                    {
                                                        var ShowNotFirst = "";
                                                        if (i == 0)
                                                        {
                                                            ShowNotFirst = "display:none;";
                                                        }
                                                        <tr class="BasicIndexRow" id="BasicIndexEliment_@i">

                                                            @Html.HiddenFor(model => model.NoticeBasicIndexs[i].bActive, new { @Value = "true" })
                                                            @Html.HiddenFor(model => model.NoticeBasicIndexs[i].NoticeBasicIndexId, new { @class = "NewId" })
                                                            <td>
                                                                @Html.LabelFor(model => model.NoticeBasicIndexs[i].Particulars, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Particulars", @type = "text" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].Particulars, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td>
                                                                @if (Model.NoticeBasicIndexs[i].Documents != null && Model.NoticeBasicIndexs[i].Documents.Count > 0)
                                                                {
                                                                    @Html.HiddenFor(model => model.NoticeBasicIndexs[i].Documents[0].DocumentId)
                                                                    @Html.LabelFor(model => model.NoticeBasicIndexs[i].BasicIndexFile, htmlAttributes: new { @class = "control-label" }) <br />
                                                                    if (Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Trim().Length > 0)
                                                                    {
                                                                        <a id="fileLink_@i" href="~/Document/Notice/@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl" target="_blank">@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Substring(0, 10)###@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.Substring(@Model.NoticeBasicIndexs[i].Documents[0].DocumentUrl.LastIndexOf('.'))</a> <a title="Delete" onclick="ConfirmDeleteFile(this, @i)"><i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i></a>
                                                                        @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", @style = "display: none;", onchange = "return ValidateUpdFile(this.id);" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", onchange = "return ValidateUpdFile(this.id);" })
                                                                    }
                                                                    @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.LabelFor(model => model.NoticeBasicIndexs[i].BasicIndexFile, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", onchange = "return ValidateUpdFile(this.id);" })
                                                                    @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" })
                                                                }
                                                            </td>
                                                            <td style="width:20px">
                                                                <a title="Delete" id="RemoveBasicIndexEliment_@i" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <!-- /.card-body -->
                                        </div>

                                        <!-- /.card-body -->
                                        <div id="btnGroup" class="card-footer">
                                            <a class="btn btn-outline-secondary ml-2 previousBtn" id="previousBtn2">Previous</a>
                                            @* <a class="btn btn-primary NextBtn" id="NextBtn2">Next</a>*@
                                            <button type="submit" class="btn btn-primary NextBtn" id="FinalSubmit">Submit</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
