﻿@model UPCourt.Web.Models.NoticeMvcModel
@using UPCourt.Web.Core;

@{
    ViewBag.Title = "Add Notice";
}

@section Scripts {
    <link href="~/FrontEnd/tokenize/tokenize2.css" rel="stylesheet" />
    <script src="~/FrontEnd/tokenize/tokenize2.js"></script>
    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/NoticeCreate.js"></script>
}
<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }

    .select2-results__option[aria-selected=true] {
        display: none;
    }
</style>

<!-- Main content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <p style="float: right; color: #000000; font-size: 25px; ">@ViewBag.insertresult</p>
                    @using (Html.BeginForm("Index", "NoticeCreate", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data", @ID = "CreateNoticeForm" }))
                    {
                        @Html.HiddenFor(model => model.NoticeId)
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <div class="card-body p-0">
                            <div class="bs-stepper">
                                <div class="bs-stepper-header" role="tablist">
                                    <!-- your steps here -->
                                    <div class="step" data-target="#basic-details">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">BASIC DETAILS</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#case-details">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">CASE DETAILS</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <!-- your steps content here -->

                                    <div id="basic-details" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Petitioner Details</h3>
                                                <a class="float-right" id="AddPetitioner" onclick="AddPetitioner();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body" id="DivPetitioner">
                                                @for (int i = 0; i < Model.Petitioners.Count; i++)
                                                {
                                                    <div id="PetitionerEliment_@i" class="PetitionerRow" style=" margin-bottom: 15px ">

                                                        @Html.HiddenFor(model => model.Petitioners[i].bActive, new { @Value = "true" })

                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <a title="Delete" id="RemovePetitionerEliment_@i" class="Removebtn float-right" style="display:none" onclick="RemoveAddedItem(this)">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </div>
                                                            <div class="form-group col-md-12 IsFirstRow" id="IsFirstRow_@i">
                                                                <div class="custom-control custom-checkbox">
                                                                    @Html.CheckBoxFor(model => model.Petitioners[i].IsFirst, new { @disabled = "disabled" })
                                                                    @Html.LabelFor(model => model.Petitioners[i].IsFirst, new { @class = "control-label" })
                                                                </div>

                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].Name, new { htmlAttributes = new { @class = "form-control NameWithSpace required", @maxlength = "75", @placeholder = "Enter Name", @type = "text", @required = "true", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].Name, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].Email, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Petitioners[i].Email, new { htmlAttributes = new { @class = "form-control EmailAddress", @placeholder = "Enter Email", @maxlength = "75", @type = "email" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].Email, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.Petitioners[i].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Petitioners[i].ContactNo, new { htmlAttributes = new { @class = "form-control PhoneNumber", @placeholder = "Enter Contact No.", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].ContactNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                @Html.LabelFor(model => model.Petitioners[i].Address, htmlAttributes: new { @class = "control-label", @for = "Address" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.Petitioners[i].Address, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Address", maxlength = 200, @type = "text", @required = "true" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].Address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-3">
                                                                @Html.LabelFor(model => model.Petitioners[i].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.DropDownListFor(model => model.Petitioners[i].District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control  required select2bs4", @required = "true" })

                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].District, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                @Html.LabelFor(model => model.Petitioners[i].CaseDistrict, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.DropDownListFor(model => model.Petitioners[i].CaseDistrict, ViewBag.CaseDistricts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control  required select2bs4", @required = "true" })

                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].CaseDistrict, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                @Html.LabelFor(model => model.Petitioners[i].IDProof, htmlAttributes: new { @class = "" }) <br />
                                                                @Html.EnumDropDownListFor(m => m.Petitioners[i].IDProof, "--Select--", new { @class = "form-control select2 ", @style = "width: 100%" })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].IDProof, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                @Html.LabelFor(model => model.Petitioners[i].IDProofNumber, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Petitioners[i].IDProofNumber, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter ID Proof Number.", @maxlength = "50", @type = "text" } })
                                                                @Html.ValidationMessageFor(model => model.Petitioners[i].IDProofNumber, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Counselor Details</h3>
                                                <a class="float-right" id="AddCounselor" onclick="AddCounselor();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body" id="DivCounselor">
                                                @for (int i = 0; i < Model.NoticeCounselors.Count; i++)
                                                {
                                                    <div id="CounselorEliment_@i" class="CounselorRow" style=" margin-bottom: 15px ">

                                                        @Html.HiddenFor(model => model.NoticeCounselors[i].bActive, new { @Value = "true" })
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <a title="Delete" id="RemoveCounselorEliment_@i" class="Removebtn float-right" style="display:none" onclick="RemoveAddedItem(this)">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.NoticeCounselors[i].Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                @Html.EditorFor(model => model.NoticeCounselors[i].Name, new { htmlAttributes = new { @class = "form-control NameWithSpace required", @maxlength = "75", @placeholder = "Enter Counselor Name", @type = "text", @required = "true", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeCounselors[i].Name, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.NoticeCounselors[i].Email, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[i].Email, new { htmlAttributes = new { @class = "form-control EmailAddress", @maxlength = "75", @placeholder = "Enter Counselor Email", @type = "email" } })
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                @Html.LabelFor(model => model.NoticeCounselors[i].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[i].ContactNo, new { htmlAttributes = new { @class = "form-control PhoneNumber", @placeholder = "Enter Counselor Contact No.", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                @Html.LabelFor(model => model.NoticeCounselors[i].EnrollmentNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[i].EnrollmentNo, new { htmlAttributes = new { @class = "form-control ", @maxlength = "20", @placeholder = "Enter Counselor Enrollment No.", @type = "text" } })
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                @Html.LabelFor(model => model.NoticeCounselors[i].RollNo, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.NoticeCounselors[i].RollNo, new { htmlAttributes = new { @class = "form-control ", @maxlength = "20", @placeholder = "Enter Counselor Roll No.", @type = "text" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                        <!-- /.card-body -->
                                        <div id="btnGroup" class="card-footer">
                                            <input type="button" class="btn btn-primary   NextBtn" id="NextBtn1" value="Next" />
                                        </div>

                                    </div>

                                    <div id="case-details" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Notice Details</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2bs4", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeYear, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeYear, new { htmlAttributes = new { @class = "form-control NoticeYear  required", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeYear, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control required", @placeholder = "NOC******", @maxlength = "75", @type = "text", @required = "true", onfocusout = "CheckNoticeNo(this)" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.ReferenceCaseNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ReferenceCaseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Referenced Case No", @maxlength = "75", @type = "text" } })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeDate, "{0:dd-MMM-yyyy}", new { htmlAttributes = new { @class = "form-control required", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeDate, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.ParentNoticeType, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.EnumDropDownListFor(m => m.ParentNoticeType, "--Select--", new { @class = "form-control select2 required", @style = "width: 100%", @required = "true", @Onchange = "showParentNoticeTypeDetails(this)" })
                                                        @Html.ValidationMessageFor(model => model.ParentNoticeType, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.CaseNoticeTypeId, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CaseNoticeTypeId, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true", @onchange = "getSubjects(this)" })
                                                        @Html.ValidationMessageFor(model => model.CaseNoticeTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(m => m.Subject, ViewBag.Subjects as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.GroupID, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.DropDownListFor(m => m.GroupID, ViewBag.Groups as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>&nbsp;&nbsp;</label>
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(model => model.IsContextOrder, new { @class = "custom-control-input" })
                                                            @Html.LabelFor(c => c.IsContextOrder, new { @class = "custom-control-label control-label" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <div class="card card-primary" id="dvCrimeDetails" style="display: none">
                                            <div class="card-header">
                                                <h3 class="card-title">Crime Details</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.CrimeDetail.CrimeNo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.CrimeDetail.CrimeNo, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "75" } })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.CrimeNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        @Html.LabelFor(model => model.CrimeDetail.CrimeYear, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.CrimeDetail.CrimeYear, "2022", new { htmlAttributes = new { @class = "form-control CrimeYear" } })

                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.CrimeDetail.FIRNO, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.FIRNO, new { htmlAttributes = new { @class = "form-control", @maxlength = "75" } })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.FIRNO, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.CrimeDetail.FIRDate, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.FIRDate, "", new { htmlAttributes = new { @class = "form-control", @type = "date" } })

                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        @Html.DropDownListFor(model => model.CrimeDetail.IPCSectionIds_Selected, ViewBag.IPCSections_Selected as IEnumerable<SelectListItem>, new { @class = "IPCSectionIdS_selected", @style = "display: none;", @multiple = "multiple", @id = "crime_ipcs" })
                                                        @Html.LabelFor(model => model.CrimeDetail.IPCSectionIdS, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.CrimeDetail.IPCSectionIdS, ViewBag.IPCSections as IEnumerable<SelectListItem>, new { @class = "form-control IPCSectionIdS select2", @style = "width: 100%;", @multiple = "multiple" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.IPCSectionIdS, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.CrimeDetail.SectionOrAct, htmlAttributes: new { @class = "control-label" })
                                                        @Html.TextAreaFor(model => model.CrimeDetail.SectionOrAct, new { @class = "form-control", @placeholder = "Enter Section Or Act", @type = "text", @maxlength = "500" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.SectionOrAct, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.District, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CrimeDetail.District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required", @onchange = "getPoliceStations(this);" })
                                                        @Html.ValidationMessageFor(model => model.CrimeDetail.District, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.PoliceStationID, htmlAttributes: new { @class = "" })<span class="text-danger">*</span> <br />
                                                        @Html.DropDownListFor(m => m.CrimeDetail.PoliceStationID, ViewBag.PoliceStations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required" })

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.CaseNo, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.CaseNo, new { htmlAttributes = new { @class = "form-control ", @maxlength = "100" } })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.CaseNo_Court, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.CaseNo_Court, new { htmlAttributes = new { @class = "form-control ", @maxlength = "100" } })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.TrailNo, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.TrailNo, new { htmlAttributes = new { @class = "form-control ", @maxlength = "100" } })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.CrimeDetail.TrailNo_Court, htmlAttributes: new { @class = "" }) <br />
                                                        @Html.EditorFor(m => m.CrimeDetail.TrailNo_Court, new { htmlAttributes = new { @class = "form-control ", @maxlength = "100" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Respondent Details</h3>
                                                <a class="float-right" id="AddRespondent" onclick="AddRespondent();" value="Add"><i class="fa fa-plus-square"></i> Add</a>
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                <a class="float-right" id="ReBindDepartment" style="margin-left:10px;" onclick="RefreshDeparment();"><i class="fa fa-sync"></i> Refresh Gov dept</a>
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div id="DivRespondent">
                                                    @for (int i = 0; i < Model.NoticeRespondents.Count; i++)
                                                    {
                                                        <div class="RespondentRow" id="RespondentEliment_@i" style=" margin-bottom: 15px ">
                                                            @Html.HiddenFor(model => model.NoticeRespondents[i].bActive, new { @Value = "true" })
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <div class="">
                                                                        @Html.CheckBoxFor(model => model.NoticeRespondents[i].IsPartyDepartment, new { onclick = "chked(this);" })
                                                                        @Html.LabelFor(model => model.NoticeRespondents[i].IsPartyDepartment, new { @class = "control-label" })
                                                                    </div>
                                                                    <a title="Delete" id="RemoveRespondentEliment_@i" class="Removebtn float-right" style="display:none" onclick="RemoveAddedItem(this)">
                                                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                    </a>
                                                                </div>
                                                                <div class="form-group col-md-12  IsFirstRow">
                                                                    <div class="custom-control custom-checkbox">
                                                                        @Html.CheckBoxFor(model => model.NoticeRespondents[i].IsFirst, new { @disabled = "disabled" })
                                                                        @Html.LabelFor(model => model.NoticeRespondents[i].IsFirst, new { @class = "control-label" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-3" id="GovernmentDepartmentEliment_@i" style="display:none;">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[i].GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control DDLGovDept select2bs4", @Onchange = "GetDepartmentDetail(this)" })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].GovernmentDepartmentId, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].PartyName, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].PartyName, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Respondent Name", @type = "text", @required = "true", @maxlength = "75", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].PartyName, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].ContactNo, new { htmlAttributes = new { @class = "form-control MobileNo", @placeholder = "Enter Respondent Contact No.", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].Email, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Email", @type = "email", @maxlength = "75" } })
                                                                </div>
                                                                <div class="form-group col-md-3 " id="MobileNoEliment_@i" style="display:none;">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].MobileNo, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].MobileNo, new { htmlAttributes = new { @class = "form-control", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].MobileNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3 " id="FaxNoEliment_@i" style="display:none;">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].FaxNo, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].FaxNo, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].FaxNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3" id="GovernmentDesignationEliment_@i" style="display:none;">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].GovernmentDesignationId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[i].GovernmentDesignationId, ViewBag.GovDesignations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 " })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].GovernmentDesignationId, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                                    @Html.DropDownListFor(model => model.NoticeRespondents[i].District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4 required", @required = "true" })
                                                                    @Html.ValidationMessageFor(model => model.NoticeRespondents[i].District, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    @Html.LabelFor(model => model.NoticeRespondents[i].Address, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoticeRespondents[i].Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Respondent Address", @type = "text", maxlength = 200 } })
                                                                </div>
                                                            </div>
                                                        </div>

                                                    }
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Upload File</h3>

                                                <a class="float-right" id="AddBasicIndex" onclick="AddBasicIndex();"><i class="fa fa-plus-square"></i> Add</a>
                                            </div>
                                            <table class="table table-bordered">
                                                <!-- /.card-header -->
                                                <tbody id="DivBasicIndex">
                                                    @for (int i = 0; i < Model.NoticeBasicIndexs.Count; i++)
                                                    {
                                                        <tr class="BasicIndexRow" id="BasicIndexEliment_@i">

                                                            @Html.HiddenFor(model => model.NoticeBasicIndexs[i].bActive, new { @Value = "true" })
                                                            <td>
                                                                @Html.LabelFor(model => model.NoticeBasicIndexs[i].Particulars, htmlAttributes: new { @class = "control-label" })

                                                                @Html.EditorFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Particulars", @type = "text" } })
                                                                @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].Particulars, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td>
                                                                @Html.LabelFor(model => model.NoticeBasicIndexs[i].BasicIndexFile, htmlAttributes: new { @class = "control-label" })
                                                                @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File ", onchange = "return ValidateUpdFile(this.id);" })
                                                                @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td style="width:20px">
                                                                <a title="Delete" id="RemoveBasicIndexEliment_@i" class="Removebtn float-right" style="display:none" onclick="RemoveAddedItem(this)">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <!-- /.card-body -->
                                        </div>

                                        <!-- /.card-body -->
                                        <div id="btnGroup" class="card-footer">
                                            <input type="button" class="btn btn-outline-secondary ml-2 previousBtn" id="previousBtn2" value="Previous" />
                                            @*<input type="button" class="btn btn-primary NextBtn" id="NextBtn2" value="Next" />*@
                                            <button type="submit" class="btn btn-primary NextBtn" id="FinalSubmit" onclick="return validateData();">Submit</button>
                                            <p style="float: right; color: #000000; font-size: 25px; ">@ViewBag.insertresult</p>
                                        </div>
                                    </div>



                               

                                </div>
                            </div>
                        </div>

                    }

                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->



<script>


    function validateData() {
        var CrimeYear = $(".CrimeYear").val();
        var NoticeYear = $(".NoticeYear").val();
        if (NoticeYear != "") {
            if (parseInt(NoticeYear) > 1947 && parseInt(NoticeYear) < 2099) {
            }
            else {
                ToastError("Please enter correct Notice Year.");
                return false;
            }
        }

        if (CrimeYear != "0" && CrimeYear != "") {
            if (parseInt(CrimeYear) > 1947 && parseInt(CrimeYear) < 2099) {
            }
            else {
                ToastError("Please enter correct Crime Year.");
                return false;
            }
        }
        if ($(".MobileNo").val() != "") {
            if ($(".MobileNo").val().length != 10) {
                ToastError("Please enter 10 digit Respondent  contact no.");
                return false;
            }
        }

        if ($(".NameWithSpace").val() != "") {
            var txtvalue = $(".NameWithSpace").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("Petitioner Name or Counselor Name Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }
    }

    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);

    }
</script>