﻿

@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}





<div class="container">

    <div class="breadcrumbnew">
        <a href="@Url.Action("Index", "Home")" class="active">Home</a> <i class="fa fa-angle-right"></i> <a href="#">State Law Officer Allahbad</a>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">State Law Officer Allahbad</h3>
                </div>
                <div class="card-body py-0">

                    <div class="row">
                        <div class="col-md-3 inner-tab-border-right">
                            <ul class="nav nav-pills pt-2 pb-4 flex-column permission-section" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-black-50" id="profile-tab" data-toggle="tab" href="#downca" role="tab">View By</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#ag" role="tab">Advocate General, U.P. <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#aag" role="tab">Additional Advocate General <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ga" role="tab">Government Advocate <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#csc" role="tab">Chief Standing Counsel <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#acsc" role="tab">Additional Chief Standing Counsel <i class="fa fa-angle-right float-right"></i></a>
                                </li>



                            </ul>
                        </div>

                        <div class="col-md-9">
                            <div class="tab-content my-4" id="myTabContent">
                                <div class="tab-pane fade active show shadow-none no-bg pt-0" id="ag" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-9">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Advocate General, U.P.</h4>

                                            <div class="shadow pt-3 pb-4 px-3">
                                                <h4 class="text-uppercase f-18 fw-bold mb-3 border-bottom pb-2">Mr. Raghvendra Singh</h4>

                                                <p class="f-13 verdana mb-0">
                                                    High Court Allahabad-0532-2423543(O), 0532-2622412 (FAX)<br>
                                                    Drumong Road -2424688,2420921<br>
                                                    High Court Lucknow Bench-0532-2230453, 2621380 (FAX),<br>
                                                    Mobile No-941508282<br>
                                                    1,  Kalidas Marg 0532-2237871, 2239161,<br>
                                                    (Fax), 0522-2238075 (Sect. room) advocategeneralup@gmail.com
                                                </p>
                                            </div>
                                        </div>


                                    </div>



                                </div>

                                <div class="tab-pane fade shadow-none no-bg pt-0" id="aag" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Additional Advocate General</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Post</th>
                                                        <th>Location</th>
                                                        <th>Enrl. No.</th>
                                                        <th>A.O.R No.</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>1.</td>
                                                        <td><strong>Mr. Neeraj Tripathi</strong></td>
                                                        <td>A.A.G</td>
                                                        <td>Allahabad</td>
                                                        <td>4175/1993</td>
                                                        <td>A/N0198/2012</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td><strong>Mr. Vinod Kant</strong></td>
                                                        <td>A.A.G</td>
                                                        <td>Allahabad</td>
                                                        <td>U.P, 3216/76</td>
                                                        <td>A/V-0349</td>

                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td><strong>Mr. Mahesh Chandra Chaturvedi</strong></td>
                                                        <td>A.A.G</td>
                                                        <td>Allahbad</td>
                                                        <td>U.P.5151/87</td>
                                                        <td>A/M0092/2012</td>

                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td><strong>Mr. Manish Goel</strong></td>
                                                        <td>A.A.G</td>
                                                        <td>Allahabad</td>
                                                        <td>U.P.81/97</td>
                                                        <td>A/M0191/2012</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5.</td>
                                                        <td><strong>Mr. Ajeet Kumar Singh</strong></td>
                                                        <td>A.A.G</td>
                                                        <td>Allahabad</td>
                                                        <td>UP 475/82</td>
                                                        <td>A/A0306/2012</td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>


                                    </div>



                                </div>


                                <div class="tab-pane fade shadow-none no-bg pt-0" id="ga" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Government Advocate</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Post</th>
                                                        <th>Location</th>
                                                        <th>Enrl. No.</th>
                                                        <th>A.O.R No.</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>1.</td>
                                                        <td><strong>Mr. Shiv Kumar Pal</strong></td>
                                                        <td>G.A</td>
                                                        <td>Allahbad</td>
                                                        <td>UP-3116/1983</td>
                                                        <td>A/S1041/12</td>

                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>


                                    </div>



                                </div>

                                <div class="tab-pane fade shadow-none no-bg pt-0" id="csc" role="csc" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Chief Standing Counsel</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Post</th>
                                                        <th>Location</th>
                                                        <th>Enrl. No.</th>
                                                        <th>A.O.R No.</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>1.</td>
                                                        <td><strong>Mr. Vikash Chandra Tripathi</strong></td>
                                                        <td>CSC</td>
                                                        <td>Allahbad</td>
                                                        <td>1947/1980</td>
                                                        <td>A/V0243/2012</td>

                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td><strong>Mr. J.N. Maurya</strong></td>
                                                        <td>CSC-I</td>
                                                        <td>Allahbad</td>
                                                        <td>5067/1991</td>
                                                        <td>A/J0006/2012</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td><strong>Dr. Rajeshwer Tripathi</strong></td>
                                                        <td>CSC-II</td>
                                                        <td>Allahbad</td>
                                                        <td>3679/2005</td>
                                                        <td>A/R0511/2012</td>

                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td><strong>Mr. Saurabh Shrivastava</strong></td>
                                                        <td>CSC-III</td>
                                                        <td>Allahabad</td>
                                                        <td>UP-18365/99</td>
                                                        <td>A/S2409</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5.</td>
                                                        <td><strong>Mr. Vineet Pandey</strong></td>
                                                        <td>CSC-IV</td>
                                                        <td>Allahabad</td>
                                                        <td>UP-0951/2003</td>
                                                        <td>A/V0342/12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>6.</td>
                                                        <td><strong>Mr. Bipin Bihari Pandey</strong></td>
                                                        <td>CSC-V</td>
                                                        <td>Allahabad</td>
                                                        <td>UP-3243/1996</td>
                                                        <td>A/B-0203</td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>


                                    </div>



                                </div>

                                <div class="tab-pane fade shadow-none no-bg pt-0" id="acsc" role="csc" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Additional Chief Standing Counsel</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Post</th>
                                                        <th>Location</th>
                                                        <th>Enrl. No.</th>
                                                        <th>A.O.R No.</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>1.</td>
                                                        <td><strong>Mr. Amit Kumar Singh</strong></td>
                                                        <td>A.CSC</td>
                                                        <td>Allahabad</td>
                                                        <td>UP 4365/02</td>
                                                        <td>A/A0571/12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td><strong>Mr. A.C. Mishra</strong></td>
                                                        <td>A.CSC</td>
                                                        <td>Allahabad</td>
                                                        <td>UP 9243/86</td>
                                                        <td>A/A1014/12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td><strong>Mr. Abhishek Shrivastava</strong></td>
                                                        <td>A.CSC</td>
                                                        <td>Allahabad</td>
                                                        <td>UP 7223/2005</td>
                                                        <td>A/A0082/12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td><strong>Mr. Amit Manohar</strong></td>
                                                        <td>A.CSC</td>
                                                        <td>Allahabad</td>
                                                        <td>UP 3066/05</td>
                                                        <td>A/A0590/12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5.</td>
                                                        <td><strong>Mr. Anand Kumar Roy</strong></td>
                                                        <td>A.CSC</td>
                                                        <td>Allahabad</td>
                                                        <td>UP 3370/79</td>
                                                        <td>A/A0677/12</td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>


                                    </div>



                                </div>

                            </div>
                        </div>





                    </div>

                </div>
            </div>
        </div>
    </div>
</div>