﻿@model UPCourt.Web.Models.StateLawOfficerIndexMvcModel
@using UPCourt.Web.Core;

@{
    int holidayCounter = 0;
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}






<div class="container">

    <div class="breadcrumbnew">
        <a href="@Url.Action("Index", "Home")" class="active">Home</a> <i class="fa fa-angle-right"></i> <a href="#">State Law Officer</a>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">State Law Officer</h3>
                </div>
                <div class="card-body py-0">

                    <div class="row">
                        <div class="col-md-3 inner-tab-border-right">
                            <ul class="nav nav-pills pt-2 pb-4 flex-column permission-section" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-black-50" id="profile-tab" data-toggle="tab" href="#downca" role="tab">View By</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#ag" role="tab">Advocate General, U.P. <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#aag" role="tab">Additional Advocate General <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ga" role="tab">Government Advocate <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#csc" role="tab">Chief Standing Counsel <i class="fa fa-angle-right float-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#acsc" role="tab">Additional Chief Standing Counsel <i class="fa fa-angle-right float-right"></i></a>
                                </li>



                            </ul>
                        </div>

                        <div class="col-md-9">
                            <div class="tab-content my-4" id="myTabContent">
                                <div class="tab-pane fade active show shadow-none no-bg pt-0" id="ag" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-9">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Advocate General, U.P.</h4>

                                            <div class="shadow pt-3 pb-4 px-3">
                                                <h4 class="text-uppercase f-18 fw-bold mb-3 border-bottom pb-2">Mr. Raghvendra Singh</h4>

                                                <p class="f-13 verdana mb-0">
                                                    High Court Allahabad-0532-2423543(O), 0532-2622412 (FAX)<br>
                                                    Drumong Road -2424688,2420921<br>
                                                    High Court Lucknow Bench-0532-2230453, 2621380 (FAX),<br>
                                                    Mobile No-941508282<br>
                                                    1,  Kalidas Marg 0532-2237871, 2239161,<br>
                                                    (Fax), 0522-2238075 (Sect. room) advocategeneralup@gmail.com
                                                </p>
                                            </div>
                                        </div>


                                    </div>



                                </div>

                                <div class="tab-pane fade shadow-none no-bg pt-0" id="aag" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Additional Advocate General</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Post</th>
                                                        <th>Location</th>
                                                        <th>Enrl. No.</th>
                                                        <th>A.O.R No.</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        @foreach (var Lawofficer in Model.StateLawOfficersDocs)
                                                        {
                                                            holidayCounter++;
                                                        <tr class="tr-class-2">
                                                            <td>@holidayCounter</td>

                                                            <td>@Lawofficer.AdvName</td>
                                                            <td>@Lawofficer.AdvPost</td>
                                                            <td>@Lawofficer.AdvLocation</td>
                                                            <td>@Lawofficer.AdvEnrl</td>
                                                            <td>@Lawofficer.AdvAor</td>

                                                        </tr>
                                                    }


                                                    </tbody>

                                                </table>
                                            </div>


                                        </div>



                                    </div>


                                    <div class="tab-pane fade shadow-none no-bg pt-0" id="ga" role="tabpanel" aria-labelledby="home-tab">

                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Government Advocate</h4>

                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Post</th>
                                                            <th>Location</th>
                                                            <th>Enrl. No.</th>
                                                            <th>A.O.R No.</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody class="verdana f-12">
                                                        <tr>
                                                            @foreach (var Lawofficer in Model.StateLawOfficersDocsGA)
                                                            {
                                                                holidayCounter++;
                                                            <tr class="tr-class-2">
                                                                <td>@holidayCounter</td>
                                                                @*<td>@Holiday.HolidayId</td>*@

                                                                <td>@Lawofficer.AdvName</td>
                                                                <td>@Lawofficer.AdvPost</td>
                                                                <td>@Lawofficer.AdvLocation</td>
                                                                <td>@Lawofficer.AdvEnrl</td>
                                                                <td>@Lawofficer.AdvAor</td>

                                                            </tr>
                                                        }


                                                        </tbody>

                                                    </table>
                                                </div>


                                            </div>



                                        </div>

                                        <div class="tab-pane fade shadow-none no-bg pt-0" id="csc" role="csc" aria-labelledby="home-tab">

                                            <div class="row justify-content-center">
                                                <div class="col-sm-12">
                                                    <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Chief Standing Counsel</h4>

                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Name</th>
                                                                <th>Post</th>
                                                                <th>Location</th>
                                                                <th>Enrl. No.</th>
                                                                <th>A.O.R No.</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody class="verdana f-12">
                                                            <tr>
                                                                @foreach (var Lawofficer in Model.StateLawOfficersDocsCSE)
                                                                {
                                                                    holidayCounter++;
                                                                <tr class="tr-class-2">
                                                                    <td>@holidayCounter</td>

                                                                    <td>@Lawofficer.AdvName</td>
                                                                    <td>@Lawofficer.AdvPost</td>
                                                                    <td>@Lawofficer.AdvLocation</td>
                                                                    <td>@Lawofficer.AdvEnrl</td>
                                                                    <td>@Lawofficer.AdvAor</td>

                                                                </tr>
                                                            }


                                                            </tbody>

                                                        </table>
                                                    </div>


                                                </div>



                                            </div>

                                            <div class="tab-pane fade shadow-none no-bg pt-0" id="acsc" role="csc" aria-labelledby="home-tab">

                                                <div class="row justify-content-center">
                                                    <div class="col-sm-12">
                                                        <h4 class="text-uppercase f-22 text-theme text-center fw-bold mb-4">Additional Chief Standing Counsel</h4>

                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Name</th>
                                                                    <th>Post</th>
                                                                    <th>Location</th>
                                                                    <th>Enrl. No.</th>
                                                                    <th>A.O.R No.</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody class="verdana f-12">
                                                                <tr>
                                                                    @foreach (var Lawofficer in Model.StateLawOfficersDocsACSE)
                                                                    {
                                                                        holidayCounter++;
                                                                    <tr class="tr-class-2">
                                                                        <td>@holidayCounter</td>

                                                                        <td>@Lawofficer.AdvName</td>
                                                                        <td>@Lawofficer.AdvPost</td>
                                                                        <td>@Lawofficer.AdvLocation</td>
                                                                        <td>@Lawofficer.AdvEnrl</td>
                                                                        <td>@Lawofficer.AdvAor</td>

                                                                    </tr>
                                                                }


                                                                </tbody>

                                                            </table>
                                                        </div>


                                                    </div>



                                                </div>

                                            </div>
                                        </div>





                                    </div>

                                </div>
                            </div>





                        </div>





                    </div>







                </div>