﻿@model UPCourt.Web.Models.HolidayMvcModel
@using UPCourt.Entity
@{
    ViewBag.Title = "Add Holiday";

    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
@section Scripts {
    <script src="~/Scripts/GovermentDepartment/GovermentDepartment.js"></script>
    <script>
        var Msg = '@ViewBag.Msg';

        if (Msg != undefined && Msg != null && Msg != "") {
            alert(Msg);
        }
    </script>

}
<div class="container">


    @using (Html.BeginForm("Create", "HolidayGov", FormMethod.Post, new { @class = "" }))
    {
        @Html.HiddenFor(model => model.HolidayId)

        <div class="breadcrumbnew">
            <a class="active" href="@Url.Action("Index", "Home")">Home</a> <i class="fa fa-angle-right"></i> <a href="#">Government Department</a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card my-4">
                    <div class="card-header no-bg">
                        <h3 class="f-20 my-1">Add Holiday Name</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="form-group tabforminner col-md-3">
                                @Html.LabelFor(model => model.HStatus, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> </span>
                                @Html.DropDownListFor(m => m.HStatus, ViewBag.HStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control f-14 select2", @style = "width: 100%", @onchange = "checkSelected(this);" })
                                @Html.ValidationMessageFor(model => model.HStatus, "", new { @class = "text-danger" })


                            </div>

                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.HolidayName, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> </span>
                                @Html.EditorFor(model => model.HolidayName, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "100" } })
                                  </div>

                            <div class="form-group tabforminner col-md-3">
                                @Html.LabelFor(model => model.HolidayName, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> </span>
                                @Html.DropDownListFor(m => m.HolidayName, ViewBag.HolidayList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control f-14 select2", @style = "width: 100%", @onchange = "checkSelected(this);" })
                                @Html.ValidationMessageFor(model => model.HolidayName, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.Hyear, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> </span>
                                @Html.EditorFor(model => model.Hyear, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "100" } })
                                 </div>

                            <div class="col-md-4 form-group">
                                @Html.LabelFor(model => model.Hdate, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                @Html.EditorFor(model => model.Hdate, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Receipt No.", @type = "date", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.Hdate, "", new { @class = "text-danger" })
                            </div>

                        </div>
                       



                        <button type="submit"
                                
                                data-callback='onSubmit' data-action='submit' class="btn btn-warning displaybtn mt-4" onclick="confirmrregister()">
                            Submit
                        </button>

                    </div>


                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <script>
                        function validatePhoneNo(Phone) {
                            var re = /^\+?[0-9-]+$/;
                            return re.test(Phone);
                        }
                        function AddGDDCContact() {
                            debugger;
                            var max = 1000;
                            var rowCount = $('.GDDCContact').length;
                            var LastRowCount = rowCount - 1;
                            if (LastRowCount <= max) {
                                var newCounselorRow = $('#GDDCContact_' + LastRowCount).clone();

                                newCounselorRow.find("checkbox, select, textarea, input, span, label, a").each(function () {
                                    if ($(this).attr("id") != undefined)
                                        $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                                    if ($(this).attr("name") != undefined)
                                        $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                                    if ($(this).attr("data-valmsg-for") != undefined)
                                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                                    if ($(this).attr("for") != undefined)
                                        $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
                                });

                                //Update seq no.
                                newCounselorRow.find('td:eq(0)').text(rowCount + 1);

                                newCounselorRow.find("select, textarea, input").each(function () {
                                    $(this).attr("value", "");
                                });
                                newCounselorRow.find(".IsFirstRow").css("display", "none");
                                newCounselorRow.find(".Removebtn").css("display", "block");
                                newCounselorRow.find(".addNewbtn").css("display", "none");
                                newCounselorRow.find(".NewId").val('');

                                $('#divDepartmentContacts').append("<tr id=\"GDDCContact_" + rowCount + "\" class=\"GDDCContact\">" + newCounselorRow.html() + "</tr>");
                                setSerialNos();
                            }
                        }

                        function checkSelected(obj) {
                            if ($(obj).val() == "Others") {
                                $("#dvOtherDistrict").css('display', '');
                                $("#OtherDistrict").attr("required", "true");
                            }
                            else {
                                $("#dvOtherDistrict").css('display', 'none');
                                $("#OtherDistrict").removeAttr("required");
                            }
                        }
                        function RemoveAddedItem(btn) {
                            var id = $(btn).attr('id');
                            $('#' + id.replace('Remove', '')).hide();
                            $('#' + id.replace('Remove', '')).find("[id$=bActive]").val("false");
                            setSerialNos();
                            $('#' + id.replace('Remove', '') + ' input').each(function () {
                                $(this).removeAttr("required");
                            });
                        }


                        function checkChange(obj) {
                            var found = false;
                            $("#District option").each(function () {
                                if (found) return;
                                if ($(this).val().toLowerCase() === $(obj).val().toLowerCase()) {
                                    $("#District").val($(this).val());
                                    $(obj).val('');
                                    $(obj).css('display', 'none');
                                    $(obj).removeAttr("required");
                                    found = true;
                                }
                                else if ($(obj).is(':visible')) {
                                    $('#District').val("Others");
                                    $(obj).css('display', '');
                                    $(obj).attr("required", "true");
                                }
                            });
                        }
                        
                        function confirmrregister() {
                            alert("Do You Want Save The Data");
                        }
                    </script>
                </div>
            </div>
        </div>



    }

</div>
