﻿@model UPCourt.Web.Models.HolidayIndexMvcModel
@using UPCourt.Web.Core;

@{
    int holidayCounter = 0;
    ViewBag.Title = "Holiday List";
}


<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }
</style>

<!-- /.content-header -->
<!-- Main content -->
<div class="content">


    <section class="content-fluid">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-file-alt"></i>
                                Case List
                                <h3 class="card-title float-right">
                                    @Html.ActionLink("Create", "Index", "HolidayGov", null, htmlAttributes: new { @class = "btn btn-primary" })
                                </h3>
                            </h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="form-group tabforminner col-md-3">
                                @Html.LabelFor(model => model.HStatus, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> </span>
                                @Html.DropDownListFor(m => m.HStatus, ViewBag.HStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control f-14 select2", @style = "width: 100%", @onchange = "GetList(this);" })
                                @Html.ValidationMessageFor(model => model.HStatus, "", new { @class = "text-danger" })


                            </div>

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Holiday Name</th>
                                        <th>Holiday Date</th>
                                        <th>Year</th>
                                        <th>Holiday Type</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var Holiday in Model.HolidayDocs)
                                    {
                                        holidayCounter++;
                                        <tr class="tr-class-2">
                                            <td>@holidayCounter</td>
                                            <td>@Holiday.HolidayName</td>
                                            <td>@Holiday.Hdate</td>
                                            <td>@Holiday.Hyear</td>
                                            <td>@Holiday.HStatus</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

</div>
<!-- /.content -->


@section Scripts {


    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/CommonNotice.js"></script>

    <script src="~/Scripts/Court/noticedelete.js"></script>

}
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });


</script>