﻿@model UPCourt.Web.Models.ApplicationDocumentMvcModel
@using UPCourt.Web.Core;


@{
    ViewBag.Title = "Application Document";
    var ADSno = 0;
    var ECFeeSno = 0;
    var NBISno = 0;


    string appLink = "", ecourtfeeLink = "", uploadLink = "";
    string appTab = "", ecourtfeeTab = "", uploadTab = "";


    if (TempData["CurrentTab"] == "app") { appLink = "active"; appTab = "show active"; }
    if (TempData["CurrentTab"] == "e-court") { ecourtfeeLink = "active"; ecourtfeeTab = "show active"; }
    if (TempData["CurrentTab"] == "upload") { uploadLink = "active"; uploadTab = "show active"; }
}


<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }
</style>


<div class="freshcasesinner">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card card-primary card-outline card-outline-tabs">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link @appLink" data-toggle="tab" href="#app">Application Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @ecourtfeeLink" data-toggle="tab" href="#e-court">E-Court Free</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @uploadLink" data-toggle="tab" href="#upload">Upload Application</a>
                                </li>

                            </ul>
                        </div>

                        <div class="tab-content">

                            <div class="tab-pane fade show @appTab" id="app" role="tabpanel">
                                <div class="card-body">
                                    @using (Html.BeginForm("SaveApplicationDocument", "ApplicationDocument", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data", @ID = "ApplicationDocumentForm" }))
                                    {
                                        var i = 0;
                                        @Html.HiddenFor(model => model.ApplicationDocumentID)
                                        @Html.AntiForgeryToken()
                                        <div class="row justify-content-center">
                                            <div class="col-md-9">

                                                <div class="row">

                                                    <div class="col-md-12 my-3">
                                                        <div class="bg-light p-2">Application Details</div>
                                                    </div>

                                                    <div class="col-md-8">
                                                        <div class="form-group">

                                                            @Html.LabelFor(model => model.ApplicationTypeID, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span> <br />
                                                            @Html.DropDownListFor(m => m.ApplicationTypeID, ViewBag.ApplicationTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control required select2", @style = "width: 100%", @required = "true" })
                                                            @Html.ValidationMessageFor(model => model.ApplicationTypeID, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 my-3">
                                                        <div class="bg-light p-2">Applicant Details</div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.LabelFor(model => model.ApplicantName, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.ApplicantName, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Applicant Name", @type = "text", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ApplicantName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="row justify-content-center">
                                                    <div class="col-md-3 mt-4">
                                                        <button type="submit" class="btn btn-primary">Save in Draft</button>
                                                    </div>
                                                    <div class="col-md-3 mt-4">
                                                        @Html.ActionLink("Draft List", "List", "applicationDocument", null, htmlAttributes: new { @class = "btn btn-primary" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Application Type</th>
                                                    <th>Date</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.ListOfApp != null)
                                                {
                                                    foreach (var item in ViewBag.ListOfApp)
                                                    {
                                                        ADSno++;
                                                        <tr class="tr-class-2">
                                                            <td>@ADSno</td>
                                                            <td>@item.ApplicantName</td>
                                                            <td>@item.InsertedOn</td>

                                                            <td>

                                                                <a title="Delete" href="@Url.Action("DeleteApplicationDocument","ApplicationDocument",new {ApplicationDocumentID=Model.ApplicationDocumentID})">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>

                                    </div>


                                </div>


                            </div>

                            <div class="tab-pane fade @ecourtfeeTab" id="e-court" role="tabpanel">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        @using (Html.BeginForm("SaveECourtFee", "ApplicationDocument", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data", @ID = "ApplicationDocumentEcourtForm" }))
                                        {
                                            var i = 0;
                                            @Html.HiddenFor(model => model.ApplicationDocumentID)
                                            @Html.AntiForgeryToken()
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12 my-3">
                                                        <div class="bg-light p-2">E-Court Fee</div>
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        @Html.LabelFor(model => model.ECourtFees[i].ReceiptNo, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.ECourtFees[i].ReceiptNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Receipt No.", @type = "text" } })

                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        @Html.LabelFor(model => model.ECourtFees[i].Amount, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.ECourtFees[i].Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount", @type = "text" } })

                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        @Html.LabelFor(model => model.ECourtFees[i].EDate, htmlAttributes: new { @class = "form-check-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.ECourtFees[i].EDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Receipt No.", @type = "date" } })
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-md-3 mt-4">
                                                        <button type="submit" class="btn-block btn btn-secondary">Save</button>
                                                    </div>
                                                </div>
                                            </div>}
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Receipt No.</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ECourtFees.Count() > 0)
                                                {
                                                    foreach (var ECourtFee in Model.ECourtFees.Where(x => x.ReceiptNo != null))
                                                    {
                                                        ECFeeSno++;
                                                        <tr>
                                                            <td>@ECFeeSno</td>
                                                            <td>@ECourtFee.ReceiptNo</td>
                                                            <td>@ECourtFee.Amount</td>
                                                            <td>@ECourtFee.EDate</td>
                                                            <td>
                                                                <a title="Delete" href="@Url.Action("DeleteECourtFee","ApplicationDocument",new { id=ECourtFee.eCourtFeeID ,ApplicationDocumentID=Model.ApplicationDocumentID})">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade @uploadTab" id="upload" role="tabpanel">
                                <div class="card-body">
                                    @using (Html.BeginForm("SaveBasicIndex", "ApplicationDocument", FormMethod.Post, new { @class = "col-md-9", enctype = "multipart/form-data", @ID = "ApplicationDocumentBasicIndexForm" }))
                                    {
                                        var i = 0;
                                        @Html.HiddenFor(model => model.ApplicationDocumentID)
                                        <div class="row justify-content-center">
                                            <div class="col-md-9">

                                                <div class="row">

                                                    <div class="col-md-12 my-3">
                                                        <div class="bg-light p-2">Document Upload</div>
                                                    </div>

                                                    <div class="col-md-4 form-group">
                                                        @Html.LabelFor(model => model.NoticeBasicIndexs[i].Particulars, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.EditorFor(model => model.NoticeBasicIndexs[i].Particulars, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Particulars", @type = "text", @required = "true" } })
                                                        @Html.ValidationMessageFor(model => model.NoticeBasicIndexs[i].Particulars, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        @Html.LabelFor(model => model.NoticeBasicIndexs[i].BasicIndexFile, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                        @Html.TextBoxFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @type = "file", @class = "form-control File required", @required = "true" })
                                                        @Html.ValidationMessageFor(x => Model.NoticeBasicIndexs[i].BasicIndexFile, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>



                                                <div class="row justify-content-center">
                                                    <div class="col-md-3 mt-4">
                                                        <button type="submit" class="btn-block btn btn-secondary">Save</button>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    }
                                    <div class="table-responsive">

                                        <table class="table table-hover table-bordered table-striped text-nowrap mt-4">
                                            <thead>

                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Document Name</th>
                                                    <th>Pages</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.NoticeBasicIndexs.Count() > 0)
                                                {
                                                    foreach (var BasicIndexs in Model.NoticeBasicIndexs.Where(x => x.Particulars != null))
                                                    {
                                                        NBISno++;
                                                        <tr>
                                                            <td>@NBISno</td>
                                                            <td>@BasicIndexs.Particulars</td>
                                                            <td>@BasicIndexs.NoOfPages</td>
                                                            <td>
                                                                <a id="fileLink" href="~/Document/ApplicationDocument/@BasicIndexs.Documents[0].DocumentUrl" target="_blank">
                                                                    @BasicIndexs.Documents[0].DocumentUrl.Substring(0, 10) + "###" + @BasicIndexs.Documents[0].DocumentUrl.Substring(BasicIndexs.Documents[0].DocumentUrl.LastIndexOf('.'))
                                                                </a>

                                                                <a title="Delete" href="@Url.Action("DeleteBasicIndex","ApplicationDocument",new { id=BasicIndexs.NoticeBasicIndexId ,ApplicationDocumentID=Model.ApplicationDocumentID})">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>