﻿@model UPCourt.Web.Models.ApplicationDocumentIndexMvcModel
@using UPCourt.Web.Core;

@{
    int ApplicationCounter = 0;

    ViewBag.Title = "Application Document";

}

<style>
    .input-error {
        border-color: #dc3545;
        padding-right: 2.25rem;
    }

    .red {
        color: #dc3545;
    }

    .select2-selection__choice {
        background-color: #b200ff !important;
    }
</style>

<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-file-alt"></i>
                                View Application Details
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Registered Date</th>
                                        <th>Application Type</th>
                                        <th>Applicant Name</th>
                                        <th>Stage</th>
                                        <th width="100">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var Application in Model.ApplicationDocuments)
                                    {
                                        ApplicationCounter++;
                                        <tr class="tr-class-2">
                                            <td>@ApplicationCounter</td>
                                            <td>@Application.InsertedOn</td>
                                            <td>@Application.ApplicationTypeID</td>
                                            <td>@Application.ApplicantName</td>
                                            <td>@Application.FinalStatus</td>
                                            <td>
                                                @if (Application.FinalStatus.ToString() == "Draft")
                                                {
                                                    <a title="Edit" href="@Url.Action("Edit","ApplicationDocument",new { id = Application.ApplicationDocumentID })">
                                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                                    </a>
                                                    <a title="Confirm" onclick="ConfirmSumit('@Application.ApplicationDocumentID')">
                                                        <i class="fa fa-eye text-info mr-2 "></i>
                                                    </a>
                                                    <a title="Delete" onclick="ConfirmAppDelete('@Application.ApplicationDocumentID')">
                                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                    </a>
                                                }

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")

    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/Scripts/Court/CommonNotice.js"></script>
    <script src="~/Scripts/Court/ApplicationDocument.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
}

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example2").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example3").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    });
</script>