﻿@model UPCourt.Web.Models.SubjectMvcModel

@{
    ViewBag.Title = "Edit Subject";
}
<script>
    function showNoticeTypeDetails(obj) {
        $.ajax({
            type: "Get",
            url: "/Subject/GetNoticeTypes",
            data: { "pid": $(obj).val() },
            success: function (response) {
                var Notice = JSON.parse(response);
                $("#CaseNoticeTypeId").empty();
                $("#CaseNoticeTypeId").append('<option value>--Select--</option>');
                Notice.forEach(function (obj, idx) {
                    $("#CaseNoticeTypeId").append($("<option></option>").val(obj.CaseNoticeTypeId).html(obj.Name));
                })
            }
        });
    }
</script>

@using (Html.BeginForm("Edit", "Subject", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.SubjectId)
    @Html.AntiForgeryToken()

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Subject</h3>
        </div>

        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })  <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @maxlength = "250", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ParentNoticeType, "Parent Notice Type", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EnumDropDownListFor(m => m.ParentNoticeType, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%", onchange = "showNoticeTypeDetails(this);", @id = "ddlParentNotice" })
                        @Html.ValidationMessageFor(model => model.ParentNoticeType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CaseNoticeTypeId, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.DropDownListFor(x => Model.CaseNoticeTypeId, ViewBag.NoticeType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @id = "ddlNoticeType" })

                        @Html.ValidationMessageFor(model => model.CaseNoticeTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsActive)
                            @Html.LabelFor(c => c.IsActive, new { @class = "col-sm-2 control-label" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}

<script>
    function validateData() {

        var val = $('#ddlParentNotice').val();
        if (val == "0") {

            ToastError("Please select Parent Notice Type !!!.");
            return false;
        }
        var valNoticeTyp = $('#ddlNoticeType').val();
        if (valNoticeTyp == "" || valNoticeTyp == "0") {
            ToastError("Please select Notice Type !!!.");
            return false;
        }
        else {
            return true;
        }


    }
</script>
