/*== Login Page Style ==*/
.mmk-login {
	width: calc(100% - 30px);
	height: calc(100vh - 30px);
	border: 1px solid #f97d09;
	margin: 15px;
	border-radius: 10px;
	float: left;
	overflow: hidden;
}

.mmk-login-header {
	background: #f97d09;
	text-align: center;
	font-size: 24px;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}

.mmk-login-logo-area {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0;
}

	.mmk-login-logo-area img {
		max-width: 120px;
	}

	.mmk-login-logo-area h1 {
		font-weight: 600;
		font-size: 36px;
	}

	.mmk-login-logo-area .form-group {
		padding-left: 40px;
		background-position: left center;
		background-size: 25px;
		background-repeat: no-repeat;
	}

		.mmk-login-logo-area .form-group.username-div {
			background-image: url(../img/username.png);
		}

		.mmk-login-logo-area .form-group.password-div {
			background-image: url(../img/password.png);
		}

	.mmk-login-logo-area input.form-control {
		height: 50px;
		border: none;
		border-bottom: 1px solid #ccc;
		border-radius: 0;
		padding: 0;
	}

	.mmk-login-logo-area input[type="submit"] {
		height: 50px;
		border: none;
		border-bottom: 1px solid #f97d09;
		border-radius: 0;
		padding: 0;
		background: #f97d09;
		width: calc(100% - 40px);
		margin-left: 40px;
		color: #fff;
	}

/*== Preloader Style ==*/
.preloader {
	background: rgba(255, 255, 255, 0.5);
}

.preloader .preloader-logo-container {
	background: rgba(255, 255, 255, 0.5);
	padding: 0;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

/*.preloader .preloader-logo-container:after { content: ""; border-left: 10px solid #fff; border-right: 10px solid #fff; border-top:10px solid transparent; border-bottom:10px solid transparent; left: -15px; right: -15px; top: -15px; bottom: -15px; position: absolute; display: block; border-radius: 50%; }*/

/*== Sidebar Style ==*/
/*.main-sidebar { background: #f97d09; }*/

/*== Sidebar css comment  ==*/
/*.main-sidebar .sidebar { padding:0; }

.main-sidebar .sidebar .user-panel { background: #f97d09; margin:0 !important; padding:15px; border-bottom: none; }

.main-sidebar .sidebar .form-inline { padding:15px; }

.main-sidebar .sidebar nav { padding: 0 15px; margin: 0 !important; }

.layout-fixed .wrapper .main-sidebar .sidebar { height: calc(100vh - 15px); }

.main-sidebar .user-panel, .main-sidebar .user-panel .info { flex-direction: column; align-items: center; justify-content: center; }

.main-sidebar .user-panel img { height: auto; width: 100px; box-shadow: none !important; }

.main-sidebar .user-panel .info a { color:#fff; }*/

/*== Sidebar css comment end ==*/

/*.main-sidebar .form-inline input.form-control { background: #fff; border-color: #c35e00; border-radius: 0; color:#000; }

.main-sidebar .form-inline button { background: #c35e00; border: 1px solid #c35e00; border-radius: 0; }

.main-sidebar .form-inline button:hover { background:#fff; border-color:#fff; color:#f97d09; }*/


/*== Sidebar css comment  ==*/

/*.main-sidebar .nav-sidebar li.nav-item a.nav-link { color: #fff; padding: 14px 0px; border-bottom: 1px solid rgba(255,255,255,0.2); border-radius: 0; font-size: 16px; margin: 0; width:100%; }
 
.main-sidebar .nav-sidebar li.nav-item:last-child a.nav-link { border-bottom:transparent; }

.main-sidebar .nav-sidebar li.nav-item a.nav-link .right { top: 18px; right: 25px; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }

.main-sidebar .nav-sidebar li.nav-item:hover a.nav-link,
.main-sidebar .nav-sidebar li.nav-item:focus a.nav-link,
.main-sidebar .nav-sidebar li.nav-item.active a.nav-link { background:none; color:#f97d09; }

.main-sidebar .nav-sidebar li.nav-item:hover a.nav-link .right { right:10px; }

.main-header { position: fixed; width: calc(100% - 250px); right: 0; top: 0; }

.main-header .navbar-nav .nav-item.nav-region a i { margin-left:5px; }

.main-header .navbar-nav .nav-item.show a i { color:#f97d09; }*/

/*== Sidebar css comment end ==*/

/*.main-header { background: #f97d09; border-bottom-color:#c35e00; position: fixed; width: calc(100% - 250px); right: 0; top: 0; }

.main-header .navbar-nav .nav-item .nav-link { color:#fff; }

.navbar-badge { top:4px; }*/

/*== Region Sidebar ==*/
.region-sidebar {
	width: 250px;
	position: fixed;
	height: calc(100vh - 57px);
	top: 57px;
	right: -300px;
	background: #f97d09;
	z-index: 999;
	padding: 15px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

	.region-sidebar.open {
		right: 0;
	}

	.region-sidebar h2 {
		font-size: 18px;
		color: #fff;
		font-weight: 400;
		border-bottom: 1px solid #fff;
		padding: 0 0 15px;
	}

	.region-sidebar ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
	}

		.region-sidebar ul li {
			display: block;
			padding: 10px 0 10px 30px;
			background-image: url(../img/list-icon.png);
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 16px auto;
		}

			.region-sidebar ul li.active {
				background-image: url(../img/active-list-icon.png);
			}

			.region-sidebar ul li a {
				color: #fff;
				font-size: 16px;
			}

/*==  ==*/
.content-wrapper {
	padding-top: 15px;
}

	.content-wrapper .content-header {
		background: #343a40;
		width: calc(100% - 30px);
		margin: 15px;
		padding: 10px 15px;
		border-radius: 4px;
	}

		.content-wrapper .content-header h1 {
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 30px;
		}

		.content-wrapper .content-header .breadcrumb {
			margin: 4px 0;
		}

			.content-wrapper .content-header .breadcrumb li,
			.content-wrapper .content-header .breadcrumb li a {
				color: #fff;
			}

.breadcrumb-item + .breadcrumb-item::before {
	color: #fff;
}

/*== Main Section ==*/
.card-theme-color {
}

	.card-theme-color .card-header { /*background:#f97d09; color:#fff;*/
	}

		.card-theme-color .card-header .card-title {
			color: #f97d09;
			font-size: 20px;
		}

.card-total {
	text-align: right;
}

	.card-total i {
		margin-left: 10px;
	}

.mmk-table tr th {
	background: #f97d09;
	color: #fff;
	text-align: center;
}

.active-cases {
	background: #009688;
	color: #fff;
	font-size: 48px;
	padding: 15px 20px;
}

.inactive-cases {
	background: #2da7df;
	color: #fff;
	font-size: 48px;
	padding: 15px 20px;
}

.pending-cases {
	background: #d8331a;
	color: #fff;
	font-size: 48px;
	padding: 15px 20px;
}

.download-button {
	background: none;
	border: none;
	padding: 0;
}

	.download-button:hover {
		color: #f97d09;
	}

@media screen and (max-width:991px) {
	.main-header {
		width: 100%;
	}
}


/* New Css sidebar*/

.content-wrapper .content-header {
	display: none
}

.navbar-white {
	background-color: #f17d3a;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff
}

.topregiondrop {
	padding: 0px;
	height: 28px;
	margin-top: 7px;
	border: none;
	border-radius: 0;
	font-size: 14px;
}

.os-content {
	padding: 0 !important
}

.custom-userpanel {
	background: #f7f7f7;
	border: none !important;
	padding-bottom: 7px !important;
	overflow: inherit;
}

	.custom-userpanel img {
		width: 54px;
		margin-top: -10px;
	}

	.custom-userpanel .info a, .custom-userpanel .info a:hover {
		font-size: 20px;
		color: #000;
		font-weight: bold;
	}

	.custom-userpanel .info p {
		margin-bottom: 0;
		font-size: 13px;
		opacity: .6;
		margin-top: -5px;
	}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #f17d3a;
}

[class*=sidebar-dark-] {
	background-color: #ffffff;
}



.nav-sidebar .nav-item > .nav-link {
	position: relative;
	width: auto;
	color: #585a5d;
	padding: 11px 1rem;
}

.nav-sidebar .nav-treeview .nav-item > .nav-link {
	padding: 3px 1rem;
	font-size: 15px;
}

[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link {
	color: #585a5d;
}

.nav-sidebar > .nav-item .nav-icon {
	margin-left: .05rem;
	font-size: 14px !important;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-dark-] .nav-sidebar > .nav-item:hover > .nav-link, [class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link:focus {
	background-color: rgba(255,255,255,0);
	color: #f17d3a;
}

[class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link:focus, [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link:hover {
	color: #000;
}

.nav-pills .nav-link {
	border-radius: 0px
}

.login-newmsg {
	font-size: 20px;
	font-weight: 700;
}

.table-bordered tr.bg-danger td {
	border: 1px solid #ffffff;
}

.accordion .card-header {
	background: #f3f3f3 !important;
}

.caseaccordian-head {
	font-size: 17px;
	color: #333;
	font-weight: bold;
	padding: 0;
}

	.caseaccordian-head.collapsed {
		color: #868686;
	}


.card-primary:not(.card-outline) > .card-header {
	background-color: #007bff;
	background: #f3f3f3 !important;
}

.card-title {
	font-size: 17px;
	color: #333;
	font-weight: bold;
	padding: 0;
}


.active .bs-stepper-circle {
	background-color: #f17d3a;
}

.bs-stepper-content .card-header a.float-right {
	color: #333;
	font-weight: bold;
	padding: 0;
	cursor: pointer
}

.btn-primary {
	background-color: #f17d3a;
	border-color: #f17d3a;
}

	.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
		background-color: #632600 !important;
		border-color: #632600 !important;
	}

.counselor-add {
	font-size: 20px;
	border-bottom: #f17d3a thin solid;
	padding-bottom: 8px;
	font-weight: bold;
	color: #f17d3a;
	margin-bottom: 15px;
	margin-top: 20px;
}


.case-viewdetail .form-group label.control-label, .case-viewdetail .form-group label {
	margin-bottom: 0 !important;
	color: #8c8c8c;
	font-weight: normal;
}
.case-viewdetail .form-group .form-control:disabled, .case-viewdetail .form-group .form-control[readonly] {
	background: #fff !important;
	border: none !important;
	border-bottom: #c5c5c5 thin solid !important;
	padding: 0 !important;
	height: auto !important;
	color: #000; 
	font-size: 17px;
	padding-bottom: 5px !important;
	border-radius: 0;
}


/*--------Switch Css-------*/
.toogleSwitch { font-size:12px; color:#000 }

.switch {
	position: relative;
	display: inline-block;
	width: 47px;
	height: 20px;
	margin-bottom: 0;
}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: none;
	border: #9e9e9e thin solid;
	-webkit-transition: .4s;
	transition: .4s;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 11px;
		width: 12px;
		left: 4px;
		bottom: 4px;
		background-color: #9e9e9e;
		-webkit-transition: .4s;
		transition: .4s;
	}

input:checked + .slider {
	background-color: none;
	border: #f17d3a thin solid
}

input:focus + .slider {
	box-shadow: none;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background: #f17d3a;
}

.slider.round {
	border-radius: 34px;
}

	.slider.round:before {
		border-radius: 50%;
	}

/*--------Switch Css-------*/


.text-primary {
	color: #f17d3a !important
}
.fa-iconsize { font-size:17px }

.table td {
	padding:6px 8px !important;
	font-size: 15px !important;
}

.table th {
	padding: 8px !important;
	font-size: 14px !important;
}

.form-control {
	font-size: 14px;
}

.form-group label, #phoneNumbers label, #Addresses label {
	font-size: 14px;
	margin-bottom: 3px;
	font-weight: 400 !important;
}


.freshcasesinner label:not(.form-check-label):not(.custom-file-label) {
	font-weight: 400;
	font-size: 15px;
}

.freshcasesinner .card.card-outline-tabs .card-header a {
	border-top: 3px solid transparent;
	color: #a7a7a7;
	padding: 11px;
}

.freshcasesinner .card-primary.card-outline-tabs > .card-header a.active {
	border-top: 3px solid #007bff;
	color: #000;
}


.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #f17d3a;
	outline: 0;
	box-shadow: 0px 0px 10px 2px rgba(241,125,58,0.2);
}