﻿@model UPCourt.Web.Models.CaseFilterMvcModel

@{
    ViewBag.Title = "Department Case";
    var ASno = 0;
    UPCourt.Entity.UserSystemRole UserSystemRoleId = UPCourt.Web.Models.ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId;
    var GovDeptId = UPCourt.Web.Models.ApplicationUser.GetUserFromIdentity(User).User.GovernmentDepartmentId;
    var isAdmin = UPCourt.Web.Models.ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId == UPCourt.Entity.UserSystemRole.Admin;
    var isIOC = UPCourt.Web.Models.ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId == UPCourt.Entity.UserSystemRole.GovDeptOIC;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Management</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Management
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseStatusActive)
                                    @Html.DropDownListFor(x => Model.CaseStatusActive, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.ParentNoticeTypeActive)
                                    @Html.DropDownListFor(x => Model.ParentNoticeTypeActive, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseDateFrom)
                                    @Html.EditorFor(model => model.CaseDateFrom, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date From" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseDateTo)
                                    @Html.EditorFor(model => model.CaseDateTo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date To" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseNoActive)
                                    @Html.EditorFor(model => model.CaseNoActive, new { htmlAttributes = new { @class = "form-control", @placeholder = "Case No" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CasePetitionerNameActive)
                                    @Html.EditorFor(model => model.CasePetitionerNameActive, new { htmlAttributes = new { @class = "form-control", @placeholder = "Petitioner Name" } })
                                </div>
                                <div class="col-md-1 form-group">
                                    <label for="exampleInputEmail1">&nbsp;</label>
                                    <div class="pull-right">
                                        <button id="btnDipCases" type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>


                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Case No.</th>
                                        <th>Case Type</th>
                                        <th>Petitioner</th>
                                        <th>Respondent</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Case in Model.AcctiveCases)
                                    {
                                        ASno++;
                                        <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                            <td>@ASno</td>
                                            <td>@Case.PetitionNo</td>
                                            <td>@Case.Notice.NoticeType</td>

                                            <td> @(Case.Notice.Petitioners.Where(x=>x.IsFirst==true).FirstOrDefault()?.Name)</td>
                                            <td>
                                                @if (Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                {
                                                    <span>
                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                        (@(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                    </span>
                                                }
                                            </td>
                                            <td>
                                                <span class="badge badge-warning">
                                                    @Case.CaseStatus.Name
                                                </span>
                                            </td>
                                            <td>
                                                <a class="" title="View" href="@Url.Action("CaseView",  new { id = Case.CaseId })">
                                                    <i class="fa fa-eye text-info fa-iconsize mr-2 "></i>
                                                </a>
                                                @if (!isIOC && (UserSystemRoleId == UPCourt.Entity.UserSystemRole.Admin || UserSystemRoleId == UPCourt.Entity.UserSystemRole.GovDeptHead || UserSystemRoleId == UPCourt.Entity.UserSystemRole.GovDeptDegUser))
                                                {
                                                    var noticeRespondant = isAdmin ? Case.Notice.NoticeRespondents.FirstOrDefault() : Case.Notice.NoticeRespondents.Where(x => x.GovernmentDepartmentId == GovDeptId).FirstOrDefault();
                                                    var govDepOICId = Case.Notice.NoticeRespondents.Where(x => x.GovernmentDepartmentId == GovDeptId || isAdmin).FirstOrDefault()?.GovernmentdepartmentOICID;
                                                    <a href="#" onclick="AssignOIC('@Case.CaseId', '@noticeRespondant.GovernmentdepartmentOICID', @ASno);">
                                                        @Html.HiddenFor(name => noticeRespondant.GovOIC.OICName, new { @id = "IOCID" + ASno })
                                                        @if (govDepOICId == Guid.Empty || govDepOICId == null)
                                                        {
                                                            <i class="fa fa-check-square text-warning fa-iconsize mr-2 " title="Assign OIC"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-exchange-alt text-warning fa-iconsize mr-2 " title="Change OIC"></i>
                                                        }
                                                    </a>
                                                }
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    }
                </div>
            </div>

        </div>


    </div>
</section>




@section Scripts {

    <script>
        $(function () {
            $("#example1").DataTable({
                "bFilter": false, "iDisplayLength": 20, "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>

    <script>
    var selectCourt = "";
    function AssignOIC(CaseGuid, IOCId, adno) {
        debugger;
        $("#CaseGuid").val(CaseGuid);
        GetIOC(IOCId);
        if (IOCId != "" && IOCId != "00000000-0000-0000-0000-000000000000")           {
            $("#OldOIC").text($("#IOCID" + adno).val());
            $("#assignedOIC").show();
        }
        else
            $("#assignedOIC").hide();

        $("#AssignOICModal").modal("show");
    }

    function GetIOC(IOCID) {
        var govOICs = $("#GovOIC");
        $.ajax({
            type: 'GET',
            async:false,
            url: '@Url.Action("GovOIC")',
            data: { "IOCId": IOCID },
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                var adv = JSON.parse(response);

                govOICs.empty();
                govOICs.append($('<option></option>').val('').html('--Select--'));
                for (var i = 0; i < adv.length; i++) {
                    govIOCs.append($('<option></option>').val(adv[i].GovernmentdepartmentiocID).html(adv[i].IOCName));
                }
            }
        });
    }

    </script>
}
<div class="modal" id="AssignOICModal" tabindex="-1" role="dialog" aria-labelledby="AssignOICModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AssignOIC", "DepartmentCase", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Assign OIC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group" style="display:none;" id="assignedOIC">
                            <label for="exampleInputEmail1">Assigned OIC</label>
                            @Html.LabelFor(model => model.GovOIC)
                            <label id="OldOIC" class="form-control"></label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="exampleInputEmail1">Select OIC</label>
                            @Html.Hidden("CaseGuid")
                            @Html.DropDownListFor(x => Model.GovOIC, ViewBag.GovIOC as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnAssignedIOC" class="btn btn-primary">Assign</button>
                </div>
            }
        </div>
    </div>
</div>