﻿@model UPCourt.Web.Models.BenchTypeMvcModel

@{
    ViewBag.Title = "Add Bench Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "BenchType", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.BenchTypeID)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Bench Type</h3>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @id = "txtName", @maxlength = "75", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @id = "txtDescripton", @type = "text", @maxlength = "150", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.NumberOfJudge, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EditorFor(model => model.NumberOfJudge, new { htmlAttributes = new { @class = "form-control", @id = "txtNumber", @placeholder = "Enter Number", @type = "Number", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.NumberOfJudge, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3" style="text-align:left">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" }) <br />
                        @Html.CheckBoxFor(m => (m.IsActive), new { @class = "form-control checkbox" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "BenchType")" class="btn btn-primary">
                    Back
                </a>
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

<script>
    function validateData() {
        // debugger;

        var val = $("#txtNumber").val();
        if (val != "") {
            if (parseInt(val) <= 0) {
                ToastError("No of judges must be greater than 0 !!!");
                return false;
            }
            else if (parseInt(val) > 50) {
                ToastError("More than 50 judges are not allowed !!!");
                return false;
            }
        }
        //  debugger;
        if ($("#txtName").val() != "") {
            var txtvalue = $("#txtName").val();
            if (isValid(txtvalue)) {
                //return true;
            }
            else {
                ToastError("Special character are not allowed.");
                return false;

            }
        }

        if ($("#txtDescripton").val() != "") {
            var txtvalue = $("#txtDescripton").val();
            if (isValid(txtvalue)) {
                return true;
            }
            else {
                ToastError("Special character are not allowed.");
                return false;

            }
        }
    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);

    }
</script>