﻿@model UPCourt.Web.Models.AuditMvcModels
@{
    ViewBag.Title = "Audit Log";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Audit</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Audit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-file-alt"></i>
                    Audit Report
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @*@using (Html.BeginForm("Audit", "Report", FormMethod.Post))
                    {*@
                <form id="input-form">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-2 form-group">
                            @Html.LabelFor(model => model.Audit_Type)
                            @Html.DropDownListFor(x => Model.Audit_Type, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Audit_Type, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.LabelFor(model => model.Action_by)
                            @Html.DropDownListFor(x => Model.Action_by, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Action_by, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.LabelFor(model => model.Action)
                            @Html.DropDownListFor(x => Model.Action, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Action, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.LabelFor(m => m.from)
                            @Html.TextBoxFor(m => m.from, new { @class = "form-control", @placeholder = "dd/MM/yyyy", @type = "date" })
                            @Html.ValidationMessageFor(m => m.from, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.LabelFor(m => m.to)
                            @Html.TextBoxFor(m => m.to, new { @class = "form-control", @placeholder = "dd/MM/yyyy", @type = "date" })
                            @Html.ValidationMessageFor(m => m.from, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 form-group">
                            <label>&nbsp;</label><br>
                            <button type="button" onclick="return GetReport()" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                @*}*@
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-striped">
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/FrontEnd/plugins/datatables/jquery.dataTables.js"></script>
    <script>
        function GetReport() {
            if ($('#Audit_Type').val() == '0') {
                alert('Audit Type is Required');
                return false;
            }

            const data = {};
            data.Audit_Type = $('#Audit_Type').val();
            data.from = $('#from').val();
            data.Audit_Type = $('#Audit_Type').val();
            data.Action = $('#Action').val();
            data.Action_by = $('#Action_by').val();

            $.ajax({
                url: '/Report/AuditList',
                type: "POST",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    // console.log(result);
                    BindTable('example2', JSON.parse(result))
                },
                error: function (err) {
                    console.log("Error", err.statusText);
                }
            });
        }
        function GetDropdown() {
            $.ajax({
                url: '/Report/BindDropDown',
                type: "POST",
                success: function (result) {
                    const data = JSON.parse(result);

                    BindDropdown(data.Table, 'Audit_Type', 'table_name', 'table_name', 'Select');
                    BindDropdown(data.Table1, 'Action_by', 'name', 'name', 'Select');
                    BindDropdown([{ name: 'Modified' }, { name: 'Added' }], 'Action', 'name', 'name', 'Select');
                },
                error: function (err) {
                    //alert("Error", err.statusText);
                    console.log("Error", err.statusText);
                }
            });
        }
        function BindDropdown(data, Dropdown_Id, Value, text, ZeroIndex) {
            const DataCount = data.length;
            var html = '';
            if (data != undefined && DataCount > 0) {
                if (ZeroIndex != '0') 32
                html = '<option value="0">---' + ZeroIndex + '---</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i][Value] + '">' + data[i][text] + '</option>';
                }
            }
            else {
                html = '<option value="0">---' + ZeroIndex + '---</option>'
            }
            $('#' + Dropdown_Id).html(html);
        }
        function BindTable(tblid, data) {
            try {
                const totalcount = data.length;
                if (totalcount == 0) {
                    $('#' + tblid).html('<tr style="text-align:center;"><td>No record Found</td></tr>');
                    return false;
                }
                var html = '<thead><tr>';
                var datahead = Object.keys(data[0]);
                const totalhead = datahead.length;
                for (var p = 0; p < totalhead; p++) {
                    html += '<th>' + datahead[p].replace(/_/g, ' ').replace(/per/g, '%') + '</th>';
                }
                html += '</thead><tbody>';
                for (var i = 0; i < totalcount; i++) {
                    html += '<tr>';
                    for (var k = 0; k < totalhead; k++) {
                        html += '<td>' + data[i][datahead[k]] + '</td>';
                    }
                    html += '</tr>';
                }
                html += '</tbody>';
                $('#' + tblid).html(html);
            } catch (e) {
                console.log(e);
            }
        }
        $(function () {
            GetDropdown();
        })
    </script>


}