﻿@using UPCourt.Web.Core;
@using UPCourt.Web.Models;
@using UPCourt.Entity;
@using System.Globalization;

@{
    var user = ApplicationUser.GetUserFromIdentity(User);



    var Notifications = user != null ? AppNotifications.GetNotifications(user.UserId) : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Advocate General</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!--Date Picker-->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/dropzone/min/dropzone.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Alerts -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.css" />
    <!-- Logo -->

    <link rel="stylesheet" href="~/FrontEnd/admincss/new-style.css" />


    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/FrontEnd/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/FrontEnd/plugins/sparklines/sparkline.js"></script>
    <!-- Select2 -->
    <script src="~/FrontEnd/plugins/select2/js/select2.full.min.js"></script>

    <!-- jQuery Knob Chart -->
    <script src="~/FrontEnd/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
    <script src="~/FrontEnd/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/FrontEnd/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/FrontEnd/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/FrontEnd/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/FrontEnd/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.js"></script>

    <script src="~/Scripts/Court/MenueHandler.js"></script>
    <script src="~/FrontEnd/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/FrontEnd/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>

    <script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/FrontEnd/plugins/jszip/jszip.min.js"></script>
    <script src="~/FrontEnd/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/FrontEnd/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/Court/ToastMessage.js"></script>

    @RenderSection("scripts", required: false)

    @if (TempData["SystemMessage"] != null)
    {
        <script type="text/javascript">
                         DisplayMessage(JSON.parse("@TempData["SystemMessage"]".replace(/&quot;/g, '"')))
        </script>
    }

    <script>

        $(function () {
            $("#showPass").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#txtPassword").attr("type", "text");
                } else {
                    $("#txtPassword").attr("type", "password");
                }
            });
        });

        function ShowLoader() {
            const $preloader = $('.preloader')
            if ($preloader) {
                $preloader.css('height', 700)
                setTimeout(() => {
                    $preloader.children().show()
                }, 200)
            }
        }

        function HideLoader() {
            const $preloader = $('.preloader')
            if ($preloader) {
                $preloader.css('height', 0)
                setTimeout(() => {
                    $preloader.children().hide()
                }, 200)
            }
        }

        function confirmlogout() {
            debugger;
            Swal.fire({
                title: 'Are you sure?',
                text: "you want to logout?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Logout!'
            }).then((result) => {
                //alert(result.isConfirmed);
                if (result.isConfirmed) {
                    window.location.replace('@Url.Action("Logout", "Login")');
                }
            });
        }




    </script>
    <style>
        .dropdown-menu-lg {
            max-width: 532px;
            min-width: 548px;
            padding: 0;
        }

        .nav-sidebar .nav-item .nav-link.active {
            background-color: #f17d3a !important;
            color: #fff !important;
        }

        .project-actions {
            width: 100px;
        }
    </style>
    <script>
        /** add active class and stay opened when selected */
        var url = window.location;

        // for sidebar menu entirely but not cover treeview
        $('ul.nav-sidebar a').filter(function () {
            return this.href == url;
        }).addClass('active');

        // for treeview
        $('ul.nav-treeview a').filter(function () {
            return this.href == url;
        }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <div class="preloader-logo-container">
                <img src="~/FrontEnd/admincss/loading.gif" alt="Logo" width="300">
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @if (ViewBag.Title != null)
                    {
                        <a class="nav-link">@ViewBag.Title</a>
                    }

                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    @if (user != null && user.User.UserRole.UserSystemRoleId != UserSystemRole.GovDeptHead
                        && user.User.UserRole.UserSystemRoleId != UserSystemRole.GovDeptDegUser
                        && user.User.UserRole.UserSystemRoleId != UserSystemRole.GovDeptOIC
                        && user.User.UserRole.UserSystemRoleId != UserSystemRole.Guest)
                    {

                        <div class="form-group mb-0">
                            <select class="form-control topregiondrop" id="DdlRegion" onchange="SetRegion()">
                                @foreach (var region in user.Regions)
                                {
                                    if (region.RegionId == user.TempRegionId)
                                    {
                                        <option selected="selected" value="@region.RegionId">@region.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@region.RegionId">@region.Name</option>
                                    }

                                }
                            </select>

                        </div>
                    }
                    <script type="text/javascript">
                        function SetRegion() {
                            debugger;
                            var DdlRegion = $('#DdlRegion').val();
                            $.ajax({
                                type: "Post",
                                url: "/Login/SetRegion/",
                                data: { "Regionid": DdlRegion },
                                success: function (response) {
                                    if (response == 'Done') {
                                        window.location.reload();
                                    }
                                },
                                error: function (errorData) { onError(errorData); }
                            });
                        }
                    </script>
                </li>


                <!-- Notifications Dropdown Menu -->
                @if (Notifications != null && Notifications.Count() > 0)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">@Notifications.Count()</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">@Notifications.Count() Notifications</span>
                            @foreach (var item in Notifications.OrderByDescending(i => i.CreatedOn).Take(6))
                            {
                                <div class="dropdown-divider"></div>
                                <a href="@item.RouteValue?nid=@item.Id&s=1@(item.HashId == null || item.HashId == Guid.Empty ? "" : "#" + item.HashId.ToString())" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i>
                                    @if (item.Message.Length > 70)
                                    {
                                        <span>@item.Message.Substring(0, 70) ... </span>
                                    }
                                    else
                                    {
                                        <span>@item.Message </span>
                                    }


                                    <span class="float-right text-muted text-sm">

                                        @if (!string.IsNullOrEmpty(item.RouteValue) && item.RouteValue.Contains("http"))
                                        {
                                            <span style="float: right;" class="btn btn-primary btn-sm" href="@item.RouteValue">
                                                <i class="fas fa-folder">
                                                </i>
                                                View
                                            </span>}
                                    </span>
                                </a>
                            }
                            <div class="dropdown-divider"></div>
                            <a href="~/UserNotifications" class="dropdown-item fa-align-center">
                                Show All Notifications
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">@(Notifications != null ? Notifications.Count() : 0)</span>
                        </a>
                    </li>
                }

                @if (user != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-widget="fullscreen" href="javascript:void" role="button">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="confirmlogout()">
                            <i class="nav-icon fas fa-sign-out-alt mr-2"> </i> Logout
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->

                <div class="logo text-center py-3">
                    <img src="~/FrontEnd/dist/img/NewLogo.png" alt="Logo">
                </div>

                <div class="user-panel mt-3 pb-3 mb-3 d-flex custom-userpanel">
                    <div class="image">
                    </div>
                    <div class="info">
                        @if (user != null)
                        {
                            <a href="#" class="d-block">@user.UserName</a>
                            <p>Last Login: @user.User.LastLogin.ToString("dd-MM-yyyy H:mm tt", CultureInfo.InvariantCulture) </p>
                        }
                    </div>
                </div>



                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                        @{
                            if (user != null)
                            {


                                var ValidPermissions = user.User.UserRole.UserRolePagePermissions.Where(F => !F.PermittedPermissionTypes.IsEmptyCollection()).ToList();
                                string Guid = string.Empty;

                                var MasterMenue = ValidPermissions.Where(F => F.PermittedPermissionTypes.Contains(PagePermissionType.CanView))
                                    .Select(F => F.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>().ParentMenue)
                                    .OrderBy(F => F.GetEnumDisplayAttribute().GetOrder())
                                    .Distinct().ToList();

                                foreach (var ParentMenue in MasterMenue)
                                {
                                    Guid = System.Guid.NewGuid().ToString("N");

                                    var Pages = ValidPermissions.Where(F => F.PermittedPermissionTypes.Contains(PagePermissionType.CanView) &&
                                        F.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>().ParentMenue == ParentMenue
                                    ).Select(F =>
                                    new
                                    {
                                        PagePermission = F.PagePermission,
                                        PagePermissionType = F.PagePermission.PermissionTypes,
                                        PagePermissionAttr = F.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>()
                                    })
                                    .GroupBy(F => F.PagePermissionAttr.DisplayText)
                                    .Select(F => F.First())
                                    .OrderBy(F => F.PagePermissionAttr.DisplayIndex)
                                    .ToList();

                                    var Master = Pages.FirstOrDefault();

                                    if (ParentMenue == UPCourt.Entity.ParentMenue.StandAlone || ParentMenue == UPCourt.Entity.ParentMenue.UserCredentialRequest)
                                    {
                                        var ViewPermission = Master.PagePermission.PermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                        if (ViewPermission.IsNull()) { continue; }
                                        var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();

                                        <li class="nav-item">
                                            <a href="@Url.Action(PagePermissionTypeAttr.ActionName, Master.PagePermissionAttr.ControllerName)"
                                               class="nav-link" page="@Master.PagePermissionAttr.ControllerName" identifier="@Guid">
                                                <i class="@Master.PagePermissionAttr.IconClass"></i>
                                                <p>
                                                    @Master.PagePermissionAttr.DisplayText
                                                </p>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" identifier="@Guid">
                                                <i class="nav-icon fas fa-th"></i>
                                                <p>
                                                    @Master.PagePermissionAttr.ParentMenue.GetEnumDisplayAttribute().GetDescription()
                                                    <i class="fa fa-angle-left right"></i>
                                                </p>
                                            </a>

                                            @foreach (var ChildMenue in Pages)
                                            {
                                                var ViewPermission = ChildMenue.PagePermission.PermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                                if (ViewPermission.IsNull()) { continue; }
                                                var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();

                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="@Url.Action(PagePermissionTypeAttr.ActionName, ChildMenue.PagePermissionAttr.ControllerName)"
                                                           class="nav-link" page="@ChildMenue.PagePermissionAttr.ControllerName" parent="@Guid">
                                                            <i class="@ChildMenue.PagePermissionAttr.IconClass"></i>
                                                            <p>@ChildMenue.PagePermissionAttr.DisplayText</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            }
                                        </li>

                                    }
                                }

                            }



                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>


        </aside>

        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
</body>
</html>



