﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Advocate General</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/FrontEnd/front/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/material.css">
    <link rel="stylesheet" href="~/FrontEnd/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontEnd/front/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/front/css/responsive.css">
    <!-- Alerts -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.css" />
    <!-- ./wrapper -->
    <!-- /.content -->
    <script src="~/FrontEnd/front/js/jquery-3.3.1.min.js"></script>
    <script src="~/FrontEnd/front/js/jquery-ui.min.js"></script>
    <script src="~/FrontEnd/front/js/popper.min.js"></script>
    <script src="~/FrontEnd/front/js/bootstrap.min.js"></script>
    <script src="~/FrontEnd/front/js/owl.carousel.min.js"></script>
    <script src="~/FrontEnd/front/js/main.js"></script>
    <script>
        $('.carousel').carousel()
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#login").click(function (event) {

                if ($("#public").is(":checked")) {

                    $("#login").attr("href", "/Efiling");
                }
                else {
                    $("#login").attr("href", "/Login/Index");
                }

            });
        });
    </script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <script src="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/Court/ToastMessage.js"></script>
    @RenderSection("scripts", required: false)
    @if (TempData["SystemMessage"] != null)
    {
        <script type="text/javascript">
            DisplayMessage(JSON.parse("@TempData["SystemMessage"]".replace(/&quot;/g, '"')))
        </script>
    }
</head>
<body>
    <header>
        <div class="tophead bg-theme py-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 topleftLink">
                        <a target="_blank" href="http://www.allahabadhighcourt.in/contact.htm">Contact us</a> |  <a target="_blank" href="http://www.allahabadhighcourt.in/helpdesk.html">Help Desk Number</a> | <a href="#">Advocate Directory</a>
                    </div>
                    <div class="col-md-6">
                        <ul class="topGIGW">
                            <li><a class="w-auto no-bg text-white skipcontent" href="@Url.Action("Index", "Home")">Skip to Main Content</a></li>
                            <li class="fontsmallpad"><a href="#" class="mainthemewp"><span>&nbsp;</span></a></li>
                            <li><a href="#" class="darktheme"><span>&nbsp;</span></a></li>
                            <li class="fontsmallpad"><a href="#" id="increasetext"><span>A+</span></a></li>
                            <li class="fontsmallpad"><a href="#" id="resettext"><span>A</span></a></li>
                            <li class="fontsmallpad"><a href="#" id="decreasetext"><span>A-</span></a></li>
                           
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-white menu-cont homefixedHeader">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <a href="@Url.Action("Index", "Home")"><img src="~/FrontEnd/front/images/dark-logo.png" class="mt-2 mb-2 moblogozindex darkLogo" /></a>
                        <a href="@Url.Action("Index", "Home")"><img src="~/FrontEnd/front/images/light-logo.png" class="mt-2 mb-2 moblogozindex lightLogo" /></a>
                    </div>

                    <div class="col-sm-8 col-12 mobile-navigation">
                        <nav class="navbar navbar-expand-md pr-0">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                                <ul class="top-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Efiling")">e-Notice</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Create", "GovermentDepartmentDC")">Add Govt. Dept.</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link loginbtnTop" href="@Url.Action("PublicLogin", "Login")"><i class="fa fa-user"></i> Public Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link loginbtnTop regisbtnTop " href="@Url.Action("Create", "Registration")"><i class="fa fa-sign-in"></i> User Registration</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                </div>


            </div>

        </div>

    </header>


    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/FrontEnd/front/images/flogo.png" class="mb-4" />

                    <div class="row">
                        <div class="col-2 text-center"><img src="~/FrontEnd/front/images/fadd.png" /></div>
                        <div class="col-10 pl-0 mb-3 f-txt verdana">@System.Configuration.ConfigurationManager.AppSettings["AGAddress"]</div>

                        <div class="col-2 text-center"><img src="~/FrontEnd/front/images/fphone.png" /></div>
                        <div class="col-10 pl-0 mb-3 f-txt verdana">
                            @System.Configuration.ConfigurationManager.AppSettings["AGContact1"].ToString()
                            <br />
                            @System.Configuration.ConfigurationManager.AppSettings["AGContact2"].ToString()
                        </div>
                        <div class="col-2 text-center"><img src="~/FrontEnd/front/images/fmail.png" /></div>
                        <div class="col-10 pl-0 mb-3 f-txt verdana">@System.Configuration.ConfigurationManager.AppSettings["AGEmail"]</div>
                    </div>

                </div>


                <div class="col-md-8 footerlink">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Quick Govt. Web Links</h4>
                            <div class="row">
                                <div class="col-md-5 col-6">
                                    <ul>
                                        <li><a target="_blank" href="https://www.up-rera.in/index">RERA</a></li>
                                        <li><a target="_blank" href="https://www.uperc.org/">ERC</a></li>
                                        <li><a target="_blank" href="https://nclt.gov.in/#demo">NCLT</a></li>
                                        <li><a target="_blank" href="http://upbarcouncil.com/">Bar Council UP</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-7 col-6">
                                    <ul>
                                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/">High Court</a></li>
                                        <li><a target="_blank" href="https://main.sci.gov.in/">Suprem Court of India</a></li>
                                        <li><a target="_blank" href="@Url.Action("Index", "LawOfficerList")">State Law Officers List Allahbad</a></li>
                                        <li><a target="_blank" href="@Url.Action("LckStateLawofficer", "LawOfficerList")">State Law Officers List Lucknow</a></li>
                                       
                                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/links.htm">Websites Links</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Site Links</h4>
                                </div>
                                <div class="col-md-12 col-6">
                                    <ul>
                                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/contact.htm">Contact Us</a></li>
                                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/intro.htm">About Us</a></li>
                                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/admin/">Administration</a></li>
                                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/helpdesk.html">Help Desk Number</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-12 col-6">
                                    <ul>
                                        <li><a href="#">Advocate Directory</a></li>
                                        <li><a href="#">Holiday</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>



                    </div>

                </div>

                <div class="col-md-12">
                    <ul class="newlinksfull">
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/helpdesk.html">Help Desk Number</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/egatepass.html">eGate Pass</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/intro.htm">About Us</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/dc.htm">District Courts</a></li>
                        <li><a target="_blank" href="http://www2.allahabadhighcourt.in/ccourt/ReportsT.jsp">Commercial Court/Division</a></li>
                        <li><a target="_blank" href="https://dc.allahabadhighcourt.in/login">e-Services for Judicial Officers</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/admin/deputation.html#Registry">Judicial Officers in Registry</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/library/">Library</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/mediation/">Mediation</a></li>
                        <li><a target="_blank" href="http://www2.allahabadhighcourt.in/misc/museum/index.html">Law Museum &amp; Archives</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/mig/index.html">MIG Legal Aid Society</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/pgsmail.html">Public Grievances &amp; Suggestions</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/publications.html">Publications</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/advocate/">Roll of Advocates</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/rti/">RTI</a></li>
                        <li><a target="_blank" href="http://www.sclsc.nic.in/">SC Legal Services</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/hclsc.html">HC Legal Services</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/links.htm">Web Links</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/admin/">Administration</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/Calendar/calendar.htm">Calendar</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/calendar/itemWiseList.jsp?group=5">Notification/Order</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/screenreading.html">Screen Reading</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/disclaimer.html">Disclaimer</a></li>
                        <li><a target="_blank" href="http://www.allahabadhighcourt.in/contact.htm">Contact Us</a></li>
                    </ul>


                </div>



            </div>
        </div>

        <div class="copyright">
            <p class="verdana">© 2022 Advocate General. All Right Reserved.</p>
            <p class="verdana">Powered By <strong>Sheela Foam Ltd</strong>.</p>
        </div>



    </footer>



    <script>
        $('#increasetext').click(function () {
            curSize = parseInt($('html').css('font-size')) + 1;
            if (curSize <= 21)
                $('html').css('font-size', curSize);
        });

        $('#resettext').click(function () {
            if (curSize != 16)
                $('html').css('font-size', 16);
        });

        $('#decreasetext').click(function () {
            curSize = parseInt($('html').css('font-size')) - 1;
            if (curSize >= 11)
                $('html').css('font-size', curSize);
        });


        $(document).ready(function () {
            $(".darktheme").click(function () {
                $("body").addClass("dark-themewp");
            });
            $(".mainthemewp").click(function () {
                $("body").removeClass("dark-themewp");
            });
        });

    </script>


</body>
</html>



