﻿@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="container">
    <div class="breadcrumbnew">
        <a class="active" href="@Url.Action("Index", "Home")">Home</a> <i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "Efiling")">e-Notice</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">e-Notice</h3>
                </div>
                <div class="card-body">
                    <ul class="e-filling-list">
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("PublicLogin", "Login",new { Region="Allahabad" })">1.  File e-Notice for HC Allahabad</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("PublicLogin", "Login",new { Region="Lucknow" })">2.  File e-Notice for HC Lucknow Bench</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "WorkFlow")">3. Instructions for e-Notice</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "DigitlSignIns")">4.  Instructions for Acquiring Digital Signature</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "FAQ")">5.  FAQS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>