﻿@model UPCourt.Web.Models.UserMvcModelExternal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}


<script>
    function checkvalidation() {
        alert("Check all field Before Registration ");
    }
   
</script>
<div class="container">
    @using (Html.BeginForm("Create", "Registration", FormMethod.Post, new { @class = "" }))
    {
        @Html.HiddenFor(model => model.UserId)
        @Html.AntiForgeryToken()


        <div class="breadcrumbnew">
            <a href="@Url.Action("Index", "Home")" class="active">Home</a> <i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "Efiling")" class="active">e-Notice</a> <i class="fa fa-angle-right"></i> <a href="#">Register</a>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="card my-4">
                    <div class="card-header no-bg">
                        <p style="float: right; color: #61ab7b; font-size: 16px; ">@ViewBag.Msg</p>
                        <h3 class="f-24 my-1">Register</h3>
                    </div>
                    <div class="card-body py-0">

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-12 tabforminner mb-3">
                                        <label>Login as</label>
                                        <div class="row login-select-dep">

                                            <div class="col-md-6 login-selec">
                                                @Html.RadioButtonFor(model => model.LoginAs, UPCourt.Web.Models.LoginAS.AOR, new { @checked = "true", @class = "with-gap", @name = "groupType1", @id = "AOR" })
                                                <label for="AOR">AOR</label>
                                            </div>
                                            <div class="col-md-6 login-selec">
                                                @Html.RadioButtonFor(model => model.LoginAs, UPCourt.Web.Models.LoginAS.InPerson, new { @class = "with-gap", @name = "groupType1", @id = "InPerson" })
                                                <label for="InPerson">In Person</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group tabforminner">
                                            <label>Full Name*</label>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true", @maxlength = "50", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 tabforminner mb-3">
                                        <label>Gender</label>
                                        <div class="row login-select-dep">
                                            <div class="col-md-4 login-selec">
                                                @Html.RadioButtonFor(model => model.Gender, UPCourt.Entity.UserGender.Male, new { @checked = "true", @class = "with-gap", @name = "groupType3", @id = "Male" })
                                                <label for="Male">Male</label>
                                            </div>
                                            <div class="col-md-4 login-selec">
                                                @Html.RadioButtonFor(model => model.Gender, UPCourt.Entity.UserGender.Female, new { @class = "with-gap", @name = "groupType3", @id = "Female" })
                                                <label for="Female">Female</label>
                                            </div>

                                            <div class="col-md-4 login-selec">
                                                @Html.RadioButtonFor(model => model.Gender, UPCourt.Entity.UserGender.Others, new { @class = "with-gap", @name = "groupType3", @id = "Other" })
                                                <label for="Other">Other</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            <label>Email*</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email-ID", @type = "text", @required = "true" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            <label>Mobile*</label>
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)", @required = "true" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            <label>Aadhar No.*</label>
                                            @Html.EditorFor(model => model.Aadhar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Aadhar No", @type = "text", @required = "true", @minLength = "12", @maxLength = "16" } })
                                            @Html.ValidationMessageFor(model => model.Aadhar, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            <label>Username*</label>
                                            @Html.EditorFor(model => model.LoginId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Username", @type = "email", @required = "true" } })
                                            @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            <label>Password*</label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @type = "password", @required = "true", maxlength = 10 } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            <label>Confirm Password*</label>
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Confirm Password", @type = "password", @required = "true", maxlength = 10 } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    <div class="col-md-12 my-4">
                                        <button type="submit" class="btn btn-warning btn-block displaybtn" @*onclick="checkvalidation(); confirmlogin();"*@>Register</button>
                                        <p style="float: right; color: #61ab7b; font-size: 16px; ">@ViewBag.Msg</p>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <div class="border-bottom"></div>
                                    </div>


                                    <div class="col-md-12 text-center">
                                        <a href="@Url.Action("PublicLogin", "Login")">Click here to Login</a>
                                    </div>

                                </div>


                            </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>


    }
</div>


