﻿@model IEnumerable<UPCourt.Web.Models.GovDesignationMvcModel>
@{
    ViewBag.Title = "Index";
    int i = 0;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>SNo</th>
                            <th>Department Name</th>
                            <th>Designation Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i += 1;
                            <tr class="tr-class-2">
                                <td>@i</td>
                                <td>@(item.GovermentDepartment?.Name)</td>
                                <td>@item.DesignationName</td>
                                <td>@item.POCEmail</td>
                                <td>@item.Status</td>
                                <td class="noExport">
                                    <a title="Edit" href="@Url.Action("Edit", "GovDesignation", new { id = item.GovernmentDesignationId })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" onclick="ConfirmDelete('@item.GovernmentDesignationId','@item.DesignationName','GovDesignation')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    @Scripts.Render("~/FrontEnd/plugins/datatables/js")
}