﻿@model IEnumerable<UPCourt.Web.Models.RequestDocumentModel>

@{
    ViewBag.Title = "GetDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetDocuments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecursiveLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRecursiveLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GivenAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SharedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentRequestor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GovDeptComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentPath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecursiveLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxRecursiveLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentRequestor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GovDeptComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentPath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
