﻿@model IEnumerable<UPCourt.Web.Models.RequestDocumentModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Request Document</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Notifications</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title float-right">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-secondary" })
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CaseId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DocumentId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RequestedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RequestedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GivenAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SharedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommentRequestor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GovDeptComment)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DocumentStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Document_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModifyBy)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DocumentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestedAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GivenAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SharedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CommentRequestor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GovDeptComment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DocumentStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Document_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModifyBy)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#modalUploadFile1" data-id="@item.Id" onclick="fn_OpenUploadModal(this);">
                                            <i class="fas fa-folder"></i>
                                            Send Document
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalUploadFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <input type="file" id="fileRequestDoc" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-sm">
                            Send Document
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    <script>
        function fn_OpenUploadModal(e) {
            const accessKey = $(e).attr('data-id');
            $('#modalUploadFile').attr('target-id', accessKey);
            $('#modalUploadFile').modal('show');
        }

        @using UPCourt.Web.Models;
        @{
            var user = ApplicationUser.GetUserFromIdentity(User);
        }

      
    </script>
}
