﻿
@model IEnumerable<UPCourt.Web.Models.RequestDocumentMvcModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Request Document</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Notifications</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Document Requests
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th> Case No</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DocumentName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CommentRequestor)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GovDeptComment)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Document_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequestedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastSubmitDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GivenAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifyBy)
                                    </th>
                                    <th>Action</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CaseNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CommentRequestor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GovDeptComment)
                                        </td>
                                        <td>
                                            @{
                                                if (!string.IsNullOrEmpty(item.Document_Name))
                                                {
                                                    <a href="@item.DocumentPath" class="" title="View" target="_blank"><i class="fa fa-eye text-warning fa-iconsize"></i></a>
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestedAt)
                                        </td>
                                        <td>
                                            @(item.LastSubmitDate == null ? " " : string.Format("{0:dd-MM-yyyy}", item.LastSubmitDate) == "01-01-0001" ? " " : string.Format("{0:dd-MM-yyyy}", item.LastSubmitDate))
                                 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GivenAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifyBy)
                                        </td>
                                        <td>
                                            <a class="" title="Send Document" href="#" data-toggle="modal" data-target="#modalUploadFile1" data-id="@item.Id" case-id="@item.CaseId" onclick="fn_OpenUploadModal(this);">
                                                <i class="fa fa-save text-primary fa-iconsize"></i>

                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalUploadFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <input type="file" id="fileRequestDoc" accept="image/jpeg,image/jpg,image/png,application/pdf,application/msword, application/vnd.ms-excel" />
                    </div>
                    <div class="col-md-9">
                        <textarea id="DepartmentCommen" class="form-control"></textarea>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-sm" type="button" id="btnUploadFile">
                            Send Document
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function fn_OpenUploadModal(e) {
            const accessKey = $(e).attr('data-id'),
                caseId = $(e).attr('case-id')
            $('#modalUploadFile').attr({ 'target-id': accessKey, 'case-id': caseId });
            $('#modalUploadFile').modal('show');
        }

        @using UPCourt.Web.Models;
        @{
            var user = ApplicationUser.GetUserFromIdentity(User);
        }
        $(document).ready(function () {
            $('#btnUploadFile').click(function () {
                const file = document.getElementById('fileRequestDoc').files;
                if (file.length === 0) {
                    alert('Select file to upload.');
                    return;
                }

                const files = $("#fileRequestDoc").get(0).files;
                const docId = $('#btnUploadFile').parents('#modalUploadFile').attr('target-id');
                const case_Id = $('#btnUploadFile').parents('#modalUploadFile').attr('case-id');
                const GovDeptComment = $('#btnUploadFile').parents('#modalUploadFile').find('#DepartmentCommen').val();

                let formData = new FormData();
                formData.append("Id", docId);
                formData.append("CaseId", case_Id);
                formData.append("GovDeptComment", GovDeptComment);
                formData.append("UploadFile", files[0]);

                $.ajax({
                    url: "@Url.Action("UploadFile", "RequestDocument")",
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formData,
                    success: function (resp) {
                        if (resp.StatusCode === 101) {
                            alert(resp.Message);
                            location.reload();
                        }
                        else {
                            $('#fileRequestDoc').val('');
                            alert(resp.Message);
                        }
                    }
                })
            });
        });
    </script>
}