﻿@model UPCourt.Web.Models.CaseFilterMvcModel

@using UPCourt.Entity;
@{ ViewBag.Title = "Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ASno = 0;
    var DSno = 0;
    var CSno = 0;

    string ALink = "", DLink = "", CLink = "";
    string ATab = "", DTab = "", CTab = "";

    if (ViewBag.CurrentTab == "AcctiveCases") { ALink = "active"; ATab = "show active"; }
    if (ViewBag.CurrentTab == "DisposedCases") { DLink = "active"; DTab = "show active"; }
    if (ViewBag.CurrentTab == "CaseTransfer") { CLink = "active"; CTab = "show active"; }

    string UserRoleName = ViewBag.UserRoleName;

    var IsContext = "display:none;";
    if (UserRoleName.ToLower() == "admin")
    {
        IsContext = "display:block;";
    } }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Management</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            E-Filing
                        </h3>
                    </div>
                    <div class="card-header">
                        <h3 class="card-title float-right">
                            @Html.ActionLink("Create", "Index", "Freshcases", null, htmlAttributes: new { @class = "btn btn-primary" })
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {<!-- /.card-header -->
                        <div class="card-body">
                            <div class="card card-primary card-outline card-outline-tabs">
                                <div class="card-header p-0 border-bottom-0">
                                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @ALink" id="AcctiveCasesLink" data-toggle="pill" href="#AcctiveCases" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">All Active Cases</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @DLink" id="DisposedCasesLink" data-toggle="pill" href="#DisposedCases" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Disposed Cases</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @CLink" id="CaseTransferLink" data-toggle="pill" href="#CaseTransfer" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Case Transfer</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-four-tabContent">
                                        <div class="tab-pane fade @ATab" id="AcctiveCases" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseStatusActive)
                                                    @Html.DropDownListFor(x => Model.CaseStatusActive, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseTypeActive)
                                                    @Html.DropDownListFor(x => Model.CaseTypeActive, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseDateActive)
                                                    @Html.EditorFor(model => model.CaseDateActive, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                                </div>

                                                <div class="col-md-2 form-group" style="@IsContext">
                                                    @Html.LabelFor(model => model.IsContextOrderActive)
                                                    @Html.DropDownListFor(x => Model.IsContextOrderActive, ViewBag.ContextOrder as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-1 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnAcctiveCases" type="submit" name="CurrentTab" value="AcctiveCases" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>


                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Case No.</th>
                                                        <th>Case Type</th>
                                                        <th>Petitioner</th>
                                                        <th>Respondent</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var Case in Model.AcctiveCases)
                                                    {
                                                        ASno++;
                                                        <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>@ASno</td>
                                                            <td>@Case.PetitionNo</td>
                                                            <td>@Case.Notice.NoticeType</td>

                                                            <td> @(Case.Notice.Petitioners.Where(x=>x.IsFirst==true).FirstOrDefault()?.Name)</td>
                                                            <td>
                                                                @if (Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                                        (@(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                                    </span> }
                                                                else
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                                    </span>}
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <a class="" title="Edit" href="@Url.Action("CaseView", "FreshCaseDashbord", new { id = Case.CaseId })">
                                                                    <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                                                </a>


                                                                <a class="" title="Dispose" onclick="DisposeCase('@Case.CaseId');">
                                                                    <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>


                                        </div>
                                        <div class="tab-pane fade @DTab" id="DisposedCases" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">


                                            <div class="row">

                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseTypeDispose)
                                                    @Html.DropDownListFor(x => Model.CaseTypeDispose, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseDateDispose)
                                                    @Html.EditorFor(model => model.CaseDateDispose, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                                </div>
                                                <div class="col-md-3 form-group" style="@IsContext">
                                                    @Html.LabelFor(model => model.IsContextOrderDispose)
                                                    @Html.DropDownListFor(x => Model.IsContextOrderDispose, ViewBag.ContextOrder as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnDisposedCases" type="submit" name="CurrentTab" value="DisposedCases" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>

                                            <table id="example2" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Case No.</th>
                                                        <th>Case Type</th>
                                                        <th>Petitioner</th>
                                                        <th>Respondent</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var Case in Model.DisposedCases)
                                                    {
                                                        DSno++;
                                                        <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>@DSno</td>
                                                            <td>@Case.PetitionNo</td>
                                                            <td>@Case.Notice.NoticeType</td>
                                                            <td> @(Case.Notice.Petitioners.Where(x=>x.IsFirst==true).FirstOrDefault()?.Name)</td>
                                                            <td>
                                                                @if (Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                                        (@(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                                    </span> }
                                                                else
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                                    </span>}
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <select id="disposedAction" class="form-control select-item" style="width: 80%" onchange="ReOpenCase(this,'@Case.CaseId')">
                                                                    <option value="">--Select--</option>
                                                                    <option value="o">Re-open</option>
                                                                    <option value="a">Re-Appeal</option>
                                                                    <option value="msc">Move to Supreme Court</option>
                                                                </select>
                                                                @*<a class="btn btn-primary btn-xs" onclick="ReOpenCase('@Case.CaseId');">
                                                                        <i class="fas fa-check-square"></i> Re-open
                                                                    </a>*@
                                                            </td>

                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade @CTab" id="CaseTransfer" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">

                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseStatusTransfer)
                                                    @Html.DropDownListFor(x => Model.CaseStatusTransfer, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseTypeTransfer)
                                                    @Html.DropDownListFor(x => Model.CaseTypeTransfer, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseDateTransfer)
                                                    @Html.EditorFor(model => model.CaseDateTransfer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                                </div>
                                                <div class="col-md-2 form-group" style="@IsContext">
                                                    @Html.LabelFor(model => model.IsContextOrderTransfer)
                                                    @Html.DropDownListFor(x => Model.IsContextOrderTransfer, ViewBag.ContextOrder as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-1 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnCaseTransfer" type="submit" name="CurrentTab" value="CaseTransfer" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>


                                            <table id="CaseTransferTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Sno</th>
                                                        <th>Case No.</th>
                                                        <th>Case Type</th>
                                                        <th>Petitioner</th>
                                                        <th>Respondent</th>
                                                        <th>Advocate</th>
                                                        <th>Court</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var Case in Model.CaseTransfer)
                                                    {
                                                        CSno++;
                                                        var TrCasetransfer = "TrCasetransfer" + CSno;
                                                        <tr id="@TrCasetransfer" style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>
                                                                @CSno
                                                                <input type="checkbox" class="Casechk" id="chkCase_@CSno" onclick="ChkClick('@CSno')" value="@Case.CaseId" />
                                                                <input type="hidden" id="CaseId_@CSno" value="@Case.CaseId" />
                                                                <input type="hidden" id="CaseCourt_@CSno" value="@Case.CourtId" />
                                                            </td>
                                                            <td>@Case.PetitionNo  </td>
                                                            <td>@Case.Notice.NoticeType</td>
                                                            <td> @(Case.Notice.Petitioners.Where(x=>x.IsFirst==true).FirstOrDefault()?.Name)</td>
                                                            <td>
                                                                @if (Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                                        (@(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                                    </span> }
                                                                else
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                                    </span>}
                                                            </td>
                                                            <td>@(Case.Advocate?.Name)</td>
                                                            <td>@(Case.Court?.Name)</td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>

                                                        </tr>
                                                    }



                                                </tbody>
                                            </table>


                                            <a class="btn btn-primary float-right mt-4" onclick="MoveToCase()">Move To</a>


                                        </div>

                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>

                        </div>}
                </div>
            </div>

        </div>


    </div>
</section>

<script>
    var selectCourt = "";
    function AssignDuty(CaseGuid) {
        debugger;
        $("#CaseGuid").val(CaseGuid);
        $("#AssignDutyModal").modal("show");
    }
    function ReOpenCase(obj, CaseGuid) {
        debugger;


        if ($(obj).val() == "o") {
            $("#ReCaseGuid").val(CaseGuid);
            $("#ReOpenModal").modal("show");
        }
        if ($(obj).val() == "a") {
            $("#ReAppealModal #CaseGuid").val(CaseGuid);
            $("#ReAppealModal").modal("show");
        }
        if ($(obj).val() == "msc") {
            $("#MoveSC #CaseGuid").val(CaseGuid);
            $("#MoveSC").modal("show");
        }
    }

    function GetCourtsByBench(obj) {
        debugger;
        var benchId = $(obj).val();
        var courtSel = $("#CourtId");
        if (benchId && benchId.trim() != '') {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetCourtsByBench")',
                data: JSON.stringify({ BenchId: benchId }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    courtSel.empty();
                    courtSel.append($('<option></option>').val('').html('--Select--'));
                    for (var i = 0; i < response.data.length; i++) {
                        courtSel.append($('<option></option>').val(response.data[i].Value).html(response.data[i].Text));
                    }
                },

            });

        }
    }

    function DisposeCase(CaseGuid) {
        debugger;
        $("#DisposeCaseGuid").val(CaseGuid);
        $("#DisposeModal").modal("show");
    }

    function MoveToCase() {
        var CaseTransferIds = "";
                $("#CaseTransferTable tbody tr").each(function () {
            var isChecked = $(this).find("input:checkbox")[0].checked;
            if (isChecked) {
                CaseTransferIds = CaseTransferIds + ',' + $(this).find("[id^=CaseId_]").val();
                selectCourt = $(this).find("[id^=CaseCourt_]").val();
            }
        });

        if (CaseTransferIds.length <= 0) {
            alert('select atleast one case');
        }
        else {
            $("#OldCourt").val(selectCourt);
            $("#CaseTransferIds").val(CaseTransferIds);
            $("#MoveToModal").modal("show");
        }

    }

    function ChkClick(id) {
        debugger;
        if ($('#chkCase_' + id).is(":checked")) {
            $('#chkCase_' + id).prop('checked', true);
            var mycourt = $('#CaseCourt_' + id).val();

            if (selectCourt == "") {
                selectCourt = mycourt;
            }
            else if (selectCourt == mycourt) {
                selectCourt = mycourt;
            }
            else {
                alert('please select cases from singal court!!');
                $('#chkCase_' + id).prop('checked', false)
            }
        }
    }
</script>


<div class="modal" id="AssignDutyModal" tabindex="-1" role="dialog" aria-labelledby="AssignDutyModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AssignDuty", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Assign Duty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="exampleInputEmail1">Select Council</label>
                            @Html.Hidden("CaseGuid")
                            @Html.LabelFor(model => model.Advocate)
                            @Html.DropDownListFor(x => Model.Advocate, ViewBag.Council as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assigned</button>
                </div>}
        </div>
    </div>
</div>


<div class="modal" id="ReOpenModal" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ReOpenCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">ReOpen Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("ReCaseGuid")
                            <h2>Are you sure to reopen the case</h2>
                        </div>



                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes Re-Open</button>
                </div>}
        </div>
    </div>
</div>

<div class="modal" id="ReAppealModal" tabindex="-1" role="dialog" aria-labelledby="ReAppealModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ReAppealCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Re-Appeal Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("CaseGuid")
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("CaseNo", "Case / Petition No:", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                @Html.Editor("CaseNo", new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                @Html.ValidationMessage("CaseNo", "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("BenchTypeID", "Bench", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                @Html.DropDownList("BenchTypeID", ViewBag.Benchs as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true", onchange = "GetCourtsByBench(this);" })
                                @Html.ValidationMessage("BenchTypeID", "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("CourtId", "Court", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                <select id="CourtId" class="form-control select2" name="CourtId" required="true" style="width: 100%">
                                    <option value="">--Select--</option>
                                </select>
                                @Html.ValidationMessage("CourtId", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Re Appeal</button>
                </div>}
        </div>
    </div>
</div>

<div class="modal" id="MoveSC" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("MoveToSupremeCourt", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Move Case to Supreme Court</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("CaseGuid")
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("CaseNo", "Case / Petition No:", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                @Html.Editor("CaseNo", new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                @Html.ValidationMessage("CaseNo", "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes, Move to Supreme Court</button>
                </div>}
        </div>
    </div>
</div>

<div class="modal" id="DisposeModal" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DisposeCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Dispose Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("DisposeCaseGuid")
                            <h2>Are you sure to Dispose the case</h2>
                        </div>



                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes Dispose</button>
                </div>}
        </div>
    </div>
</div>

<div class="modal fade" id="MoveToModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("MoveToOtherCourt", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Case Transfer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Hidden("CaseTransferIds")
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.OldCourt)
                            @Html.DropDownListFor(x => Model.OldCourt, ViewBag.AllCourt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @readonly = "readonly" })

                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.NewCourt)
                            @Html.DropDownListFor(x => Model.NewCourt, ViewBag.OpenedCourt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })

                        </div>


                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Move To</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




@section Scripts {
    <script>
        $(function () {
            $("#example1").DataTable({
                "bFilter": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $("#example2").DataTable({
                "bFilter": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $("#CaseTransferTable").DataTable({
                "bFilter": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>
}
