﻿@model UPCourt.Web.Models.GovermentDepartmentMvcModel
@using core.koushikiSofatware.Helper
@{
    ViewBag.Title = "Add Goverment Department";
}

@section Scripts {
    <script src="~/Scripts/GovermentDepartment/GovermentDepartment.js"></script>
}
<style>
    .card-header a {
        color: black !important;
    }
</style>

@using (Html.BeginForm("Create", "GovermentDepartment", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.GovernmentDepartmentId)


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Goverment Department</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" }) <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @maxlength = "75", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @maxlength = "75", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.HeadOffice, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.HeadOffice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter HeadOffice Name", @maxlength = "100", @type = "text" } })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.POCName, htmlAttributes: new { @class = "control-label" })  <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.POCName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Name", @maxlength = "75", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.POCName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.POCContact, htmlAttributes: new { @class = "control-label" }) <span class="text-danger">*</span>
                    @Html.EditorFor(model => model.POCContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact No", @type = "text", @maxlength = "10", @required = "true", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.POCFaxNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.POCFaxNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Fax No", @type = "text" } })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.POCMobileNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.POCMobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact No", @type = "text", @maxlength = "10", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label", @for = "password" })    <span class="text-danger">*</span>
                    <label class="float-right control-label">
                        <input type="checkbox" id="showPass"> &nbsp; Show Password
                    </label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "txtPassword", @placeholder = "Enter Password", maxlength = 10, @type = "password", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Addresses</h3>
            <a class="float-right text-black" id="AddAddress" onclick="AddAddress();"><i class="fa fa-plus-square"></i> Add Address</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="DivAddress">
            @for (int i = 0; i < Model.GovernmentDepartmentAddresses.Count; i++)
            {
                var ShowNotFirst = ""; if (i == 0) { ShowNotFirst = "display:none;"; }
                <div id="AddressEliment_@i" class="AddressRow">
                    @Html.HiddenFor(model => model.GovernmentDepartmentAddresses[i].bActive, new { @Value = "true" })
                    <div class="row">
                        <div class="form-group col-md-11">
                            @Html.LabelFor(model => model.GovernmentDepartmentAddresses[i].Address, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                            @Html.EditorFor(model => model.GovernmentDepartmentAddresses[i].Address, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Address", @type = "text", @maxlength = "200", @required = "true" } })
                            @Html.ValidationMessageFor(model => model.GovernmentDepartmentAddresses[i].Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-1">
                            <label class="control-label">&nbsp;</label>
                            <a title="Delete" id="RemoveAddressEliment_@i" href="#" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Phone Numbers</h3>
            <a class="float-right  text-black" id="AddPhoneNo" onclick="AddPhoneNo();"><i class="fa fa-plus-square"></i> Add Phone No</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="DivPhoneNo">
            @for (int i = 0; i < Model.GovernmentDepartmentContactNos.Count; i++)
            {
                var ShowNotFirst = ""; if (i == 0) { ShowNotFirst = "display:none;"; }
                <div id="PhoneNoEliment_@i" class="PhoneNoRow">
                    @Html.HiddenFor(model => model.GovernmentDepartmentContactNos[i].bActive, new { @Value = "true" })
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.GovernmentDepartmentContactNos[i].ContactNo, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                            @Html.EditorFor(model => model.GovernmentDepartmentContactNos[i].ContactNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Contact No", @required = "true", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                            @Html.ValidationMessageFor(model => model.GovernmentDepartmentContactNos[i].ContactNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">&nbsp;</label>
                            <a title="Delete" id="RemovePhoneNoEliment_@i" href="#" class="Removebtn float-right" style="@ShowNotFirst" onclick="RemoveAddedItem(this)">
                                <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>




    <div class="card-footer">
        <a href="@Url.Action("Index", "GovermentDepartment")" class="btn btn-primary">
            Back
        </a>
        &nbsp;
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

}

