﻿@model UPCourt.Web.Models.GovermentDepartmentMvcModel

@{
    ViewBag.Title = "Goverment Department Details";
}


@Html.HiddenFor(model => model.GovernmentDepartmentId)

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Goverment Department</h3>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "text", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.HeadOffice, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.HeadOffice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter HeadOffice Name", @type = "text", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.POCName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.POCName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Name", @type = "text", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.POCContact, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.POCContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact No", @type = "text", @maxlength = "10", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.POCFaxNo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.POCFaxNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Fax No", @type = "text", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.POCMobileNo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.POCMobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact No", @type = "text", @maxlength = "10", @disabled = "disabled" } })
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Addresses</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="DivAddress">
        @for (int i = 0; i < Model.GovernmentDepartmentAddresses.Count; i++)
        {

            <div id="AddressEliment_@i" class="AddressRow">
                @Html.HiddenFor(model => model.GovernmentDepartmentAddresses[i].bActive, new { @Value = "true" })
                @Html.HiddenFor(model => model.GovernmentDepartmentAddresses[i].GovernmentDepartmentAddressId, new { @class = "NewId" })
                <div class="row">
                    <div class="form-group col-md-11">
                        @Html.LabelFor(model => model.GovernmentDepartmentAddresses[i].Address, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GovernmentDepartmentAddresses[i].Address, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Address", @type = "text", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovernmentDepartmentAddresses[i].Address, "", new { @class = "text-danger" })
                    </div>
                 
                </div>
            </div>
        }
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Phone Numbers</h3>
    </div>
    <div class="card-body" id="DivPhoneNo">
        @for (int i = 0; i < Model.GovernmentDepartmentContactNos.Count; i++)
        {
            <div id="PhoneNoEliment_@i" class="PhoneNoRow">
                @Html.HiddenFor(model => model.GovernmentDepartmentContactNos[i].bActive, new { @Value = "true" })
                @Html.HiddenFor(model => model.GovernmentDepartmentContactNos[i].GovernmentDepartmentContactNoId, new { @class = "NewId" })

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GovernmentDepartmentContactNos[i].ContactNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GovernmentDepartmentContactNos[i].ContactNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter Contact No", @type = "text", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovernmentDepartmentContactNos[i].ContactNo, "", new { @class = "text-danger" })
                    </div>
                 
                </div>
            </div>
        }
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>



<div class="card card-primary" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">Designation Details</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="DivDesignation">
        @for (int i = 0; i < Model.GovDesignations.Count; i++)
        {
            <div id="DesignationEliment_@i" class="DesignationRow">
                @Html.HiddenFor(model => model.GovDesignations[i].bActive, new { @Value = "true" })
                @Html.HiddenFor(model => model.GovDesignations[i].GovernmentDesignationId, new { @class = "NewId" })
                <div class="row">
                  
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.GovDesignations[i].DesignationName, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EditorFor(model => model.GovDesignations[i].DesignationName, new { htmlAttributes = new { @class = "form-control NameWithSpace required", @placeholder = "Enter Designation Name", @type = "text", @required = "true", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovDesignations[i].DesignationName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.GovDesignations[i].POCName, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.EditorFor(model => model.GovDesignations[i].POCName, new { htmlAttributes = new { @class = "form-control NameWithSpace", @placeholder = "Enter POC Name", @type = "text", @required = "true", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovDesignations[i].POCName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.GovDesignations[i].POCContact, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GovDesignations[i].POCContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact No", @type = "text", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovDesignations[i].POCContact, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.GovDesignations[i].POCFaxNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GovDesignations[i].POCFaxNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Fax No", @type = "text", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovDesignations[i].POCFaxNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.GovDesignations[i].POCMobileNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GovDesignations[i].POCMobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Mobile No", @type = "text", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.GovDesignations[i].POCMobileNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.GovDesignations[i].Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(model => model.GovDesignations[i].Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.GovDesignations[i].Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<div class="card-footer">
    <a href="@Url.Action("Index", "GovermentDepartment")" class="btn btn-primary">
        Back
    </a>
</div>

