﻿@model IEnumerable<UPCourt.Web.Models.GovermentDepartmentMvcModel>
@{
    ViewBag.Title = "Goverment Department List";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Goverment Department</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Goverment Department</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            @* <th>Address</th>
                                <th>Contact No.</th>*@
                            <th>Email</th>
                            <th>Post</th>
                            <th>POC Name</th>
                            @*<th>Assign User</th>*@
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.HeadOffice</td>
                                <td>@item.POCName</td>
                               
                                <td>@item.Status</td>

                                <td class="project-actions">
                                    <a class="" title="View" href="@Url.Action("Details", "GovermentDepartment", new { id = item.GovernmentDepartmentId })">
                                        <i class="fa fa-eye text-warning fa-iconsize"></i>
                                    </a>
                                    &nbsp;
                                    <a class="" title="Edit" href="@Url.Action("Edit", "GovermentDepartment", new { id = item.GovernmentDepartmentId })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" href="#" onclick="ConfirmDelete('@item.GovernmentDepartmentId','@item.Name','GovermentDepartment')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>

                        }
                      
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<div class="modal" id="CreateUserSubModal" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divCreateUserSubModalBody">

            </div>
            <div class="modal-footer justify-content-between">
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}

<script type="text/javascript">
    function AddUsermodal(GovernmentDepartmentId) {
        debugger;
        $("#divCreateUserSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/GovermentDepartment/CreateUser/",
            data: { "GDI": GovernmentDepartmentId },
            success: function (response) {
                $("#divCreateUserSubModalBody").append(response);
                $("#CreateUserSubModal").modal("show");
            },
            error: function (errorData) { onError(errorData); }
        });
    }


</script>
