/* ---------------------------------- Responsive Media Styles ---------------------------------*/



@media (min-width: 1200px) {
	 
}


/* Tablet Device : 768px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	 
}





/* Medium : 647px */

@media only screen and (max-width: 767px) {
     
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
     
}

/* Small : 320px */

@media screen and (max-width: 575px) {
	.carousel-item {
		height: auto;
		margin-bottom: 15px
	}

	.marquee-bg {
		padding: 2px 0 0 2px;
	} 

	.tab-pane {
		padding: 20px;
	}
	.left-arrow { 
		font-size: 0.625rem;
	}

	.left-arrow:after {
		border-width: 10px;
		margin-top: -11px;
	}

	.nav-tabs .nav-link {
		font-size: 0.75rem;
		padding: 6px 0px;
	}
	.marqueenews { margin-top: 0}
	.marqueenews li {
		font-size: 0.688rem;
	}
	.nav-tabs .nav-item {
		padding: 0px 8px;
		margin-bottom: 12px;
	}

	.nav-tabs { margin-top:10px}

	.mobile-navigation {
		position: absolute;
		top: 23px;
		right: 0;
		text-align: right;
		z-index:16
	}
	.navbar-toggler { height:20px; position:relative; padding:0; outline:none !important}
	.navbar {
		width: 100%;
		display: inline-block;
		position: initial;
	}
	.navbar-collapse {
		background: #fff;
		position: absolute;
		width: 100%;
		z-index: 2;
		left: 0;
		top: 63px;
		box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
	}
	.top-menu { text-align: left}
	.top-menu li {
		display: block;
		padding: 10px 13px !important;
		border-bottom: #eee thin solid;
	}
	
	.loginbtnTop { display:inline-block}

	.top-menu li a {
		padding: 0;
		font-size: 0.875rem;
	}

	.navbar-toggler span {
		width: 15px;
		height: 2px;
		background: #101011;
		border-radius: 30px;
		display: block;
	}
	.navbar-toggler span::before, .navbar-toggler span::after {
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		position: absolute;
		width: 23px;
		height: 2px;
		background: #101011;
		border-radius: 30px;
		content: "";
		top: 0px;
		right: 0;
	}

	.navbar-toggler span::after {
		top: inherit;
		bottom: 0px
	}

	.e-filling-list {
		padding: 0; 
		
	}
	.e-filling-list li {
		margin-bottom: 10px;
		}
	.e-filling-list li a {
		font-size: 0.75rem;
		margin-left: 0px;
	}
	.e-filling-list li i {
		width:14px; height:14px; line-height:14px;

	}
	 

	 
	table.daiytable tr td { font-size:0.75rem;}
	.analysis tr td {
		font-size: 0.625rem;
	}
	.admininfo-mobview .f-14 { font-size: 0.75rem !important}

	.loginSectionHome { position: relative; top:0; padding-top: 0; }
	.login-box { max-width: 100%; }

	.carousel-caption { bottom: 10px }
	.capbg { padding: 5px; }
	.capbg p { font-size: 0.75rem; }
	.capbg p.f-13 { font-size: 0.563rem !important; }
	.carousel-indicators li { width: 5px; height: 5px }
	.homePageNewUI .homefixedHeader { position: relative; background:#fff !important}
	.homePageNewUI .headerFixedHome { position: fixed;  }
	.homePageNewUI .lightLogo { display: none } 
	.homePageNewUI .darkLogo { display: block;  }
	.homePageNewUI .top-menu li a { color:#0b0b0b}
	.topleftLink, .topGIGW { text-align: center} 
	.topGIGW li a {  height: 17px;  width: 18px; line-height:17px; }
	.topGIGW li a.darktheme {  height: 19px;  width: 20px; }
	.lansel { height: 18px; font-size: 0.563rem}
	.latestnews span, .latestnews { font-size: 0.688rem; margin-top: -15px; margin-bottom: 20px; }

	.imporhead { margin: 0px 0 20px; font-size: 1.25rem}
	.impBoxcaed { width: 47%; margin-right: 15px; float: left; margin-bottom: 15px; min-width: auto;}
	.impBoxcaed:nth-child(2n+2) { margin-right: 0px;  }
	 .impBoxcaed a {  padding: 15px;}
	.impBoxcaed p  { font-size: 0.688rem;}
	.impBoxcaed img { height: 40px; margin-bottom: 10px;}
	.searchlisthome li {  margin-right: 6px; margin-bottom: 7px; border-radius: 11px; padding: 2px 10px; }
	.searchlisthome li a { font-size: 0.75rem;}
	.imporheaddown { margin: 15px 0 20px}
	.downloadlisthome { margin: 0 auto 10px;}
	.downloadlisthome li { margin-right: 7px;}
	.downloadlisthome li a { font-size: 0.75rem;}
	.admintxt { font-size: 1.25rem; }
	.bg-blackadmin .nav-tabs .nav-item:first-child { padding: 0px 8px; }
	.bg-blackadmin { padding-bottom: 0}
	.advocate-img { margin-bottom: 20px }
	.footerlink h4 { 
		font-size: 1rem;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.footerlink li { line-height: 22px}
	.footerlink li a { font-size: 0.75rem}

	.dark-themewp .navbar-toggler span, .dark-themewp .navbar-toggler span::before, .dark-themewp .navbar-toggler span::after { background: #fff; }
	.dark-themewp.homePageNewUI .homefixedHeader { background:#000 !important}
	.dark-themewp .navbar-collapse { background:#000}
	.dark-themewp.homePageNewUI .top-menu li a { color: #ffffff; }
	.dark-themewp .top-menu li { border-bottom: #323232 thin solid; 	}
	 
}


@media (min-width: 320px) and (max-width: 440px) {
}