
@import url("custom.css");
@import url("newstyle.css");

html {
	font-family: 'Georgia';
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Georgia';
	;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	background: #f7f7f7;
	color: #000
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #000;
	font-weight: 500;
	font-family: 'Georgia';
}

p {
	font-size: 0.875rem;
	color: #000;
	font-weight: 500;
	line-height: 1.6;
	font-family: 'Georgia';
	margin: 0 0 15px 0;
}

.verdana {
	font-family: Verdana;
}

img {
	max-width: 100%;
}

.f-10 {
	font-size: 0.625rem !important
}

.f-11 {
	font-size: 0.688rem !important
}

.f-12 {
	font-size: 0.75rem !important
}

.f-13 {
	font-size: 0.813rem !important;
	line-height: 20px
}

.f-14 {
	font-size: 0.875rem !important
}

.f-16 {
	font-size: 1rem !important
}

.f-18 {
	font-size: 1.125rem !important
}

.f-20 {
	font-size: 1.25rem !important;
}

.f-22 {
	font-size: 1.375rem !important;
}

.f-24 {
	font-size: 1.5rem !important;
}

.f-25 {
	font-size: 1.563rem !important;
}

.f-28 {
	font-size: 1.75rem!important;
}

.f-32 {
	font-size: 2rem !important;
}

.f-36 {
	font-size: 2.25rem !important;
}

.f-40 {
	font-size: 2.5rem !important;
}

.f-50 {
	font-size: 3.125rem !important;
}

.no-bg {
	background: none !important
}

.fw-bold {
	font-weight: bold !important
}

.bg-theme {
	background: #f17d3a
}

.normal-line-height {
	line-height: 20px
}

.textM-right {
	text-align: right
}

.text-theme {
	color: #f17d3a
}


.tophead ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.tophead ul li {
	display: inline-block; 
	padding: 3px 5px 4px; 
}

.tophead ul li:last-child { 
	padding: 3px 0px 4px 5px;  
	border: none
}

.lansel {
	background: url("../images/chevron-down1.png") no-repeat right #ffffff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: 95%;
	width: 78px;
	height: 20px;
	padding: 3px 6px 4px;
	border-radius: 2px;
	background-color: #fff;
	font-size: 0.625rem;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	color: #f17d3a;
	border: none;
	outline: none; 
}

.top-search {
	padding: 2px 10px;
	background: url("../images/search.png") no-repeat #fff 95%;
	border: none;
	box-shadow: none;
	height: 21px;
	margin-top: 3px;
	font-size: 0.875rem;
	border-radius: 2px;
}

.menu-cont {
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.top-menu {
	list-style: none;
	padding: 0;
	margin: 0
}

	.top-menu li {
		display: inline-block;
		color: #000;
		font-size: 0.938rem;
		padding: 10px 14px;
	}

	.top-menu li:last-child {
		padding:0 
	}
		.top-menu li a {
			color: #0b0b0b;
			font-size: 1rem;
			padding: 10px 0;
		}

			.top-menu li a:hover {
				color: #f17d3a
			}

		.top-menu li.active a {
			border-bottom: #f17d3a 3px solid;
			color: #f17d3a;
			font-weight: bold
		}


.marquee-bg {
	background-color: #3594d3;
	padding: 2px 0 2px 2px;
}

.left-arrow {
	background: #fff;
	font-size: 0.938rem;
	text-align: center;
	padding: 3px;
	font-weight: bold;
	color: #3594d3;
	text-transform: uppercase;
	width: 100%;
	position: relative
}

	.left-arrow:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-left-color: #fff;
		border-width: 14px;
		margin-top: -14px;
	}


.marqueenews {
	padding: 0;
	margin: 0;
	margin-top: 3px;
	margin-bottom: -3px;
}

	.marqueenews li {
		font-family: Verdana;
		font-size: 0.875rem;
		color: #fff;
		float: left;
		padding-right: 10px;
		display: contents
	}

		.marqueenews li span {
			width: 6px;
			border-radius: 50%;
			height: 6px;
			margin: 0px 15px;
			background-color: #fff;
			display: inline-block;
			vertical-align: top;
			margin-top: 9px;
		}

		.marqueenews li:first-child span {
			display: none
		}

.carousel-item {
	height: 539px;
}

.carousel-inner img { 
	height: 100%;
	width: 100%;
	object-fit: cover
}


.login-box {
	padding: 11px 10px 13px;
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #f17d3a;
}

.login-btn {
	background: #fff;
	font-size: 1.063rem;
	padding: 10px 35px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 2px;
	color: #333;
	border-color: #fff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.card {
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: none
}

.card-header {
	border-bottom: #f3f1f1 3px solid
}

	.card-header h3 {
		font-size: 0.875rem;
		font-weight: bold;
	}

		.card-header h3 a {
			font-size: 0.75rem;
			float: right;
			font-weight: bold;
		}

.searchhomecase {
	margin: 0;
	padding: 0;
	list-style: none
}

	.searchhomecase li {
		font-family: Verdana;
		font-size: 0.75rem;
		width: 50%;
		float: left;
		margin-bottom: 20px
	}

		.searchhomecase li span {
			width: 6px;
			border-radius: 50%;
			height: 6px;
			margin: 0px 5px 0 0;
			background-color: #f17d3a;
			display: inline-block;
			vertical-align: top;
			margin-top: 7px
		}


table.daiytable tr td {
	border: none;
	border-bottom: solid 1px #cbcbcb;
	font-family: Verdana;
	font-size: 0.875rem;
	color: #000000;
	padding: 13px 0
}

	table.daiytable tr td i {
		width: 17px;
		height: 17px;
		background: #f17d3a;
		color: #fff;
		text-align: center;
		line-height: 17px;
		border-radius: 50%;
		padding-left: 2px
	}


.analysis tr th {
	background-color: #ffede3;
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 0.625rem;
	border: none;
	border-right: solid 2px #cbcbcb;
	font-weight: normal
}

	.analysis tr th:last-child {
		border: none
	}


.analysis tr td {
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 0.688rem;
	border: none;
	border-right: solid 2px #cbcbcb;
	font-weight: normal;
	padding: 10px 10px
}

	.analysis tr td span {
		font-weight: bold
	}

	.analysis tr td:nth-child(2n+2) {
		text-align: right
	}

	.analysis tr td:last-child, .analysis tr td:nth-child(1), .analysis tr td:nth-child(3) {
		border: none
	}

footer {
	padding: 23px 0 8px;
	background-color: #595959;
	border-top: 11px #4f4f4f solid
}

.footerlogo {
	padding: 0;
	padding-bottom: 20px;
	display: flex;
	column-gap: 15px;
	border-bottom: solid 1px #fff;
}

	.footerlogo li {
		list-style: none;
		display: inline
	}

.footerlink h4 { color:#dbdbdb; font-size: 1.125rem; margin-top: 38px; margin-bottom: 29px;}

.footerlink ul {
	padding: 0;
	margin: 0; 
}

.footerlink li {
	list-style: none;
	line-height:24px;
}

.footerlink li a { 
	font-size: 0.813rem;
	color: #dddddd;
	opacity: 0.7
}

.footerlink li a:hover { 
	color: #fff; 
}


.nav-tabs {
	border: none;
	justify-content: center;
	margin-bottom: 7px;
}

	.nav-tabs .nav-item {
		padding: 10px 16px;
	}

	.nav-tabs .nav-link {
		font-weight: 700;
		color: #000;
		font-size: 0.875rem;
		padding: 15px 0 5px;
		font-weight: bold;
		background: none;
		border: 0;
	}

		.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
			border: none;
			background: none;
			color: #f17d3a;
			border-bottom: #f17d3a 2px solid;
			opacity: 1;
		}

.tab-pane {
	padding: 20px 40px 20px 20px;
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background: #fff
}

.advocate-img { 
	border-radius:10px;  
}


/*-------custom form-----*/
.custom-form-group {
}

	.custom-form-group .form-control {
		height: auto !important;
		border: none;
		border-bottom: #b1b1b1 thin solid !important;
		background: none;
		font-weight: 700;
		font-size: 0.813rem;
		color: #333;
		padding: 8px;
		padding-left: 0;
		border-radius: 0;
		font-family: Verdana
	}

		.custom-form-group .form-control:focus,
		.custom-form-group .form-control:focus {
			border-bottom: #f17d3a thin solid !important;
			box-shadow: none;
			background: none;
			color: #333
		}

.form-label, .control-label {
	font-size: 0.75rem;
	font-weight: 700;
	font-family: Verdana;
	margin-bottom: 0
}


.req-btn {
	margin-top: 10px;
}

	.req-btn .btn {
		margin-right: 10px;
	}

	.req-btn .btn-warning {
		background: #f17d3a;
		border-color: #f17d3a;
		color: #fff
	}

.btn-warning {
	background: #f17d3a;
	border-color: #f17d3a;
	color: #fff
}

	.btn-warning:hover {
		background: #ea6517;
		border-color: #ea6517;
		color: #fff
	}


.notice-creation .nav-link {
	font-weight: 700;
	color: #757575;
}

.notice-creation .tab-pane {
	padding: 0;
	box-shadow: none;
}

.repetbox {
	border: #7d7d7dee thin dashed;
	background: #eeeeee4a;
	padding: 10px;
}

.counselor-add {
	font-size: 1.063rem;
	border-bottom: #f17d3a thin solid;
	padding-bottom: 8px;
	font-weight: bold;
	color: #f17d3a;
	margin-bottom: 15px;
	margin-top: 20px;
}

/*-------custom form end-----*/



/*-------Efilling -----*/

.breadcrumbnew {
	margin-top: 20px
}

	.breadcrumbnew a {
		font-family: Verdana;
		font-size: 0.875rem;
		color: #000
	}

		.breadcrumbnew a:hover, .breadcrumbnew a.active {
			color: #f17d3a;
			text-decoration: none
		}

	.breadcrumbnew i {
		margin: 0 10px;
		color: #3333339a;
		font-size: 0.875rem
	}

.e-filling-list {
	padding: 0 0 0 15px;
	margin: 0;
	list-style: none
}

	.e-filling-list li {
		padding: 0;
		margin: 0 0 20px;
		list-style: none
	}

		.e-filling-list li i {
			width: 17px;
			height: 17px;
			background: #f17d3a;
			color: #fff;
			text-align: center;
			line-height: 17px;
			border-radius: 50%;
			padding-left: 2px;
		}

		.e-filling-list li a {
			font-size: 0.875rem;
			margin-left: 7px;
			font-family: Verdana;
			color: #0075ff
		}



/*-------Efilling Ends-----*/


/*-------Laqgroup -----*/

.permission-section.nav-pills .nav-link.active,
.permission-section.nav-pills .show > .nav-link {
	color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	background-color: #e86717;
	font-weight: bold;
	width: 112%;
	margin-bottom: 6px;
	font-size: 0.969rem
}

.permission-section .nav-link {
	padding: 10px 23px;
	border-radius: 5px;
	color: #707070;
	font-size: 1rem;
	font-family: Verdana;
}


	.permission-section .nav-link i {
		display: none
	}

	.permission-section .nav-link.active i {
		display: block;
		font-size: 1.5rem;
		font-weight: bold;
		margin-top: -1px
	}

.permission-section.nav-pills .nav-link:not(.active):hover {
	color: #f47735;
}

.inner-tab-border-right {
	border-right: solid 2px #f3f1f1;
}


.tabforminner label {
	color: #707070;
	font-size: 0.875rem;
	font-family: Verdana;
	margin-bottom: 2px
}

.tabforminner select.form-control {
	background: url("../images/formdrop.png") no-repeat 97% 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 12px 20px 12px 12px;
	border-radius: 5px;
	border: solid 1px #d5d5d5;
	height: auto;
	color: #292929;
	font-size: 1rem;
	font-family: Verdana;
}

.tabforminner .form-control {
	background: #fff;
	padding: 12px 20px 12px 12px;
	border-radius: 5px;
	border: solid 1px #d5d5d5;
	height: auto;
	color: #292929;
	font-size: 1rem;
	font-family: Verdana;
}

.resetbtn {
	border-radius: 2px;
	border: solid 1px #afafaf;
	background-color: #f7f7f7;
	font-size: 0.875rem;
	color: #afafaf;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0px;
	padding: 10px 15px
}

.displaybtn {
	border-radius: 2px;
	border: solid 1px #e86717;
	background-color: #e86717;
	font-size: 0.875rem;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0px;
	padding: 10px 15px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.contact-info .text-muted {
	color: #393939 !important
}

#myTabContent .tab-pane {
	padding: 0
}


/*-------Laqgroup Ends-----*/

.accordion .card-header { border: none; background: none; border-radius: 5px; padding: 8px 15px; font-family: verdana}
.accordion .card-header a { padding: 0;}
.accordion .card-header .btn-link { font-size: 0.938rem; font-weight: bold; color: #f17d3a; text-decoration: none !important; width: 100%; text-align: left }
.accordion .card-header .btn-link i { font-size: 1.563rem;  color: #f17d3a; float: right }
.accordion .card-header .btn-link:hover i { color: #f17d3a;  }
.accordion .card-header .collapsed {  color: #575757 }
.accordion .card-header .collapsed i {  color: #575757;  }
.accordion .card { box-shadow: 0px 5px 7px 3px rgb(0 0 0 / 6%); border: #f4f4f4 thin solid; margin-bottom: 15px; border-radius: 5px !important;}
.accordion .card-header .active, .accordion .card-header .btn-link:hover { font-size: 0.938rem; font-weight: bold; color: #f17d3a; text-decoration: none !important; width: 100%; text-align: left }
 
.accordion .card-body  p  { color: #585858; font-size: 0.875rem; font-family: verdana  }

.workflowfont p {
	font-family: verdana
}

label.text-black { color:#000}



.loginbtnTop { border-width: 1px; border-color: rgb(241, 125, 58); border-style: solid; background-color: rgb(255, 255, 255); padding: 5px 25px 5px !important; border-radius: 16px; color: #f17d3a !important; font-size: 0.875rem !important; transition: .3s; }
.loginbtnTop:hover { background-color: rgb(241, 125, 58); color: #fff !important; }
.regisbtnTop { border-color: rgb(55, 55, 55); color: #363636 !important; }
.regisbtnTop:hover { background-color: rgb(55, 55, 55); color: #fff !important; }

.moblogozindex { position:relative; z-index:20 }

.topleftLink  { color:#fff; padding-top:2px;}
.topleftLink a { color:#fff; font-size:0.75rem; }

.topGIGW { text-align: right}
.topGIGW li a  { display:inline-block; width: 20px; height:19px; line-height:19px; background:#ffffff; display:inline-block; font-size:11px; font-weight:bold; color:#000; text-align: center}
.topGIGW li a:hover { text-decoration:none }
.topGIGW li a.darktheme { background:#000; height: 21px; vertical-align: middle; width: 22px; }
.fontsmallpad {	padding: 3px 1px 4px !important; }

.latestnews { background-color: rgb(255, 255, 255); box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07); padding:10px; }
.latestnews { color: #303030; font-size:0.938rem; }
.latestnews span { color: #ff0808; font-size: 0.938rem; font-weight: 600; }
.latestnews a { color: #303030; text-decoration: underline }

.lightLogo { display: none}
.homePageNewUI .lightLogo { display: block }
.homePageNewUI .darkLogo { display: none }

.homePageNewUI .tophead.bg-theme { background: #333333; }
.homePageNewUI .homefixedHeader { background: none !important; box-shadow: none; position:fixed; left:0; right:0; z-index:30; transition: .3s }
.homePageNewUI .headerFixedHome { background: #fff !important; top: 0; box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%); transition: .3s }
.homePageNewUI .top-menu li a { color: #fff }
.homePageNewUI .headerFixedHome .top-menu li a { color: #0b0b0b }
.homePageNewUI .top-menu li a:hover { color: #f17d3a  }
.homePageNewUI .headerFixedHome .lightLogo { display: none }
.homePageNewUI .headerFixedHome .darkLogo { display: block }

.carousel-caption { text-align: left; left: 0; right: 0; bottom: 90px }
.capbg { background: rgba(35,35,35,.67); text-align: left; color: #fff; padding: 10px 30px 10px 10px; display:inline-block }
.capbg p { font-size:1.25rem; color:#fff; margin-bottom:0; text-transform:uppercase; font-family: Verdana }

.carousel-indicators li { width: 12px; height: 12px; opacity: 1 }
.carousel-indicators .active { background-color: #ff5d00 }

.loginSectionHome { top: 77px; z-index: inherit; }
.login-box { max-width: 271px; margin-left: auto; box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07); border-radius:10px; }

.newloginOptionbtn [type="radio"]:not(:checked) + label, .newloginOptionbtn [type="radio"]:checked + label { font-size: 0.813rem; }
.newloginOptionbtn [type="radio"] + label:before, .newloginOptionbtn [type="radio"] + label:after { margin: 15px 18px }
.newloginOptionbtn [type="radio"]:not(:checked) + label, .newloginOptionbtn [type="radio"]:checked + label { padding: 11px 15px 37px 47px; }

.newloginOptionbtn .login-selec { position: relative; z-index: 20 }

.homePageNewUI .login-btn { color: #333 !important;  font-size: 0.938rem; padding: 8px 35px; }
.homePageNewUI .login-btn:hover { color: #fff !important }

.imporhead { font-weight: 500; 	font-size: 1.5rem; color: #f97b32; text-shadow: 0 0 1px #f9654b; text-align: center; margin: 30px 0 20px; display: flex; justify-content: center; }
.imporheaddown { font-weight: 500; font-size: 1.063rem; color: #434343; text-shadow: 0 0 1px #434343; text-align: center; margin: 40px 0 20px; text-decoration: underline; display: flex; justify-content: center; }


.impBoxcaed { border-radius: 5px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1); text-align: center; min-width: 155px;  transition: .3s;}

.impBoxcaed img { height: 50px; margin-bottom: 20px; opacity: 0.7 }
.impBoxcaed a { display: block; padding: 28px 20px;}
.impBoxcaed p { text-align: center; font-size: 1rem; font-weight: bold; color: #262d32; margin-bottom: 0; }

.impBoxcaed:hover { background: #f97b32; cursor: pointer  }
.impBoxcaed:hover a { color: #fff; text-decoration: none}
.impBoxcaed:hover p { color: #fff; text-decoration: none}
.impBoxcaed:hover img { filter: invert(100%) sepia(100%) saturate(0%) hue-rotate( 346deg) brightness(106%) contrast(102%); opacity: 1}

.searchlisthome { padding: 0; margin: 0; margin-bottom: 30px }

.searchlisthome li { list-style: none; display: inline-block; background: #eaeaea; margin-right: 7px; margin-bottom: 10px; border-radius: 15px; padding:5px 14px; }
.searchlisthome li:last-child {  margin-right: 0px; } 
.searchlisthome li a { color: #262626; font-size: 0.875rem; }
.searchlisthome li:hover { background: #858585; }
.searchlisthome li:hover a { color: #ffffff; }

.downloadlisthome { padding: 0; margin: 0 auto 30px; text-align: center; }
.downloadlisthome li { list-style: none; display: inline-block;  margin-right: 20px; margin-bottom: 10px; }
.downloadlisthome li:last-child { margin-right: 0px; }
.downloadlisthome li a { color: #a19e9e; font-size: 1rem; }
.downloadlisthome li a:hover { color: #262626; }

.bg-adminis { background: url("../images/adminbg.jpg") no-repeat; background-size: cover; margin-top:20px; }
.bg-blackadmin { background: rgba(49,49,49,0.7); padding-bottom:22px; }

.bg-blackadmin:before { content: ""; width: 5000px; height: 100%; margin-left: -35px; right: 100%; top: 0; position: absolute; z-index: 0; background: rgba(49,49,49,0.7); }
.admintxt { font-size:1.375rem; color:#fff; font-weight:bold; text-transform:uppercase; display:flex; align-items:end; margin-top:35px }
.bg-blackadmin .nav-tabs { justify-content:start; margin-top:10px }
.bg-blackadmin .nav-tabs .nav-item:first-child { padding: 10px 16px 10px 0 }
.bg-blackadmin .nav-tabs .nav-link { color: #fff } 
.bg-blackadmin .nav-tabs .nav-item.show .nav-link, .bg-blackadmin .nav-tabs .nav-link.active, .bg-blackadmin .nav-tabs .nav-link.active:hover, .bg-blackadmin .nav-tabs .nav-link:hover {
	color: #f17d3a; border-bottom: #f17d3a 2px solid; }

.bg-blackadmin .nav-tabs .nav-link:hover { border: none }
.bg-blackadmin .tab-pane { border-radius: 20px; background-color: rgba(0, 0, 0, 0.2); padding: 15px; }


.f-txt { color: #dcdcdc; font-size:0.813rem }

.copyright { background:#302f2f; padding:13px 0; text-align:center; margin-top:20px }
.copyright p { color:#fff; font-size:0.688rem; margin-bottom:0;  }

.carousel-control-prev, .carousel-control-next { display: none}

.newlinksfull {
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: #898989 thin solid;
	padding-top: 17px;
	margin-top: 20px;
}
.newlinksfull li { list-style: none; display: inline; }
.newlinksfull li a {  font-size:0.688rem; color:#dddddd; font-family: Verdana; padding: 5px 4px 5px;}
.newlinksfull li a {  font-size:0.688rem; color:#dddddd; font-family: Verdana; padding: 5px 4px 5px;}
.newlinksfull li:after { content: '|';	color: #dddddd; }

.topGIGW li a.skipcontent { font-family: Verdana; font-size:.688rem; font-weight: normal}
.topGIGW li a.skipcontent:hover { text-decoration: underline }



/* Dark theme  */
 
.dark-themewp { background: #2a2a2a; color: #fff }
.dark-themewp p { color:#fff }
.dark-themewp .tophead.bg-theme { background: #242424; }
.dark-themewp .lansel, .dark-themewp .topGIGW li a, .dark-themewp .capbg { background-color: #000; color: #fff}
.dark-themewp .topGIGW li a.mainthemewp { background-color: #fff; color: #fff}
.dark-themewp .darkLogo { display: none !important; }
.dark-themewp .lightLogo { display: block !important; }
.dark-themewp .loginbtnTop, .dark-themewp .regisbtnTop { background-color: #000; border-color:#fff; color: #fff !important }
.dark-themewp .homefixedHeader { background: #000 !important; box-shadow: 0px 3px 20px 10px rgb(255 255 255 / 10%);}
.dark-themewp.homePageNewUI .homefixedHeader { background: none !important; box-shadow: none}
.dark-themewp.homePageNewUI .headerFixedHome { background: #000 !important; box-shadow: 0px 3px 20px 10px rgb(255 255 255 / 10%);}
.dark-themewp.homePageNewUI .headerFixedHome .top-menu li a, .dark-themewp .top-menu li a { color:#fff}
.dark-themewp.homePageNewUI .headerFixedHome .top-menu li a:hover, .dark-themewp .top-menu li a:hover { color:#f17d3a}
.dark-themewp .login-box {  background-color: #000; }
.dark-themewp [type="radio"]:checked+label {  background-color: #3e3e3e; border: solid 1px #3e3e3e; color: #fff !important; }
.dark-themewp [type="radio"]:checked+label:after, .dark-themewp [type="radio"].with-gap:checked+label:before, .dark-themewp  [type="radio"].with-gap:checked+label:after { border: 1px solid #ffffff; }
.dark-themewp [type="radio"]:checked+label:after, .dark-themewp [type="radio"].with-gap:checked+label:after { background-color: #ffffff; }
.dark-themewp .login-btn { background: #2a2a2a; border-color: #2a2a2a; color: #fff !important; }
.dark-themewp .login-btn:hover { background: #fff; border-color: #fff; color: #2a2a2a !important; }
.dark-themewp .carousel-indicators .active { background-color: #000; }
.dark-themewp .latestnews { background: #000; color: #fff; }


.dark-themewp .latestnews a, .dark-themewp table.daiytable tr td, .dark-themewp .imporhead, .dark-themewp .imporheaddown, .dark-themewp .downloadlisthome li a { color: #fff; }


.dark-themewp .impBoxcaed { background: #000; }
.dark-themewp .impBoxcaed:hover { background: #f97b32; }
.dark-themewp .impBoxcaed img { filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(106%) contrast(102%); }
.dark-themewp .bg-white.my-2.my-sm-5.pt-4.pt-sm-0 { background-color: #000!important; }
.dark-themewp .searchlisthome li { background: #2a2a2a }
.dark-themewp .searchlisthome li a { color: #fff }

.dark-themewp .card { background: #000; }
.dark-themewp h1, .dark-themewp h2, .dark-themewp h3, .dark-themewp h4, .dark-themewp h5, .dark-themewp h6 { color: #fff}
.dark-themewp .analysis tr th  { background: #242424}
.dark-themewp footer { background: #242424; border-color:#000000}
.dark-themewp .card-header { border-bottom: #2a2a2a 3px solid; }
.dark-themewp .bg-blackadmin, .dark-themewp .bg-blackadmin:before { background: rgba(0,0,0,0.9) }
.dark-themewp .bg-blackadmin .tab-pane {  background-color: rgba(255, 255, 255, 0.05); }

.dark-themewp .f-txt, .dark-themewp .footerlink li a, .dark-themewp .newlinksfull li a { color: #fff; opacity: 1}
.dark-themewp .copyright { background: #000; }
.dark-themewp .breadcrumbnew i { color: #ffffff9a;}
.dark-themewp .breadcrumbnew a, .dark-themewp .e-filling-list li a, .dark-themewp .custom-form-group .form-control { color: #fff;}
.dark-themewp .breadcrumbnew a:hover, .dark-themewp .breadcrumbnew a.active { color: #f17d3a;}

.dark-themewp .tabforminner .form-control, .dark-themewp .GDDCContact .form-control { background: #000; color: #fff}


.dark-themewp .leftnewaccord .card { background: #242424; border: none; box-shadow: 0px 3px 20px 10px rgb(255 255 255 / 10%) }
.dark-themewp .leftnewaccord .card-header {  border: none; }
.dark-themewp .leftnewaccord .card-body p { color: #fff }
.dark-themewp .leftnewaccord .card-header .collapsed, .dark-themewp .leftnewaccord .card-header .collapsed i { color: #b1b1b1; }
.dark-themewp .tabforminner label { color: #fff}
