﻿@model UPCourt.Web.Models.CaseMvcModel

@using UPCourt.Entity;
@using UPCourt.Web.Service.BusinessService;
@using UPCourt.Web.Service.DataService;
@using UPCourt.Web.Models;

@{
    UserSystemRole UserSystemRoleId = ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId;

    ViewBag.Title = "Case View";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int BISrNo = 0;

    DateTime? dt = null;//Model.CaseDetail.DateFirst NOT FOUND;
    string date_first_list = "Not Listed";
    if (dt != null)
    {
        date_first_list = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }
    string dateOfRegistration = "[NOT FOUND]";
    if (Model.Notice.CaseDetail != null)
    {
        dt = Model.Notice.CaseDetail.DateOfDecision;
        if (Model.Notice.CaseDetail.IA != null && Model.Notice.CaseDetail.IA.Count() > 0 && Model.Notice.CaseDetail.IA[0].date_of_ia_registration != null)
        {
            dateOfRegistration = string.Format("{0:dd-MM-yyyy}", Model.Notice.CaseDetail.IA[0].date_of_ia_registration);
        }
    }
    string date_next_hearing = "";
    if (dt != null)
    {
        date_next_hearing = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }



    var TimelineDates = Model.Timelines.AsEnumerable().OrderByDescending(x => x.TimeOfEvent).GroupBy(x => x.TimeOfEvent.ToShortDateString());
    var slno = 0;
}

<style type="text/css">
    html {
        scroll-behavior: smooth;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Case View</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Case")">Case</a></li>
                    <li class="breadcrumb-item active">View</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Status - @Model.Notice.CaseNoticeType.Name ( @Model.Notice.CaseNoticeType.type_name ) - [ @Model.Notice.NoticeNo/@Model.Notice.NoticeYear]
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="card card-default">
                            <div class="card-body">
                                <div class="col-md-12">

                                    @* <h5 class="text-uppercase f-18 verdana text-center fw-bold mb-2 mt-3">Case Status - @Model.Notice.CaseNoticeType.Name ( @Model.Notice.CaseNoticeType.type_name ) - [ @Model.Notice.CaseDetail.Notice.NoticeNo/@Model.Notice.CaseDetail.Notice.NoticeYear]</h5>*@

                                    <table class="table table-bordered table-striped">
                                        <tbody class="verdana f-12">
                                            <tr>
                                                <td style="width:25%"><strong>Filing No.</strong></td>
                                                <td style="width:25%">[TO BE DETERMINED] </td>
                                                <td style="width:25%"><strong>Filing Date</strong></td>
                                                <td style="width:25%">@dateOfRegistration</td>
                                            </tr>
                                            <tr>
                                                <td><strong>CNR</strong></td>
                                                <td>@Model.Notice.Cnr</td>
                                                <td><strong>Date of Registration</strong></td>
                                                <td>[TO BE DETERMINED]</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h5 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Case Status</h5>

                                    <table class="table table-bordered table-striped">
                                        <tbody class="verdana f-12">
                                            <tr>
                                                <td style="width:25%"><strong>Petition No</strong></td>
                                                <td style="width:75%">@Model.PetitionNo </td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%"><strong>Notice No</strong></td>
                                                <td style="width:75%"><a href="@Url.Action("View","NoticeCase",new { id = Model.Notice.NoticeId })"> @Model.Notice.NoticeNo </a></td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%"><strong>First Hearing Date</strong></td>
                                                <td style="width:75%">@date_first_list </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Next Hearing Date</strong></td>
                                                <td>@date_next_hearing</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Stage of Case</strong></td>
                                                <td>[TO BE DETERMINED]</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Coram</strong></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Bench Type</strong></td>
                                                <td>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.Bench.Name : "")</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Judicial Branch</strong></td>
                                                <td>@Model.Notice.CaseNoticeType.Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Causelist Type</strong></td>
                                                <td> @(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.CauselistTypes.Name : "")</td>
                                            </tr>
                                            <tr>
                                                <td><strong>State</strong></td>
                                                <td>
                                                    @(
                                                           Model.Notice.CaseDetail == null ? "" : (Model.Notice.CaseDetail.CaseStateCode == 9 ? "UTTARPRADESH" : "Others")
                                                     )
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>District</strong></td>
                                                <td>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.District.DistrictName : "")</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Advocate</strong></td>
                                                <td><span id="@(Model.Advocate != null ? Model.Advocate.UserId.ToString() : "")">@(Model.Advocate != null ? Model.Advocate.Name : "")</span></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Region</strong></td>
                                                <td>@Model.Region.Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>OICs</strong></td>
                                                <td>
                                                    @foreach (var resp in @Model.Notice.NoticeRespondents)
                                                    {
                                                        slno++;
                                                        if (@resp.GovOIC != null)
                                                        {
                                                            <span id="@resp.GovOIC.GovernmentdepartmentOICID.ToString()" onclick="showOICBox('oic@(slno)')" style="color: blue; cursor: pointer;">@resp.GovOIC.OICName</span>
                                                            @(slno < Model.Notice.NoticeRespondents.Count ? "" : "")
                                                            <text>&nbsp; &nbsp;</text>
                                                            <div id="oic@(slno)" class="modal" tabindex="-1" role="dialog" aria-labelledby="oic@(slno)" aria-hidden="true">
                                                                <div class="modal-dialog modal-sm" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="example1ModalLabel">@resp.GovOIC.OICName</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div>
                                                                                <table>
                                                                                    <tr>
                                                                                        <td>Government Dept</td>
                                                                                        <td>@resp.GovermentDepartment.Name</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>POC Name</td>
                                                                                        <td>@resp.GovOIC.POCName</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>POC Contact</td>
                                                                                        <td>@resp.GovOIC.POCContact</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>POC Email</td>
                                                                                        <td>@resp.GovOIC.POCEmail</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>POC Mobile</td>
                                                                                        <td>@resp.GovOIC.POCMobileNo</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer justify-content-between">
                                                                            @* <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h5 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Petitioner/Respondent and their Advocate(s)</h5>

                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">Petitioner</th>
                                                <th style="width:50%">Respondent</th>
                                            </tr>
                                        </thead>

                                        <tbody class="verdana f-12">
                                            <tr>
                                                <td>
                                                    <ol>
                                                        <li>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.PetName : "")</li>
                                                        @if (Model.Notice.CaseDetail != null)
                                                        {
                                                            foreach (var Pet in Model.Notice.CaseDetail.Petitioner)
                                                            {
                                                                <li>@Pet.PetName</li>
                                                            }
                                                        }
                                                    </ol>
                                                </td>
                                                <td>
                                                    <ol>
                                                        <li>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.ResName : "")</li>
                                                        @if (Model.Notice.CaseDetail != null)
                                                        {
                                                            foreach (var Resp in Model.Notice.CaseDetail.Respondent)
                                                            {
                                                                <li>@Resp.RespName</li>
                                                            }
                                                        }
                                                    </ol>
                                                </td>
                                            </tr>
                                            @if (Model.Notice.CaseDetail != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <strong>Advocate</strong>- @(Model.Notice.CaseDetail.PetAdvocate == null ? " " : Model.Notice.CaseDetail.PetAdvocate.Name.ToString() + " ( " + Model.Notice.CaseDetail.PetAdvocate.AdvReg + " ) "  )
                                                    </td>
                                                    <td>
                                                        <strong>Advocate</strong>- @(Model.Notice.CaseDetail.RespAdvocate == null ? " " : Model.Notice.CaseDetail.RespAdvocate.Name.ToString() + " ( " + Model.Notice.CaseDetail.RespAdvocate.AdvReg + " ) "  )
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <h6 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4"><a href="/Case/CaseDocuments/@Model.CaseId" class="btn btn-primary btn-sm" target="_blank">Case All Documents</a></h6>
                                    <h5 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Category Details</h5>

                                    <table class="table table-bordered table-striped">
                                        <tbody class="verdana f-12">
                                            <tr>
                                                <th style="width:25%">Category</th>
                                                <td style="width:75%">@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.Category.CategoryName + "(" + Model.Notice.CaseDetail.Category.CategoryCode + ")" : "")</td>
                                            </tr>
                                            <tr>
                                                <th>Sub Category</th>
                                                <td>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.SubCategory.SubCategoryName + "(" + Model.Notice.CaseDetail.SubCategory.SubCategoryCode + ")" : "" )</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    @if (Model.Notice.CaseNoticeType.ParentNoticeType == UPCourt.Entity.ParentNoticeType.Criminal)
                                    {
                                        <h5 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Crime Details</h5>

                                        <table class="table table-bordered table-striped">
                                            <tbody class="verdana f-12">
                                                <tr>
                                                    <th style="width:25%">District</th>
                                                    <td style="width:75%">@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.dist_name : "")</td>
                                                </tr>
                                                <tr>
                                                    <th>Police Station</th>
                                                    <td>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.police_st_name : "")</td>
                                                </tr>
                                                <tr>
                                                    <th>Crime No.</th>
                                                    <td>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.fir_no : "") </td>
                                                </tr>
                                                <tr>
                                                    <th>Year</th>
                                                    <td>@(Model.Notice.CaseDetail != null ? Model.Notice.CaseDetail.fir_year.ToString() : "") </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    @if (Model.Notice.CaseDetail != null && Model.Notice.CaseDetail.IA != null && Model.Notice.CaseDetail.IA.Count() > 0)
                                    {
                                        <h5 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">IA Details</h5>

                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Application(s) Number</th>
                                                    <th>Party </th>
                                                    <th>Date of Filing </th>
                                                    <th>Next / Disposal Date</th>
                                                    <th>IA Status</th>
                                                </tr>
                                            </thead>
                                            <tbody class="verdana f-12">
                                                @foreach (var ia in Model.Notice.CaseDetail.IA)
                                                {
                                                    <tr>
                                                        <td>
                                                            IA/@ia.ia_regno/@ia.ia_regyear   <br />
                                                            <strong>Classification</strong> :
                                                            @(ia.judge_code == null ? "Stay Application" : ia.date_of_hearing > DateTime.Now.AddYears(100) ? "Stay Vacation" : "Listing Application")
                                                            @*<strong> Bench</strong> : @ia.court_no*@
                                                        </td>
                                                        <td>
                                                            @Model.Notice.CaseDetail.PetName <strong> Vs </strong> @Model.Notice.CaseDetail.ResName   <br />
                                                            <strong>Applied by (Advocate)</strong> :
                                                        </td>
                                                        <td>@(ia.date_of_ia_registration == null ? " " : string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration) == "01-01-0001" ? " " : string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration))</td>
                                                        <td>@(ia.date_of_hearing == null ? " " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing) == "01-01-0001" ? " " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing))</td>
                                                        <td>@(ia.date_of_order == null ? " Pending " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing) == "01-01-0001" ? " Pending " : " Disposed ")  </td>
                                                    </tr>


                                                }


                                            </tbody>

                                        </table>
                                    }

                                   

                                    @if (Model.Notice.NoticeBasicIndexs.Count > 0)
                                    {
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Particulars</th>
                                                    <th>File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var BasicIndex in Model.Notice.NoticeBasicIndexs)
                                                {
                                                    BISrNo = BISrNo + 1;
                                                    <tr>
                                                        <td>@BISrNo</td>
                                                        <td>@BasicIndex.Particulars</td>
                                                        <td>
                                                            @if (BasicIndex.Documents != null && BasicIndex.Documents.Count() > 0 && !string.IsNullOrEmpty(BasicIndex.Documents[0].DocumentUrl))
                                                            {
                                                                <a href="@(Request.Url.GetLeftPart(UriPartial.Authority) + "/Document/Notice/" + BasicIndex.Documents[0].DocumentUrl)" class="btn btn-primary btn-sm" target="_blank">View</a>
                                                            }
                                                            else
                                                            {
                                                                <span>-</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }


                                    <div class="row mb-3">
                                        <div class="col-md-9">
                                            <h5 class="text-center case-heading-red pl-5 ml-5">Hearing Details</h5>
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.CaseStatusId != CaseDataService.GetCaseStatus(CaseStatusType.Dispose))
                                            {
                                                <a class="btn btn-secondary active fa-pull-right float-right" href="/Case/CaseHearing/@Model.CaseId">Add Hearing</a>
                                            }
                                        </div>
                                    </div>

                                    <div class="accordion" id="accordionExample">
                                        @if (Model.CaseHearings.Count >= 0)
                                        {
                                            foreach (var caseHearing in Model.CaseHearings.OrderBy(x => x.CreatedOn))
                                            {
                                                slno++;
                                                string cHDate = caseHearing.HearingDate != null ? DateTime.Parse(caseHearing.HearingDate.ToString()).ToString("dd-MMMM-yyyy") : "";
                                                string cHTime = caseHearing.HearingDate != null ? DateTime.Parse(caseHearing.HearingDate.ToString()).ToString("hh:mm tt") : "";
                                                string chNextDate = caseHearing.NextHearingDate != null ? DateTime.Parse(caseHearing.NextHearingDate.ToString()).ToString("dd-MMMM-yyyy") : "";
                                                string advocates = string.Join(", ", caseHearing.CaseHearingGovAdvocates.Select(x => x.Advocate.Name).ToList());
                                                int docCount = 0;
                                                var hearingtype = (CaseHearingType)caseHearing.HearingType;



                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h2 class="mb-0">
                                                            <div id="@caseHearing.CaseHearingId" data-ch="@slno" class="row">
                                                                <div class="col-12">
                                                                    <h4 class=" mb-3">
                                                                        <strong>HRNO-@slno.ToString("000000")</strong> <small>(@hearingtype)</small>
                                                                       @* <a href="#" onclick="location.href = '/Case/EditHearing/@caseHearing.CaseHearingId'; return false;" class="btn btn-outline-primary btn-xs ml-1 border-0 float-right"><i class="fa fa-pencil-alt"></i> Edit</a>*@
                                                                        @*<span class="text-sm text-muted float-right"><i class="fas fa-calendar-check"></i> @cHDate | @cHTime</span>*@
                                                                    </h4>
                                                                    <button id="btnCase@(slno)" class="btn  p-0 w-100 text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse@(slno)" aria-expanded="false" aria-controls="collapseTwo">
                                                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                            <li class="large">
                                                                                <span class="fa-li"><i class="fas fa-file-alt mr-1"></i></span> <b>H'ble Justice Name :</b> @caseHearing.Judge.Name
                                                                                <span class="mx-3">|</span> <span class="fa-li"></span><i class="fas fa-file-alt mr-1"></i> <b>Date of Hearing :</b> @cHDate
                                                                                <i class="fa fa-chevron-down float-right"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </h2>
                                                    </div>
                                                    <div id="collapse@(slno)" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <h6 class=" mb-2 border-bottom pb-2"><strong>Hearing Details</strong></h6>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Sr. No of Case in Cause List:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @caseHearing.CauseListSrNo
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Name of Govt Advoc:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @(Model.Advocate==null? "N/A" : Model.Advocate.Name )
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Advocates Added:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @(advocates.Trim().Length > 0 ? advocates : "N/A")
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Supporting document:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <small>
                                                                                                @foreach (var document in caseHearing.Documents.Where(x => x.Type == DocumentType.CHSupportingDoc))
                                                                                                {
                                                                                                    docCount++;
                                                                                                    <a href="~/Document/@document.DocumentUrl" target="_blank"><i class="fa fa-download"></i> Download Doc</a>
                                                                                                    @(docCount < caseHearing.Documents.Where(x => x.Type == DocumentType.CHSupportingDoc).ToList().Count ? "," : "")
                                                                                                    <text>&nbsp; &nbsp;</text>
                                                                                                }
                                                                                            </small>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="col-md-12">
                                                                            <div class="border-bottom my-2"></div>
                                                                        </div>


                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Reason as mentioned in the cause list:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @caseHearing.CauseListReason
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-12">
                                                                            <div class="border-bottom my-2"></div>
                                                                        </div>


                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Instruction from the Court:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @caseHearing.CourtInstructions
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-12">
                                                                            <div class="border-bottom my-2"></div>
                                                                        </div>

                                                                        <!--Respondents-->
                                                                        <p class=" mb-2 border-bottom pb-2"><strong>Respondents</strong></p>
                                                                        @foreach (var chR in caseHearing.CaseHearingRespondents)
                                                                        {

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Respondent Department:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @GovermentDepartmentDataService.GetName(chR.GovernmentDepartmentId)
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Document type:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @DocumentMasterDataService.GetName(chR.DocumentType)
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Last compliance date:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @chR.LastComplianceDate.ToString("dd-MMM-yyyy")
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Priority:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @chR.Priority.ToString()
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Comments:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @chR.Comments
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="border-bottom my-2"></div>
                                                                            </div>
                                                                        }

                                                                        <!--Departments added-->
                                                                        @*<p class=" mb-2 border-bottom pb-2"><strong>Departments</strong></p>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Dept. to be Added to the Case:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                IT, Finance
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>



                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Designation:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                Manager
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Dept. to be Removed to the Case:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                Finance
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        *@

                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Status of Hearing:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @caseHearing.HearingStatus
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        @if (caseHearing.HearingStatus == CaseHearingStatus.Pending)
                                                                        {
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Next Hearing Date:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @caseHearing.NextHearingDate.ToDdMmYyyy()
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Is Time Bound Compliance:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @caseHearing.IsTimeBoundCompliance.ToString()
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                <b class="d-block text-sm">Time bound Compliance  Date:</b>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="text-muted">
                                                                                            <p class="text-md mb-2">
                                                                                                @caseHearing.TimeBoundComplianceDate.ToDdMmYyyy()
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            <b class="d-block text-sm">Submitted by:</b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="text-muted">
                                                                                        <p class="text-md mb-2">
                                                                                            @UserDataService.GetName(caseHearing.CreatedBy)
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <h6 class="mt-4 mb-4 border-bottom pb-2"><strong>Response History</strong></h6>

                                                                    <div class="timeline replytimelineshear">

                                                                        @foreach (var chResponse in caseHearing.CaseHearingResponses.OrderBy(x => x.CreatedOn))
                                                                        {
                                                                            var document = DocumentDataService.GetDetail(chResponse.DocumentId);

                                                                            <div>
                                                                                <i class="fas fa-envelope bg-blue"></i>
                                                                                <div class="timeline-item">
                                                                                    <span class="time"><i class="fas fa-clock"></i> @chResponse.CreatedOn.ToLongDateString() @chResponse.CreatedOn.ToLongTimeString()</span>
                                                                                    <h3 class="timeline-header">
                                                                                        @if (chResponse.GovDepartmentId != null)
                                                                                        {
                                                                                            <a href="#">
                                                                                                @GovermentDepartmentDataService.GetName(chResponse.GovDepartmentId)
                                                                                            </a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a href="#">
                                                                                                Advocate
                                                                                            </a>
                                                                                        }
                                                                                        <strong>(@UserDataService.GetName(chResponse.CreatedBy))</strong>
                                                                                    </h3>
                                                                                    <div class="timeline-body">
                                                                                        @chResponse.Comments
                                                                                    </div>
                                                                                    <div class="timeline-footer">
                                                                                        @if (document != null)
                                                                                        {
                                                                                            <small>
                                                                                                <a class="text-primary" href="~/Document/@document.DocumentUrl" target="_blank">
                                                                                                    <i class="fa fa-download"></i>
                                                                                                    Download Doc
                                                                                                </a>
                                                                                            </small>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        }
                                                                        @if (caseHearing.CaseHearingResponses.Count > 0 && (UserSystemRoleId == UserSystemRole.AdvCivil || UserSystemRoleId == UserSystemRole.AdvCriminal))
                                                                        {
                                                                            <div>
                                                                                <i class="fas fa-comments bg-yellow"></i>
                                                                                <div class="timeline-item">
                                                                                    <span class="time"><i class="fas fa-clock"></i>@DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString()  </span>
                                                                                    <h3 class="timeline-header"><strong>Reply for above Doc and comment</strong></h3>
                                                                                    <div class="timeline-body">
                                                                                        <div class="row">
                                                                                            @using (Html.BeginForm("SaveHearingDetail", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                                                            {
                                                                                                @Html.Hidden("CaseHearingId", caseHearing.CaseHearingId);
                                                                                                @Html.Hidden("CaseId", caseHearing.CaseId);

                                                                                                <div class="col-md-12 form-group">
                                                                                                    <label class="form-check-label">Comments <span class="text-danger">*</span></label>
                                                                                                    @Html.TextArea("Comments", new { @class = "form-control", @required = "true", placeholder = "Enter Comments" })
                                                                                                </div>
                                                                                                <div class="col-md-6 form-group">
                                                                                                    <label class="form-check-label">Supporting document </label>
                                                                                                    <input id="UploadDocument" name="UploadDocument" type="file" />
                                                                                                </div>
                                                                                                <div class="col-md-12">
                                                                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-file-signature"></i> Submit</button>
                                                                                                </div>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div>
                                                                            <i class="fas fa-clock bg-gray"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>

                                    <table class="table table-bordered table-striped " style="margin-top:100px">
                                        <tr>
                                            <td>
                                                <strong>Disclaimer:</strong> &nbsp; &nbsp; &nbsp;   This is not an authentic/certified copy of the information regarding status of a case.
                                                Authentic/certified information may be obtained under Chapter VIII Rule 30 of Allahabad High Court Rules.
                                                Mistake, if any, may be brought to the notice of Jt. Registrar(J)(Computer).
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-calendar-alt"></i>
                            Activity
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-bod p-2">
                        <div class="timeline">
                            @foreach (var date in TimelineDates)
                            {

                                <div class="time-label">
                                    <span class="bg-red">@TimelineBusinessService.TimeLineDate(Convert.ToDateTime(date.Key))</span>
                                </div>
                                foreach (var timeline in Model.Timelines.Where(x => x.TimeOfEvent.ToShortDateString() == date.Key).OrderByDescending(x => x.TimeOfEvent))
                                {
                                    <div>
                                        <i class="@timeline.EventTypeNameIconType"></i>
                                        <div class="timeline-item">
                                            <span class="time">
                                                <i class="fas fa-clock"></i>
                                                @(TimelineBusinessService.TimeLineTime(timeline.TimeOfEvent))
                                            </span>
                                            <h3 class="timeline-header">
                                                <a href="#">@timeline.EventTypeNameDisplay</a>
                                            </h3>
                                            <div class="timeline-body">
                                                @timeline.Description
                                            </div>
                                            <div class="timeline-footer">
                                                Done By:- <a class="text-info" href="#">@timeline.User.Name</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div>
                                <i class="fas fa-clock bg-gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="HhfCount" type="hidden" value="1" />
</div>

<div class="modal" id="divViewDoc" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divViewDocSubModalBody">

            </div>
            <div class="modal-footer justify-content-between">
                @* <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () { $("#SharedBy").select2({ multiple: true }); });
        $(function () {
           // GetRequestDocument();
        })
        function showOICBox(oicid) {
            if (oicid)
                $('#' + oicid).modal("show");
        }
        function GetRequestDocument() {
         var data = {};
            data.id=$('#CaseId').val();
             $.ajax({
            type: "POST",
                url: '@Url.Action("GetRequestData")',
                 dataType: "json",
                 data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                 success: function (r) {
                const tbl = r;
                var html = '';
                for (var i = 0; i < tbl.length; i++) {
                    html += '<tr>';
                    html += '<td>' + (parseInt(1) + parseInt(i)) + '</td>';
                    html += '<td>' + tbl[i].DocumentName + '</td>';
                    html += '<td>' + tbl[i].Name + '</td>';
                    html += '<td>' + tbl[i].CommentRequestor + '</td>';
                    html += '<td>' + (tbl[i].Document_Name || '') + '</td>';
                    html += '<td>' + (tbl[i].GovDeptComment || '') + '</td>';
                    html += '<td>';
                    if (tbl[i].DocumentPath) {
                        html += '<a class="btn btn-primary btn-sm" download href="' + tbl[i].DocumentPath+'"><i class="fa fa-file-pdf mr-2"></> Downlaod</a>';
                    }
                    html += '</td><tr/>';
                }
                $('#tbl_Request').html(html);
                },
            error: function (errorData) { alert(errorData.status); }
        });
    }
    </script>
}
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $("[type='textarea']").summernote();
    });
    //$(document).ready(function () {
    //    // Summernote
    //   $("[type='htmleditor']").summernote();
    //});

</script>
<script>

    function AddFiles() {
        // debugger;
        // alert($(this).attr("id"))
        var mytable = $("#tbldoc tr:last")
        var rowCount = parseInt($("#HhfCount").val());
        var SLNo = rowCount + 1;
        var Newrow = "<tr>" +
            "<td> " + SLNo + "</td>" +
            "<td>" +
            "<input data-val='true' data-val-required='The DocumentId field is required.' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__DocumentId' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].DocumentId' type='hidden' value='rowCount'>" +
            "   <input data-val='true' data-val-required='The Upload Document Name field is required.' class=\"form-control txtFileName\" placeholder=\"DocumentName\" type=\"text\" id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__Name' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].Name' type='text' value=''>" +
            "</td>" +
            "   <td>" +
            "      <input class='form-control File' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__UploadFile' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].UploadFile' type='file' value=''>" +
            "         <span class='field-validation-valid text-danger' data-valmsg-for='NewCaseHearing.DocumentMvcModel[" + rowCount + "].UploadFile' data-valmsg-replace='true'></span>" +
            "                                                </td>" +
            "   <td>" +
            "      <a id='addfile' class='text-primary' onclick='AddFiles(this);'><i class='fa fa-plus-square'></i></a> " +
            " <a id='myRowRemove' class='text-danger'  onclick='RemoveRow(this)'><i class='fa fa-trash'></i></a> " +
            " </td>" +
            "    </tr > ";
        mytable.after(Newrow);
        rowCount = rowCount + 1;
        $("#HhfCount").val(rowCount);
    }

    function RemoveRow(obj) {
        var r = confirm("Are your sure? Do you want to remove?");
        if (r == true) {
            $(obj).parent().parent().hide();
        }
    }
</script>
<script>

    function Addmodal(CaseHearing_Id, CaseId) {
        debugger;
        $("#divViewDocSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/Case/CaseHearingDOC/",
            data: { "CaseHearID": CaseHearing_Id, "CaseId": CaseId },
            success: function (response) {
                $("#example1ModalLabel").text("Documents");
                $("#divViewDocSubModalBody").append(response);
                $("#divViewDoc").modal("show");
            },
            error: function (errorData) { alert(errorData.status); }
        });
    }

    $(document).ready(function () {
        let u = location.href;
        if (u.indexOf('#') > 0) {
            let t = u.split('#')[1].toString();
            let btnno = $('#' + t).attr('data-ch');
            if (btnno)
                $('#btnCase' + btnno).click();

            $('html, body').animate({
                scrollTop: $('#' + t).offset().top
            }, 500);
            $('#' + t).click();
        }
    });


    function ViewComment(CaseHearing_Id, CaseId) {
        debugger;
        $("#divViewDocSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/Case/CaseHearingComment/",
            data: { "CaseHearID": CaseHearing_Id, "CaseId": CaseId },
            success: function (response) {

                $("#example1ModalLabel").text("Case Comment");
                $("#divViewDocSubModalBody").append(response);
                $("#divViewDoc").modal("show");
            },
            error: function (errorData) { alert(errorData.status); }
        });
    }
</script>