﻿@model UPCourt.Web.Models.CaseMvcModel

@using UPCourt.Entity;
@using UPCourt.Web.Service.BusinessService;
@using UPCourt.Web.Service.DataService;
@using UPCourt.Web.Models;
@{
    int ASno = 0;
    string basePath = Server.MapPath("~/Document/");
    ViewBag.Title = "Case Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .docuemntbox {
        height: 140px;
        border-radius: 10px;
        background: #eee;
        position: relative;
        text-align: center;
        margin: 10px 0;
        padding-top: 30px
    }

        .docuemntbox i {
            font-size: 30px;
            display: block;
            color: #666;
        }

        .docuemntbox p {
            margin-bottom: 0px;
            margin-top: 10px;
            font-size: 13px;
            font-weight: 600;
        }

        .docuemntbox .date {
            color: #666;
            font-size: 12px;
        }

    .downloadd {
        position: absolute;
        right: 10px;
        top: 10px;
    }

        .downloadd i {
            font-size: 13px;
            color: #205DED
        }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Documents</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    <i class="fas fa-file-alt"></i>
                                    Download Documents
                                </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/Case/DownloadAllCaseDocuments/@Model.CaseId" class="text-secondary"><small><i class="fas fa-download"></i> Download Zip </small></a>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card card-primary card-outline card-outline-tabs">
                                <table class="table table-bordered table-striped">
                                    <tbody class="verdana f-12">
                                        <tr>
                                            <td style="width:25%"><strong>CNR</strong></td>
                                            <td style="width:25%">@Model.Notice.Cnr</td>
                                            <td style="width:25%"><strong>Petitioner No.</strong></td>
                                            <td style="width:25%">@Model.PetitionNo</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-four-tabContent">
                                        <div class="row">
                                            @foreach (var basicIndex in Model.Notice.NoticeBasicIndexs)
                                            {
                                                foreach (var doc in basicIndex.Documents)
                                                {
                                                    if (doc.Name != null)
                                                    {
                                                        <div class="col-md-2">
                                                            <div class="docuemntbox">
                                                                <i class="fa fa-file-pdf"></i>
                                                                <p>@doc.Name</p>
                                                                <div class="date"><span>Uploaded on:</span> @doc.CreatedOn.ToDdMmYyyy()</div>
                                                                <a href="~/Document/Notice/@doc.DocumentUrl" target="_blank" class="downloadd"><i class="fa fa-download"></i></a>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            @foreach (var casehearing in Model.CaseHearings)
                                            {
                                                foreach (var doc in casehearing.Documents)
                                                {
                                                    if (doc.Name != null)
                                                    {
                                                        <div class="col-md-2">
                                                            <div class="docuemntbox">
                                                                <i class="fa fa-file-pdf"></i>
                                                                <p>@doc.Name</p>
                                                                <div class="date"><span>Uploaded on:</span> @doc.CreatedOn.ToDdMmYyyy()</div>
                                                                <a href="~/Document/@doc.DocumentUrl" target="_blank" class="downloadd"><i class="fa fa-download"></i></a>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                foreach (var hearinngResponse in casehearing.CaseHearingResponses.OrderBy(x => x.CreatedOn))
                                                {
                                                    if (hearinngResponse.DocumentId != null)
                                                    {
                                                        var doc = DocumentDataService.GetDetail(hearinngResponse.DocumentId);
                                                        if (doc != null)
                                                        {
                                                            <div class="col-md-2">
                                                                <div class="docuemntbox">
                                                                    <i class="fa fa-file-pdf"></i>
                                                                    <p>@doc.Name</p>
                                                                    <div class="date"><span>Uploaded on:</span> @doc.CreatedOn.ToDdMmYyyy()</div>
                                                                    <a href="~/Document/@doc.DocumentUrl" target="_blank" class="downloadd"><i class="fa fa-download"></i></a>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>


    </div>
</section>
