﻿@model  UPCourt.Web.Models.CaseHearingMvcModel
@using UPCourt.Entity;

@using UPCourt.Web.Service.BusinessService;
@using UPCourt.Web.Service.DataService;
@{
    int cntr = 0;
    ViewBag.Title = " Case Management";
}
@section Scripts {
    <link href="~/FrontEnd/tokenize/tokenize2.css" rel="stylesheet" />
    <script src="~/FrontEnd/tokenize/tokenize2.js"></script>
}
<style>
    .replytimelineshear > div > .timeline-item {
        box-shadow: none;
        border: #eee thin solid;
    }

    .replytimelineshear > div > .fas {
        border-radius: 50%;
        font-size: 10px;
        height: 20px;
        left: 0;
        line-height: 20px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 20px;
    }

    .replytimelineshear::before {
        left: 8px
    }

    .replytimelineshear > div > .timeline-item {
        margin-left: 35px
    }

    .uploaded-doc {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        position: relative;
        background: #eee;
        margin-right: 7px;
        margin-top: 8px;
        float: left
    }

        .uploaded-doc i {
            font-size: 30px;
            display: block;
            text-align: center;
            line-height: 80px;
            color: #666;
        }

        .uploaded-doc a {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            line-height: 17px;
            border-radius: 50%;
            background: #0000007a;
            text-align: center;
        }

            .uploaded-doc a img {
                width: 9px;
            }
</style>

<div class="content">
    <div class="container-fluid">


        @using (Html.BeginForm("CaseHearing", "Case", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data", @ID = "CaseHearing" }))
        {
            <div class="card-body py-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="card-title">
                                            <i class="fas fa-file-alt"></i>
                                            Add Hearing Details
                                            @Html.HiddenFor(m => m.CaseId)
                                            @Html.HiddenFor(m => m.Case.HearingStatus)
                                            @Html.HiddenFor(m => m.Case.LastHearingDate)
                                            @Html.HiddenFor(m => m.CaseHearingId)
                                        </h3>
                                    </div>
                                    <div class="col-md-8" style="text-align:center;">
                                        <h3 class="card-title">
                                            <span class="text-danger"> Case No : </span>
                                            <span class="text-info"> @Model.Case.PetitionNo  </span>
                                            &nbsp;  &nbsp;  &nbsp;
                                            <span class="text-danger"> Petition name :</span>
                                            <span class="text-info"> @(Model.Case.Notice.Petitioners.FirstOrDefault().Name)   </span>
                                        </h3>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <a href="~/Case/CaseView/@Model.CaseId" class="text-secondary"><small><i class="fas fa-arrow-alt-circle-left"></i> Back </small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.HearingType, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.EnumDropDownListFor(model => model.HearingType, "Select", new { @class = "form-control", @required = "true", @min = 1 })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.HearingDate, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.HearingDate, new { @class = "form-control date", @required = "true", @type = "date" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.JudgeId, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.JudgeId, ViewBag.Judges as IEnumerable<SelectListItem>, "Select", new { @class = "form-control select", @required = "true", @placeholder = "Enter H'ble Justice Name" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.CauseListSrNo, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.CauseListSrNo, new { @class = "form-control", @required = "true", placeholder = "Enter Sr. no here" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        Name of Assigned Govt. Advocate  <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @UserDataService.GetName(Model.Case.AdvocateId)

                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.AdvocateIds, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.AdvocateIds_Selected, ViewBag.GovAdvocates as IEnumerable<SelectListItem>, new { @class = "AdvocateIds_Selected", @style = "display: none;", @multiple = "multiple" })

                                        @Html.DropDownListFor(model => model.AdvocateIds, ViewBag.GovAdvocates as IEnumerable<SelectListItem>, new { @class = "form-control AdvocateIds select2", @multiple = "multiple", @required = "true" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.CauseListReason, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextAreaFor(model => model.CauseListReason, new { @class = "form-control", @required = "true", placeholder = "Enter Reason here" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.CourtInstructions, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextAreaFor(model => model.CourtInstructions, new { @class = "form-control", @required = "true", placeholder = "Enter Court Instructions here" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.SupportingDocuments, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.SupportingDocuments.MultiUploadFiles, new { @class = "form-control", @required = "true", @multiple = "multiple", @type = "file" })
                                    </div>
                                </div>
                                <div class="row mt-3 FinalHearing">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.IsCertifiedCopyReceived, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.EnumDropDownListFor(model => model.IsCertifiedCopyReceived, "Select", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mt-3 FinalHearing">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.CertifiedCopy.UploadFile, new { @class = "form-check-label" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.CertifiedCopy.UploadFile, new { @class = "form-control", @type = "file" })
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div id="DivRespondent" class="col-md-12">
                                        <h6 class="mb-4 border-bottom pb-2"><strong>Respondant Details</strong></h6>
                                        @for (int i = 0; i < Model.CaseHearingRespondents.Count; i++)
                                        {
                                            <div id="HearingRespondentRow_@i" class="border p-3 mb-3 RespondentRow">
                                                @Html.HiddenFor(model => model.CaseHearingRespondents[i].bActive, new { @Value = "true" })
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.CaseHearingRespondents[i].GovernmentDepartmentId, new { @class = "form-check-label" })
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.DropDownListFor(model => model.CaseHearingRespondents[i].GovernmentDepartmentId, ViewBag.CaseGovDepartments as IEnumerable<SelectListItem>, "Select", new { @class = "form-control select2" })
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        @if (i == 0)
                                                        {
                                                            <a class="btn btn-outline-primary IsFirstRow btn-xs" onclick="AddHearingRespondent();">+ Add More</a>
                                                        }
                                                        <a title="Delete" id="RemoveHearingRespondentRow_@i" class="Removebtn float-right" style="display:none" onclick="RemoveAddedHearingRespondent(this)">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-4">
                                                        <label class="form-check-label">Document type <span class="text-danger">*</span></label>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.DropDownListFor(model => model.CaseHearingRespondents[i].DocumentType, ViewBag.Document as IEnumerable<SelectListItem>, "Select", new { @class = "form-control select2" })
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.CaseHearingRespondents[i].LastComplianceDate, new { @class = "form-check-label" })
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.TextBoxFor(model => model.CaseHearingRespondents[i].LastComplianceDate, new { @class = "form-control date LastComplianceDate", @type = "date" })
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.CaseHearingRespondents[i].Priority, new { @class = "form-check-label" })
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.EnumDropDownListFor(model => model.CaseHearingRespondents[i].Priority, "Select", new { @class = "form-control", @type = "date" })
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.CaseHearingRespondents[i].Comments, new { @class = "form-check-label" })
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.TextAreaFor(model => model.CaseHearingRespondents[i].Comments, new { @class = "form-control", @placeholder = "Enter Comments" })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div id="DivAddRespondent" class="col-md-12">
                                        <h6 class="mb-4 border-bottom pb-2"><strong>Dept. to be Added to the Case</strong></h6>
                                        @for (int i = 0; i < Model.AddRespondents.Count; i++)
                                        {
                                            <div id="AddRespondentRow_@i" class="border p-3 mb-3 AddRespondentRow">
                                                @Html.HiddenFor(model => model.AddRespondents[i].bActive, new { @Value = "true" })
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.AddRespondents[i].GovernmentDepartmentId, new { @class = "form-check-label" })
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.DropDownListFor(model => model.AddRespondents[i].GovernmentDepartmentId, ViewBag.ExceptCaseGovDepartments as IEnumerable<SelectListItem>, "Select", new { @class = "form-control select2", @onChange = "getDesignations(" + @i + ", this)" })
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        @if (i == 0)
                                                        {
                                                            <a class="btn btn-outline-primary IsFirstRow btn-xs" onclick="AddAddRespondent();">+ Add More</a>
                                                        }
                                                        <a title="Delete" id="RemoveAddRespondentRow_@i" class="Removebtn float-right" style="display:none" onclick="RemoveAddedAddRespondent(this)">
                                                            <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-4">
                                                        <label class="form-check-label">Designation <span class="text-danger">*</span></label>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.DropDownListFor(model => model.AddRespondents[i].GovernmentDesignationId, ViewBag.ExceptCaseGovDepartmentDesignation as IEnumerable<SelectListItem>, "Select", new { @class = "form-control select2", @onchange = "checkDepartmentSelected(" + @i + ", this)" })

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-check-label">Dept. to be Removed to the Case <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.RemoveRespondents, ViewBag.RemoveCaseGovDepartments as IEnumerable<SelectListItem>, new { @class = "form-control RemoveRespondents", @multiple = "multiple" })

                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.HearingStatus, new { @class = "form-check-label" })
                                    </div>
                                    <div class="col-md-5">

                                        @foreach (CaseHearingStatus value in Enum.GetValues(Model.HearingStatus.GetType()))
                                        {
                                            <div class="custom-control custom-radio d-inline-block mr-3">
                                                <input class="with-gap" type="radio" id="HearingStatus_@value" onchange="HearingStatusChange('@value')" name="HearingStatus" value="@((int)value)" class="required" @(Model.HearingStatus == value || (Model.HearingStatus == 0) ? "checked" : "") />
                                                @*@Html.RadioButtonFor(m => m.NoticeType, Convert.ToInt32(value), new { @id = "rdoParentNoticeType_" + value, @onclick = "showParentNoticeTypeDetails(this)", @class = "required" })*@
                                                @Html.Label(Extended.GetEnumDescription(value).ToString(), new { @for = "HearingStatus_" + value })
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="row mt-3" id="NextHearingRow">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.NextHearingDate, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.NextHearingDate, new { @class = "form-control date", @type = "date", @required = true })
                                    </div>
                                </div>

                                <div class="row mt-3" id="TBComplianceRow" style="display:none;">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.IsTimeBoundCompliance, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.EnumDropDownListFor(model => model.IsTimeBoundCompliance, "Select", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mt-3" id="TBComplianceDateRow" style="display:none;">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.TimeBoundComplianceDate, new { @class = "form-check-label" }) <span class="text-danger">*</span>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.TimeBoundComplianceDate, new { @class = "form-control date", @type = "date" })
                                    </div>
                                </div>

                                <div class="border-top my-3"></div>
                                <button type="submit" id="btnSubmit" onclick="checkSelected();" class="btn btn-primary"><i class="fa fa-check mr-1"></i> Submit</button>


                            </div>

                        </div>
                    </div>
                </div>

            </div>

        }


    </div>
</div>

<script>
    var advocateTokenize;
    $(document).ready(function () {
        var validator = $('#form').validate({ settings: { ignore: null } });
        var validator = $('#form').validate({ settings: { ignore: 'input[type=hidden]' } });
        $("#btnSubmit").submit(function () {
            $(".AdvocateIds_Selected").closest('div').find('.tokens-container li.token').each(function (obj) {
                $('#AdvocateIds_Selected').append($('<option></option>').val($(this).data('value')).html($(this).text()).prop('selected', true));
            });
        });

        var HearingStatus = $("#Case_HearingStatus").val();
        var LastHearingDate = $("#Case_LastHearingDate").val();

        $('#HearingType option:eq(0)').val('');

        if (HearingStatus == 0) {
            $("#HearingType option[value*='2']").prop('disabled', true);
            $("#HearingType option[value*='3']").prop('disabled', true);
        }
        else if (HearingStatus == 1) {
            $("#HearingType option[value*='1']").prop('disabled', true);
        }
        else if (HearingStatus == 2) {
            $("#HearingType option[value*='1']").prop('disabled', true);
        }
        else if (HearingStatus == 3) {
            $("#HearingType option[value*='1']").prop('disabled', true);
            $("#HearingType option[value*='2']").prop('disabled', true);
        }

        advocateTokenize = $('.AdvocateIds').tokenize2({ sortable: true });
        advocateTokenize.input.attr('required', 'true');
        $('#AdvocateIds').on('tokenize:tokens:added', checkSelected());
        $('#AdvocateIds').on('tokenize:tokens:removed', checkSelected());


        $('.FinalHearing').hide();

        $("#HearingType").change(function () {
            var HearingType = $("#HearingType").val();
            if (HearingType == "3") {
                $('.FinalHearing').show();
            }
            else {
                $('.FinalHearing').hide();
            }
        });

        $("#IsCertifiedCopyReceived").change(function () {
            var IsCertifiedCopyReceived = $("#IsCertifiedCopyReceived").val();
            if (IsCertifiedCopyReceived == "1") {
                $('#HearingStatus_Pending').prop('disabled', 'disabled');
                $('#HearingStatus_Disposed').prop('checked', 'checked');
                HearingStatusChange('Disposed');
            }
            else {
                $('#HearingStatus_Pending').prop('disabled', '');
                $('#HearingStatus_Disposed').prop('checked', '');
            }
        });

        $("#HearingDate").prop("min", LastHearingDate);
        $(".LastComplianceDate").prop("min", LastHearingDate);
        $("#NextHearingDate").prop("min", LastHearingDate);
        $("#TimeBoundComplianceDate").prop("min", LastHearingDate);

        var MaxHeringdate = new Date().toISOString().split('T')[0];
        $("#HearingDate").prop("max", MaxHeringdate);
        $('#HearingDate').change(dateChanged).on('changeDate', dateChanged);

    });

    function checkSelected() {
        if ($('#AdvocateIds option:selected').length > 0)
            advocateTokenize.input.removeAttr('required');
        else
            advocateTokenize.input.attr('required', 'true');
    }

    function dateChanged() {
        var HDate = new Date($('#HearingDate').val());
        HDate.setDate(HDate.getDate() + 1);
        var HearingDate = HDate.toISOString().split('T')[0]

        $(".LastComplianceDate").val('');
        $(".LastComplianceDate").prop("min", HearingDate);

        $("#NextHearingDate").val('');
        $("#NextHearingDate").prop("min", HearingDate);

        $("#TimeBoundComplianceDate").val('');
        $("#TimeBoundComplianceDate").prop("min", HearingDate);
    }
    function HearingStatusChange(valueofHS) {
        if (valueofHS == "Disposed") {
            $('#NextHearingRow').hide();
            $("#NextHearingDate").prop('required', false);
            $('#TBComplianceRow').show();
            $('#TBComplianceDateRow').show();
        }
        else {
            $('#NextHearingRow').show();
            $("#NextHearingDate").prop('required', true);
            $('#TBComplianceRow').hide();
            $('#TBComplianceDateRow').hide();
        }
    }
    function getDesignations(i = -1, obj) {
        if (obj && i > -1) {
            obj = $(obj);
            let selDesig = '#AddRespondents_' + i + '__GovernmentDesignationId';

            $.ajax({
                type: "Get",
                async: false,
                url: "/Case/GetDesignationsForDepartment",
                data: { "govDepartmentId": $(obj).find('option:selected').val() },
                success: function (response) {
                    $(selDesig).empty();
                    $(selDesig).append('<option value>Select</option>');
                    $(response.data).each(function (idx, o) {
                        $(selDesig).append($("<option></option>").val(o.Value).html(o.Text));
                    })
                }
            });

        }
    }
    function checkDepartmentSelected(i = -1, obj) {
        if (obj && i > -1) {
            let selV = $(obj).find("option:selected").val(), strObj = '#AddRespondents_' + i + '__GovernmentDepartmentId';
            let selDept = $(strObj).find('option:selected').val();
            if (selV && selV != "" && !(selDept && selDept != "")) {
                $(obj).val($(obj).find('option:first').val());
                alert('Please select "Government Department" first.');
                $(strObj).focus();
            }
        }
    }
    function AddHearingRespondent() {
        var rowCount = $('.RespondentRow').length;
        var LastRowCount = rowCount - 1;

        if (LastRowCount <= 1000) {
            var lastRespondentRow = $('#HearingRespondentRow_' + LastRowCount);
            if (validateRespondentRow(LastRowCount)) {
                var newRespondentRow = lastRespondentRow.clone();

                newRespondentRow.find("div, checkbox, select, textarea, input, span, label, a").each(function () {
                    if ($(this).attr("id") != undefined)
                        $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                    if ($(this).attr("name") != undefined)
                        $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                    if ($(this).attr("data-valmsg-for") != undefined)
                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                    if ($(this).attr("for") != undefined)
                        $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
                    $(this).removeAttr("readonly", "");
                });
                newRespondentRow.find("select, textarea, input").each(function () {
                    $(this).attr("value", "");
                });
                newRespondentRow.find(".IsFirstRow").css("display", "none");
                newRespondentRow.find(".Removebtn").css("display", "block");
                newRespondentRow.find(".NewId").val('');
                newRespondentRow.find("[id$=bActive]").val("true");

                $('#DivRespondent').append("<div class='RespondentRow' id='HearingRespondentRow_" + rowCount + "' style='border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;'>" + newRespondentRow.html() + "</div>");
            }
        }
    }

    function validateRespondentRow(lastRespondentNo) {
        while (lastRespondentNo >= 0 && $('#HearingRespondentRow_' + lastRespondentNo).is(':visible') == false) {
            lastRespondentNo--;
        }
        let govDept = $('#CaseHearingRespondents_' + lastRespondentNo + '__GovernmentDepartmentId option:selected');
        if (govDept.length == 0 || govDept.val().trim() == '' || govDept.val().trim() == '0') {
            alert("To add more, please select Government Department. This is required field.");
            govDept.focus();
            return false;
        }
        let docType = $('#CaseHearingRespondents_' + lastRespondentNo + '__DocumentType option:selected');
        if (docType.length == 0 || docType.val().trim() == '' || docType.val().trim() == '0') {
            alert("To add more, please select Document Type. This is required field.");
            docType.focus();
            return false;
        }
        return true;
    }

    function RemoveAddedHearingRespondent(btn) {
        var id = $(btn).attr('id');
        $('#' + id.replace('Remove', '')).hide();
        $('#' + id.replace('Remove', '')).find("[id$=bActive]").val("false");
    }

    function AddAddRespondent() {
        var rowCount = $('.AddRespondentRow').length;
        var LastRowCount = rowCount - 1;
        if (LastRowCount <= 1000) {
            if (validateAddRespondentRow(LastRowCount)) {
                var newAddRespondentRow = $('#AddRespondentRow_' + LastRowCount).clone();
                newAddRespondentRow.find("div, checkbox, select, textarea, input, span, label, a").each(function () {
                    if ($(this).attr("id") != undefined)
                        $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                    if ($(this).attr('onchange') != undefined)
                        $(this).attr("onchange", $(this).attr("onchange").replace(LastRowCount, rowCount));
                    if ($(this).attr("name") != undefined)
                        $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                    if ($(this).attr("data-valmsg-for") != undefined)
                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                    if ($(this).attr("for") != undefined)
                        $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
                    if ($(this).attr('id') == 'rem')
                        $('#id', this).hide();
                    $(this).removeAttr("readonly", "");
                });
                newAddRespondentRow.find("select, textarea, input").each(function () {
                    $(this).attr("value", "");
                });
                newAddRespondentRow.find(".IsFirstRow").css("display", "none");
                newAddRespondentRow.find(".Removebtn").css("display", "block");
                newAddRespondentRow.find(".NewId").val('');
                newAddRespondentRow.find("[id$=bActive]").val("true");

                $('#DivAddRespondent').append("<div class='border p-3 mb-3 AddRespondentRow' id='AddRespondentRow_" + rowCount + "' style='border: #7d7d7dee thin dashed;  margin-bottom:15px; background:#eeeeee4a; padding:10px;'>" + newAddRespondentRow.html() + "</div>");
            }
        }
    }
    function validateAddRespondentRow(lastRespondentNo) {
        while (lastRespondentNo >= 0 && $('#AddRespondentRow_' + lastRespondentNo).is(':visible') == false) {
            lastRespondentNo--;
        }
        let govDept = $('#AddRespondents_' + lastRespondentNo + '__GovernmentDepartmentId option:selected');
        if (govDept.length == 0 || govDept.val().trim() == '' || govDept.val().trim() == '0') {
            alert("To add more, please select in existing Government Department. This is required field.");
            govDept.focus();
            return false;
        }
        let govDes = $('#AddRespondents_' + lastRespondentNo + '__GovernmentDesignationId option:selected');
        if (govDes.length == 0 || govDes.val().trim() == '' || govDes.val().trim() == '0') {
            alert("To add more, please select in existing Designation. This is required field.");
            govDes.focus();
            return false;
        }
        return true;
    }
    function RemoveAddedAddRespondent(btn) {
        var id = $(btn).attr('id');
        $('#' + id.replace('Remove', '')).hide();
        $('#' + id.replace('Remove', '')).find("[id$=bActive]").val("false");
    }
</script>

