﻿@model UPCourt.Web.Models.CaseMvcModel
    @{ 
        var SrNo = 0;
    }
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 d-flex align-items-stretch flex-column">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Document</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var caseHearing in Model.CaseHearings)
                        {
                            foreach (var DocItem in caseHearing.Documents)
                            {
                                SrNo = SrNo + 1;
                                <tr>
                                    <td>@SrNo</td>
                                    <td>@DocItem.Name</td>
                                    <td>
                                        <a class="" href="~/Document/@DocItem.DocumentUrl" target="_blank">
                                            <i class="fa fa-file-download mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>