﻿@model string

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 d-flex align-items-stretch flex-column">
                <label>@Html.Raw(Model) </label>
            </div>
        </div>
    </div>
</div>
