﻿@model UPCourt.Web.Models.CaseMvcModel
@using UPCourt.Web.Service.BusinessService;

@{
    ViewBag.Title = "Case View";
    Layout = "~/Views/Shared/_Layout.cshtml";


    DateTime? dt = null;//Model.CaseDetail.DateFirst NOT FOUND;
    string date_first_list = "Not Listed";
    if (dt != null)
    {
        date_first_list = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }
    dt = Model.Notice.CaseDetail.DateOfDecision;
    string date_next_hearing = "";
    if (dt != null)
    {
        date_next_hearing = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }

    string dateOfRegistration = "[NOT FOUND]";
    if (Model.Notice.CaseDetail.IA != null && Model.Notice.CaseDetail.IA.Count() > 0 && Model.Notice.CaseDetail.IA[0].date_of_ia_registration != null)
    {
        dateOfRegistration = string.Format("{0:dd-MM-yyyy}", Model.Notice.CaseDetail.IA[0].date_of_ia_registration);
    }
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Case View</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Case")">Case</a></li>
                    <li class="breadcrumb-item active">View</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case View
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="card card-default">
                            <div class="card-body">
                                <div class="col-md-12">

                                    <h4 class="text-uppercase f-18 verdana text-center fw-bold mb-2 mt-3">Case Status - @Model.Notice.CaseNoticeType.Name ( @Model.Notice.CaseNoticeType.type_name ) - [ @Model.Notice.CaseDetail.Notice.NoticeNo/@Model.Notice.CaseDetail.Notice.NoticeYear]</h4>

                                    <table class="table table-bordered table-striped">
                                        <tbody class="verdana f-12">
                                            <tr>
                                                <td style="width:25%"><strong>Filing No.</strong></td>
                                                <td style="width:25%">[TO BE DETERMINED] </td>
                                                <td style="width:25%"><strong>Filing Date</strong></td>
                                                <td style="width:25%">@dateOfRegistration</td>
                                            </tr>
                                            <tr>
                                                <td><strong>CNR</strong></td>
                                                <td>@Model.Notice.Cnr</td>
                                                <td><strong>Date of Registration</strong></td>
                                                <td>[TO BE DETERMINED]</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Case Status</h4>

                                    <table class="table table-bordered table-striped">
                                        <tbody class="verdana f-12">
                                            <tr>
                                                <td style="width:25%"><strong>First Hearing Date</strong></td>
                                                <td style="width:75%">@date_first_list </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Next Hearing Date</strong></td>
                                                <td>@date_next_hearing</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Stage of Case</strong></td>
                                                <td>[TO BE DETERMINED]</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Coram</strong></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Bench Type</strong></td>
                                                <td>@Model.Notice.CaseDetail.Bench.Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Judicial Branch</strong></td>
                                                <td>@Model.Notice.CaseNoticeType.Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Causelist Type</strong></td>
                                                <td> @Model.Notice.CaseDetail.CauselistTypes.Name </td>
                                            </tr>
                                            <tr>
                                                <td><strong>State</strong></td>
                                                <td>
                                                    @(
                                                                Model.Notice.CaseDetail.CaseStateCode == 9 ? "UTTARPRADESH" : "Others"
                                                            )
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>District</strong></td>
                                                <td>@Model.Notice.CaseDetail.District.DistrictName</td>
                                            </tr>


                                        </tbody>
                                    </table>

                                    <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Petitioner/Respondent and their Advocate(s)</h4>

                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">Petitioner</th>
                                                <th style="width:50%">Respondent</th>
                                            </tr>
                                        </thead>

                                        <tbody class="verdana f-12">
                                            <tr>
                                                <td>
                                                    <ol>
                                                        <li>@Model.Notice.CaseDetail.PetName</li>
                                                        @foreach (var Pet in Model.Notice.CaseDetail.Petitioner)
                                                        {
                                                            <li>@Pet.PetName</li>
                                                        }
                                                    </ol>
                                                </td>
                                                <td>
                                                    <ol>
                                                        <li>@Model.Notice.CaseDetail.ResName</li>
                                                        @foreach (var Resp in Model.Notice.CaseDetail.Respondent)
                                                        {
                                                            <li>@Resp.RespName</li>
                                                        }
                                                    </ol>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Advocate</strong>- @(Model.Notice.CaseDetail.PetAdvocate == null ? " " : Model.Notice.CaseDetail.PetAdvocate.Name.ToString()+" ( "+ Model.Notice.CaseDetail.PetAdvocate.AdvReg+" ) "  )
                                                </td>
                                                <td>
                                                    <strong>Advocate</strong>- @(Model.Notice.CaseDetail.RespAdvocate ==null ? " " : Model.Notice.CaseDetail.RespAdvocate.Name.ToString()+" ( "+ Model.Notice.CaseDetail.RespAdvocate.AdvReg+" ) "  )
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Category Details</h4>

                                    <table class="table table-bordered table-striped">
                                        <tbody class="verdana f-12">
                                            <tr>
                                                <th style="width:25%">Category</th>
                                                <td style="width:75%">@Model.Notice.CaseDetail.Category.CategoryName ( @Model.Notice.CaseDetail.Category.CategoryCode )</td>
                                            </tr>
                                            <tr>
                                                <th>Sub Category</th>
                                                <td>@Model.Notice.CaseDetail.SubCategory.SubCategoryName ( @Model.Notice.CaseDetail.SubCategory.SubCategoryCode )</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    @if (Model.Notice.CaseNoticeType.ParentNoticeType == UPCourt.Entity.ParentNoticeType.Criminal)
                                    {
                                        <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Crime Details</h4>

                                        <table class="table table-bordered table-striped">
                                            <tbody class="verdana f-12">
                                                <tr>
                                                    <th style="width:25%">District</th>
                                                    <td style="width:75%">@Model.Notice.CaseDetail.dist_name</td>
                                                </tr>
                                                <tr>
                                                    <th>Police Station</th>
                                                    <td>@Model.Notice.CaseDetail.police_st_name</td>
                                                </tr>
                                                <tr>
                                                    <th>Crime No.</th>
                                                    <td>@Model.Notice.CaseDetail.fir_no </td>
                                                </tr>
                                                <tr>
                                                    <th>Year</th>
                                                    <td>@Model.Notice.CaseDetail.fir_year </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">IA Details</h4>

                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Application(s) Number</th>
                                                <th>Party </th>
                                                <th>Date of Filing </th>
                                                <th>Next / Disposal Date</th>
                                                <th>IA Status</th>

                                            </tr>
                                        </thead>

                                        <tbody class="verdana f-12">
                                            @if (Model.Notice.CaseDetail.IA != null)
                                            {
                                                foreach (var ia in Model.Notice.CaseDetail.IA)
                                                {
                                                    <tr>
                                                        <td>
                                                            IA/@ia.ia_regno/@ia.ia_regyear   <br />
                                                            <strong>Classification</strong> :
                                                            @(ia.judge_code == null ? "Stay Application" : ia.date_of_hearing > DateTime.Now.AddYears(100) ? "Stay Vacation" : "Listing Application")
                                                            @*<strong> Bench</strong> : @ia.court_no*@
                                                        </td>
                                                        <td>
                                                            @Model.Notice.CaseDetail.PetName <strong> Vs </strong> @Model.Notice.CaseDetail.ResName   <br />
                                                            <strong>Applied by (Advocate)</strong> :
                                                        </td>
                                                        <td>@(ia.date_of_ia_registration ==null ? " ": string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration) == "01-01-0001" ? " " :string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration))</td>
                                                        <td>@(ia.date_of_hearing ==null ? " " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing)== "01-01-0001" ? " ": string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing))</td>
                                                        <td>@(ia.date_of_order == null ? " Pending " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing) == "01-01-0001" ? " Pending " : " Disposed ")  </td>
                                                    </tr>


                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>

                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td>
                                                <strong>Disclaimer:</strong> &nbsp; &nbsp; &nbsp;   This is not an authentic/certified copy of the information regarding status of a case.
                                                Authentic/certified information may be obtained under Chapter VIII Rule 30 of Allahabad High Court Rules.
                                                Mistake, if any, may be brought to the notice of Jt. Registrar(J)(Computer).
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">

                            @{
                                var SrNo = 0;
                            }

                            <div class="card-body">
                                @using (Html.BeginForm("SaveBasicIndex", "Case", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(model => Model.CaseId);
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.PetitionNo, "Petition No", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.PetitionNo, new { htmlAttributes = new { @class = "form-control", @required = "true", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.PetitionNo, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.LabelFor(model => model.CaseStatus.CaseStatusId, "Case Status", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.CaseStatus.CaseStatusId, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                    @Html.ValidationMessageFor(model => model.CaseStatus.CaseStatusId, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            @if (Model.IsCurrentAdvocate)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.LabelFor(model => model.AdvocateId, "Advocate", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.AdvocateId, ViewBag.Advocate as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.AdvocateId, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.Court.CourtId, "Court", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.Court.CourtId, ViewBag.AllCourt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.Court.CourtId, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.LabelFor(model => model.Region.RegionId, "Region", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.Region.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.Region.RegionId, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.Status2, "Status2", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.EnumDropDownListFor(m => m.Status2, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.Status2, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.LabelFor(model => model.AdvocateId, "Advocate", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.AdvocateId, ViewBag.Advocate as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.AdvocateId, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.Court.CourtId, "Court", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.Court.CourtId, ViewBag.AllCourt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.Court.CourtId, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.LabelFor(model => model.Region.RegionId, "Region", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.Region.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.Region.RegionId, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.Status2, "Status2", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                                    </td>
                                                    <td>
                                                        @Html.EnumDropDownListFor(m => m.Status2, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                        @Html.ValidationMessageFor(model => model.Status2, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary float-right">Save</button>
                                    </div>
                                }
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Particulars</th>
                                            <th>File</th>
                                        </tr>
                                    </thead>
                                    @if (Model.Notice.NoticeBasicIndexs.Count > 0)
                                    {
                                        <tbody>

                                            @foreach (var BasicIndex in Model.Notice.NoticeBasicIndexs)
                                            {
                                                SrNo = SrNo + 1;
                                                <tr>
                                                    <td>@SrNo</td>
                                                    <td>@BasicIndex.Particulars</td>
                                                    <td>
                                                        @{
                                                            if (BasicIndex.Documents != null && BasicIndex.Documents.Count() > 0 && !string.IsNullOrEmpty(BasicIndex.Documents[0].DocumentUrl))
                                                            {

                                                                <a href="@(Request.Url.GetLeftPart(UriPartial.Authority) + "/Document/Notice/" + BasicIndex.Documents[0].DocumentUrl)" class="btn btn-primary btn-sm" target="_blank">View</a>
                                                            }
                                                            else
                                                            {
                                                                <span>-</span>
                                                            }
                                                        }
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    }
                                    else
                                    {
                                        <tbody>
                                            <tr>
                                                <td colspan="5"><label class="text-danger text-center">Sorry..!!! No data found</label></td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>


                            </div>

                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Basic Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 d-flex align-items-stretch flex-column">
                                                @foreach (var Pitem in Model.Notice.Petitioners)
                                                {
                                                    <div class="card   d-flex flex-fill">

                                                        <div class="card-body pt-0">
                                                            <h6 class=" mb-2 border-bottom pb-2"><strong>Petitioner Details</strong></h6>
                                                            <div class="row">

                                                                <div class="col-12">

                                                                    <h4 class=" my-3"><strong> @Pitem.Name</strong></h4>
                                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                        <li class="large mb-2">
                                                                            <span class="fa-li"><i class="fas fa-building"></i></span> @Pitem.Address
                                                                            <span class="mx-3">|</span> <i class="fas fa-map-marker-alt mr-1"></i> @Pitem.District
                                                                        </li>
                                                                        <li class="large mb-2">
                                                                            <span class="fa-li"><i class="fas fa-envelope mr-1"></i></span>  @Pitem.Email
                                                                            <span class="mx-2">|</span> <i class="fas fa-phone mr-1"></i>  @Pitem.ContactNo
                                                                            <span class="mx-2">|</span> <i class="fas fa-address-book mr-1"></i> @Pitem.IDProofNumber
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                }
                                                @foreach (var councelor in Model.Notice.NoticeCounselors)
                                                {
                                                    <div class="card   d-flex flex-fill">
                                                        <div class="card-body pt-0">
                                                            <h6 class=" mb-2 border-bottom pb-2"><strong>Counselor Details</strong></h6>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            <b class="d-block">Name</b>
                                                                            @councelor.Name
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            <b class="d-block">Email</b>
                                                                            @councelor.Email
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            <b class="d-block">Contact No.</b>
                                                                            @councelor.ContactNo
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            <b class="d-block">Enrollment No.</b>
                                                                            @councelor.EnrollmentNo
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            <b class="d-block">Roll No.</b>
                                                                            @councelor.RollNo
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Case Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 d-flex align-items-stretch flex-column">
                                                <div class="card   d-flex flex-fill">
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h4 class=" my-3">
                                                                    <strong>@Model.Notice.NoticeNo</strong>
                                                                    <span class="text-sm text-muted float-right"><i class="fas fa-calendar-check"></i> @Model.Notice.NoticeDate.Value.ToString("MM/dd/yyyy")</span>
                                                                </h4>
                                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                    <li class="large mb-2">
                                                                        <span class="fa-li"><i class="fas fa-file-alt mr-1"></i></span> <b>Notice Type :</b> @Model.Notice.NoticeType
                                                                        <span class="mx-3">|</span> <span class="fa-li"></span><i class="fas fa-file-alt mr-1"></i> <b>Subject :</b>  @Model.Notice.Subject
                                                                        <span class="mx-3">|</span> <span class="fa-li"></span><i class="fas fa-file-alt mr-1"></i> <b>Is Context Order :</b> @Model.Notice.IsContextOrder
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card-footer">

                                                        @if (Model.Notice.NoticeType == UPCourt.Entity.ParentNoticeType.Criminal)
                                                        {
                                                            <h6 class=" mb-2 border-bottom pb-2"><strong>Crime Details</strong></h6>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.CrimeNo
                                                                            <b class="d-block text-sm">Crime Number</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.CrimeYear
                                                                            <b class="d-block text-sm">Crime Year</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.FIRNO
                                                                            <b class="d-block text-sm">FIR No</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.FIRDate
                                                                            <b class="d-block text-sm">FIR/Decision Date</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @foreach (var ipc in @Model.Notice.NoticeIPCs)
                                                                            {
                                                                                <span>@ipc.IPCSection.SectionName</span> <br />
                                                                            }
                                                                            <b class="d-block text-sm">IPC Sections</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.SectionOrAct
                                                                            <b class="d-block text-sm">Section or Act</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.District
                                                                            <b class="d-block text-sm">District</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @(Model.Notice.CrimeDetail.PoliceStation != null ? Model.Notice.CrimeDetail.PoliceStation.Locality : "" )
                                                                            <b class="d-block text-sm">Police Station</b>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.CaseNo
                                                                            <b class="d-block text-sm">Case No</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.CaseNo_Court
                                                                            <b class="d-block text-sm">Pending in Court of</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.TrailNo
                                                                            <b class="d-block text-sm">Trail No</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Model.Notice.CrimeDetail.TrailNo_Court
                                                                            <b class="d-block text-sm">Pending in Court of</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        <p>&nbsp;</p>
                                                        @foreach (var Respondent in Model.Notice.NoticeRespondents)
                                                        {
                                                            <h6 class=" mb-2 border-bottom pb-2"><strong>Respondent Details</strong></h6>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.PartyAndRespondentId
                                                                            <b class="d-block text-sm">Party & Respondent Id</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.NoticePartyId
                                                                            <b class="d-block text-sm">Notice Party Id</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.NoticeRespondentId
                                                                            <b class="d-block text-sm">Notice Respondent Id</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.CasePartyId
                                                                            <b class="d-block text-sm">Case Party Id</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.CaseRespondentId
                                                                            <b class="d-block text-sm">Case Respondent Id</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.NoticeOrCaseType
                                                                            <b class="d-block text-sm">Notice Or Case Type</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.PartyAndRespondentType
                                                                            <b class="d-block text-sm">Party & Respondent Type</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.PartyType
                                                                            <b class="d-block text-sm">Party Type</b>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.PartyName
                                                                            <b class="d-block text-sm">Name</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.Email
                                                                            <b class="d-block text-sm">Email</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="text-muted">
                                                                        <p class="text-md mb-2">
                                                                            @Respondent.ContactNo
                                                                            <b class="d-block text-sm">Contact No.</b>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#Hearing" aria-expanded="false" aria-controls="collapseThree">
                                            Existing Hearing Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="Hearing" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped" id="hea">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Hearing Date</th>
                                                    <th>Next Hearing Date</th>
                                                    <th>Comments</th>
                                                    <th>View</th>
                                                </tr>
                                            </thead>
                                            @if (Model.CaseHearings.Count > 0)
                                            {
                                                <tbody>

                                                    @foreach (var item in Model.CaseHearings)
                                                    {

                                                        SrNo = SrNo + 1;
                                                        <tr>
                                                            <td>@SrNo</td>
                                                            <td>@(item.HearingDate.HasValue? item.HearingDate.Value.ToString("MM/dd/yyyy"):"")</td>
                                                            <td>@(item.NextHearingDate.HasValue? item.NextHearingDate.Value.ToString("MM/dd/yyyy"):"")</td>
                                                            <td>
                                                                <a class="" title="View" onclick="ViewComment('@item.CaseHearingId');">
                                                                    <i class="fa fa-eye text-warning fa-iconsize"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a class="" title="Edit" onclick="Addmodal('@item.CaseHearingId');">
                                                                    <i class="fa fa-eye text-info fa-iconsize mr-2 "></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            }
                                            else
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td colspan="5"><label class="text-danger text-center">Sorry..!!! No data found</label></td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>


                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed caseaccordian-head w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                                            Hearing   Details <i class="fa fa-chevron-down float-right"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    @using (Html.BeginForm("CaseView", "Case", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data" }))
                                    {
                                        @Html.HiddenFor(model => Model.CaseId);
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label for="exampleInputEmail1">Date <span class="text-danger">*</span></label>
                                                    @Html.EditorFor(model => model.NewCaseHearing.Hearing.HearingDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy", @type = "Date", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.NewCaseHearing.Hearing.HearingDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label for="exampleInputEmail1">Next Hearning Date <span class="text-danger">*</span></label>
                                                    @Html.EditorFor(model => model.NewCaseHearing.Hearing.NextHearingDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy", @type = "Date", @required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.NewCaseHearing.Hearing.NextHearingDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <label for="exampleInputEmail1">Comments</label>
                                                    @*@Html.EditorFor(model => model.NewCaseHearing.Hearing.Comments, new { htmlAttributes = new {  @class = "form-control", @placeholder = "Comments", @type = "textarea", } })*@
                                                    <textarea id="NewCaseHearing_Hearing_Comments" name="NewCaseHearing.Hearing.Comments" class="form-control" type="textarea"></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0" style="font-size:15px; font-weight:bold">Upload Document</h5>
                                                        </div>
                                                        <!-- /.card-header -->
                                                        <div class="card-body table-responsive p-0">
                                                            <table id="tbldoc" class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S.No</th>
                                                                        <th>Name</th>
                                                                        <th>Document Upload</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var uploadDoc in Model.NewCaseHearing.DocumentMvcModel)
                                                                    {
                                                                        SrNo = 0;
                                                                        SrNo = SrNo + 1;
                                                                        <tr>
                                                                            <td>@SrNo</td>
                                                                            <td>
                                                                                @Html.HiddenFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].DocumentId)
                                                                                @Html.TextBoxFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].Name, new { @class = "form-control txtFileName", @placeholder = "Document Name", @type = "text", @required = "true" })
                                                                                @Html.ValidationMessageFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].Name, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].UploadFile, "", new { @type = "file", @class = "form-control File", @required = "true" })
                                                                                @Html.ValidationMessageFor(x => Model.NewCaseHearing.DocumentMvcModel[SrNo - 1].UploadFile, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td>
                                                                                <a id="addfile" class="text-primary" onclick="AddFiles();"><i class="fa fa-plus-square"></i></a>
                                                                            </td>
                                                                        </tr>

                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!-- /.card-body -->
                                                    </div>
                                                    <!-- /.card -->
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-default">

                    @{

                        var TimelineDates = Model.Timelines.AsEnumerable().OrderByDescending(x => x.TimeOfEvent).GroupBy(x => x.TimeOfEvent.ToShortDateString());
                    }
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-calendar-alt"></i>
                            Activity
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-bod p-2">
                        <div class="timeline">

                            @foreach (var date in TimelineDates)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-red">@TimelineBusinessService.TimeLineDate(Convert.ToDateTime(date.Key))</span>
                                </div>
                                <!-- /.timeline-label -->
                                foreach (var timeline in Model.Timelines.Where(x => x.TimeOfEvent.ToShortDateString() == date.Key).OrderByDescending(x => x.TimeOfEvent))
                                {
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-envelope bg-blue"></i>
                                        <div class="timeline-item">
                                            <span class="time">
                                                <i class="fas fa-clock"></i>
                                                @(TimelineBusinessService.TimeLineTime(timeline.TimeOfEvent))
                                            </span>
                                            <h3 class="timeline-header">
                                                <a href="#">@timeline.EventTypeNameDisplay</a>
                                            </h3>
                                            <div class="timeline-body">
                                                @timeline.Description
                                            </div>
                                            <div class="timeline-footer">
                                                Done By:- <a class="text-info" href="#">@timeline.User.Name</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline item -->
                                }
                            }

                            <div>
                                <i class="fas fa-clock bg-gray"></i>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <input id="HhfCount" type="hidden" value="1" />
</div>

<div class="modal" id="divViewDoc" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divViewDocSubModalBody">

            </div>
            <div class="modal-footer justify-content-between">
                @* <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () { $("#SharedBy").select2({ multiple: true }); });
        $(function () {
            GetRequestDocument();
        })
        function GetRequestDocument() {
         var data = {};
            data.id=$('#CaseId').val();
             $.ajax({
            type: "POST",
                url: '@Url.Action("GetRequestData")',
                 dataType: "json",
                 data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                 success: function (r) {
                const tbl = r;
                var html = '';
                for (var i = 0; i < tbl.length; i++) {
                    html += '<tr>';
                    html += '<td>' + (parseInt(1) + parseInt(i)) + '</td>';
                    html += '<td>' + tbl[i].DocumentName + '</td>';
                    html += '<td>' + tbl[i].Name + '</td>';
                    html += '<td>' + tbl[i].CommentRequestor + '</td>';
                    html += '<td>' + (tbl[i].Document_Name || '') + '</td>';
                    html += '<td>' + (tbl[i].GovDeptComment || '') + '</td>';
                    html += '<td>';
                    if (tbl[i].DocumentPath) {
                        html += '<a class="btn btn-primary btn-sm" download href="' + tbl[i].DocumentPath+'"><i class="fa fa-file-pdf mr-2"></> Downlaod</a>';
                    }
                    html += '</td><tr/>';
                }
                $('#tbl_Request').html(html);
                },
            error: function (errorData) { alert(errorData.status); }
        });
    }
    </script>
}
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $("[type='textarea']").summernote();
    });
</script>
<script>

    function AddFiles() {
        var mytable = $("#tbldoc tr:last")
        var rowCount = parseInt($("#HhfCount").val());
        var SLNo = rowCount + 1;
        var Newrow = "<tr>" +
            "<td> " + SLNo + "</td>" +
            "<td>" +
            "<input data-val='true' data-val-required='The DocumentId field is required.' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__DocumentId' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].DocumentId' type='hidden' value='rowCount'>" +
            "   <input data-val='true' data-val-required='The Upload Document Name field is required.' class=\"form-control txtFileName\" placeholder=\"DocumentName\" type=\"text\" id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__Name' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].Name' type='text' value=''>" +
            "</td>" +
            "   <td>" +
            "      <input class='form-control File' id='NewCaseHearing_DocumentMvcModel_" + rowCount + "__UploadFile' name='NewCaseHearing.DocumentMvcModel[" + rowCount + "].UploadFile' type='file' value=''>" +
            "         <span class='field-validation-valid text-danger' data-valmsg-for='NewCaseHearing.DocumentMvcModel[" + rowCount + "].UploadFile' data-valmsg-replace='true'></span>" +
            "                                                </td>" +
            "   <td>" +
            "      <a id='addfile' class='text-primary' onclick='AddFiles(this);'><i class='fa fa-plus-square'></i></a> " +
            " <a id='myRowRemove' class='text-danger'  onclick='RemoveRow(this)'><i class='fa fa-trash'></i></a> " +
            " </td>" +
            "    </tr > ";
        mytable.after(Newrow);
        rowCount = rowCount + 1;
        $("#HhfCount").val(rowCount);
    }

    function RemoveRow(obj) {
        var r = confirm("Are your sure? Do you want to remove?");
        if (r == true) {
            $(obj).parent().parent().hide();
        }
    }
</script>
<script>

    function Addmodal(CaseHearing_Id) {
        debugger;
        $("#divViewDocSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/Case/CaseHearingDOC/",
            data: { "CaseHearID": CaseHearing_Id },
            success: function (response) {
                $("#example1ModalLabel").text("Documents");
                $("#divViewDocSubModalBody").append(response);
                $("#divViewDoc").modal("show");
            },
            error: function (errorData) { alert(errorData.status); }
        });
    }
</script>

<script>

    function ViewComment(CaseHearing_Id) {
        debugger;
        $("#divViewDocSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/Case/CaseHearingComment/",
            data: { "CaseHearID": CaseHearing_Id },
            success: function (response) {

                $("#example1ModalLabel").text("Case Comment");
                $("#divViewDocSubModalBody").append(response);
                $("#divViewDoc").modal("show");
            },
            error: function (errorData) { alert(errorData.status); }
        });
    }
</script>