﻿@model UPCourt.Web.Models.NoticeMvcModel
@{
    DateTime? dt = null;//Model.CaseDetail.DateFirst NOT FOUND;
    string date_first_list = "Not Listed";
    if (dt != null)
    {
        date_first_list = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }
    dt = Model.CaseDetail.DateOfDecision;
    string date_next_hearing = "";
    if (dt != null)
    {
        date_next_hearing = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }

    string dateOfRegistration = "[NOT FOUND]";
    if (Model.CaseDetail.IA != null && Model.CaseDetail.IA.Count() > 0 && Model.CaseDetail.IA[0].date_of_ia_registration != null)
    {
        dateOfRegistration = string.Format("{0:dd-MM-yyyy}", Model.CaseDetail.IA[0].date_of_ia_registration);
    }

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Status Details</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Status Details
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {

                        <div class="col-md-12">
                            <div class="card my-4">

                                <div class="card-body py-0">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <h4 class="text-uppercase f-18 verdana text-center fw-bold mb-2 mt-3">Case Status - @Model.CaseNoticeType.Name ( @Model.CaseNoticeType.type_name ) - [ @Model.CaseDetail.Notice.NoticeNo/@Model.CaseDetail.Notice.NoticeYear]</h4>

                                            <table class="table table-bordered table-striped">
                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td style="width:25%"><strong>Filing No.</strong></td>
                                                        <td style="width:25%">[TO BE DETERMINED] </td>
                                                        <td style="width:25%"><strong>Filing Date</strong></td>
                                                        <td style="width:25%">@dateOfRegistration</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>CNR</strong></td>
                                                        <td>@Model.Cnr</td>
                                                        <td><strong>Date of Registration</strong></td>
                                                        <td>[TO BE DETERMINED]</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Case Status</h4>

                                            <table class="table table-bordered table-striped">
                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td style="width:25%"><strong>First Hearing Date</strong></td>
                                                        <td style="width:75%">@date_first_list </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Next Hearing Date</strong></td>
                                                        <td>@date_next_hearing</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Stage of Case</strong></td>
                                                        <td>[TO BE DETERMINED]</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Coram</strong></td>
                                                        <td>---</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Bench Type</strong></td>
                                                        <td>@Model.CaseDetail.Bench.Name</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Judicial Branch</strong></td>
                                                        <td>@Model.CaseNoticeType.Name</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Causelist Type</strong></td>
                                                        <td> @Model.CaseDetail.CauselistTypes.Name </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>State</strong></td>
                                                        <td>
                                                            @(
                                                                Model.CaseDetail.CaseStateCode == 9 ? "UTTARPRADESH" : "Others"
                                                            )
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>District</strong></td>
                                                        <td>@Model.CaseDetail.District.DistrictName</td>
                                                    </tr>


                                                </tbody>
                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Petitioner/Respondent and their Advocate(s)</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width:50%">Petitioner</th>
                                                        <th style="width:50%">Respondent</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>
                                                            <ol>
                                                                <li>@Model.CaseDetail.PetName</li>
                                                                @foreach (var Pet in Model.CaseDetail.Petitioner)
                                                                {
                                                                    <li>@Pet.PetName</li>
                                                                }
                                                            </ol>
                                                        </td>
                                                        <td>
                                                            <ol>
                                                                <li>@Model.CaseDetail.ResName</li>
                                                                @foreach (var Resp in Model.CaseDetail.Respondent)
                                                                {
                                                                    <li>@Resp.RespName</li>
                                                                }
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Advocate</strong>- @(Model.CaseDetail.PetAdvocate == null ? " " : Model.CaseDetail.PetAdvocate.Name.ToString()+" ( "+ Model.CaseDetail.PetAdvocate.AdvReg+" ) "  )
                                                        </td>
                                                        <td>
                                                            <strong>Advocate</strong>- @(Model.CaseDetail.RespAdvocate ==null ? " " : Model.CaseDetail.RespAdvocate.Name.ToString()+" ( "+ Model.CaseDetail.RespAdvocate.AdvReg+" ) "  )
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Category Details</h4>

                                            <table class="table table-bordered table-striped">
                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <th style="width:25%">Category</th>
                                                        <td style="width:75%">@Model.CaseDetail.Category.CategoryName ( @Model.CaseDetail.Category.CategoryCode )</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Sub Category</th>
                                                        <td>@Model.CaseDetail.SubCategory.SubCategoryName ( @Model.CaseDetail.SubCategory.SubCategoryCode )</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            @if (Model.CaseNoticeType.ParentNoticeType == UPCourt.Entity.ParentNoticeType.Criminal)
                                            {
                                                <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Crime Details</h4>

                                                <table class="table table-bordered table-striped">
                                                    <tbody class="verdana f-12">
                                                        <tr>
                                                            <th style="width:25%">District</th>
                                                            <td style="width:75%">@Model.CaseDetail.dist_name</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Police Station</th>
                                                            <td>@Model.CaseDetail.police_st_name</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Crime No.</th>
                                                            <td>@Model.CaseDetail.fir_no </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Year</th>
                                                            <td>@Model.CaseDetail.fir_year </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            }
                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">IA Details</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Application(s) Number</th>
                                                        <th>Party </th>
                                                        <th>Date of Filing </th>
                                                        <th>Next / Disposal Date</th>
                                                        <th>IA Status</th>

                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    @if (Model.CaseDetail.IA != null)
                                                    {
                                                        foreach (var ia in Model.CaseDetail.IA)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    IA/@ia.ia_regno/@ia.ia_regyear   <br />
                                                                    <strong>Classification</strong> :
                                                                    @(ia.judge_code == null ? "Stay Application" : ia.date_of_hearing > DateTime.Now.AddYears(100) ? "Stay Vacation" : "Listing Application")
                                                                    @*<strong> Bench</strong> : @ia.court_no*@
                                                                </td>
                                                                <td>
                                                                    @Model.CaseDetail.PetName <strong> Vs </strong> @Model.CaseDetail.ResName   <br />
                                                                    <strong>Applied by (Advocate)</strong> :
                                                                </td>
                                                                <td>@(ia.date_of_ia_registration ==null ? " ": string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration) == "01-01-0001" ? " " :string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration))</td>
                                                                <td>@(ia.date_of_hearing ==null ? " " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing)== "01-01-0001" ? " ": string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing))</td>
                                                                <td>@(ia.date_of_order == null ? " Pending " : string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing) == "01-01-0001" ? " Pending " : " Disposed ")  </td>
                                                            </tr>


                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>



                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    <td>
                                                        <strong>Disclaimer:</strong> &nbsp; &nbsp; &nbsp;   This is not an authentic/certified copy of the information regarding status of a case.
                                                        Authentic/certified information may be obtained under Chapter VIII Rule 30 of Allahabad High Court Rules.
                                                        Mistake, if any, may be brought to the notice of Jt. Registrar(J)(Computer).
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

