﻿@model UPCourt.Web.Models.CaseStatusDetails
@{
    var dt = Model.date_first_list;
    string date_first_list = "Not Listed";
    if (dt != null)
    {
        date_first_list = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }
    dt = Model.date_of_decision;
    string date_next_hearing = "";
    if (dt != null)
    {
        date_next_hearing = string.Format("{0:dd}", dt) +
        (
            (dt?.Day % 10 == 1 && dt?.Day % 100 != 11) ? "st"
            : (dt?.Day % 10 == 2 && dt?.Day % 100 != 12) ? "nd"
            : (dt?.Day % 10 == 3 && dt?.Day % 100 != 13) ? "rd"
            : "th"
        ) + string.Format("{0: MMMM yyyy}", dt);
    }

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Status Details</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Status Details
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {

                        <!-- /.card-header -->

                        <div class="col-md-12">
                            <div class="card my-4">

                                <div class="card-body py-0">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <h4 class="text-uppercase f-18 verdana text-center fw-bold mb-2 mt-3">Case Status - @Model.CaseDetail.CaseType.full_form ( @Model.CaseDetail.CaseType.type_name ) - [ @ViewBag.case_number/@ViewBag.case_year ]</h4>

                                            <table class="table table-bordered table-striped">
                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td><strong>Filing No.</strong></td>
                                                        <td>[TO BE DETERMINED] </td>
                                                        <td><strong>Filing Date</strong></td>
                                                        <td>@string.Format("{0:dd-MM-yyyy}", Model.IA[0].date_of_ia_registration)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>CNR</strong></td>
                                                        <td>@Model.CaseDetail.cino</td>
                                                        <td><strong>Date of Registration</strong></td>
                                                        <td>[TO BE DETERMINED]</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Case Status</h4>

                                            <table class="table table-bordered table-striped">
                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td><strong>First Hearing Date</strong></td>
                                                        <td>@date_first_list </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Next Hearing Date</strong></td>
                                                        <td>@date_next_hearing</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Stage of Case</strong></td>
                                                        <td>[TO BE DETERMINED]</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Coram</strong></td>
                                                        <td>---</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Bench Type</strong></td>
                                                        <td>@Model.benchType.bench_type_name</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Judicial Branch</strong></td>
                                                        <td>@Model.CaseDetail.CaseType.full_form</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Causelist Type</strong></td>
                                                        <td>---</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>State</strong></td>
                                                        <td>[TO BE DETERMINED]</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>District</strong></td>
                                                        <td>[TO BE DETERMINED]</td>
                                                    </tr>


                                                </tbody>
                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Petitioner/Respondent and their Advocate(s)</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Petitioner</th>
                                                        <th>Respondent</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>
                                                            @Model.CaseDetail.pet_name<br>
                                                            <strong>Advocate</strong>- @Model.CaseDetail.pet_adv ( [ADV REGISTRATION TO BE CHECKED] ) , [SR. ADV TO BE CHECKED]
                                                        </td>
                                                        <td>
                                                            @Model.CaseDetail.res_name<br>
                                                            <strong>Advocate</strong>- @Model.CaseDetail.res_adv ( CSC/2012 ) , ( [ADV NAME & REGISTRATION TO BE CHECKED] ) , [SR. ADV TO BE CHECKED]
                                                        </td>

                                                    </tr>

                                                </tbody>

                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Category Details</h4>

                                            <table class="table table-bordered table-striped">
                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <th>Category</th>
                                                        <td>@Model.Subject.subject_name ( @Model.Subject.subject_code )</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Sub Category</th>
                                                        <td>@Model.Subject.subnature1_desc ( @Model.Subject.subnature1_cd )</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">IA Details</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Application(s) Number</th>
                                                        <th>Party </th>
                                                        <th>Date of Filing </th>
                                                        <th>Next / Disposal Date</th>
                                                        <th>IA Status</th>

                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    @foreach (var ia in Model.IA)
                                                    {
                                                        <tr>
                                                            <td>
                                                                IA/@ia.ia_regno/@ia.ia_regyear <strong>Classification</strong> : @(ia.judge_code == null ? "Stay Application"
                                                                                                                                : ia.date_of_hearing > DateTime.Now.AddYears(100) ? "Stay Vacation"
                                                                                                                                : "Listing Application") <strong> Bench</strong> : @ia.court_no
                                                                                                                            </td>
                                                                                                                            <td>
                                                                                                                                @Model.CaseDetail.pet_name Vs @Model.CaseDetail.res_name
                                                                                                                                Applied by (Advocate) :
                                                                                                                            </td>
                                                                                                                            <td>@string.Format("{0:dd-MM-yyyy}", ia.date_of_ia_registration)</td>
                                                                                                                            <td>@string.Format("{0:dd-MM-yyyy}", ia.date_of_hearing)</td>
                                                                                                                            <td>@(ia.date_of_order == null ? "Pending" : "Disposed")</td>
                                                                                                                        </tr>
                                                                                                                    }

                                                </tbody>

                                            </table>

                                            <h4 class="text-uppercase f-14 verdana text-center fw-bold mb-2 mt-4">Listing History</h4>

                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Cause List Type</th>
                                                        <th>Hon'ble Mr./Ms./Dr. Justice</th>
                                                        <th>Last Listing Date</th>
                                                        <th>Stage of Listing</th>
                                                        <th>Last Short Order</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="verdana f-12">
                                                    <tr>
                                                        <td>Daily Cause List</td>
                                                        <td>NEERAJ TIWARI ( 5060 )</td>
                                                        <td>04-11-2019</td>
                                                        <td>For Admission</td>
                                                        <td rowspan="6">List after a fixed period</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Daily Cause List</td>
                                                        <td>NEERAJ TIWARI ( 5060 )</td>
                                                        <td>13-09-2019</td>
                                                        <td>For Admission</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Daily Cause List</td>
                                                        <td>NEERAJ TIWARI ( 5060 )</td>
                                                        <td>27-08-2019</td>
                                                        <td>For Admission</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Daily Cause List</td>
                                                        <td>NEERAJ TIWARI ( 5060 )</td>
                                                        <td>07-08-2019</td>
                                                        <td>For Admission</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Transferred Daily Cause List</td>
                                                        <td>PRAKASH PADIA ( 5600 )</td>
                                                        <td>21-02-2019</td>
                                                        <td>For Admission</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fresh List</td>
                                                        <td>PRAKASH PADIA ( 5600 )</td>
                                                        <td>22-01-2019</td>
                                                        <td>Fresh</td>
                                                    </tr>

                                                </tbody>

                                            </table>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

