﻿@model UPCourt.Web.Models.CaseFilterMvcModel

@using UPCourt.Entity;
@using UPCourt.Web.Models;
@{
    ViewBag.Title = "Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ASno = 0;

    UserSystemRole UserSystemRoleId = ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId;

    var IsContext = "display:none;";
    if (UserSystemRoleId == UserSystemRole.Admin || UserSystemRoleId == UserSystemRole.AGAdmin)
    {
        IsContext = "display:block;";
    }
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Management</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Management
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card card-primary card-outline card-outline-tabs">

                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-four-tabContent">
                                        <div class="tab-pane fade show active" id="AcctiveCases" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                                            <div class="row">
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.CaseStatusActive)
                                                    @Html.DropDownListFor(x => Model.CaseStatusActive, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.ParentNoticeTypeActive)
                                                    @Html.DropDownListFor(x => Model.ParentNoticeTypeActive, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.CaseHearingStatusActive)
                                                    @Html.DropDownListFor(x => Model.CaseHearingStatusActive, ViewBag.CaseHearingStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.GovDepartmentIdActive)
                                                    @Html.DropDownListFor(x => Model.GovDepartmentIdActive, ViewBag.Departmemt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.CaseDateFrom)
                                                    @Html.EditorFor(model => model.CaseDateFrom, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date From" } })
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.CaseDateTo)
                                                    @Html.EditorFor(model => model.CaseDateTo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date To" } })
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.CaseNoActive)
                                                    @Html.EditorFor(model => model.CaseNoActive, new { htmlAttributes = new { @class = "form-control", @placeholder = "Case No" } })
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    @Html.LabelFor(model => model.CasePetitionerNameActive)
                                                    @Html.EditorFor(model => model.CasePetitionerNameActive, new { htmlAttributes = new { @class = "form-control", @placeholder = "Petitioner Name" } })
                                                </div>
                                                <div class="col-md-2 form-group" style="@IsContext">
                                                    @Html.LabelFor(model => model.IsContextOrderActive)
                                                    @Html.DropDownListFor(x => Model.IsContextOrderActive, ViewBag.ContextOrder as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-1 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnAcctiveCases" type="submit" name="CurrentTab" value="AcctiveCases" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>


                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Case No.</th>
                                                        <th>Notice No.</th>
                                                        <th>Case Type</th>
                                                        <th>Petitioner</th>
                                                        <th>Respondent</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var Case in Model.AcctiveCases)
                                                    {
                                                        ASno++;
                                                        var resp = Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault();
                                                        <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>@ASno</td>
                                                            <td>@Case.PetitionNo</td>
                                                            <td>@Case.Notice.NoticeNo</td>
                                                            <td>@Case.Notice.NoticeType</td>

                                                            <td> @(Case.Notice.Petitioners.Where(x=>x.IsFirst==true).FirstOrDefault()?.Name)</td>
                                                            <td>
                                                                @if (resp?.GovOIC != null)
                                                                {

                                                                    <span>
                                                                        @(resp?.GovOIC.OICName) - @(resp?.GovermentDepartment.POCName) (@(resp?.GovermentDepartment.Name))
                                                                    </span>
                                                                }
                                                                else if (resp?.GovernmentDepartmentId != null)
                                                                {
                                                                    <span>
                                                                        @(resp?.GovermentDepartment.POCName)
                                                                        (@(resp?.GovermentDepartment.Name))
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>
                                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovOIC?.OICName)
                                                                    </span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <a class="" title="Edit" href="@Url.Action("CaseView", "Case", new { id = Case.CaseId })">
                                                                    <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                                                </a>

                                                                @if (UserSystemRoleId == UserSystemRole.CSC || UserSystemRoleId == UserSystemRole.CGA || UserSystemRoleId == UserSystemRole.AGAdmin || UserSystemRoleId == UserSystemRole.Admin)
                                                                {
                                                                    <a href="#" onclick="AssignDuty('@Case.CaseId', '@Case.AdvocateId', '@Case.DocsPreprationId','@Case.Notice.NoticeType', @ASno);">
                                                                        @Html.HiddenFor(name => Case.Advocate.Name, new { @id = "advocate" + ASno })
                                                                        @Html.HiddenFor(name => Case.DocsPrepration.Name, new { @id = "docsPrepration" + ASno })
                                                                        @if (Case.AdvocateId == null)
                                                                        {
                                                                            <i class="fa fa-check-square text-warning fa-iconsize mr-2 " title="Assiged Duty"></i>
                                                                        }
                                                                        else
                                                                        {
                                                                            <i class="fa fa-exchange-alt text-warning fa-iconsize mr-2 " title="Change Duty"></i>
                                                                        }
                                                                    </a>
                                                                }

                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>


                                        </div>

                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>


    </div>
</section>

<script>
            var selectCourt = "";
            function AssignDuty(CaseGuid, AdvocateId, DocsPreprationId, NoticeType, adno) {
                debugger;
                $("#CaseGuid").val(CaseGuid);
                GetAdvocate(AdvocateId, DocsPreprationId, NoticeType);
                if (AdvocateId != "" && AdvocateId != "00000000-0000-0000-0000-000000000000")
                {
                    $("#OldAdvocate").text($("#advocate" + adno).val());
                    $("#AssignedCouncil").show();
                    $("#OldDocsPrepration").text($("#docsPrepration" + adno).val());
                    $("#AssignedCouncil1").show();
                }
                else {
                    $("#AssignedCouncil").hide();
                    $("#AssignedCouncil1").hide();
                }

                $("#AssignDutyModal").modal("show");
            }

            function GetAdvocate(AdvocateId, DocsPreprationId, NoticeType) {
                var advocates = $("#Advocate");
                var DocsPrepration = $("#DocsPrepration");
                $.ajax({
                    type: 'GET',
                    async:false,
                    url: '@Url.Action("GetAdvocate")',
                    data: { "AdvocateId": AdvocateId, "DocsPreprationId": DocsPreprationId, "CaseType": NoticeType },
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        debugger;
                        var adv = JSON.parse(response);

                        advocates.empty();
                        advocates.append($('<option></option>').val('').html('--Select--'));
                        for (var i = 0; i < adv.length; i++) {
                            advocates.append($('<option></option>').val(adv[i].UserId).html(adv[i].Name));
                        }
                        DocsPrepration.empty();
                        DocsPrepration.append($('<option></option>').val('').html('--Select--'));
                        for (var i = 0; i < adv.length; i++) {
                            DocsPrepration.append($('<option></option>').val(adv[i].UserId).html(adv[i].Name));
                        }
                    }
                });
            }

            function ReOpenCase(obj, CaseGuid) {
                if ($(obj).val() == "o") {
                    $("#ReCaseGuid").val(CaseGuid);
                    $("#ReOpenModal").modal("show");
                }
                if ($(obj).val() == "a") {
                    $("#ReAppealModal #CaseGuid").val(CaseGuid);
                    $("#ReAppealModal").modal("show");
                }
                if ($(obj).val() == "msc") {
                    $("#MoveSC #CaseGuid").val(CaseGuid);
                    $("#MoveSC").modal("show");
                }
            }

            function GetCourtsByBench(obj) {
                debugger;
                var benchId = $(obj).val();
                var courtSel = $("#CourtId");
                if (benchId && benchId.trim() != '') {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("GetCourtsByBench")',
                        data: JSON.stringify({ BenchId: benchId }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            debugger;
                            courtSel.empty();
                            courtSel.append($('<option></option>').val('').html('--Select--'));
                            for (var i = 0; i < response.data.length; i++) {
                                courtSel.append($('<option></option>').val(response.data[i].Value).html(response.data[i].Text));
                            }
                        },

                    });

                                        }
                                        }

                                        function DisposeCase(CaseGuid) {
                                        debugger;
                                        $("#DisposeCaseGuid").val(CaseGuid);
                                        $("#DisposeModal").modal("show");
                                        }

    function MoveToCase() {

                                        var CaseTransferIds = "";

                                        $("#CaseTransferTable tbody tr").each(function () {
                                        var isChecked = $(this).find("input:checkbox")[0].checked;
                                        if (isChecked) {
                                        CaseTransferIds = CaseTransferIds + ',' + $(this).find("[id^=CaseId_]").val();
                                        selectCourt = $(this).find("[id^=CaseCourt_]").val();
                                        }
                                        });

                                        if (CaseTransferIds.length <= 0) {
                                        alert('select atleast one case');
                                        }
                                        else {
                                        $("#OldCourt").val(selectCourt);
                                        $("#CaseTransferIds").val(CaseTransferIds);
                                        $("#MoveToModal").modal("show");
                                        }

                                        }

                                        function ChkClick(id) {
                                        debugger;
                                        if ($('#chkCase_' + id).is(":checked")) {
                                        // $('.Casechk').prop('checked', false);
                                        $('#chkCase_' + id).prop('checked', true);
                                        var mycourt = $('#CaseCourt_' + id).val();

                                        if (selectCourt == "") {
                                        selectCourt = mycourt;
                                        }
                                        else if (selectCourt == mycourt) {
                                        selectCourt = mycourt;
                                        }
                                        else {
                                        alert('please select cases from singal court!!');
                                        $('#chkCase_' + id).prop('checked', false)
                                        }
                                        }
                                        }
</script>


<div class="modal" id="AssignDutyModal" tabindex="-1" role="dialog" aria-labelledby="AssignDutyModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AssignDuty", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Assiged Duty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group" style="display:none;" id="AssignedCouncil">
                            <label for="exampleInputEmail1">Assigned Council</label>
                            @Html.LabelFor(model => model.Advocate)
                            <label id="OldAdvocate" class="form-control"></label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="exampleInputEmail1">Select Council</label>
                            @Html.Hidden("CaseGuid")
                            @Html.LabelFor(model => model.Advocate)
                            @Html.DropDownListFor(x => Model.Advocate, ViewBag.Advocate as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="col-md-12 form-group" style="display:none;" id="AssignedCouncil1">
                            <label for="exampleInputEmail1">Assigned Document Prepration</label>
                            @Html.LabelFor(model => model.Advocate)
                            <label id="OldDocsPrepration" class="form-control"></label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="exampleInputEmail1">Select Document Prepration</label>
                            @Html.LabelFor(model => model.Advocate)
                            @Html.DropDownListFor(x => Model.DocsPrepration, ViewBag.Advocate as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnAssignedDuty" class="btn btn-primary">Assigned</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal" id="ReOpenModal" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ReOpenCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">ReOpen Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("ReCaseGuid")
                            <h2>Are you sure to reopen the case</h2>
                        </div>



                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes Re-Open</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="ReAppealModal" tabindex="-1" role="dialog" aria-labelledby="ReAppealModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ReAppealCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Re-Appeal Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("CaseGuid")
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("CaseNo", "Case / Petition No:", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                @Html.Editor("CaseNo", new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                @Html.ValidationMessage("CaseNo", "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("BenchTypeID", "Bench", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                @Html.DropDownList("BenchTypeID", ViewBag.Benchs as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true", onchange = "GetCourtsByBench(this);" })
                                @Html.ValidationMessage("BenchTypeID", "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("CourtId", "Court", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                <select id="CourtId" class="form-control select2" name="CourtId" required="true" style="width: 100%">
                                    <option value="">--Select--</option>
                                </select>
                                @Html.ValidationMessage("CourtId", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Re Appeal</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="MoveSC" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("MoveToSupremeCourt", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Move Case to Supreme Court</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("CaseGuid")
                            <div class="col-md-12 form-group-sm">
                                @Html.Label("CaseNo", "Case / Petition No:", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                @Html.Editor("CaseNo", new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                @Html.ValidationMessage("CaseNo", "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes, Move to Supreme Court</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="DisposeModal" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DisposeCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Dispose Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("DisposeCaseGuid")
                            <h2>Are you sure to Dispose the case</h2>
                        </div>

                        <div class="col-md-12 form-group">
                            Dispose Type <span class="text-danger">*</span><br />
                            @{ CaseDisposeType disposeType = new CaseDisposeType(); }
                            @Html.EnumDropDownListFor(d => disposeType, "--Select--", new { @class = "form-control select2 required", @style = "width: 100%", @required = "true" })
                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes Dispose</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="MoveToModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("MoveToOtherCourt", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Case Transfer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Hidden("CaseTransferIds")
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.OldCourt)
                            @Html.DropDownListFor(x => Model.OldCourt, ViewBag.AllCourt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @readonly = "readonly" })

                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.NewCourt)
                            @Html.DropDownListFor(x => Model.NewCourt, ViewBag.OpenedCourt as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })

                        </div>


                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Move To</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>





<script>
    $(function () {
        $("#example1").DataTable({
            "searching": false, "responsive": true, "lengthChange": false, "autoWidth": false, "iDisplayLength": 20,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example2").DataTable({
            "searching": false, "responsive": true, "lengthChange": false, "autoWidth": false, "iDisplayLength": 20,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $("#example3").DataTable({
            "searching": false, "responsive": true, "lengthChange": false, "autoWidth": false, "iDisplayLength": 20,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $("#btnAssignedDuty").click

    });
</script>
