﻿@model  UPCourt.Web.Models.CauseListSearchMvcModel
@{
    int cntr = 0;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Search Case Status</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Search Case
                        </h3>
                    </div>
                    

                        <!-- /.card-header -->
                <div class="col-md-12">
                    <div class="card my-4">
                        <div class="card-header no-bg">
                            <h3 class="f-24 my-1">CAUSE LIST ALLAHABAD</h3>
                        </div>
                        @using (Html.BeginForm())
                        {
                        <input type="hidden" name="searchLevel" id="searchLevel" value="1" />
                        <div class="card-body py-0">
                            @if (ViewBag.AdvancedSearch != null && ((bool)ViewBag.AdvancedSearch) == false)
                            {


                                <div class="row justify-content-center my-4">
                                    <div class="col-md-6">
                                        <div class="form-group tabforminner">
                                            @Html.LabelFor(m => m.CauseListSearch)
                                            @Html.EnumDropDownListFor(m => m.CauseListSearch, new { @class = "form-control" })
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 my-3">
                                                <button class="btn btn-warning btn-block displaybtn">Search</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            else if (ViewBag.AdvancedSearch != null && ((bool)ViewBag.AdvancedSearch) == true)
                            {

                                <div class="row justify-content-center my-4">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group tabforminner">
                                                    @Html.LabelFor(m => m.ListingDate)
                                                    @Html.DropDownListFor(m => m.ListingDate, (IEnumerable<SelectListItem>)ViewBag.Dates, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="col-md-12 tabforminner my-3">
                                                <div class="row login-select-dep">
                                                    <div class="col-md-6 login-selec">
                                                        <input type="radio" class="with-gap" name="SearchMode" id="depart" value="0" checked="">
                                                        <label for="depart">Court Wise</label>
                                                    </div>
                                                    <div class="col-md-6 login-selec">
                                                        <input type="radio" class="with-gap" name="SearchMode" value="1" id="case">
                                                        <label for="case">Counsel Wise (only for next working day)</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    @Html.LabelFor(m => m.CourtNumber)
                                                    @Html.EnumDropDownListFor(m => m.CourtNumber, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group tabforminner">
                                                    @Html.LabelFor(m => m.CourtNumber)
                                                    @Html.EditorFor(model => model.CouncilName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counsel Name" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3 my-4">
                                                <button class="btn btn-warning btn-block displaybtn">Search</button>
                                            </div>
                                            <div class="col-md-3 my-4">
                                                <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                            </div>

                                            <div class="col-md-12">
                                                <h4 class="text-uppercase f-18 verdana text-center fw-bold mb-2 mt-3">[Get Judje Name for] @Html.LabelFor(model=>model.CourtNumber)</h4>
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Case No</th>
                                                            <th>Party Name</th>
                                                            <th>Petitioner Counsel</th>
                                                            <th>Respondent Counsel</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody class="verdana f-12">
                                                        @if (Model.DateWiseCauseLists != null)
                                                        {
                                                            foreach (var _causeList in Model.DateWiseCauseLists)
                                                            {
                                                                cntr++;
                                                                <tr>
                                                                    <td>@cntr</td>
                                                                    <td><strong>@_causeList.Notice.CaseNoticeType.type_name/@_causeList.Notice.NoticeNo/@_causeList.Notice.NoticeYear.ToString("yyyy")</strong><br> (@_causeList.Notice.CaseDetail.District.DistrictName) Notice no:@_causeList.Notice.NoticeYear/@_causeList.Notice.NoticeNo</td>
                                                                    <td>@_causeList.Notice.CaseDetail.PetName Vs @_causeList.Notice.CaseDetail.ResName</td>
                                                                    <td>@_causeList.Notice.CaseDetail.PetAdvocate.Name</td>
                                                                    <td>@_causeList.Notice.CaseDetail.RespAdvocate.Name</td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="5">No results found</td>
                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>

                                            </div>

                                        </div>





                                    </div>
                                </div>

                            }

                        </div>
                        }
                    </div>



                </div>
                                        
                </div>
            </div>

        </div>


    </div>
</section>



