﻿@model  UPCourt.Web.Models.SearchCaseStatusMvcModel
@{
    int cntr = 0;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Search Case Status</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Management
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {

                        <!-- /.card-header -->
                        <div class="col-md-12">
                            <div class="card my-4">
                                <div class="card-header no-bg">
                                    <h3 class="f-24 my-1">Search Case Status</h3>
                                </div>
                                <div class="card-body py-0">

                                    <div class="row">
                                        <div class="col-md-3 inner-tab-border-right">
                                            <ul class="nav nav-pills pt-2 pb-4 flex-column permission-section" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link text-black-50" id="profile-tab" data-toggle="tab" href="#downca" role="tab">Search by</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#party" role="tab">Case number <i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#casnum" role="tab">Case Filling Number<i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#casnot" role="tab">Efilling Diary Number <i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cacrdat" role="tab">Pending Case by Year & Number<i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#counsel" role="tab">Party Name<i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#casdate" role="tab">Complain Case by Party Name<i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#subj" role="tab">C.B.I Case by Party Name <i class="fa fa-angle-right float-right"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#distri" role="tab">Crime/ST Number<i class="fa fa-angle-right float-right"></i></a>
                                                </li>






                                            </ul>
                                        </div>

                                        <div class="col-md-9">
                                            <div class="tab-content my-4" id="myTabContent">
                                                <div class="tab-pane fade active show shadow-none no-bg pt-0" id="party" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Type *</label>
                                                                        @Html.DropDownListFor(x => Model.caseNoticeType.CaseNoticeTypeId, ViewBag.NoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-8">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Number *</label>
                                                                        @Html.EditorFor(model => model.case_number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Case Number" } })
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Year *</label>
                                                                        @Html.EditorFor(model => model.case_year, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Case Year" } })
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>
                                                            </div>


                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    @if (Model != null)
                                                                    {
                                                                        foreach (var notice in Model.NoticesD)
                                                                        {
                                                                            cntr++;
                                                                            <tr>
                                                                                <td>@cntr</td>
                                                                                <td>@notice.CaseNoticeType.type_name/@Model.case_number/@Model.case_year</td>
                                                                                <td>@notice.CaseDetail.PetName Vs @notice.CaseDetail.ResName</td>
                                                                                <td><a href="CaseStatus/@notice.NoticeId"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>

                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="casnum" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Filling Type *</label>
                                                                        <select class="form-control">
                                                                            <option>Select case type</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-8">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Filling Number *</label>
                                                                        <input type="text" class="form-control" placeholder="Enter Case Number" />
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Filling Year *</label>
                                                                        <input type="text" class="form-control" placeholder="YYYY" />
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>


                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="casnot" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <!-- <label>Notice Number *</label> -->
                                                                        <input type="text" class="form-control" placeholder="Enter Dairy Number" />
                                                                    </div>

                                                                </div>



                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>



                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="cacrdat" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Type*</label>
                                                                        <select class="form-control">
                                                                            <option>Select case type</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Case Year*</label>
                                                                        <input type="text" class="form-control" placeholder="YYYY" />
                                                                    </div>

                                                                </div>



                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>


                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="counsel" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Party Type *</label>
                                                                        <select class="form-control">
                                                                            <option>Select party type</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Party Name *</label>
                                                                        <input type="text" class="form-control" placeholder="Enter Party Name" />
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Year *</label>
                                                                        <input type="text" class="form-control" placeholder="YYYY" />
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>District </label>
                                                                        <select class="form-control">
                                                                            <option>Select district</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>




                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="casdate" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Party Type *</label>
                                                                        <select class="form-control">
                                                                            <option>Select party type</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Party Name *</label>
                                                                        <input type="text" class="form-control" placeholder="Enter Party Name" />
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Year *</label>
                                                                        <input type="text" class="form-control" placeholder="YYYY" />
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>District </label>
                                                                        <select class="form-control">
                                                                            <option>Select district</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>



                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="subj" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Party Type *</label>
                                                                        <select class="form-control">
                                                                            <option>Select party type</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Party Name *</label>
                                                                        <input type="text" class="form-control" placeholder="Enter Party Name" />
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Year *</label>
                                                                        <input type="text" class="form-control" placeholder="YYYY" />
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>District </label>
                                                                        <select class="form-control">
                                                                            <option>Select district</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>


                                                        </div>


                                                    </div>



                                                </div>



                                                <div class="tab-pane fade shadow-none no-bg pt-0" id="distri" role="tabpanel" aria-labelledby="home-tab">

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Crime/ST Number *</label>
                                                                        <select class="form-control">
                                                                            <option>Select type</option>
                                                                        </select>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Crime/ST Number *</label>
                                                                        <input type="text" class="form-control" placeholder="Enter Crime/ST Number" />
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Year*</label>
                                                                        <input type="text" class="form-control" placeholder="YYYY" />
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>District*</label>
                                                                        <select class="form-control">
                                                                            <option>Select district</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group tabforminner">
                                                                        <label>Police Station*</label>
                                                                        <select class="form-control">
                                                                            <option>Select police station</option>
                                                                        </select>
                                                                    </div>

                                                                </div>



                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-secondary btn-block resetbtn">Reset</button>
                                                                </div>

                                                                <div class="col-md-6 my-4">
                                                                    <button class="btn btn-warning btn-block displaybtn">Search</button>
                                                                </div>





                                                            </div>

                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr.No.</th>
                                                                        <th>Case Type/Case Number/Case Year</th>
                                                                        <th>Petitioner Name Vs Respondent Name</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class="verdana f-12">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>WRIA/1000/2020</td>
                                                                        <td>SHIV SHANKAR MISRHA AND ANOTHER VS State of U.P. AND 7 OTHERS</td>
                                                                        <td><a href="#"><i class="fa fa-eye f-18"></i></a> <a href="#"><i class="fa fa-file-pdf-o f-16 ml-2"></i></a></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>

                                                        </div>


                                                    </div>



                                                </div>






                                            </div>
                                        </div>





                                    </div>

                                </div>
                            </div>





                        </div>




                    }
                </div>
            </div>

        </div>


    </div>
</section>

<script>
    var selectCourt = "";
    function AssignDuty(CaseGuid, AdvocateId, NoticeType, adno) {
        debugger;
        $("#CaseGuid").val(CaseGuid);
        GetAdvocate(AdvocateId, NoticeType);
        $("#OldAdvocate").text($("#advocate" + adno).val());
        if(AdvocateId != "" && AdvocateId != "00000000-0000-0000-0000-000000000000")
        {
            $("#OldAdvocate").text($("#advocate" + adno).val());
            $("#AssignedCouncil").show();
            $("#AssignedCouncil1").hide();
        }
        else {
            $("#AssignedCouncil").hide();
            $("#AssignedCouncil1").show();
        }

        $("#AssignDutyModal").modal("show");
    }
    function GetAdvocate(AdvocateId,NoticeType) {
        var advocates = $("#Advocate");
        $.ajax({
            type: 'GET',
            async:false,
            url: '@Url.Action("GetAdvocate")',
            data: { "AdvocateId": AdvocateId, "CaseType": NoticeType },
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    var adv = JSON.parse(response);
                    advocates.empty();
                    advocates.append($('<option></option>').val('').html('--Select--'));
                    for (var i = 0; i < adv.length; i++) {
                        advocates.append($('<option></option>').val(adv[i].UserId).html(adv[i].Name));
                    }
                },

            });
    }
    function ReOpenCase(obj, CaseGuid) {
        debugger;


        if ($(obj).val() == "o") {
            $("#ReCaseGuid").val(CaseGuid);
            $("#ReOpenModal").modal("show");
        }
        if ($(obj).val() == "a") {
            $("#ReAppealModal #CaseGuid").val(CaseGuid);
            $("#ReAppealModal").modal("show");
        }
        if ($(obj).val() == "msc") {
            $("#MoveSC #CaseGuid").val(CaseGuid);
            $("#MoveSC").modal("show");
        }
    }

    function GetCourtsByBench(obj) {
        debugger;
        var benchId = $(obj).val();
        var courtSel = $("#CourtId");
        if (benchId && benchId.trim() != '') {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetCourtsByBench")',
                data: JSON.stringify({ BenchId: benchId }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    courtSel.empty();
                    courtSel.append($('<option></option>').val('').html('--Select--'));
                    for (var i = 0; i < response.data.length; i++) {
                        courtSel.append($('<option></option>').val(response.data[i].Value).html(response.data[i].Text));
                    }
                },

            });



            @*$.getJSON('@Url.Action("GetCourtsByBench")', { BenchId: benchId }, function (courts) {
                if (courts && !isEmptyObject(courts)) {
                    courtSel.empty();
                    courtSel.append($('<option/>', {
                        value: null,
                        text: '--Select--'
                    }));
                    courts.each(function (idx, court) {
                        courtSel.append($('<option/>', {
                            value: court.Value,
                            text: court.Text
                        }));
                    });
                }
            });*@
        }
    }

    function DisposeCase(CaseGuid) {
        debugger;
        $("#DisposeCaseGuid").val(CaseGuid);
        $("#DisposeModal").modal("show");
    }

    function MoveToCase() {
                var CaseTransferIds = "";

        $("#CaseTransferTable tbody tr").each(function () {
            var isChecked = $(this).find("input:checkbox")[0].checked;
            if (isChecked) {
                CaseTransferIds = CaseTransferIds + ',' + $(this).find("[id^=CaseId_]").val();
                selectCourt = $(this).find("[id^=CaseCourt_]").val();
            }
        });

        if (CaseTransferIds.length <= 0) {
            alert('select atleast one case');
        }
        else {
            $("#OldCourt").val(selectCourt);
            $("#CaseTransferIds").val(CaseTransferIds);
            $("#MoveToModal").modal("show");
        }

    }

    function ChkClick(id) {
        debugger;
        if ($('#chkCase_' + id).is(":checked")) {
            $('#chkCase_' + id).prop('checked', true);
            var mycourt = $('#CaseCourt_' + id).val();

            if (selectCourt == "") {
                selectCourt = mycourt;
            }
            else if (selectCourt == mycourt) {
                selectCourt = mycourt;
            }
            else {
                alert('please select cases from singal court!!');
                $('#chkCase_' + id).prop('checked', false)
            }
        }
    }
</script>

