﻿@model UPCourt.Web.Models.DashboardMvcModel
@{
    ViewBag.Title = "Dashboard";
}
<!-- Main content -->
<div class="content">
    <div class="container-fluid">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@Model.TotalAssignedCases</h3>
                                <p>Total Assigned Cases</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    @foreach (var item in Model.DashboardCase)
                    {
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background-color:@item.HexColorCode">

                                <div class="inner">
                                    <h3>@item.Count</h3>
                                    <p>@item.Name</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="@Url.Action("Index", "Case",new {CaseStatusActive= item.CaseStatusId})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">District Wise Case</h3>
                                @*<div class="card-tools">
                                        <a href="#" class="btn btn-tool btn-sm">
                                            <i class="fas fa-download"></i>
                                        </a>
                                        <a href="#" class="btn btn-tool btn-sm">
                                            <i class="fas fa-bars"></i>
                                        </a>
                                    </div>*@
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>District</th>
                                            <th style="width:20%;">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DistrictWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.DistrictName</td>
                                                <td>@item.CaseCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Notice Type Wise Case</h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Notice Type</th>
                                            <th style="width:20%;">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.NoticeTypeWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.NoticeTypeName</td>
                                                <td>@item.CaseCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Government Department Wise Case</h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Department Name</th>
                                            <th style="width:20%;">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.GovernmentDepartmentWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.DepartmentName</td>
                                                <td>@item.CaseCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/adminlte.js")
    @Scripts.Render("~/FrontEnd/plugins/chart.js/Chart.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/demo.js")
    @Scripts.Render("~/FrontEnd/dist/js/pages/dashboard3.js")
}



