﻿@model UPCourt.Web.Models.DashboardMvcModel
@{
    ViewBag.Title = "Dashboard";
    var CSno = 0;
}
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard - CSC</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard - CSC</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@Model.TotalAssignedCases</h3>
                                <p>Total Assigned Cases</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@Model.TotalUnAssignedCases</h3>
                                <p>Total Unssigned Cases</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    @foreach (var item in Model.DashboardCase)
                    {
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background-color:@item.HexColorCode">

                                <div class="inner">
                                    <h3>@item.Count</h3>
                                    <p>@item.Name</p>
                                </div>

                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="@Url.Action("Index", "Case",new {CaseStatusActive= item.CaseStatusId})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    <!-- ./col -->
                    <!-- ./col -->
                </div>
                <div class="row">

                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title"><b>Council Case Assigned</b></h3>
                                    <a href="javascript:void(0);">View Report</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="d-flex flex-column">
                                        <span class="text-bold text-lg"><i class="fa fa-file-alt"></i> 2976</span>
                                        <span>28 Aug 2021</span>
                                    </p>
                                    <p class="ml-auto d-flex flex-column text-right">
                                        <span class="text-success">
                                            <i class="fas fa-arrow-up"></i> 33.1%
                                        </span>
                                        <span class="text-muted">Since last month</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                                <div class="position-relative mb-4">
                                    <canvas id="sales-chart" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Unassigned Case </h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table id="example1" class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Case No</th>
                                            <th>Next Hearing Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.UnAssignedCases)
                                        {
                                            CSno++;
                                            <tr>
                                                <td>@CSno</td>
                                                <td>@item.PetitionNo</td>
                                                <td>@item.NextHearingDate</td>
                                                <td><span style="background-color:@item.CaseStatus.HexColorCode">@item.CaseStatus.Name</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Last week Hearing</h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table id="example1" class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Case No</th>
                                            <th>Last Hearing Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CaseHearing)
                                        {
                                            CSno++;
                                            <tr>
                                                <td>@CSno</td>
                                                <td>@item.PetitionNo</td>
                                                <td>@item.NextHearingDate</td>
                                                <td><span style="background-color:@item.CaseStatus.HexColorCode">@item.CaseStatus.Name</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Available Council</h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Counts</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Availablecouncil)
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.OfficialName</td>
                                                <td>@item.UserCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--<div class="card">
        <div class="card-header ui-sortable-handle" style="cursor: move;">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Notifications
            </h3>
        </div>-->
                        <!-- /.card-header -->
                        <!--<div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
            <li>-->
                        <!-- drag handle -->
                        <!--<span class="handle ui-sortable-handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>-->
                        <!-- todo text -->
                        <!--<span class="text">Design a nice theme</span>-->
                        <!-- Emphasis label -->
                        <!--<small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>-->
                        <!-- General tools such as edit or delete-->
                        <!--<div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
        </div>
    </li>
    <li>
        <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
        </span>

        <span class="text">Make the theme responsive</span>
        <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
        <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
        </div>
    </li>
    <li>
        <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
        </span>

        <span class="text">Let theme shine like a star</span>
        <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
        <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
        </div>
    </li>
    <li>
        <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
        </span>

        <span class="text">Let theme shine like a star</span>
        <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
        <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
        </div>
    </li>
    <li>
        <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
        </span>

        <span class="text">Check your messages and notifications</span>
        <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
        <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
        </div>
    </li>
    <li>
        <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
        </span>

        <span class="text">Let theme shine like a star</span>
        <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
        <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
        </div>
    </li>
    <li>-->
                        <!-- drag handle -->
                        <!--<span class="handle ui-sortable-handle">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-ellipsis-v"></i>
    </span>-->
                        <!-- todo text -->
                        <!--<span class="text">Design a nice theme</span>-->
                        <!-- Emphasis label -->
                        <!--<small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>-->
                        <!-- General tools such as edit or delete-->
                        <!--<div class="tools">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-o"></i>
                </div>
            </li>
            <li>
                <span class="handle ui-sortable-handle">
                    <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </span>

                <span class="text">Make the theme responsive</span>
                <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
                <div class="tools">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-o"></i>
                </div>
            </li>
            <li>
                <span class="handle ui-sortable-handle">
                    <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </span>

                <span class="text">Let theme shine like a star</span>
                <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
                <div class="tools">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-o"></i>
                </div>
            </li>
            <li>
                <span class="handle ui-sortable-handle">
                    <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </span>

                <span class="text">Let theme shine like a star</span>
                <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
                <div class="tools">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-o"></i>
                </div>
            </li>
            <li>
                <span class="handle ui-sortable-handle">
                    <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </span>

                <span class="text">Check your messages and notifications</span>
                <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
                <div class="tools">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-o"></i>
                </div>
            </li>
            <li>
                <span class="handle ui-sortable-handle">
                    <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </span>

                <span class="text">Let theme shine like a star</span>
                <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
                <div class="tools">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-o"></i>
                </div>
            </li>
        </ul>
    </div>-->
                        <!-- /.card-body -->
                        <!--<div class="card-footer clearfix">
            <button type="button" class="btn btn-primary float-right"><i class="fas fa-eye"></i> View All</button>
        </div>
    </div>-->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">District Wise Case</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th>District</th>
                                                    <th style="width:20%;">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.DistrictWiseCase)
                                                {
                                                    <tr class="tr-class-2">
                                                        <td>@item.DistrictName</td>
                                                        <td>@item.CaseCount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">Notice Type Wise Case</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th>Notice Type</th>
                                                    <th style="width:20%;">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.NoticeTypeWiseCase)
                                                {
                                                    <tr class="tr-class-2">
                                                        <td>@item.NoticeTypeName</td>
                                                        <td>@item.CaseCount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">Government Department Wise Case</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th>Department Name</th>
                                                    <th style="width:20%;">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.GovernmentDepartmentWiseCase)
                                                {
                                                    <tr class="tr-class-2">
                                                        <td>@item.DepartmentName</td>
                                                        <td>@item.CaseCount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/adminlte.js")
    @Scripts.Render("~/FrontEnd/plugins/chart.js/Chart.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/demo.js")
    @Scripts.Render("~/FrontEnd/dist/js/pages/dashboard3.js")
}


