﻿@model UPCourt.Web.Models.DashboardMvcModel
@using UPCourt.Entity;
@using UPCourt.Web.Models;
@{
    ViewBag.Title = "Dashboard";

    UserSystemRole UserSystemRoleId = ApplicationUser.GetUserFromIdentity(User).User.UserRole.UserSystemRoleId;

    string TotalAssignedCasesDiv = " display:none; ", TotalUnAssignedCasesDiv = " display:none; ",
    PendingNoticeDiv = " display:none; ", UserPendingRequestDiv = " display:none; ",
    ActiveCasesGraphDiv = " display:none; ", PendingNoticesGraphDiv = " display:none; ",
    DisposedCaseGraphDiv = " display:none; ", ContextOrderGraphDiv = " display:none; ",
    DistrictWiseCaseDiv = " display:none; ", NoticeTypeWiseCaseDiv = " display:none; ", GovernmentDepartmentWiseCaseDiv = " display:none; ",
    UserCountDiv = " display:none; ", PendingUserRequestDiv = " display:none; ";
    bool DocumentRequestedDiv = false, DocumentReceivedDiv = false, TimeBoundComplianceDiv = false; ;

    if (UserSystemRoleId == UserSystemRole.Admin || UserSystemRoleId == UserSystemRole.AGAdmin)
    {
        TotalAssignedCasesDiv = " ";
        TotalUnAssignedCasesDiv = " ";
        PendingNoticeDiv = " ";
        UserPendingRequestDiv = "  ";
        ActiveCasesGraphDiv = "  ";
        PendingNoticesGraphDiv = " ";
        DisposedCaseGraphDiv = "  ";
        ContextOrderGraphDiv = "  ";
        DistrictWiseCaseDiv = "";
        NoticeTypeWiseCaseDiv = "";
        GovernmentDepartmentWiseCaseDiv = "";
        UserCountDiv = " ";
        PendingUserRequestDiv = "  ";
    }
    else if (UserSystemRoleId == UserSystemRole.GovDeptDegUser || UserSystemRoleId == UserSystemRole.GovDeptHead || UserSystemRoleId == UserSystemRole.GovDeptOIC)
    {
        DocumentRequestedDiv = true;
        TimeBoundComplianceDiv = true;
    }
    else if (UserSystemRoleId == UserSystemRole.AdvCivil || UserSystemRoleId == UserSystemRole.AdvCriminal)
    {
        TotalAssignedCasesDiv = " ";
        DistrictWiseCaseDiv = "";
        NoticeTypeWiseCaseDiv = "";
        GovernmentDepartmentWiseCaseDiv = "";
        DocumentRequestedDiv = true;
        DocumentReceivedDiv = true;
    }

}

<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6" style="@TotalAssignedCasesDiv">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.TotalAssignedCases</h3>
                        <p>Total Assigned Cases</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="@Url.Action("Index", "Case",new { AdvStatus="assigned"})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6" style="@TotalUnAssignedCasesDiv">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.TotalUnAssignedCases</h3>
                        <p>Total Unassigned Cases</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="@Url.Action("Index", "Case",new { AdvStatus= "unassigned"})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            @if (Model.DashboardCase.Count > 0)
            {
                foreach (var item in Model.DashboardCase)
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box" style="background-color:@item.HexColorCode">

                            <div class="inner">
                                <h3>@item.Count</h3>
                                <p>@item.Name</p>
                            </div>

                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("Index", "Case",new {CaseStatusActive= item.CaseStatusId})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
            }

            <div class="col-lg-3 col-6" style="@PendingNoticeDiv">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.PendingNotices</h3>

                        <p>Pending Notices</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="@Url.Action("Index", "NoticeCase")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            @if (@DocumentRequestedDiv)
            {
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.DocumentRequestedCasesCount</h3>

                            <p>Doc Requested on Cases</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Action("Index", "Case",new { DocRequested=true })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }
            @if (@DocumentReceivedDiv)
            {
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.DocumentReceivedCasesCount</h3>

                            <p>Doc Received on Cases</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Action("Index", "Case",new { DocRecived=true })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }
            @if (TimeBoundComplianceDiv)
            {
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.TimeBoundComplianceCount</h3>

                            <p>Cases which have Time bound Compliancs</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Action("Index", "Case",new { TBCase=true })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

                    </div>
                </div>
            }
        </div>
        <script src="~/FrontEnd/dist/js/GoogleChart_loader.js"></script>
        <script>

            var ActiveCasesModel = @Html.Raw(Json.Encode(Model.ActiveCasesCounts));
            var PendingNoticesModel = @Html.Raw(Json.Encode(Model.PendingNoticesCounts));
            var DisposedCasesModel = @Html.Raw(Json.Encode(Model.DisposedCasesCounts));
            var ContextOrdersModel = @Html.Raw(Json.Encode(Model.ContextOrdersCounts));

            google.charts.load('current', { 'packages': ['bar','line'] });
            google.charts.setOnLoadCallback(drawStuff);

            function drawStuff() {

                var ACchart = new google.charts.Bar(document.getElementById('ActiveCasesGraph'));
                var ACdata = new google.visualization.DataTable();
                ACdata.addColumn('string', 'Month Name');
                ACdata.addColumn('number', 'Case Count');
                $.each(ActiveCasesModel, function (i, item) { ACdata.addRow([item.MonthName, item.CaseCount]);})
                var ACoptions = {legend: { position: 'none' },bar: { groupWidth: "90%" },is3D: true};
                ACchart.draw(ACdata, google.charts.Bar.convertOptions(ACoptions));

                var DCchart = new google.charts.Bar(document.getElementById('DisposedCaseGraph'));
                var DCdata = new google.visualization.DataTable();
                DCdata.addColumn('string', 'Month Name');
                DCdata.addColumn('number', 'Case Count');
                $.each(DisposedCasesModel, function (i, item) { DCdata.addRow([item.MonthName, item.CaseCount]); })
                var DCoptions = { legend: { position: 'none' }, bar: { groupWidth: "90%" }, is3D: true };
                DCchart.draw(DCdata, google.charts.Bar.convertOptions(DCoptions));

                var COchart = new google.charts.Bar(document.getElementById('ContextOrderGraph'));
                var COdata = new google.visualization.DataTable();
                COdata.addColumn('string', 'Month Name');
                COdata.addColumn('number', 'Case Count');
                $.each(ContextOrdersModel, function (i, item) { COdata.addRow([item.MonthName, item.CaseCount]); })
                var COoptions = { legend: { position: 'none' }, bar: { groupWidth: "90%" }, is3D: true };
                COchart.draw(COdata, google.charts.Bar.convertOptions(COoptions));

                var PNchart = new google.charts.Line(document.getElementById('PendingNoticesGraph'));
                var PNdata = new google.visualization.DataTable();
                PNdata.addColumn('string', 'Day');
                PNdata.addColumn('number', 'Case Count');
                $.each(PendingNoticesModel, function (i, item) { PNdata.addRow([item.DayName, item.CaseCount]); })
                var PNoptions = { legend: { position: 'none' }, bar: { groupWidth: "90%" }, is3D: true };
                PNchart.draw(PNdata, google.charts.Line.convertOptions(PNoptions));

            };
        </script>
        <div class="row">
            <div class="col-lg-6" style="@ActiveCasesGraphDiv">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"><b>Active Cases</b></h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="position-relative mb-4">
                            <div id="ActiveCasesGraph" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="@PendingNoticesGraphDiv">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"><b>Pending Notices</b></h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="position-relative mb-4">
                            <div id="PendingNoticesGraph" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="@DisposedCaseGraphDiv">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"><b>Disposed Cases</b></h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="position-relative mb-4">
                            <div id="DisposedCaseGraph" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="@ContextOrderGraphDiv">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title"><b>Context Order</b></h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="position-relative mb-4">
                            <div id="ContextOrderGraph" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @if (Model.DistrictWiseCase.Count > 0)
            {
                <div class="col-md-4" style="@DistrictWiseCaseDiv ">
                    <div class="card" style="height: 325px;">
                        <div class="card-header">
                            <h3 class="card-title">District Wise Case</h3>
                        </div>
                        <div class="card-body table-responsive p-2">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>District</th>
                                        <th style="width:20%;">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DistrictWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                    {
                                        <tr class="tr-class-2">
                                            <td>@item.DistrictName</td>
                                            <td>@item.CaseCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-xs float-right" data-toggle="modal" data-target="#modalDistrictWiseCase"> View All</a>
                        </div>
                    </div>

                    <div class="modal fade" id="modalDistrictWiseCase" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">District Wise Case</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>District</th>
                                                <th style="width:20%;">Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DistrictWiseCase)
                                            {
                                                <tr class="tr-class-2">
                                                    <td>@item.DistrictName</td>
                                                    <td>@item.CaseCount</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-danger btn-xs float-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            }
            @if (Model.NoticeTypeWiseCase.Count > 0)
            {
                <div class="col-md-4" style="@NoticeTypeWiseCaseDiv ">
                    <div class="card" style="height: 325px;">
                        <div class="card-header">
                            <h3 class="card-title">Notice Type Wise Case</h3>
                        </div>
                        <div class="card-body table-responsive p-2">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>Notice Type</th>
                                        <th style="width:20%;">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.NoticeTypeWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                    {
                                        <tr class="tr-class-2">
                                            <td>@item.NoticeTypeName</td>
                                            <td>@item.CaseCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-xs float-right" data-toggle="modal" data-target="#modalNoticeTypeWise"> View All</a>
                        </div>
                    </div>

                    <div class="modal fade" id="modalNoticeTypeWise" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Notice Type Wise Case</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>Notice Type</th>
                                                <th style="width:20%;">Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.NoticeTypeWiseCase)
                                            {
                                                <tr class="tr-class-2">
                                                    <td>@item.NoticeTypeName</td>
                                                    <td>@item.CaseCount</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-danger btn-xs float-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            }
            @if (Model.GovernmentDepartmentWiseCase.Count > 0)
            {
                <div class="col-md-4" style="@GovernmentDepartmentWiseCaseDiv ">
                    <div class="card" style="height: 325px;">
                        <div class="card-header">
                            <h3 class="card-title">Government Department Wise Case</h3>
                        </div>
                        <div class="card-body table-responsive p-2">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>Department Name</th>
                                        <th style="width:20%;">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GovernmentDepartmentWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                    {
                                        <tr class="tr-class-2">
                                            <td>@item.DepartmentName</td>
                                            <td>@item.CaseCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-xs float-right" data-toggle="modal" data-target="#modalGovernmentDepartmentWiseCase"> View All</a>
                        </div>
                    </div>

                    <div class="modal fade" id="modalGovernmentDepartmentWiseCase" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Government Department Wise Case</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>Department Name</th>
                                                <th style="width:20%;">Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.GovernmentDepartmentWiseCase)
                                            {
                                                <tr class="tr-class-2">
                                                    <td>@item.DepartmentName</td>
                                                    <td>@item.CaseCount</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-danger btn-xs float-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.UserOfficials.Count > 0)
            {
                <div class="col-md-4" style="@UserCountDiv">
                    <div class="card" style="height: 325px;">
                        <div class="card-header">
                            <h3 class="card-title">
                                Users
                            </h3>
                        </div>
                        <div class="card-body table-responsive p-2">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Counts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserOfficials)
                                    {
                                        <tr class="tr-class-2">
                                            <td>@item.OfficialName</td>
                                            <td>@item.UserCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            @*@if (Model.UserRequest.Count > 0)
                {
                    <div class="col-md-8" style="@PendingUserRequestDiv height: 325px;">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Pending User Request
                                </h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table id="example1" class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>MobileNo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.UserRequest)
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.Name</td>
                                                <td>@item.Address</td>
                                                <td>@item.MobileNo</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                }*@
        </div>
    </div>
</div>