﻿@model UPCourt.Web.Models.DashboardMvcModel
@using UPCourt.Web.Core;
@using UPCourt.Web.Models;
@using UPCourt.Entity;
@using System.Globalization;

@{
    ViewBag.Title = "Dashboard";
    var CSno = 0;
    var user = ApplicationUser.GetUserFromIdentity(User);
    var Notifications = user != null ? AppNotifications.GetNotifications(user.UserId) : null;
}
<div class="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Department Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard - Department</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.TotalNotices</h3>
                            <p>Total Notice</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-cyan">
                        <div class="inner">
                            <h3>@Model.PendingNotices</h3>
                            <p>Pending Notice</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                @foreach (var item in Model.DashboardCase)
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box" style="background-color:@item.HexColorCode">

                            <div class="inner">
                                <h3>@item.Count</h3>
                                <p>@item.Name</p>
                            </div>

                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("Index", "DepartmentCase",new { CaseStatusActive= item.CaseStatusId})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
                <!-- ./col -->
                <!-- ./col -->
                <!--<div class="col-lg-3 col-6">-->
                <!-- small box -->
                <!--<div class="small-box bg-warning">
                        <div class="inner">
                            <h3>44</h3>
                            <p>Total Action Pending</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>-->
            </div>
            <div class="row">
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">Last week Hearing</h3>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-sm">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a href="#" class="btn btn-tool btn-sm">
                                    <i class="fas fa-bars"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table id="example1" class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Case No</th>
                                        <th>Next Hearing Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CaseHearing.Count() > 0)
                                    {
                                        foreach (var item in Model.CaseHearing)
                                        {
                                            CSno++;
                                            <tr>
                                                <td>@CSno</td>
                                                <td>@item.PetitionNo</td>
                                                <td>@item.CaseHearings.Max(x => x.NextHearingDate).ToDdMmYyyy()</td>
                                                <td><span style="background-color:@item.CaseStatus.HexColorCode">@item.CaseStatus.Name</span></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>1</td>
                                            <td>Case/01/0109090</td>
                                            <td>@DateTime.Now.AddDays(15).ToDdMmmYyyy()</td>
                                            <td><span>Re-Appeal</span></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Case/Luck/Crim/01</td>
                                            <td>@DateTime.Now.AddDays(9).ToDdMmmYyyy()</td>
                                            <td><span>Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Vinod/20/10/03</td>
                                            <td>@DateTime.Now.AddDays(7).ToDdMmmYyyy()</td>
                                            <td><span>Rejoinder Affidavit</span></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>CASE-NOC-54321</td>
                                            <td>@DateTime.Now.AddDays(1).ToDdMmmYyyy()</td>
                                            <td><span>Review Petition</span></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Case/37/32/MAR/19</td>
                                            <td>@DateTime.Now.AddDays(6).ToDdMmmYyyy()</td>
                                            <td><span>Pending</span></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="card-title">
                                <i class="ion ion-clipboard mr-1"></i>
                                Notifications
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <ul class="todo-list ui-sortable" data-widget="todo-list">
                                @foreach (var item in Notifications.OrderByDescending(i => i.CreatedOn).Take(5))
                                {
                                    <li href="@item.RouteValue?nid=@item.Id&s=1" class="dropdown-item">
                                        <i class="fas fa-envelope mr-2"></i>
                                        @if (item.Message.Length > 70)
                                        {
                                            <span>@item.Message.Substring(0, 70) ... </span>
                                        }
                                        else
                                        {
                                            <span>@item.Message </span>
                                        }
                                        <span class="float-right text-muted text-sm">
                                            @if (!string.IsNullOrEmpty(item.RouteValue) && item.RouteValue.Contains("http"))
                                            {
                                                <span style="float: right;" class="btn btn-primary btn-sm" href="@item.RouteValue">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    View
                                                </span>
                                            }
                                        </span>
                                    </li>
                                }

                            </ul>
                            <a href="~/UserNotifications">
                                Click here to view all Notification
                            </a>
                        </div>

                    </div>
                </div>

                <!-- /.col-md-6 -->
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">District Wise Case</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>District</th>
                                        <th style="width:20%;">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DistrictWiseCase)
                                    {
                                        <tr class="tr-class-2">
                                            <td>@item.DistrictName</td>
                                            <td>@item.CaseCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">Notice Type Wise Case</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>Notice Type</th>
                                        <th style="width:20%;">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.NoticeTypeWiseCase)
                                    {
                                        <tr class="tr-class-2">
                                            <td>@item.NoticeTypeName</td>
                                            <td>@item.CaseCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Government Department Wise Case</h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Department Name</th>
                                            <th style="width:20%;">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.GovernmentDepartmentWiseCase)
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.DepartmentName</td>
                                                <td>@item.CaseCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>


<!-- /.container-fluid -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/adminlte.js")
    @Scripts.Render("~/FrontEnd/plugins/chart.js/Chart.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/demo.js")
    @Scripts.Render("~/FrontEnd/dist/js/pages/dashboard3.js")
}