﻿@model UPCourt.Web.Models.DashboardMvcModel
@using UPCourt.Web.Core;
@using UPCourt.Web.Models;
@using UPCourt.Entity;
@using System.Globalization;

@{
    ViewBag.Title = "Dashboard";
    var CSno = 0;
    var user = ApplicationUser.GetUserFromIdentity(User);
    var Notifications = user != null ? AppNotifications.GetNotifications(user.UserId) : null;
}
<div class="content">

    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.TotalNotices</h3>
                            <p>Total Notice</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="#" class="small-box-footer">&nbsp;</a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-cyan">
                        <div class="inner">
                            <h3>@Model.PendingNotices</h3>
                            <p>Pending Notice</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="#" class="small-box-footer">&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.Cases.Count()</h3>
                            <p>Total Cases</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="@Url.Action("Index", "Case")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                @foreach (var item in Model.DashboardCase)
                {
                    <div class="col-lg-3 col-6">
                        <div class="small-box" style="background-color:@item.HexColorCode">
                            <div class="inner">
                                <h3>@item.Count</h3>
                                <p>@item.Name</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("Index", "DepartmentCase",new { CaseStatusActive= item.CaseStatusId})" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.DocumentRequestedCasesCount </h3>
                            <p>Doc Requested Cases</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="@Url.Action("Index", "DepartmentCase",new { DocRequested=true })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-cyan">
                        <div class="inner">
                            <h3>@Model.DocumentReceivedCasesCount </h3>
                            <p>Doc Recived Cases</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                        <a href="@Url.Action("Index", "DepartmentCase",new { DocRecived=true })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box " style="background-color:chocolate">
                        <div class="inner">
                            <h3>@Model.TimeBoundComplianceCount </h3>
                            <p>Time Bound Compliance Cases</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-folder"></i>
                        </div>
                        <a href="@Url.Action("Index", "DepartmentCase",new { TBCase=true })" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box " style="background-color:antiquewhite">
                        <div class="inner">
                            <h3>@Model.DesignationUserCount </h3>
                            <p>Designation Users</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="@Url.Action("Index", "GovDesignation")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box " style="background-color:darksalmon">
                        <div class="inner">
                            <h3>@Model.OICUserCount </h3>
                            <p>OIC Users</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="@Url.Action("Index", "GovOIC")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="card-title">Last week Hearing</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table id="example1" class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Case No</th>
                                        <th>Next Hearing Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CaseHearing.Count() > 0)
                                    {
                                        foreach (var item in Model.CaseHearing)
                                        {
                                            CSno++;
                                            <tr>
                                                <td>@CSno</td>
                                                <td><a href="@Url.Action("CaseView", "DepartmentCase",new { id= item.CaseId})"> @item.PetitionNo </a> </td>

                                                <td>@item.CaseHearings.Max(x => x.NextHearingDate).ToDdMmYyyy()</td>
                                                <td><span style="background-color:@item.CaseStatus.HexColorCode">@item.CaseStatus.Name</span></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="card-title">
                                <i class="ion ion-clipboard mr-1"></i>
                                Notifications
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="todo-list ui-sortable" data-widget="todo-list">
                                @foreach (var item in Notifications.OrderByDescending(i => i.CreatedOn).Take(5))
                                {
                                    <li href="@item.RouteValue?nid=@item.Id&s=1" class="dropdown-item">
                                        <i class="fas fa-envelope mr-2"></i>
                                        @if (item.Message.Length > 70)
                                        {
                                            <span>@item.Message.Substring(0, 70) ... </span>
                                        }
                                        else
                                        {
                                            <span>@item.Message </span>
                                        }
                                        <span class="float-right text-muted text-sm">
                                            @if (!string.IsNullOrEmpty(item.RouteValue) && item.RouteValue.Contains("http"))
                                            {
                                                <span style="float: right;" class="btn btn-primary btn-sm" href="@item.RouteValue">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    View
                                                </span>
                                            }
                                        </span>
                                    </li>
                                }

                            </ul>
                            <a href="~/UserNotifications">
                                Click here to view all Notification
                            </a>
                        </div>

                    </div>
                </div>

                <!-- /.col-md-6 -->
            </div>

            <div class="row">
                @if (Model.DistrictWiseCase.Count > 0)
                {
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">District Wise Case</h3>
                            </div>
                            <div class="card-body table-responsive p-2">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>District</th>
                                            <th style="width:20%;">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DistrictWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.DistrictName</td>
                                                <td>@item.CaseCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary btn-xs float-right" data-toggle="modal" data-target="#modalDistrictWiseCase"> View All</a>
                            </div>
                        </div>

                        <div class="modal fade" id="modalDistrictWiseCase" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">District Wise Case</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th>District</th>
                                                    <th style="width:20%;">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.DistrictWiseCase)
                                                {
                                                    <tr class="tr-class-2">
                                                        <td>@item.DistrictName</td>
                                                        <td>@item.CaseCount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-danger btn-xs float-right" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                }
                @if (Model.NoticeTypeWiseCase.Count > 0)
                {
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Notice Type Wise Case</h3>
                            </div>
                            <div class="card-body table-responsive p-2">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Notice Type</th>
                                            <th style="width:20%;">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.NoticeTypeWiseCase.OrderByDescending(x => x.CaseCount).Take(5))
                                        {
                                            <tr class="tr-class-2">
                                                <td>@item.NoticeTypeName</td>
                                                <td>@item.CaseCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary btn-xs float-right" data-toggle="modal" data-target="#modalNoticeTypeWise"> View All</a>
                            </div>
                        </div>

                        <div class="modal fade" id="modalNoticeTypeWise" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Notice Type Wise Case</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th>Notice Type</th>
                                                    <th style="width:20%;">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.NoticeTypeWiseCase)
                                                {
                                                    <tr class="tr-class-2">
                                                        <td>@item.NoticeTypeName</td>
                                                        <td>@item.CaseCount</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-danger btn-xs float-right" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                }

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>


<!-- /.container-fluid -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/adminlte.js")
    @Scripts.Render("~/FrontEnd/plugins/chart.js/Chart.min.js")
    @Scripts.Render("~/FrontEnd/dist/js/demo.js")
    @Scripts.Render("~/FrontEnd/dist/js/pages/dashboard3.js")
}