﻿@{
    ViewBag.Title = "Dashboard";
    string name = ViewBag.ActionName;
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" type="text/html" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome Icons -->
<link rel="stylesheet" type="text/html" href="plugins/fontawesome-free/css/all.min.css">
<!-- IonIcons -->
<link rel="stylesheet" type="text/html" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<style>
    .bg-info {
        background: #dafaff !important;
        color: #000 !important;
    }

    .bg-warning {
        background: #ffecb4 !important;
        color: #000 !important
    }

    .bg-secondary {
        background: #d2d2d2 !important;
        color: #000 !important
    }

    .bg-success {
        background: #8effa8 !important;
        color: #000 !important
    }

    .bg-primary {
        background: #aed5ff !important;
        color: #000 !important
    }

    .bg-danger {
        background-color: #fbdbde !important;
        color: #000 !important
    }
</style>



@if (name != null)
{
    @Html.Action(name);
}


