﻿@using File_Folder_Download_MVC.Models
@model List<FileModel>
@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="container">
    <div class="breadcrumbnew">
        <a class="active" href="@Url.Action("Index", "Home")">Home</a> <i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "Downloads")">Downloads</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">Downloads</h3>
                </div>
                <div class="card-body">
                    <ul class="e-filling-list">
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "WritDownload/Workflow for E - notice.docx")">1.  e-Notice Work Flow</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "WritDownload/User Manual.docx")">2.  User Manual</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>