﻿@model UPCourt.Web.Models.UserRolePermissionMvcModel
@{
    ViewBag.Title = "User Role Details";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Role Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Role Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">User Role</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>

        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="card-header bg-primary">
            <h3 class="card-title">Role Permission</h3>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.PagePermissions.Count; i++)
            {
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>@Model.PagePermissions[i].PageNameDisplay</label>
                        <div class="clearfix">
                            @for (int j = 0; j < Model.PagePermissions[i].PermissionTypesDestructed.Count; j++)
                            {
                                string Id = Guid.NewGuid().ToString("N");
                                <div class="icheck-primary d-inline ml-4">
                                    <input type="checkbox" value="@Model.PagePermissions[i].PermissionTypesDestructed[j].Name" id="@Id"
                                           checked="@Model.PagePermissions[i].PermissionTypesDestructed[j].IsSelected"
                                           disabled="disabled">
                                    <label for="@Id" class="font-weight-normal">@Model.PagePermissions[i].PermissionTypesDestructed[j].Name</label>
                                </div>
                            }
                        </div>
                        <div class="border-top my-3"></div>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "UserRole")" class="btn btn-primary">
                Back
            </a>
        </div>
    </form>
</div>
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}