﻿@model UPCourt.Web.Models.UserRolePermissionMvcModel
@{
    ViewBag.Title = "Edit User Role";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Role Edit</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Role Edit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
@using (Html.BeginForm("Edit", "UserRole", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.UserRoleId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">User Role</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>

            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                         </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new
                   {
                       @class = "form-control select2",
                       @style = "width: 100%"
                   })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-header card-primary">
                <h3 class="card-title">Role Permission</h3>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.PagePermissions.Count; i++)
                {
                    @Html.HiddenFor(model => model.PagePermissions[i].PagePermissionId)
                    @Html.HiddenFor(model => model.PagePermissions[i].PageName)
                    @Html.HiddenFor(model => model.PagePermissions[i].PageNameDisplay)
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>@Model.PagePermissions[i].PageNameDisplay</label>
                            <div class="clearfix">
                                @for (int j = 0; j < Model.PagePermissions[i].PermissionTypesDestructed.Count; j++)
                                {
                                    string Id = Guid.NewGuid().ToString("N");

                                    @Html.HiddenFor(model => model.PagePermissions[i].PermissionTypesDestructed[j].Name)
                                    @Html.HiddenFor(model => model.PagePermissions[i].PermissionTypesDestructed[j].Value)
                                    @Html.HiddenFor(model => model.PagePermissions[i].PermissionTypesDestructed[j].IsSelected, new { @identifier = @Id })

                                    <div class="icheck-primary d-inline ml-4">
                                        <input type="checkbox" value="@Model.PagePermissions[i].PermissionTypesDestructed[j].Name" id="@Id"
                                               checked="@Model.PagePermissions[i].PermissionTypesDestructed[j].IsSelected"
                                               disabled="@Model.IsSytemCreated">
                                        <label for="@Id" class="font-weight-normal">@Model.PagePermissions[i].PermissionTypesDestructed[j].Name</label>
                                    </div>
                                }
                            </div>
                            <div class="border-top my-3"></div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer">
                @if (@Model.IsSytemCreated)
                {
                    <a href="@Url.Action("Index", "UserRole")" class="btn btn-primary">Back</a>
                }
                else
                {
                    <input type="submit" class="btn btn-primary" value="Submit" />
                }
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
    @Scripts.Render("~/Scripts/Court/RolePermission.js")
}