﻿@model UPCourt.Web.Models.UserMvcModel

@{
    ViewBag.Title = "User Details";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">User</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", @for = "exampleInputEmail1" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email", @id = "exampleInputEmail1", @disabled = "disabled" } })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label", @for = "phoneno" })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact No.", @type = "text", @disabled = "disabled" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                    @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Address", @disabled = "disabled" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.UserRole.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.UserRoleId, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;", @disabled = "disabled" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                </div>
            </div>
           
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "" }) <br />
                @Html.EnumDropDownListFor(m => m.UserType, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AGDepartmentId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.AGDepartmentId, ViewBag.AGDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-6" style="display:none;">
                @Html.LabelFor(model => model.GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;", @disabled = "disabled" })
            </div>
            <div class="form-group col-md-6 wrapper-list-item">

                @Html.LabelFor(model => model.Designation.Name, htmlAttributes: new { @class = "" }) <br />
                @Html.DropDownListFor(m => m.DesignationId, ViewBag.Designations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @id = "DesignationId", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Designation.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "User")" class="btn btn-primary">
                Back
            </a>
        </div>
    </form>
</div>
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")

    <script type="text/javascript">
    $(function () {

    if ($('#UserRoleId option:selected').text() == "Advocate") {
    $('.wrapper-list-item').show();
    }
    else
    $('.wrapper-list-item').hide();

    $('#UserRoleId').on('change', function () {
    if ($('#UserRoleId option:selected').text() == "Advocate") {
    $('.wrapper-list-item').show();
    }
    else
    $('.wrapper-list-item').hide();
    });

    });
    </script>

}
