﻿@model UPCourt.Web.Models.UserMvcModel

@{
    ViewBag.Title = "Edit User";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Edit</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Edit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.UserId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">User</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true", @onkeypress = "return /^[a-zA-Z ]+$/i.test(event.key)" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", @for = "exampleInputEmail1" })   <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email", @id = "exampleInputEmail1", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label", @for = "phoneno" })
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @id = "txtPhone", @placeholder = "Enter Contact No.", @maxlength = "10", @type = "text", @inputmode = "numeric", @onkeypress = "return /[0-9]/i.test(event.key)" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                        @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Address", maxlength = 200 })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.UserRoleId, htmlAttributes: new { @class = "control-label" })        <span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.UserRoleId, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @required = "true", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label", @for = "password" })
                        <label class="float-right control-label">
                            <input type="checkbox" id="showPass"> &nbsp; Show Password
                        </label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @id = "txtPassword", @type = "password", @maxlength = "10" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="text-danger"> If Password not changed then remaines Same.</span>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "" }) <br />
                        @Html.DropDownListFor(m => m.UserType, Model.UserTypeList as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.AGDepartmentId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.AGDepartmentId, ViewBag.AGDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.AGDepartmentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 wrapper-list-item">
                        @Html.LabelFor(model => model.GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.GovernmentDepartmentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 wrapper-list-item">

                        @Html.LabelFor(model => model.Designation.Name, htmlAttributes: new { @class = "" }) <br />
                        @Html.DropDownListFor(m => m.DesignationId, ViewBag.Designations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%", @id = "DesignationId" })
                        @Html.ValidationMessageFor(model => model.Designation.Name, "", new { @class = "text-danger" })
                    </div>


                </div>


            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
    <script type="text/javascript">
        $(function () {

            if ($('#UserRoleId option:selected').text() == "Advocate") {
                $('.wrapper-list-item').show();
            }
            else
                $('.wrapper-list-item').hide();

            $('#UserRoleId').on('change', function () {
                if ($('#UserRoleId option:selected').text() == "Advocate") {
                    $('.wrapper-list-item').show();
                }
                else
                    $('.wrapper-list-item').hide();
            });

        });
    </script>



    <script>
        function validateData() {
         
            if ($("#txtPhone").val() != "") {

                if ($("#txtPhone").val().length != 10) {
                    ToastError("Please enter 10 digit mobile no.");
                    return false;
                }
                var a = document.getElementById("txtPhone").value;
                var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
                if (filter.test(a)) {
                    return true;
                }
                else {
                    ToastError("Please enter correct phone no.");
                    return false;
                }
            }



        }



    </script>


}