﻿@model UPCourt.Web.Models.UserFilterMvcModel
@{
    ViewBag.Title = "User List";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-left">
                    <a href="~/Files/users1.xls" target="_blank">Download template for bulk Import</a>
                </h3>
                <h3 class="card-title float-right">
                    <form name="frmUsersFile" id="frmUsersFile" action="/User/UsersFile" method="post" enctype="multipart/form-data">
                        <input type="file" id="postedFile" name="postedFile" style="display: none;" onchange="submitFile(this);" />
                        <a class="btn btn-primary" href="javascript:uploadFile();">Bulk Create from File</a>
                    </form>
                </h3>

                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                    &nbsp;&nbsp;
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @type = "text" } })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone", @type = "text" } })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.UserRoleId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.UserRoleId, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.AGDepartmentId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.AGDepartmentId, ViewBag.AGDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="exampleInputEmail1">&nbsp;</label>
                            <div class="pull-right">
                                <button id="btnUser" type="submit" name="btnUser" value="UserDataSearch" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>

                }

                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No.</th>
                            <th>User Type</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserData)
                        {
                            <tr class="tr-class-2">
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.UserType</td>
                                <td>@item.UserRole.Name</td>
                                <td>@item.Status</td>
                                <td class="project-actions noexl1">
                                    <a class="" title="View" href="@Url.Action("Details", "User", new { id = item.UserId })">
                                        <i class="fa fa-eye text-warning fa-iconsize"></i>
                                    </a>
                                    &nbsp;
                                    <a class="" title="Edit" href="@Url.Action("Edit", "User", new { id = item.UserId })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" onclick="ConfirmDelete('@item.UserId','@item.Name','User')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    <script type="text/javascript">
        $(function () {
            $("#btnexcel").click(function () {
                $("#hdntbl").table2excel({
                    filename: "UserData"

                });
            });
        });
        function uploadFile() {
            $('#postedFile').click();
        }
        function submitFile(obj) {
            if ($(obj).val()) {
                $('#frmUsersFile').submit();
            }
        }
    </script>
}            -