﻿@model UPCourt.Web.Models.UserCredentialRequestModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Advocate General</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/Othercss/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/Othercss/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/Othercss/material.css">
    <link rel="stylesheet" href="~/FrontEnd/Othercss/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontEnd/Othercss/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/Othercss/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/Othercss/style.css">
    <link rel="stylesheet" type="text/css" href="~/FrontEnd/Othercss/responsive.css">



</head>
<body>
    <div class="wrapper">
        <header>

            <div class="bg-white menu-cont">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-8 col-6">
                            <nav class="navbar navbar-expand-md">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card my-4">
                        <div class="card-header no-bg">
                            <h3>Request Credentials</h3>

                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "UserCredentialRequest", FormMethod.Post, new { @class = "col-md-12" }))
                            {
                                @Html.HiddenFor(model => model.UserCredentialRequestId)
                                @Html.AntiForgeryToken()


                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @type = "text", @required = "true", @pattern = "^\\+?[0-9-]+$", @minLength = "10", @maxLength = "10" } })
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                                        @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Address" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.PetitionNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.PetitionNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Petition No.", @type = "text" } })
                                        @Html.ValidationMessageFor(model => model.PetitionNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.RegionName, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.RegionName, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                                        @Html.ValidationMessageFor(model => model.RegionName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 req-btn">

                                        <a href="@Url.Action("Index", "UserCredentialRequest")" class="btn btn-warning">
                                            Back User Credential Request
                                        </a>

                                        <button class="btn btn-warning">Submit</button>
                                        <p style="float: right; color: #61ab7b; font-size: 30px; ">@ViewBag.insertresult</p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="~/FrontEnd/Otherjs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/FrontEnd/Otherjs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/FrontEnd/Otherjs/popper.min.js"></script>
    <script type="text/javascript" src="~/FrontEnd/Otherjs/bootstrap.min.js"></script>
    <script src="~/FrontEnd/Otherjs/owl.carousel.min.js"></script>
    <script src="~/FrontEnd/Otherjs/main.js"></script>
    <script>
        $('.carousel').carousel()
    </script>


</body>
</html>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}