﻿@model UPCourt.Web.Models.UserCredentialRequestModel

@{
    ViewBag.Title = "Advocate General";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/material.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">



</head>
<body>
    <div class="wrapper">
        <header>
            <div class="tophead bg-theme py-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul>
                                <li>
                                    <select class=" lansel">
                                        <option>English</option>
                                    </select>
                                </li>
                                <li><img src="images/small.png" width="16px" class="mr-2" /> <img src="images/plus.png" width="16px" /></li>
                                <li><a href="#" class="f-10 fw-bold text-white text-uppercase">Skip to main content</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control top-search" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white menu-cont">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-6">
                            <img src="images/logo.jpeg" width="77" class="mt-2 mb-2" />
                        </div>
                        <div class="col-sm-8 col-6">
                            <nav class="navbar navbar-expand-md">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarCollapse">
                                    <ul class="top-menu">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Search Case Status</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">E- filing</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Administration</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Lawgoup</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card my-4">
                        <div class="card-header no-bg">
                            <h3>Request Credentials</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "UserCredentialRequest", FormMethod.Post, new { @class = "col-md-12" }))
                            {
                                @Html.HiddenFor(model => model.UserCredentialRequestId)
                                @Html.AntiForgeryToken()


                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile No.", @type = "text" } })
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                                        @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Address" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.PetitionNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.PetitionNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Petition No.", @type = "text" } })
                                        @Html.ValidationMessageFor(model => model.PetitionNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.RegionName, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.RegionName, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                                        @Html.ValidationMessageFor(model => model.RegionName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 req-btn">
                                        <button class="btn btn-outline-secondary">Cancel</button>
                                        <button class="btn btn-warning">Submit</button>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="footerlogo">
                            <li><img src="images/f1.png" /></li>
                            <li><img src="images/f2.png" /></li>
                            <li><img src="images/f3.png" /></li>
                            <li><img src="images/f4.png" /></li>
                            <li><img src="images/f5.png" /></li>
                            <li><img src="images/f6.png" /></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="footerlink">
                            <li><a href="#">Administration</a></li>
                            <li><a href="#">UP AIDS Control Society</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $('.carousel').carousel()
    </script>
</body>
</html>



@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}
