﻿@model IEnumerable<UPCourt.Web.Models.UserCredentialRequestModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Credential Request</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Credential Request</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    User Credential Request
                </h3>

            </div>
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No.</th>
                            <th>Petition No.</th>
                            <th>Region</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-class-2">
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.MobileNo</td>
                                <td>@item.PetitionNo</td>
                                <td>@item.RegionName</td>
                                <td>@item.Status</td>


                                <td class="project-actions text-center">

                                    <a class="btn btn-info btn-sm" id="actionbtn" href="@Url.Action("Action", "UserCredentialRequest", new { id = item.UserCredentialRequestId })">
                                        <i class="fas fa-bell">
                                        </i>
                                        Action
                                    </a>
                                </td>


                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")


    <script>
        $(function() {
            $("table > tbody > tr").each(function () {
                debugger;
                if ($(this).find('td').eq(5).text() == "Accepted") {
                    $(this).find('td').eq(6).hide()
                   
                }
                

                
            });
        })

    </script>
}