﻿@model UPCourt.Web.Models.NoticeCaseIndexMvcModel
@{
    ViewBag.Title = "Notice Report";
    var sno = 0;
}

<style>
    .color-palette {
        height: 35px;
        line-height: 35px;
        text-align: right;
        padding-right: .75rem;
    }

        .color-palette.disabled {
            text-align: center;
            padding-right: 0;
            display: block;
        }

    .color-palette-set {
        margin-bottom: 15px;
    }

    .color-palette span {
        display: none;
        font-size: 12px;
    }

    .color-palette:hover span {
        display: block;
    }

    .color-palette.disabled span {
        display: block;
        text-align: left;
        padding-left: .75rem;
    }

    .color-palette-box h4 {
        position: absolute;
        left: 1.25rem;
        margin-top: .75rem;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
    }

    .bg-info {
        background: #dafaff !important;
        color: #000 !important;
    }

    .bg-warning {
        background: #ffecb4 !important;
        color: #000 !important
    }

    .bg-secondary {
        background: #d2d2d2 !important;
        color: #000 !important
    }

    .bg-success {
        background: #8effa8 !important;
        color: #000 !important
    }

    .bg-primary {
        background: #aed5ff !important;
        color: #000 !important
    }

    .bg-danger {
        background-color: #fbdbde !important;
        color: #000 !important
    }

    .table-bordered tr.bg-danger td {
        border: 1px solid #ffffff;
    }
</style>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Notice Report
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "NOC******", @type = "text", onfocusout = "CheckNoticeNo(this)" } })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.NoticeFromDate, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.NoticeFromDate, new { @class = "form-control", @type = "date" })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.NoticeToDate, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.NoticeToDate, new { @class = "form-control", @type = "date" })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.ParentNoticeType, htmlAttributes: new { @class = "" }) <br />
                                    @Html.EnumDropDownListFor(m => m.ParentNoticeType, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @Onchange = "showParentNoticeTypeDetails(this)" })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.CaseNoticeTypeId, htmlAttributes: new { @class = "" }) <br />
                                    @Html.DropDownListFor(m => m.CaseNoticeTypeId, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @onchange = "getSubjects(this)" })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.Subject, ViewBag.Subjects as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%" })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.GroupId, ViewBag.Groups as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%" })
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4" })
                                </div>

                                <div class="col-md-2 form-group">
                                    <label>&nbsp;</label><br />
                                    <button type="Submit" class="btn btn-primary">Search</button>
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.Export)
                                    @Html.EnumDropDownListFor(m => m.Export, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-2">
                                    <label>&nbsp;</label><br />
                                    <button type="submit" id="btnExport" name="btnExport" formtarget="_blank" formaction="/NoticeReport/ExportToExcel" class="btn btn-secondary">Export</button>
                                </div>

                            </div>

                            <table id="CaseReportList" class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Notice No.</th>
                                        <th>Date</th>
                                        <th>Petitioner name</th>
                                        <th>Respondent</th>
                                        <th>Type</th>
                                        <th>Sub Type</th>
                                        <th>Petitioner advocate</th>
                                        <th>District</th>
                                        <th>Region</th>
                                        <th>Subject</th>
                                        <th>Group Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var notice in Model.Notices)
                                    {
                                        sno += 1;
                                        <tr>
                                            <td>@sno</td>
                                            <td>@(notice.NoticeNo)</td>
                                            <td>@(notice.NoticeDate?.ToString("dd/MM/yyyy"))</td>
                                            <td>@(notice.Petitioners.Where(x => x.IsFirst == true).FirstOrDefault()?.Name)  </td>
                                            <td>
                                                @if (notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                {
                                                    <span>
                                                        @(notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                        (@(notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        @(notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                    </span>
                                                }
                                            </td>
                                            <td>@(notice.NoticeType) </td>
                                            <td>@(notice.CaseNoticeType?.Name) </td>
                                            <td>@(notice.NoticeCounselors.Count > 0 ? notice.NoticeCounselors.FirstOrDefault().Name : "") </td>
                                            <td>@(notice.CrimeDetail?.District)</td>
                                            <td>@(notice.Region?.Name) </td>
                                            <td>@(notice.Subject) </td>
                                            <td>@(notice.Group?.GroupName)</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@section Scripts {
    <script>
        function showParentNoticeTypeDetails(obj) {
            $.ajax({
                type: "Get",
                url: "/NoticeCreate/GetNoticeTypes",
                data: { "pid": $(obj).val() },
                success: function (response) {
                    var Notice = JSON.parse(response);
                    $("#CaseNoticeTypeId").empty();
                    $("#CaseNoticeTypeId").append('<option value>--Select--</option>');
                    Notice.forEach(function (obj, idx) {
                        $("#CaseNoticeTypeId").append($("<option></option>").val(obj.CaseNoticeTypeId).html(obj.Name));
                    })
                }
            });
        }

        function getSubjects(obj) {
            $.ajax({
                type: "Get",
                url: "/NoticeCreate/GetSubjects",
                data: { "ntid": $(obj).val() },
                success: function (response) {
                    var Subj = JSON.parse(response);
                    $("#Subject").empty();
                    $("#Subject").append('<option value>--Select--</option>');
                    Subj.forEach(function (obj, idx) {
                        $("#Subject").append($("<option></option>").val(obj.Name).html(obj.Name));
                    })
                }
            });
        }

        $(function () {
            var $fileName = '@ViewBag.Title';

            $("#CaseReportList").DataTable({
                "iDisplayLength": 50,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "bFilter": false,
                "ordering": true,              
            });

        });

    </script>

    @Scripts.Render("~/FrontEnd/plugins/datatables/js")
}