﻿@model UPCourt.Web.Models.RegionMvcModel

@{
    ViewBag.Title = "Add Region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Region", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.RegionId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Region</h3>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @maxlength = "75", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @maxlength = "200", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(c => c.IsDefault, new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsDefault, new { @class = "form-control " })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "Region")" class="btn btn-primary"> Back </a>
                &nbsp;
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}
