﻿@model UPCourt.Web.Models.CaseFilterMvcModel
@{
    ViewBag.Title = "Category Wise Pending Case Report";
    var ASno = 0;
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Category Wise Pending Case Report
                        </h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {

                            <div class="row">
                                <div class="col-md-2 form-group">
                                    <label for="ParentNoticeTypeActive">Category</label>
                                    @Html.DropDownListFor(x => Model.ParentNoticeTypeActive, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @Onchange = "showParentNoticeTypeDetails(this)" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="NoticeTypeActive">Category Type</label>
                                    @Html.DropDownListFor(x => Model.NoticeTypeActive, ViewBag.CaseNoticeTypes as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseHearingStatusActive)
                                    @Html.DropDownListFor(x => Model.CaseHearingStatusActive, ViewBag.CaseHearingStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseDateFrom)
                                    @Html.EditorFor(model => model.CaseDateFrom, Model.CaseDateFrom?.ToString("dd/MM/yyyy"), new { htmlAttributes = new { @class = "form-control", @placeholder = "Date From" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseDateTo)
                                    @Html.EditorFor(model => model.CaseDateTo, Model.CaseDateTo?.ToString("dd/MM/yyyy"), new { htmlAttributes = new { @class = "form-control", @placeholder = "Date To" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.Export)
                                    @Html.EnumDropDownListFor(m => m.Export, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="exampleInputEmail1">&nbsp;</label>
                                    <div class="pull-right">
                                        <button type="submit" id="btnSearch" name="submitButton" value="Search" class="btn btn-primary">Search</button>
                                        <button type="submit" id="btnExport" name="submitButton" value="ExportOption" class="btn btn-info">Export</button>
                                    </div>
                                </div>
                            </div>

                            <table id="CaseReportList" class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Case No</th>
                                        <th>Petitoner Name</th>
                                        <th>Respondent Name</th>
                                        <th>Case Type</th>
                                        <th>Case Status</th>
                                        <th>Hearing Status</th>
                                        <th>Region</th>
                                        <th>Advocate (AG office)</th>
                                        <th>Petitoner Advocate</th>
                                        <th>Fliling date</th>
                                        <th>Context Order</th>
                                        <th>Last hearing date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Case in Model.AcctiveCases)
                                    {
                                        ASno++;
                                        <tr>
                                            <td>@ASno </td>
                                            <td>@(Case.PetitionNo)</td>
                                            <td>@(Case.Notice.Petitioners.Where(x => x.IsFirst == true).FirstOrDefault()?.Name)  </td>
                                            <td>
                                                @if (Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                {
                                                    <span>
                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                        (@(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                    </span>
                                                }
                                            </td>
                                            <td>@(Case.Notice.NoticeType) </td>
                                            <td>@(Case.CaseStatus.Name) </td>
                                            <td>@(Case.CaseHearings.LastOrDefault()?.HearingStatus) </td>
                                            <td>@(Case.Region?.Name)</td>
                                            <td>@(Case.Advocate?.Name)</td>
                                            <td>@(Case.Notice.NoticeCounselors.FirstOrDefault()?.Name)</td>
                                            <td>-</td>
                                            <td>@(Case.Notice.IsContextOrder? "Yes":"No")</td>
                                            <td>@(Case.CaseHearings.LastOrDefault()?.HearingDate?.ToString("dd/MM/yyyy"))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        }

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@section Scripts {
    <script>
        $(function () {
            var $fileName = '@ViewBag.Title';

            $("#CaseReportList").DataTable({
                "iDisplayLength": 50,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "bFilter": false,
                "ordering": true,
            }).buttons().container().appendTo('#CaseReportList_wrapper .col-md-6:eq(0)');

        });

        function showParentNoticeTypeDetails(obj) {

            $.ajax({
                type: "Get",
                async: false,
                url: "/NoticeCreate/GetNoticeTypes",
                data: { "pid": $(obj).val() },
                success: function (response) {
                    var NoticeType = JSON.parse(response);
                    $("#NoticeTypeActive").empty();
                    $("#NoticeTypeActive").append('<option value>--Select--</option>');
                    NoticeType.forEach(function (obj, idx) {
                        $("#NoticeTypeActive").append($("<option></option>").val(obj.CaseNoticeTypeId).html(obj.Name));
                    })
                }
            });
        }
    </script>
    @Scripts.Render("~/FrontEnd/plugins/datatables/js")
}


