﻿@model UPCourt.Web.Models.CaseFilterMvcModel
@{
    ViewBag.Title = "Doc Requested Wise Case Report";
    var ASno = 0;
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Doc Requested Wise Case Report
                        </h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {

                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.DocRequiredId)
                                    @Html.DropDownListFor(x => Model.DocRequiredId, ViewBag.DocReq as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseHearingStatusActive)
                                    @Html.DropDownListFor(x => Model.CaseHearingStatusActive, ViewBag.CaseHearingStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseDateFrom)
                                    @Html.EditorFor(model => model.CaseDateFrom, Model.CaseDateFrom?.ToString("mm/dd/yyyy"), new { htmlAttributes = new { @class = "form-control", @placeholder = "Date From" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseDateTo)
                                    @Html.EditorFor(model => model.CaseDateTo, Model.CaseDateTo?.ToString("mm/dd/yyyy"), new { htmlAttributes = new { @class = "form-control", @placeholder = "Date To" } })
                                </div>
                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.Export)
                                    @Html.EnumDropDownListFor(m => m.Export, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="exampleInputEmail1">&nbsp;</label>
                                    <div class="pull-right">
                                        <button type="submit" id="btnSearch" name="submitButton" value="Search" class="btn btn-primary">Search</button>
                                        <button type="submit" id="btnExport" name="submitButton" value="ExportOption" class="btn btn-info">Export</button>
                                    </div>
                                </div>
                            </div>

                            <table id="CaseReportList" class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Case Nos</th>
                                        <th>Status</th>
                                        <th>Case Type</th>
                                        <th>Region</th>
                                        <th>Advocate</th>
                                        <th>Respondent</th>
                                        <th>Context Order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.AcctiveCases != null && Model.AcctiveCases.Count > 0)
                                    {
                                        foreach (var Case in Model.AcctiveCases)
                                        {
                                            ASno++;
                                            <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                                <td> @ASno </td>
                                                <td>@Case.PetitionNo</td>
                                                <td>
                                                    <span class="badge badge-info">
                                                        @Case.CaseStatus.Name
                                                    </span>
                                                </td>
                                                <td> @Case.Notice.NoticeType </td>
                                                <td>@(Case.Region?.Name)</td>
                                                <td>@(Case.Advocate?.Name)</td>
                                                <td>
                                                    @if (Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovernmentDepartmentId != null)
                                                    {
                                                        <span>
                                                            @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.POCName)
                                                            (@(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.GovermentDepartment.Name))
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            @(Case.Notice.NoticeRespondents.Where(x => x.IsFirst == true).FirstOrDefault()?.PartyName)
                                                        </span>
                                                    }
                                                </td>

                                                <td>
                                                    @if (Case.Notice.IsContextOrder)
                                                    {
                                                        <span> Yes </span>
                                                    }
                                                    else
                                                    {
                                                        <span>No</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                        }

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@section Scripts {
    <script>
        $(function () {
            var $fileName = '@ViewBag.Title';

            $("#CaseReportList").DataTable({
                "iDisplayLength": 50,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "bFilter": false,
                "ordering": true,
            }).buttons().container().appendTo('#CaseReportList_wrapper .col-md-6:eq(0)');

        });
    </script>
    @Scripts.Render("~/FrontEnd/plugins/datatables/js")
}

