﻿@model UPCourt.Web.Models.PoliceStationMvcModel

@{
    ViewBag.Title = "Police Station Details";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Police Station Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Police Station Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Police Station</h3>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label" })<br />
                    @Html.DropDownListFor(model => model.District, ViewBag.Districts as IEnumerable<SelectListItem>, new { @class = "form-control", @placeholder = "Select District", @type = "text", @disabled = "true" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Locality, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Locality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Locality", @type = "text", @disabled = "true" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.POC, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.POC, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.PinCode, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @disabled = "true" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.IsActive, new { @disabled = "disabled" })
                        @Html.LabelFor(c => c.IsActive, new { @class = "col-sm-2 control-label" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "PoliceStation")" class="btn btn-primary">
                Back
            </a>
        </div>

    </form>
</div>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

