﻿@model UPCourt.Web.Models.PoliceStationMvcModel

@{ ViewBag.Title = "Edit Police Station"; }
<script>
    function showZone(obj) {
        $.ajax({
            type: "Get",
            url: "/PoliceStation/GetZoneByDistrict",
            data: { "District": $(obj).val() },
            success: function (response) {
                var Notice = JSON.parse(response);
                $("#ZoneID").empty();
                $("#ZoneID").append('<option value>--Select--</option>');
                Notice.forEach(function (obj, idx) {
                    $("#ZoneID").append($("<option></option>").val(obj.ZoneID).html(obj.ZoneName));
                })
            }
        });
    }

    function showRange(obj) {
        $.ajax({
            type: "Get",
            url: "/PoliceStation/GetRangeByZone",
            data: { "Zone": $(obj).val() },
            success: function (response) {
                var Notice = JSON.parse(response);
                $("#RangeID").empty();
                $("#RangeID").append('<option value>--Select--</option>');
                Notice.forEach(function (obj, idx) {
                    $("#RangeID").append($("<option></option>").val(obj.RangeID).html(obj.RangeName));
                })
            }
        });
    }
</script>

@using (Html.BeginForm("Edit", "PoliceStation", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.PoliceStationId)
    @Html.AntiForgeryToken()

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Police Station</h3>
        </div>

        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ZoneID, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.ZoneID, ViewBag.Zone as IEnumerable<SelectListItem>, "Select", new { @class = "form-control", @placeholder = "Select Zone", @type = "text", @required = "true", onchange = "showRange(this);" })
                        @Html.ValidationMessageFor(model => model.ZoneID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.RangeID, htmlAttributes: new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.RangeID, ViewBag.Range as IEnumerable<SelectListItem>, "Select", new { @class = "form-control", @placeholder = "Select Range", @type = "text", @required = "true" })
                        @Html.ValidationMessageFor(model => model.RangeID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.District, ViewBag.Districts as IEnumerable<SelectListItem>, "Select", new { @class = "form-control", @placeholder = "Select District", @type = "text", @required = "true" })
                        @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Locality, htmlAttributes: new { @class = "control-label" })      <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Locality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Locality", @type = "text", @required = "true", @id = "txtLocality", @maxlength = "75" } })
                        @Html.ValidationMessageFor(model => model.Locality, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.POC, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.POC, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC", @id = "txtPOC", @maxlength = "75", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.POC, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fax", @id = "txtFax", @maxlength = "50", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label" })                          @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Id", @id = "txtEmail", @maxlength = "75", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", @id = "txtPhone", @type = "Number" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile", @id = "txtMobileNo", @type = "Number" } })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PinCode, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control", @id = "txtPinCode", @placeholder = "Enter Pin Code", @type = "Number" } })
                        @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsActive)
                            @Html.LabelFor(c => c.IsActive, new { @class = "col-sm-2 control-label" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "PoliceStation")" class="btn btn-danger">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>}

@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

<script>
    function validateData() {

        if ($("#txtEmail").val() != "") {
            var email = document.getElementById("txtEmail").value;
            
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                ToastError("Invalid email address.");
                return false;
            }

        }

        if ($("#txtPhone").val() != "") {

            if ($("#txtPhone").val().length != 10) {
                ToastError("Please enter 10 digit phone no.");
                return false;
            }
            var a = document.getElementById("txtPhone").value;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                // return true;
            }
            else {
                ToastError("Please enter correct phone no.");
                return false;
            }
        }

        if ($("#txtPinCode").val() != "") {

            if ($("#txtPinCode").val().length != 6) {
                ToastError("Please enter 6 digit Pin code.");
                return false;
            }

        }



        if ($("#txtMobileNo").val() != "") {

            if ($("#txtMobileNo").val().length != 10) {
                alert("Please enter 10 digit mobile no.");
                return false;
            }
            var a = document.getElementById("txtMobileNo").value;
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(a)) {
                // return true;
            }
            else {
                ToastError("Please enter correct mobile no.");
                return false;
            }
        }



        if ($("#txtLocality").val() != "") {
            var txtvalue = $("#txtLocality").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("Locality  - Special character are not allowed.");
                return false;
            }
        }

        if ($("#txtPOC").val() != "") {
            var txtvalue = $("#txtPOC").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("Point Of Contact (POC) - Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }


    }



    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);

    }






</script>