﻿@model UPCourt.Web.Models.PoliceStationFilterMvcModel
@{
    ViewBag.Title = "Police Stations List";
}


<script>


    function showRange(obj) {
        $.ajax({
            type: "Get",
            url: "/PoliceStation/GetRangeByZone",
            data: { "Zone": $(obj).val() },
            success: function (response) {
                var Notice = JSON.parse(response);
                $("#RangeID").empty();
                $("#RangeID").append('<option value>--Select--</option>');
                Notice.forEach(function (obj, idx) {
                    $("#RangeID").append($("<option></option>").val(obj.RangeID).html(obj.RangeName));
                })
            }
        });
    }
</script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.ZoneID, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.ZoneID, ViewBag.Zone as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;", onchange = "showRange(this);" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.RangeID, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.RangeID, ViewBag.Range as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.Locality, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Locality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @type = "text" } })

                        </div>
                        <div class="col-md-3 form-group">
                            <label for="exampleInputEmail1">&nbsp;</label>
                            <div class="pull-right">
                                <button id="btnUser" type="submit" name="btnUser" value="UserDataSearch" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>

                }
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>District</th>
                            <th>Zone</th>
                            <th>Locality</th>
                            <th>POC</th>
                            <th>EmailID</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Pincode</th>
                            <th>Is Active</th>
                            <th style="width:100px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PoliceStation)
                        {
                            <tr class="tr-class-2">
                                <td>@item.District</td>
                                <td>@(item.Zone?.ZoneName)</td>
                                <td>@item.Locality</td>
                                <td>@item.POC</td>
                                <td>@item.EmailID</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                                <td>@item.PinCode</td>
                                <td>@item.IsActive</td>
                                <td class="project-actions">
                                    <a title="View" href="@Url.Action("Details", "PoliceStation", new { id = item.PoliceStationId })">
                                        <i class="fas fa-eye text-warning fa-iconsize mr-2"> </i>
                                    </a>
                                    <a title="Edit" href="@Url.Action("Edit","PoliceStation",new { id = item.PoliceStationId })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    <a title="Delete" onclick="ConfirmDelete('@item.PoliceStationId','@item.Locality','PoliceStation')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
  
}

