﻿@model UPCourt.Web.Models.AdvocateCaseFilterMvcModel
@{
    ViewBag.Title = "Advocate Case Report";
    var ASno = 0;
}
<style>
    .color-palette {
        height: 35px;
        line-height: 35px;
        text-align: right;
        padding-right: .75rem;
    }

        .color-palette.disabled {
            text-align: center;
            padding-right: 0;
            display: block;
        }

    .color-palette-set {
        margin-bottom: 15px;
    }

    .color-palette span {
        display: none;
        font-size: 12px;
    }

    .color-palette:hover span {
        display: block;
    }

    .color-palette.disabled span {
        display: block;
        text-align: left;
        padding-left: .75rem;
    }

    .color-palette-box h4 {
        position: absolute;
        left: 1.25rem;
        margin-top: .75rem;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
    }

    .bg-info {
        background: #dafaff !important;
        color: #000 !important;
    }

    .bg-warning {
        background: #ffecb4 !important;
        color: #000 !important
    }

    .bg-secondary {
        background: #d2d2d2 !important;
        color: #000 !important
    }

    .bg-success {
        background: #8effa8 !important;
        color: #000 !important
    }

    .bg-primary {
        background: #aed5ff !important;
        color: #000 !important
    }

    .bg-danger {
        background-color: #fbdbde !important;
        color: #000 !important
    }

    .table-bordered tr.bg-danger td {
        border: 1px solid #ffffff;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Advocate Case Report</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Advocate Case Report
                        </h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {

                            <div class="row">

                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.UserId)
                                    @Html.DropDownListFor(x => Model.UserId, ViewBag.Advocate as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.CaseStatusActive)
                                    @Html.DropDownListFor(x => Model.CaseStatusActive, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2 form-group">
                                    @Html.LabelFor(model => model.RegionId)
                                    @Html.DropDownListFor(x => Model.RegionId, ViewBag.Region as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                                </div>




                                <div class="col-md-2 form-group">
                                    <label for="exampleInputEmail1">&nbsp;</label>
                                    <div class="pull-right">
                                        <button id="btnDipCases" type="submit" class="btn btn-warning">Search</button>
                                    </div>
                                </div>


                            </div>
                            <div>
                                <span>
                                    <b> @Html.Raw(ViewBag.AdvocateName)</b>
                                </span>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Case Status</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Case in Model.CaseCountList)
                                        {
                                            <tr>
                                                <td>@Html.Raw(Case.CaseStatus) </td>
                                                <td>@Html.Raw(Case.Count) </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Case Type</th>
                                        <th>Status</th>
                                        <th>Document Required</th>
                                        <th>Region</th>
                                        <th>Hearning</th>
                                        <th>Advocate</th>
                                        <th>Context Order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Case in Model.AcctiveCases)
                                    {
                                        ASno++;
                                        <tr>
                                            <td> @ASno </td>
                                            <td> @Case.Notice.NoticeType </td>
                                            <td>
                                                <span class="badge badge-info">
                                                    @Case.CaseStatus.Name
                                                </span>
                                            </td>
                                            <td> ABC </td>
                                            <td>@(Case.Region?.Name)</td>
                                            <td>@Case.NextHearingDate</td>
                                            <td>@(Case.Advocate?.Name)</td>
                                            <td>
                                                @if (Case.Notice.IsContextOrder)
                                                {
                                                    <span> Yes </span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        }

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

