﻿@model UPCourt.Web.Models.GovernmentDepartmentAddressMvcModel
@using core.koushikiSofatware.Helper

<div class="Address">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                @Html.RadioButtonFor(x => x.IsHeadOfficeAddress, "true", new {@class="HeadOfficeAddress", onclick = "uncheckOther(this);" })             
            </div>
        </div>
        @Html.HiddenFor(x => x.DeleteAddress, new { @class = "mark-for-delete" })
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @type = "text", placeholder = " Enter Address" })
        @Html.HiddenFor(model => model.GovernmentDepartmentAddressId)
        @Html.HiddenFor(model => model.GovernmentDepartmentId)
    </div>
    @Html.RemoveLink("Remove", "div.Address", "input.mark-for-delete")
</div>

