﻿@model UPCourt.Web.Models.GovernmentDepartmentContactNoMvcModel
@using core.koushikiSofatware.Helper

<div class="phoneNumber">
    <p>
        @Html.HiddenFor(model => model.GovernmentDepartmentContactNoId)
        @Html.HiddenFor(model => model.GovernmentDepartmentId)
        @Html.TextBoxFor(x => x.ContactNo, new { placeholder = "Contact No", @disabled = "disabled" })
        @Html.HiddenFor(x => x.DeletePhone, new { @class = "mark-for-delete" })
      
    </p>
</div>
