﻿@model UPCourt.Web.Models.GovernmentDepartmentContactNoMvcModel
@using core.koushikiSofatware.Helper

<div class="phoneNumber">
    <p>        
        @Html.HiddenFor(model => model.GovernmentDepartmentContactNoId)
        @Html.HiddenFor(model => model.GovernmentDepartmentId)
        @Html.TextBoxFor(x => x.ContactNo, new { placeholder = "Contact No" })
        @Html.HiddenFor(x => x.DeletePhone, new { @class = "mark-for-delete" })
        @Html.RemoveLink("Remove", "div.phoneNumber", "input.mark-for-delete")
    </p>
</div>
