﻿@model IEnumerable<UPCourt.Web.Models.AppNotificationsMvcModel>
@using UPCourt.Entity;
@using UPCourt.Web.Service.DataService;
@{
    ViewBag.Title = "User Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var displayModel = Model.Where(x => x.ShowDefaultNotification == true).FirstOrDefault();

    int index = 0;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Notifications</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Notifications</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title float-right">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-secondary" })
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (displayModel != null)
                        {
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label for="exampleInputPassword1">Creation Date</label>
                                    @Html.LabelFor(m => displayModel.CreatedOn, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-9 form-group">
                                    <label>Status</label>
                                    @Html.LabelFor(m => displayModel.Message, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(m => displayModel.Details, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        }
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Notification
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th class="noExport">
                                        --
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    if (!item.ShowDefaultNotification)
                                    {
                                        index += 1;
                                        var enumNotificationSourceType = (NotificationSourceEntityType)item.NotificationType;
                                        var enumNotificationStatus = (NotificationStatus)item.Status;

                                        <tr>
                                            <td>
                                                @index
                                            </td>
                                            <td>
                                                <label class="@( item.Status != 3 ? "bold" : "" )">@Html.DisplayFor(modelItem => item.Message)</label>
                                            </td>
                                            <td>
                                                @enumNotificationSourceType
                                            </td>
                                            <td>
                                                @UserDataService.GetName(item.CreatedBy)
                                            </td>
                                            <td>
                                                @enumNotificationStatus
                                            </td>
                                            <td>
                                                @item.CreatedOn.ToString("dd/MM/yyyy hh:mm tt")
                                            </td>

                                            <td class="noExport">
                                                @Html.ActionLink("View Details", "/Show/" + item.Id.ToString())
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}