﻿@model IEnumerable<UPCourt.Web.Models.AppNotificationsMvcModel>

@using UPCourt.Entity;
@using UPCourt.Web.Service.DataService;
@{
    ViewBag.Title = "Show Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var displayModel = Model.Where(x => x.ShowDefaultNotification == true).FirstOrDefault();
    int index = 0;
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (displayModel != null)
                        {
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <span class="text-bold">Date </span><br />
                                    <label class="form-control">@displayModel.CreatedOn.ToString("dd/MM/yyyy hh:mm tt")</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <span class="text-bold">Message</span><br />
                                    <label class="form-control">@displayModel.Message</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group border-light">
                                    @if (displayModel.Details.IsNotNullOrEmpty())
                                    {
                                        <div class="form-control">
                                            @Html.Raw(displayModel.Details)
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <div class="row">&nbsp;</div>
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Notification
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th class="noExport">
                                        --
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    if (!item.ShowDefaultNotification)
                                    {
                                        index += 1;
                                        var enumNotificationSource = (NotificationSourceEntityType)item.NotificationType;
                                        var enumNotificationStatus = (NotificationStatus)item.Status;
                                        <tr>
                                            <td>
                                                @index
                                            </td>
                                            <td>
                                                <span class="@( item.Status != 3 ? "text-bold" : "" )">@Html.DisplayFor(modelItem => item.Message)</span>
                                            </td>
                                            <td>
                                                @enumNotificationSource
                                            </td>
                                            <td>
                                                @UserDataService.GetName(item.CreatedBy)
                                            </td>
                                            <td>
                                                @enumNotificationStatus
                                            </td>
                                            <td>
                                                @item.CreatedOn.ToString("dd/MM/yyyy hh:mm tt")
                                            </td>
                                            <td class="noExport">
                                                @Html.ActionLink("View Details", "/Show/" + item.Id.ToString())
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}