﻿
@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="container">
    <div class="breadcrumbnew">
        <a href="@Url.Action("Index", "Home")" class="active">Home</a> <i class="fa fa-angle-right"></i> <a href="#">Workflow for e-Filing</a>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header no-bg">
                    <h3 class="f-24 my-1">Workflow for e-Filing</h3>
                </div>
                <div class="card-body workflowfont">

                    <p class="text-center">Visit <a href="#">www.advocategeneralup.in</a> for E-filing, the following screen will be visible</p>
                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture.PNG"></p>

                    <div class="border-top my-4"></div>

                    <p class="text-center">
                        On clicking the e-Filing from the menu, the following screen will be visible.<br>
                        The following menu can be used to navigate to click on the desired action.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture1.PNG"></p>

                    <div class="border-top my-4"></div>

                    <h4 class="font-weight-bold f-16 text-center">FOR LOGIN/ REGISTRATION</h4>
                    <p class="text-center mt-2"><img src="~/FrontEnd/Otherimages/Capture2.PNG"></p>

                    <div class="border-top my-4"></div>

                    <p class="text-center">
                        The User can enter their User Name/ Email ID and Password and click on
                        ‘Sign In’ to enter their<br> dashboard or click on ‘Sign Up Now’ for New Registration.
                    </p>
                    <p class="text-center">
                        The following screen will be displayed for New Registration; where the User will click on ‘In Person’<br>
                        and enter the required details which are mandatory to register, such as Full name, Email,
                        Mobile,<br> Aadhar No., Username, Password, Confirm Password and click on ‘Register’.
                    </p>
                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture3.PNG"></p>

                    <div class="border-top my-4"></div>

                    <p class="text-center">
                        On entering the User name/ E-Mail ID and Password, the following screen will be visible. All the Files<br>
                        that has been created by the User will be visible on the dashboard. For the E-files that are
                        saved as draft, <br>the Action buttons of Edir/ Submit/ Delete will be visible()<img src="images/Capture15.PNG"> whereas for
                        the E-files that have been<br> submitted to the AG office, no action button will be visible.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture4.PNG"></p>

                    <div class="border-top my-4"></div>

                    <h4 class="font-weight-bold f-16 text-center">CREATION OF NEW E-FILE</h4>
                    <p class="text-center mt-2">To Create a new E-File, click on the Create button on the dashboard on the top right corner of the screen. </p>
                    <p class="text-center">
                        The following sceen will be visible, where the petitioner will have to share the relevant information<br>
                        along with mandatory information of ‘New Case Details’ which are marked as (*) and click on Save to <br> proceed on the next tab.
                    </p>
                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture5.PNG"></p>

                    <div class="border-top my-4"></div>

                    <p class="text-center">
                        The next tab is of the ‘Petitioner’ where all the details marked as mandatory (*) needs to be filled by <br>
                        the Petitioner. If there are more than one Petitioner in the same E-file, the user can click on ‘Add <br> Petitioner’ to add new petitioner and their details.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture6.PNG"></p>

                    <div class="border-top my-4"></div>

                    <p class="text-center">
                        After adding all the fields and as many Petitioners as required for the E-file, the User should click on<br>
                        the next tab of ‘Respondent’. The Petitioner will fill the required details along with the mandatory <br>
                        details marked as (*). The user can also add multiple Respondant by clicking on the ‘Add Respondent’.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture7.PNG"></p>

                    <div class="border-top my-4"></div>


                    <p class="text-center">
                        The next Tab is the Act Details, where the petitioner will add the Act details that are in reference to<br>
                        the E-file and can add several Act details by clicking on the Add Act Details button. To the existing Act,<br>
                        Detail they can edit or delete by using the action buttons( ) <img src="images/Capture16.PNG">on the list below.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture8.PNG"></p>

                    <div class="border-top my-4"></div>


                    <p class="text-center">
                        The User will then click on the next tab which is IO/ST Details and enter the required details of the<br>
                        Impunged Order. The Petitioner will add all the required details along with the mandatory details <br> which are maked as (*)
                        and and add further more details by clicking on the Add Details button.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture9.PNG"></p>

                    <div class="border-top my-4"></div>

                    <p class="text-center">
                        The next tab the User will click on is E- Court Fee and add the mandatory details marked as (*). For<br>
                        addition of several E - Court Fees, the  user can click on the Add E-Court Fee button and enter details of them.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture10.PNG"></p>

                    <div class="border-top my-4"></div>


                    <p class="text-center">
                        For next tab, the User will click on Upload Documents. Here the user can upload the various<br>
                        attachments required for the E-file in multiples; they will click on the Choose File button and browse <br>
                        through the existing documents and upload the required attachment. By clicking on the Upload<br> Document button they can upload multiple files/ attachments.
                    </p>

                    <p class="text-center">The fields marked as (*) are mandatory. </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture11.PNG"></p>

                    <div class="border-top my-4"></div>


                    <p class="text-center">
                        The next Tab is of Crime Details, where the User will enter the details
                        in reference to the petition<br> and click on the Add button to continue.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture12.PNG"></p>

                    <div class="border-top my-4"></div>


                    <p class="text-center">
                        The final tab on this detail is of Sessions Trial Details, where the User will enter the required details<br>
                        and save them either as draft. The user can click on Add to add the details of various Sessions Trials <br>
                        and the click on Action buttons to edit/ delete the these details.
                    </p>

                    <p class="text-center"><img src="~/FrontEnd/Otherimages/Capture13.PNG"></p>

                    <div class="border-top my-4"></div>


                    <p class="text-center">
                        The User can save these details as drafts and make amends by using the Edit option, for final<br>
                        submission, they have to click on the ‘eye’ button. Once submitted the E – File will reach the AG<br>
                        office and cannot be ammended further.
                    </p>
                    <p class="text-center mb-5"><img src="~/FrontEnd/Otherimages/Capture14.PNG"></p>





                </div>
            </div>





        </div>





    </div>

</div>


