﻿@model UPCourt.Web.Models.NatureOfDisposalMvcModel

@{
    ViewBag.Title = "Nature Of Disposal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Nature Of Disposal Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Nature Of Disposal Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Nature Of Disposal</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @readonly = "readonly" } })
                </div>
                
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" }) <br />
                    @Html.CheckBoxFor(m => (m.IsActive), new { @class = "form-control checkbox", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "NatureOfDisposal")" class="btn btn-primary">
                Back
            </a>
        </div>
</form>
</div>
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}