﻿@model UPCourt.Web.Models.DesignationResponseModel
@{
    ViewBag.Title = " Add Designation";
}


@using (Html.BeginForm("Create", "Designation", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.DesignationId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Designation</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })   <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtDesignation", @placeholder = "Enter Name", @maxlength = "75", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })    <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "txtDescription", @placeholder = "Enter Description", @maxlength = "150", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(c => c.IsDefault, new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsDefault, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "Designation")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

<script>

    function validateData() {
        //  debugger;
        if ($("#txtDesignation").val() != "") {
            var txtvalue = $("#txtDesignation").val();
            if (isValid(txtvalue)) {
                //return true;
            }
            else {
                ToastError("Special character are not allowed.");
                return false;

            }
        }

        if ($("#txtDescription").val() != "") {
            var txtvalue = $("#txtDescription").val();
            if (isValid(txtvalue)) {
                return true;
            }
            else {
                ToastError("Special character are not allowed.");
                return false;

            }
        }



    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);

    }
</script>