﻿@model UPCourt.Web.Models.DesignationResponseModel

@{
    ViewBag.Title = "Designation Details";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Designation Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Designation Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Designation</h3>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @type = "text", @readonly = "readonly" } })

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="checkbox">

                        @Html.CheckBoxFor(model => model.IsDefault, new { @disabled = "disabled" })
                        @Html.LabelFor(c => c.IsDefault, new { @class = "col-sm-2 control-label" })
                    </div>
                </div>
            </div>
        </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Designation")" class="btn btn-primary">
                        Back
                    </a>
                </div>

</form>
</div>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}

