﻿@model UPCourt.Web.Models.ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attorney General | Change Password</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/FrontEnd/dist/css/new-style.css">
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body class="hold-transition login-page" style="background-color: #f17d3a;">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center"><img src="~/FrontEnd/dist/img/login.jpg" class="img-fluid mt-3" alt="Logo"></p>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="login-box w-100 mt-5">

                    <!-- /.login-logo -->
                    <div class="card">
                        <div class="card-body login-card-body">
                            <p class="text-center"><img src="~/FrontEnd/dist/img/logo.png" alt="Logo"></p>
                            <p class="login-box-msg login-newmsg">Change Password</p>

                            <form>
                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @required = true, @type = "email" } })
                                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password", @required = true, @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <button type="submit" class="btn btn-primary btn-block my-3" style="background: #f17d3a; border-color: #f17d3a ">Sign In</button>

                           
                        </div>
                        <!-- /.login-card-body -->
                    </div>
                    
                </div>


            </div>


        </div>
        <!-- /.login-box -->
        <!-- jQuery -->
        <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
    </body>
}
</html>
