﻿@model UPCourt.Web.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advocate General | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/FrontEnd/dist/css/new-style.css">
</head>



@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    <body class="hold-transition " style="background-color: #f17d3a;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center"><img src="~/FrontEnd/dist/img/login.jpg" class="img-fluid mt-5" alt="Logo"></p>
                </div>
                <div class="col-md-4 offset-md-1">
                    <div class="login-box w-100 mt-5">

                        <!-- /.login-logo -->
                        <div class="card">
                            <div class="card-body login-card-body">
                                <p class="text-center"><img src="~/FrontEnd/dist/img/NewLogoLogin.png" alt="Logo"></p>
                                <p class="login-box-msg login-newmsg">Department / AG Office  Sign in</p>

                                <form>
                                    @Html.HiddenFor(model => model.OTPVerify, new { @Value = "false" })
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username / Email", @required = true, @type = "email", @onblur = "verifyMobileNo();" } })

                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span id="spnIcon" class="fa fa-envelope"></span>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                                    <div class="input-group mb-3 tokenize" id="lnkSignWithOTP" style="display: none;">
                                        <small>
                                            <a href="#" onclick="showOTPBox()">Sign In with OTP</a>
                                            <a href="#" onclick="removeOTP()"><span class="fas fa-window-close"></span></a>&nbsp;
                                            <span id="spnOTPInfo" style="display: none;">OTP Sent to number.<span id="spnResend"> Resend in <span id="spnTime"></span></span>&nbsp;&nbsp;&nbsp;<a id="lnkResend" style="display: none;" href="#" onclick="resendOTP()">Resend</a></span>
                                        </small>
                                    </div>
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="icheck-primary">
                                                <input type="checkbox" id="remember">
                                                <label for="remember">
                                                    Remember Me
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>



                                <!-- /.social-auth-links -->

                                <button type="submit" class="btn btn-primary btn-block my-3" style="background: #f17d3a; border-color: #f17d3a ">Sign In</button>
                                <div class="row" style="display:none;">
                                    <div class="col-6">
                                        <p class="mb-1">
                                            <a href="#" style="font-size:12px; color:#000">I forgot my password</a>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0 text-right">
                                            <a href="#" style="font-size:12px; color:#000" class="text-center">Register a new membership</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.login-card-body -->
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <!-- /.login-box -->
        <!-- jQuery -->
        <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
        <script>
            var startTimer = 3 * 60;
            function verifyMobileNo() {
                let login = $('#LoginName').val();
                if (login.indexOf('@@') < 0 && !isNaN(login) && login.trim().length >= 10) {
                    $('#lnkSignWithOTP').show();
                }
            }
            function showOTPBox() {

                let loginMobileNo = $('#LoginName').val();
                $.ajax({
                    type: "Get",
                    url: "/Login/SendOTP",
                    async: false,
                    data: { "MobileNo": loginMobileNo },
                    success: function (response) {
                        if (response) {
                            $('#LoginName').attr('type', 'text');
                            $('#OTPVerify').val('true');
                            $('#Password').attr('placeholder', 'OTP').val('');
                            $('#spnIcon').removeClass('fa-envelope').addClass('fa-phone');
                            $('#spnOTPInfo').show();
                            $('#spnTime').text('3:00');
                            $('#spnTime').show();
                            setTimeout(resentTimerStart, 1000);
                            return false;
                        }
                    }
                });

            }
            function removeOTP() {
                $('#LoginName').attr('type', 'email');
                $('#OTPVerify').val('false');
                $('#Password').attr('placeholder', 'Password');
                $('#spnIcon').removeClass('fa-phone').addClass('fa-envelope');
                $('#lnkSignWithOTP').hide();
                return false;
            }

            function resentTimerStart() {
                startTimer--;
                if (startTimer > 0) {
                    let m = Math.floor(startTimer / 60);
                    let s = startTimer - (m * 60);
                    $('#spnTime').text(m + ':' + (s < 10 ? '0' + s : s));
                    setTimeout(resentTimerStart, 1000);
                }
                else {
                    $('#spnResend').hide();
                    $('#spnTime').hide();
                    $('#lnkResend').show();
                }
            }
            function resendOTP() {
                ///TODO: Resend OTP to the number when API is ready
                $('#lnkResend').hide();
                $('#spnResend').show();
                $('#spnTime').text('3:00');
                $('#spnTime').show();
                startTimer = 3 * 60;
                setTimeout(resentTimerStart, 1000);
            }

            $(document).ready(function () {
                if ($('#OTPVerify').val() == 'true') {
                    $('#LoginName').attr('type', 'text');
                    $('#Password').attr('placeholder', 'OTP').val('');
                    $('#spnIcon').removeClass('fa-envelope').addClass('fa-phone');
                    $('#lnkSignWithOTP').show();
                }
            });
        </script>
    </body>
}
</html>
