﻿@model UPCourt.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="breadcrumbnew">
            <a href="@Url.Action("Index", "Home")" class="active">Home</a> <i class="fa fa-angle-right"></i> <a href="@Url.Action("Index", "Efiling")" class="active">e-Notice</a> <i class="fa fa-angle-right"></i> <a href="#">Login</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card my-4">
                    <div class="card-header no-bg text-center">
                        <h3 class="f-24 my-1">Login</h3>
                    </div>
                    <div class="card-body py-0">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative custom-form-group">
                                            <label class="form-label">UserName*</label>

                                            @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter UserName/Email", @required = true, @type = "email" } })
                                            @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative custom-form-group">
                                            <label class="form-label">Password*</label>

                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @required = true, @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-12 my-4">
                                        <button type="submit" class="btn btn-warning btn-block displaybtn">Sign In</button>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <div class="border-bottom"></div>
                                        <p style="float: right; color: #61ab7b; font-size: 16px; ">@TempData["ViewBagMsg"]</p>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <a class="nav-link" href="@Url.Action("Index", "FAQ")">FAQS</a>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        @*<a href="#" class="text-muted verdana f-12 mb-2 d-block">Forget Password</a>*@

                                        <a href="@Url.Action("Create", "Registration")" class="text-muted verdana f-12 mb-4 d-block">Don't have an account? Sign Up Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
