[type="radio"]:not(:checked), [type="radio"]:checked {
position:absolute;
left:-9999px;
opacity:0
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-family: Verdana;
  	font-size: 14px;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin-right: 15px;
	border: solid 1px #ddd;
	border-radius: 5px;
	width: 100%;
	padding: 11px 15px 37px 65px;
	color: #fff;
	
}
[type="radio"]+label:before, [type="radio"]+label:after {
content:'';
position:absolute;
left:0;
top:0;
margin:15px 30px;
width:18px;
height:18px;
z-index:0;
transition:.28s ease
}

.tabforminner [type="radio"]+label:before, .tabforminner [type="radio"]+label:after { margin: 15px}
.tabforminner [type="radio"]:not(:checked)+label, .tabforminner [type="radio"]:checked+label { padding: 11px 15px 37px 40px; color: #afafaf; }

.tabforminner [type="radio"]:not(:checked)+label:before,.tabforminner  [type="radio"]:not(:checked)+label:after {
    border: 1px solid #afafaf;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after, [type="radio"]:checked+label:before, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
border-radius:50%
}
[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
border:1px solid #fff
}
[type="radio"]:not(:checked)+label:after {
-webkit-transform:scale(0);
transform:scale(0)
}
[type="radio"]:checked+label:before {
	border:2px solid transparent
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border:1px solid #f17d3a
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color:#f17d3a
}

[type="radio"]:checked+label {
	background-color:#fff;
	font-weight: bold;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #f17d3a;
	color: #f17d3a !important
}


[type="radio"]:checked+label:after {
	-webkit-transform:scale(1.02);
	transform:scale(1.02)
}
[type="radio"].with-gap:checked+label:after {
	-webkit-transform:scale(0.5);
	transform:scale(0.5)
}
[type="radio"].tabbed:focus+label:before {
	box-shadow:0 0 0 10px rgba(0, 0, 0, 0.1)
}
[type="radio"].with-gap:disabled:checked+label:before {
	border:2px solid rgba(0, 0, 0, 0.26)
}
[type="radio"].with-gap:disabled:checked+label:after {
	border:none;
	background-color:rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled:not(:checked)+label:before, [type="radio"]:disabled:checked+label:before {
background-color:transparent;
border-color:rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled+label {
	color:rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled:not(:checked)+label:before {
border-color:rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled:checked+label:after {
	background-color:rgba(0, 0, 0, 0.26);
	border-color:#BDBDBD
}


.input-field.col .dropdown-content [type="checkbox"]+label {
	top:1px;
	left:0;
	height:18px
} 
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
position:absolute;
left:-9999px;
opacity:0
}
[type="checkbox"]+label {
position:relative;
padding-left:27px;
cursor:pointer;
display:inline-block;
height:25px;
line-height:25px;
font-size:14px;
font-weight:700;
-webkit-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-ms-user-select:none;
color: #424242;
	margin-bottom: 0
}



[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
content:'';
position:absolute;
top:0;
left:0;
width:18px;
height:18px;
z-index:0;
border:2px solid #5a5a5a;
border-radius:1px;
margin-top:2px;
transition:.2s
}
[type="checkbox"]:not(.filled-in)+label:after {
border:0;
-webkit-transform:scale(0);
transform:scale(0)
}
[type="checkbox"]:not(:checked):disabled+label:before {
border:none;
background-color:rgba(0, 0, 0, 0.26)
}
[type="checkbox"].tabbed:focus+label:after {
	-webkit-transform:scale(1);
	transform:scale(1);
	border:0;
	border-radius:50%;
	box-shadow:0 0 0 10px rgba(0, 0, 0, 0.1);
	background-color:rgba(0, 0, 0, 0.1)
}
[type="checkbox"]:checked+label:before {
	top:-4px;
	left:-5px;
	width:21px;
	height:22px;
	border-top:2px solid transparent;
	border-left:2px solid transparent;
	border-right:2px solid #193050;
	border-bottom:2px solid #193050;
	-webkit-transform:rotate(40deg);
	transform:rotate(40deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform-origin:100% 100%;
	transform-origin:100% 100%
}
[type="checkbox"]:checked:disabled+label:before {
	border-right:2px solid rgba(0, 0, 0, 0.26);
	border-bottom:2px solid rgba(0, 0, 0, 0.26)
}
[type="checkbox"]:indeterminate+label:before {
	top:-11px;
	left:-12px;
	width:10px;
	height:22px;
	border-top:none;
	border-left:none;
	border-right:2px solid #193050;
	border-bottom:none;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform-origin:100% 100%;
	transform-origin:100% 100%
}
[type="checkbox"]:indeterminate:disabled+label:before {
	border-right:2px solid rgba(0, 0, 0, 0.26);
	background-color:transparent
}
[type="checkbox"].filled-in+label:after {
	border-radius:2px
}
[type="checkbox"].filled-in+label:before, [type="checkbox"].filled-in+label:after {
	content:'';
	left:0;
	position:absolute;
transition:border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
	z-index:1
}
[type="checkbox"].filled-in:not(:checked)+label:before {
width:0;
height:0;
border:3px solid transparent;
left:6px;
top:10px;
-webkit-transform:rotateZ(37deg);
transform:rotateZ(37deg);
-webkit-transform-origin:20% 40%;
transform-origin:100% 100%
}
[type="checkbox"].filled-in:not(:checked)+label:after {
height:18px;
width:18px;
background-color:transparent;
border:1px solid #848181;
	border-radius: 5px;
top:2px;
z-index:0
}
[type="checkbox"].filled-in:checked+label:before {
	top: 2px;
    left: 0px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
	-webkit-transform:rotateZ(37deg);
	transform:rotateZ(37deg);
	-webkit-transform-origin:100% 100%;
	transform-origin:100% 100%
}
[type="checkbox"].filled-in:checked+label:after {
	top:2px;
	height:18px;
width:18px;
background-color:#f17d3a;
border:1px solid #f17d3a;
	border-radius: 5px;
	background-color:none;
	z-index:0
}
[type="checkbox"].filled-in.tabbed:focus+label:after {
	border-radius:2px;
	border-color:#5a5a5a;
	background-color:rgba(0, 0, 0, 0.1)
}
[type="checkbox"].filled-in.tabbed:checked:focus+label:after {
	border-radius:2px;
	background-color:#fff;
	border-color:#193050
}
[type="checkbox"].filled-in:disabled:not(:checked)+label:before {
background-color:transparent;
border:2px solid transparent
}
[type="checkbox"].filled-in:disabled:not(:checked)+label:after {
border-color:transparent;
background-color:#BDBDBD
}
[type="checkbox"].filled-in:disabled:checked+label:before {
	background-color:transparent
}
[type="checkbox"].filled-in:disabled:checked+label:after {
	background-color:#BDBDBD;
	border-color:#BDBDBD
}
  
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after, input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(38, 166, 154, 0.1)
}
input[type=checkbox]:not(:disabled) ~ .lever:active:after, input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::after {
box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08)
}


 