/* ---------------------------------- Responsive Media Styles ---------------------------------*/



@media (min-width: 1200px) {
	 
}


/* Tablet Device : 768px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	 
}





/* Medium : 647px */

@media only screen and (max-width: 767px) {
     
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
     
}

/* Small : 320px */

@media screen and (max-width: 575px) {
	  
	
}

@media (min-width: 320px) and (max-width: 440px) {
    
}