
@import url("custom.css");
@import url("newstyle.css");

html { font-family: 'Georgia'; -webkit-font-smoothing: antialiased; }
body { font-family: 'Georgia';; -webkit-font-smoothing: antialiased; font-size: 14px; background: #f7f7f7; color: #000 }
h1, h2, h3,  h4, h5, h6 {  margin: 0; color: #000; font-weight: 500; font-family: 'Georgia'; }
p { font-size: 14px; color: #000;  font-weight: 500; line-height: 1.6;  font-family: 'Georgia'; margin: 0 0 15px 0; }
.verdana { font-family: Verdana; }
img {max-width: 100%; }
.f-10 { font-size:10px !important }
.f-11 { font-size:11px !important }
.f-12 { font-size:12px !important }
.f-13 { font-size:13px !important; line-height:20px}
.f-14 { font-size:14px !important }
.f-16 { font-size:16px !important }
.f-18 { font-size:18px !important } 
.f-20 { font-size:20px !important;}
.f-22 { font-size:22px !important;} 
.f-24 { font-size:24px !important;}
.f-25 { font-size:25px !important;}
.f-28 { font-size:28px !important;}
.f-32 { font-size:32px !important;}
.f-36 { font-size:36px !important;}
.f-40 { font-size:40px !important;}
.f-50 { font-size:50px !important;}

.no-bg { background:none !important }
 
.fw-bold { font-weight:bold !important } 

.bg-theme { background:#f17d3a  }
.normal-line-height { line-height:20px }
.textM-right { text-align: right }
.text-theme { color: #f17d3a }


.tophead ul { padding: 0; list-style: none; margin: 0; }
.tophead ul li { display: inline-block; border-right: 1px solid #ffffff6a; padding: 3px 14px 4px; line-height: 15px }
.tophead ul li:last-child { border: none}

.lansel  {  background: url("../images/chevron-down1.png") no-repeat right #ffffff;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none; 
	background-position: 95%;
	width: 78px;
  height: 20px; 
  padding: 3px 6px 4px;
  border-radius: 2px;
  background-color: #fff; font-size: 10px; letter-spacing: 1.1px; text-transform: uppercase;
  color: #f17d3a;
	border: none; outline: none;
}

.top-search { padding: 2px 10px; background: url("../images/search.png") no-repeat #fff 95%; border: none; box-shadow: none; height: 21px;  margin-top: 3px; font-size: 14px; border-radius: 2px;}

.menu-cont { box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1); }
.top-menu { list-style: none; padding: 0; margin: 0}
.top-menu li { display: inline-block; color: #000;  font-size: 15px; padding: 10px 18px;  }
.top-menu li a {  color: #000;  font-size: 15px; padding: 10px 0; text-transform: capitalize }
.top-menu li a:hover { color: #f17d3a }
.top-menu li.active a { border-bottom: #f17d3a 3px solid; color: #f17d3a; font-weight: bold}


.marquee-bg { background-color: #3594d3; padding: 2px 0 2px 2px; }

.left-arrow { background: #fff; font-size: 15px; text-align: center; padding: 3px; font-weight: bold;  color: #3594d3; text-transform: uppercase; width: 100%; position: relative}

.left-arrow:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 14px;
	margin-top: -14px;
}


.marqueenews { padding: 0; margin: 0; margin-top: 3px; margin-bottom: -3px; }
.marqueenews li { font-family: Verdana; font-size: 14px; color: #fff; float: left; padding-right: 10px; display: contents }
.marqueenews li span { width: 6px; border-radius: 50%; height: 6px; margin: 0px 15px; background-color: #fff; display: inline-block;     vertical-align: top; margin-top: 9px; }
.marqueenews li:first-child span { display: none}

.carousel-item { height: 373px;}
.carousel-inner img { border-radius: 5px; height: 100%; width: 100%; object-fit: cover }


.login-box {
  padding: 11px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f17d3a;
}

.login-btn { background: #fff; font-size: 17px; padding: 10px 35px; font-weight: bold; text-transform: uppercase; border-radius: 2px; color: #333; border-color: #fff; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }

.card { border-radius: 5px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); border: none }
.card-header { border-bottom: #f3f1f1 3px solid}
.card-header  h3 { font-size: 14px; font-weight: bold;  }
.card-header  h3 a { font-size: 12px; float: right; font-weight: bold;  }

.searchhomecase { margin: 0; padding: 0; list-style: none  }
.searchhomecase li { font-family: Verdana; font-size: 12px; width: 50%; float: left; margin-bottom: 20px}
.searchhomecase li span { width: 6px; border-radius: 50%; height: 6px; margin: 0px 5px 0 0; background-color: #f17d3a; display: inline-block; vertical-align: top; margin-top: 7px}


table.daiytable tr td { border: none; border-bottom: solid 1px #cbcbcb; font-family: Verdana; font-size: 14px; color: #000000; padding: 13px 0 }
table.daiytable tr td i { width: 17px; height: 17px; background:#f17d3a; color: #fff; text-align: center; line-height: 17px; border-radius: 50%; padding-left: 2px  }


.analysis tr th { background-color: #ffede3; font-family: Verdana; text-transform: uppercase; font-size: 10px; border: none; border-right: solid 2px #cbcbcb; font-weight: normal}
.analysis tr th:last-child { border: none}


.analysis tr td {  font-family: Verdana; text-transform: uppercase; font-size: 11px; border: none; border-right: solid 2px #cbcbcb; font-weight: normal; padding: 10px 10px }
.analysis tr td span { font-weight: bold }
.analysis tr td:nth-child(2n+2) { text-align: right }

.analysis tr td:last-child, .analysis tr td:nth-child(1), .analysis tr td:nth-child(3) { border: none}

footer { padding: 20px 50px 0; background-color: #393939; }
.footerlogo { padding: 0; padding-bottom: 20px; display: flex; column-gap: 15px; border-bottom: solid 1px #fff;}
.footerlogo li { list-style: none; display: inline}

.footerlink { padding: 0; margin: 0; text-align: center;   }
 .footerlink li { list-style: none; display: inline-block; padding:5px 10px 15px; font-size: 12px; color: #fff}
 .footerlink li a { list-style: none; display: inline; font-size: 12px; color: #fff; opacity: 0.7}


.nav-tabs { border: none; justify-content: center; margin-bottom: 7px; }
.nav-tabs .nav-item { padding: 10px 16px;}
.nav-tabs .nav-link  {  font-weight: 700; color: #000; font-size: 14px; padding:15px 0 5px;  font-weight: bold; background: none; border: 0;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {  border: none; background: none; color: #f17d3a; border-bottom: #f17d3a 2px solid;  opacity: 1;}

.tab-pane { padding: 20px 40px 20px 20px; border-radius: 5px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); background: #fff}

.advocate-img { height: 100%; object-fit:cover}


/*-------custom form-----*/
.custom-form-group {  }
.custom-form-group .form-control {
    height: auto !important; 
	border: none;
    border-bottom: #b1b1b1 thin solid !important;
	background: none;
	font-weight: 700;
	font-size: 13px; 
	color: #333;
	padding: 8px;
	padding-left: 0;
	border-radius: 0;
	 font-family: Verdana
}

.custom-form-group .form-control:focus,
.custom-form-group .form-control:focus {  
	border-bottom: #f17d3a thin solid !important;
	box-shadow: none;
	background: none;
	color: #333
}

.form-label, .control-label {   font-size: 12px; font-weight: 700; font-family: Verdana; margin-bottom: 0}


.req-btn { margin-top: 10px;}
.req-btn .btn { margin-right: 10px;}
.req-btn .btn-warning { background:#f17d3a; border-color: #f17d3a; color: #fff  }
.btn-warning { background:#f17d3a; border-color: #f17d3a; color: #fff  }
.btn-warning:hover { background:#ea6517; border-color: #ea6517; color: #fff  }


.notice-creation  .nav-link { font-weight: 700; color: #757575; }
.notice-creation  .tab-pane {padding: 0; box-shadow: none; }

.repetbox {     border: #7d7d7dee thin dashed; 
    background: #eeeeee4a;
    padding: 10px;}

.counselor-add {
    font-size: 17px;
    border-bottom: #f17d3a thin solid;
    padding-bottom: 8px;
    font-weight: bold;
    color: #f17d3a;
    margin-bottom: 15px;
    margin-top: 20px;
}

/*-------custom form end-----*/



/*-------Efilling -----*/

.breadcrumbnew { margin-top: 20px  }
.breadcrumbnew a { font-family: Verdana; font-size: 14px; color: #000}
.breadcrumbnew a:hover, .breadcrumbnew a.active { color: #f17d3a; text-decoration: none}
.breadcrumbnew i { margin: 0 10px; color: #3333339a; font-size: 14px}

.e-filling-list { padding: 0 0 0 15px; margin: 0; list-style: none }
.e-filling-list li { padding: 0; margin: 0 0 20px; list-style: none }
.e-filling-list li i { width: 17px;
    height: 17px;
    background: #f17d3a;
    color: #fff;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    padding-left: 2px; }
.e-filling-list li a { font-size: 14px; margin-left: 7px; font-family: Verdana; color: #0075ff}



/*-------Efilling Ends-----*/


/*-------Laqgroup -----*/

.permission-section.nav-pills .nav-link.active,
.permission-section.nav-pills .show>.nav-link {
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #e86717;
	font-weight: bold;
	width: 112%;
	    margin-bottom: 6px;
	font-size: 15.5px
}

.permission-section .nav-link {
    padding: 10px 23px;
    border-radius: 5px;
	color: #707070;
	font-size:16px;
	font-family: Verdana;
}
 

.permission-section .nav-link i { display: none }
.permission-section .nav-link.active i { display: block; font-size: 24px; font-weight: bold; margin-top: -1px }

.permission-section.nav-pills .nav-link:not(.active):hover {
    color: #f47735;
}

.inner-tab-border-right { border-right: solid 2px #f3f1f1 ; }


.tabforminner label { color: #707070; font-size: 14px;  font-family: Verdana; margin-bottom: 2px}
.tabforminner select.form-control { background: url("../images/formdrop.png") no-repeat 97% 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	padding: 12px 20px 12px 12px;
  border-radius: 5px;
  border: solid 1px #d5d5d5;
	height: auto;
	color: #292929;
	font-size: 16px;
	 font-family: Verdana;
}

.tabforminner .form-control { background: #fff;
	padding: 12px 20px 12px 12px;
  border-radius: 5px;
  border: solid 1px #d5d5d5;
	height: auto;
	color: #292929;
	font-size: 16px;
	 font-family: Verdana;
}

.resetbtn { border-radius: 2px; border: solid 1px #afafaf; background-color: #f7f7f7; font-size: 14px; color: #afafaf; text-transform: uppercase; font-weight: bold; letter-spacing: 0px; padding: 10px 15px }

.displaybtn { border-radius: 2px; border: solid 1px #e86717; background-color: #e86717; font-size: 14px; color: #fff; text-transform: uppercase; font-weight: bold; letter-spacing: 0px; padding: 10px 15px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }

.contact-info .text-muted { color: #393939 !important }

#myTabContent .tab-pane { padding: 0}


/*-------Laqgroup Ends-----*/
