﻿@model UPCourt.Web.Models.DistrictMvcModel
@{
    ViewBag.Title = "Add District";
}

@using (Html.BeginForm("Create", "District", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.DistrictId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">            
            <h3 class="card-title">District</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DistrictName, htmlAttributes: new { @class = "control-label" })     <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.DistrictName, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @placeholder = "Enter District Name ", @maxlength = "75", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.DistrictName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "District")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}

<script>
    function validateData() {

        if ($("#txtName").val() != "") {
            var txtvalue = $("#txtName").val();
            if (isValid(txtvalue)) {
                return true;
            }
            else {
                ToastError("Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }
    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);
    }
</script>
