﻿@model UPCourt.Web.Models.AppNotificationsMvcModel

@{
    ViewBag.Title = "Add Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-horizontal .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #007bff;
        border: 1px solid #0761c1;
    }

    .form-horizontal .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #fff;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Create Notification</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Notifications</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

@using (Html.BeginForm("Create", "Notifications", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Notification</h3>
        </div>
        <!-- /.card-header -->

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Source, ViewBag.TargetSource as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @required = "true", @style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.NotificationType, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.NotificationType, ViewBag.NotificationType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @required = "true", @style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.NotificationType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.UserType, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @id = "UserType", @style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.AssignedUsers, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.AssignedUsers, ViewBag.TargetUsers as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @id = "TargetUsers", @style = "width: 100%", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.AssignedUsers, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.RouteValue, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RouteValue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RouteValue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts
{
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () { $("#TargetUsers").select2({ multiple: true, placeholder: "--Select--" }); });
        $(document).ready(function () {
            $("#UserType").change(function () {
                var userId = $(this).val();
                if (userId !== "") {
                    $.getJSON("@Url.Action("GetUsers","Notifications")", { user_Type: userId },
                        function (data) {
                            var select = $("#TargetUsers");
                            select.empty();
                            select.append($('<option/>', {
                                value: 0,
                                text: "--Select--"
                            }));
                            $.each(data, function (index, itemData) {
                                select.append($('<option/>', {
                                    value: itemData.UserId,
                                    text: itemData.Name
                                }));
                            });
                            $("#TargetUsers").select2({ multiple: true, placeholder: "--Select--" });
                        });
                }
            });
        });
    </script>
}