﻿@model IEnumerable<UPCourt.Web.Models.AppNotificationsMvcModel>

@{
    ViewBag.Title = "Notifications List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Notifications</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Notifications</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title float-right">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-secondary" })
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="exampleInputPassword1">Notification Date</label>
                                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Status</label>
                                <select class="form-control">
                                    <option>Select</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source</label>
                                <select class="form-control">
                                    <option>Select</option>
                                    <option>Criminal</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label>&nbsp;</label><br>
                                <button type="button" class="btn btn-warning">Search</button>
                            </div>
                        </div>
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message)
                                    </th>
                                    <th>
                                        Notification Type
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifyBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RouteValue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreationDate)
                                    </th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @using UPCourt.Entity;
                                @{int index = 0;}
                                @foreach (var item in Model)
                                {
                                    index += 1;
                                    var enumNotificationSource = (NotificationSourceEntityType)item.NotificationType;
                                    var enumNotificationStatus = (NotificationStatus)item.Status;
                                    <tr>
                                        <td>
                                            @index
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                        <td>
                                            @enumNotificationSource
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifyBy)
                                        </td>
                                      
                                        <td>
                                            @enumNotificationStatus
                                        </td>
                                       
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.RouteValue))
                                            {
                                                <a class="btn btn-primary btn-sm" href="@item.RouteValue">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    View
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreationDate)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}