﻿@model UPCourt.Web.Models.GovernmentDepartmentDCMvcModel
@using UPCourt.Entity
@{
    ViewBag.Title = "Add Government Department";

    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="~/Scripts/Court/ToastMessage.js"></script>

@section Scripts {
    <script src="~/Scripts/GovermentDepartment/GovermentDepartment.js"></script>
    <script>
        var Msg = '@ViewBag.Msg';

        if (Msg != undefined && Msg != null && Msg != "") {
            alert(Msg);
        }
    </script>

}
<div class="container">


    @using (Html.BeginForm("Create", "GovermentDepartmentDC", FormMethod.Post, new { @class = "" }))
    {
        @Html.HiddenFor(model => model.GovernmentDepartmentDCId)

        <div class="breadcrumbnew">
            <a class="active" href="@Url.Action("Index", "Home")">Home</a> <i class="fa fa-angle-right"></i> <a href="#">Government Department</a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card my-4">
                    <div class="card-header no-bg">
                        <h3 class="f-20 my-1">Government Department</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 tabforminner mb-4">
                                <div class="row login-select-dep">
                                    @foreach (GovernmentDeparmentType value in Enum.GetValues(Model.DepartmentType.GetType()))
                                    {
                                        <div class="col-md-3 login-selec">
                                            <input class="with-gap" type="radio" id="rdoDepartmentType_@value" name="DepartmentType" value="@((int)value)" class="required" @(Model.DepartmentType == value || (Model.DepartmentType == 0 && value == UPCourt.Entity.GovernmentDeparmentType.OtherDepartment) ? "checked" : "") />
                                            @Html.Label(Extended.GetEnumDescription(value).ToString(), new { @for = "rdoDepartmentType_" + value })
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.DepartmentShortName, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> *</span>
                                @Html.EditorFor(model => model.DepartmentShortName, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "50", @placeholder = "Enter Short Name", @type = "text", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.DepartmentShortName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.DepartmentFullName, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> *</span>
                                @Html.EditorFor(model => model.DepartmentFullName, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "200", @placeholder = "Enter Full Name", @type = "text", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.DepartmentFullName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> *</span>
                                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "200", @placeholder = "Enter Address Line 1", @type = "text", @required = "true" } })
                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "text-black" })<span></span>
                                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "200", @placeholder = "Enter Address Line 2", @type = "text" } })
                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.Division, htmlAttributes: new { @class = "text-black" })@*<span class="text-danger"> *</span>*@
                                @Html.EditorFor(model => model.Division, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control f-14",
                                        @maxlength = "100",
                                        @placeholder = "Enter Division",
                                        @type = "text",@*@required = "true"*@ }
                                })
                            </div>
                            <div class="form-group tabforminner col-md-3">
                                @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> *</span>
                                @Html.DropDownListFor(m => m.District, ViewBag.Districts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control f-14 select2", @style = "width: 100%", @onchange = "checkSelected(this);", @required = "true" })
                                @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                                <div style="font-size: 0.544rem" class="text-muted">(District not available? Select "Other" and enter your District)</div>

                            </div>
                            <div id="dvOtherDistrict" class="form-group tabforminner col-md-3" style="display: none;">
                                @Html.LabelFor(model => model.OtherDistrict, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> *</span>
                                @Html.EditorFor(model => model.OtherDistrict, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "200", @placeholder = "Enter Other district name", @type = "text", onchange = "checkChange(this);" } })
                                @Html.ValidationMessageFor(model => model.OtherDistrict, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.Tehsil, htmlAttributes: new { @class = "text-black" })@*<span class="text-danger"> *</span>*@
                                @Html.EditorFor(model => model.Tehsil, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control f-14",
                                        @maxlength = "100",
                                        @placeholder = "Enter Tehsil",
                                        @type = "text",@*@required = "true"*@ }
                                })

                            </div>
                            <div class="form-group tabforminner col-md-6">
                                @Html.LabelFor(model => model.GovBlk, htmlAttributes: new { @class = "text-black" })<span class="text-danger"> </span>
                                @Html.EditorFor(model => model.GovBlk, new { htmlAttributes = new { @class = "form-control f-14", @maxlength = "100" } })

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header mb-0">
                                <h3 class="card-title mb-0">Government Department Contacts &nbsp; @*<a class="float-right btn btn-secondary text-white" style="cursor: pointer;"><i class="fa fa-plus-square"></i> Add</a>*@</h3>

                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="f-12 verdana" hidden="hidden">SNo.</th>
                                            <th class="f-12 verdana">Contact Person <span>*</span></th>
                                            <th class="f-12 verdana">Designation <span>*</span></th>
                                            <th class="f-12 verdana">Department<span>*</span></th>
                                            <th class="f-12 verdana">Email<span>*</span></th>
                                            <th class="f-12 verdana">Mobile<span>*</span></th>
                                            <th class="f-12 verdana">Phone<span class="text-danger"></span></th>
                                            <th class="f-12 verdana"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="divDepartmentContacts">

                                        @for (int i = 0; i < Model.GovernmentDepartmentDCContacts.Count; i++)
                                        {

                                            <tr id="GDDCContact_@i" class="GDDCContact">

                                                <td hidden="hidden"></td>
                                                <td>@Html.EditorFor(model => Model.GovernmentDepartmentDCContacts[i].ContactName, new { htmlAttributes = new { @class = "form-control f-12 verdana", @maxlength = "100", @placeholder = "Enter Name", @type = "text", @required = "true" } })</td>
                                                <td>@Html.EditorFor(model => Model.GovernmentDepartmentDCContacts[i].Designation, new { htmlAttributes = new { @class = "form-control f-12 verdana", @maxlength = "100", @placeholder = "Enter Designation", @type = "text", @required = "true" } })</td>
                                                <td>@Html.EditorFor(model => Model.GovernmentDepartmentDCContacts[i].Department, new { htmlAttributes = new { @class = "form-control f-12 verdana", @maxlength = "100", @placeholder = "Enter Department", @type = "text", @required = "true" } })</td>
                                                <td>@Html.EditorFor(model => Model.GovernmentDepartmentDCContacts[i].Email, new { htmlAttributes = new { @class = "form-control f-12 verdana", @maxlength = "100", @placeholder = "Enter Email", @type = "text", @required = "true", @pattern = "^([\\w\\.\\-]+)@([\\w\\-]+)((\\.(\\w){2,3})+)$" } })</td>
                                                <td>@Html.EditorFor(model => Model.GovernmentDepartmentDCContacts[i].Mobile, new { htmlAttributes = new { @class = "form-control f-12 verdana", @minLength = "10", @maxLength = "10", @placeholder = "Enter Mobile", @type = "text", @required = "true", @pattern = "^\\+?[0-9-]+$" } })</td>
                                                <td>@Html.EditorFor(model => Model.GovernmentDepartmentDCContacts[i].Phone, new { htmlAttributes = new { @class = "form-control f-12 verdana", @placeholder = "Enter Phone", @type = "text" } })</td>
                                                <td>

                                                    <a title="Delete" id="GDDCContact_@i" class="Removebtn" style="display:none" onclick="RemoveAddedItem(this)">
                                                        <i class="btn btn-warning btn-block displaybtn "> Cancel</i>
                                                    </a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>

                                                <td>
                                                    <a class="addNewbtn" id="AddGovernmentDepartmentContact" onclick="AddGDDCContact();">
                                                        <i class="btn btn-warning btn-block displaybtn "> Add New Contacts</i>
                                                    </a>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>

                                        }
                                    </tbody>
                                </table>

                                <div class="g-recaptcha" data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["recaptchaSiteKey"].ToString())"></div>

                            </div>

                        </div>



                        <button type="submit"
                                data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["recaptchaSiteKey"].ToString())"
                                data-callback='onSubmit' data-action='submit' class="btn btn-warning displaybtn mt-4" onclick="confirmrregister()">
                            Submit
                        </button>

                    </div>


                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <script>
                        
                        function validatePhoneNo(Phone) {
                            var re = /^\+?[0-9-]+$/;
                            return re.test(Phone);
                        }
                        function AddGDDCContact() {
                            debugger;
                            var max = 1000;
                            var rowCount = $('.GDDCContact').length;
                            var LastRowCount = rowCount - 1;
                            if (LastRowCount <= max) {
                                var newCounselorRow = $('#GDDCContact_' + LastRowCount).clone();

                                newCounselorRow.find("checkbox, select, textarea, input, span, label, a").each(function () {
                                    if ($(this).attr("id") != undefined)
                                        $(this).attr("id", $(this).attr("id").replace(LastRowCount, rowCount));
                                    if ($(this).attr("name") != undefined)
                                        $(this).attr("name", $(this).attr("name").replace(LastRowCount, rowCount));
                                    if ($(this).attr("data-valmsg-for") != undefined)
                                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(LastRowCount, rowCount));
                                    if ($(this).attr("for") != undefined)
                                        $(this).attr("for", $(this).attr("for").replace(LastRowCount, rowCount));
                                });

                                //Update seq no.
                                newCounselorRow.find('td:eq(0)').text(rowCount + 1);

                                newCounselorRow.find("select, textarea, input").each(function () {
                                    $(this).attr("value", "");
                                });
                                newCounselorRow.find(".IsFirstRow").css("display", "none");
                                newCounselorRow.find(".Removebtn").css("display", "block");
                                newCounselorRow.find(".addNewbtn").css("display", "none");
                                newCounselorRow.find(".NewId").val('');

                                $('#divDepartmentContacts').append("<tr id=\"GDDCContact_" + rowCount + "\" class=\"GDDCContact\">" + newCounselorRow.html() + "</tr>");
                                setSerialNos();
                            }
                        }

                        function checkSelected(obj) {
                            if ($(obj).val() == "Others") {
                                $("#dvOtherDistrict").css('display', '');
                                $("#OtherDistrict").attr("required", "true");
                            }
                            else {
                                $("#dvOtherDistrict").css('display', 'none');
                                $("#OtherDistrict").removeAttr("required");
                            }
                        }
                        function RemoveAddedItem(btn) {
                            var id = $(btn).attr('id');
                            $('#' + id.replace('Remove', '')).hide();
                            $('#' + id.replace('Remove', '')).find("[id$=bActive]").val("false");
                            setSerialNos();
                            $('#' + id.replace('Remove', '') + ' input').each(function () {
                                $(this).removeAttr("required");
                            });
                        }
                     
                        function checkChange(obj) {
                            var found = false;
                            $("#District option").each(function () {
                                if (found) return;
                                if ($(this).val().toLowerCase() === $(obj).val().toLowerCase()) {
                                    $("#District").val($(this).val());
                                    $(obj).val('');
                                    $(obj).css('display', 'none');
                                    $(obj).removeAttr("required");
                                    found = true;
                                }
                                else if ($(obj).is(':visible')) {
                                    $('#District').val("Others");
                                    $(obj).css('display', '');
                                    $(obj).attr("required", "true");
                                }
                            });
                        }
                        function confirmrregister() {
                            alert("Do You Want Save The Data");
                        }

                    </script>

                </div>
            </div>
        </div>



    }

</div>


