﻿@model IEnumerable<UPCourt.Web.Models.GovernmentDepartmentDCMvcModel>
@{
    ViewBag.Title = "Goverment Department";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Goverment Department</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Goverment Department</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Short Name</th>
                            <th>Full Name</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var contact = item.GovernmentDepartmentDCContacts.FirstOrDefault();
                            
                            <tr>
                                <td>@item.DepartmentShortName</td>
                                <td>@item.DepartmentFullName</td>
                                <td>@item.Address1</td>
                                <td>@item.Address2</td>
                                <td>@item.City</td>
                                <td>@item.District</td>
                                <td class="project-actions">
                                  
                                </td>
                            </tr>

                        }
                        
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<div class="modal" id="CreateUserSubModal" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divCreateUserSubModalBody">

            </div>
            <div class="modal-footer justify-content-between">
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
}

<script type="text/javascript">
    function AddUsermodal(GovernmentDepartmentId) {
        debugger;
        $("#divCreateUserSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/GovermentDepartment/CreateUser/",
            data: { "GDI": GovernmentDepartmentId },
            success: function (response) {
                $("#divCreateUserSubModalBody").append(response);
                $("#CreateUserSubModal").modal("show");
            },
            error: function (errorData) { onError(errorData); }
        });
    }


</script>
