﻿@model UPCourt.Web.Models.AGDepartmentMvcModel

@{
    ViewBag.Title = "Add AG-Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">AG-Department Create</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">AG-Department Create</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
@using (Html.BeginForm("Create", "AGDepartment", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.AGDepartmentId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">AG-Department</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })        <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @maxlength = "75", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.DepartmentHeadName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DepartmentHeadName, new { htmlAttributes = new { @class = "form-control", @maxlength = "200", @placeholder = "Enter Department Head Name", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.DepartmentHeadName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsDefault)
                            @Html.LabelFor(c => c.IsDefault, new { @class = "col-sm-4 control-label" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "AGDepartment")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}


<script>
    function validateData() {
        if ($("#txtName").val() != "") {
            var txtvalue = $("#txtName").val();
            if (isValid(txtvalue)) {
                return true;
            }
            else {
                ToastError("Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }
    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);
    }
</script>


<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}
