﻿@model UPCourt.Web.Models.AGDepartmentMvcModel

@{
    ViewBag.Title = "AG-Department Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">AG-Department Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">AG-Department Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">AG-Department</h3>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.DepartmentHeadName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DepartmentHeadName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.DepartmentHeadName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = ""  }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new
               {
                   @class = "form-control select2",
                   @required = "true",
                   @style = "width: 100%",
                   @disabled = "disabled"
               })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.IsDefault,new {  @disabled = "disabled" })
                        @Html.LabelFor(c => c.IsDefault, new { @class = "col-sm-4 control-label", @disabled = "disabled" })
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "AGDepartment")" class="btn btn-primary">
                Back
            </a>
        </div>

    </form>
</div>
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}
