﻿@model UPCourt.Web.Models.ZoneMvcModel

@{
    ViewBag.Title = "Edit Zone";
}

@using (Html.BeginForm("Edit", "Zone", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.ZoneID)
    @Html.AntiForgeryToken()

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">District Zone</h3>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DistrictName, htmlAttributes: new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.DropDownListFor(model => model.DistrictName, ViewBag.Districts as IEnumerable<SelectListItem>, "Select", new { @class = "form-control", @placeholder = "Select District", @type = "text", @required = "true" })
                        @Html.ValidationMessageFor(model => model.DistrictName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ZoneName, htmlAttributes: new { @class = "control-label" })  <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.ZoneName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Locality", @type = "text", @required = "true", @id = "txtZoneName", @maxlength = "75" } })
                        @Html.ValidationMessageFor(model => model.ZoneName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsActive)
                            @Html.LabelFor(c => c.IsActive, new { @class = "col-sm-2 control-label" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "Zone")" class="btn btn-primary">
                    Back
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary" onclick="return validateData();">Submit</button>
            </div>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}
<script>
    function validateData() {
        if ($("#txtZoneName").val() != "") {
            var txtvalue = $("#txtZoneName").val();
            if (isValid(txtvalue)) {

            }
            else {
                ToastError("Zone Name  - Special character are not allowed.");
                return false;
            }
        }
        else {
            return true;
        }
    }
    function isValid(str) {
        return /^[a-zA-Z0-9- ]*$/.test(str);
    }
</script>