﻿@model IEnumerable<UPCourt.Web.Models.ZoneMvcModel>

@{
    ViewBag.Title = "District Zone List";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
              
                <h3 class="card-title float-right">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                </h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>District</th>
                            <th>Zone</th>
                            <th>Is Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-class-2">
                                <td>@item.DistrictName</td>
                                <td>@item.ZoneName</td>
                                <td>@item.IsActive</td>
                                <td class="project-actions">
                                    <a title="Edit" href="@Url.Action("Edit","Zone",new { id = item.ZoneID })">
                                        <i class="fa fa-edit text-info fa-iconsize mr-2 "></i>
                                    </a>
                                    &nbsp;
                                    <a title="Delete" onclick="ConfirmDelete('@item.ZoneID','@item.ZoneName','Zone')">
                                        <i class="fa fa-trash-alt text-danger fa-iconsize mr-2 "></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
  
}

